////////////////////////////////////////////////////////////////////////////////////////////////////

theme "nightfox"

////////////////////////////////////////////////////////////////////////////////////////////////////

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    tab name="Factorem" focus=true {
        pane name="canvas" cwd="/Users/drivas/Factorem" focus=true
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
