////////////////////////////////////////////////////////////////////////////////////////////////////

theme "tokyo-night-light"

////////////////////////////////////////////////////////////////////////////////////////////////////

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    tab name="Monitor" split_direction="horizontal" hide_floating_panes=true {
        pane split_direction="vertical" {
            pane name="clock" size="40%" borderless=true command="tock" {
                args "-m" "-s"
            }
            pane name="control" focus=true
        }
        pane split_direction="vertical" size="75%" {
            pane name="performance" borderless=true command="btm"
        }
    }

    tab name="Notes" {
        pane stacked=true split_direction="horizontal" {
            pane name="canvas"
            pane name="joplin" command="joplin" focus=true
        }
    }

    tab name="Factorem" focus=true {
        pane stacked=true split_direction="horizontal" {
            pane name="canvas" cwd="/Users/drivas/Factorem"
            pane name="yazi" cwd="/Users/drivas" command="yazi" focus=true
        }
    }

    tab name="Archive" split_direction="vertical" {
        pane stacked=true split_direction="horizontal" {
            pane name="arch - git" cwd="/Users/drivas/.archive" command="lazygit"
            pane name="arch - helix" cwd="/Users/drivas/.archive" command="hx"
            pane name="arch - shell" cwd="/Users/drivas/.archive" focus=true
        }
        pane stacked=true split_direction="horizontal" {
            pane name="saiya - git" cwd="/Users/drivas/.saiyajin" command="lazygit"
            pane name="saiya - helix" cwd="/Users/drivas/.saiyajin" command="hx"
            pane name="saiya - shell" cwd="/Users/drivas/.saiyajin"
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
