////////////////////////////////////////////////////////////////////////////////////////////////////

theme "kanagawa"

////////////////////////////////////////////////////////////////////////////////////////////////////

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    tab name="Files" {
        pane stacked=true split_direction="horizontal" {
            pane name="canvas"
            pane name="tree" command="broot" {
                args "--dates" "--sizes" "--permissions" "--hidden" "--git-ignored" "--show-git-info" "--sort-by-type-dirs-first"
            }
        }
    }

   tab name="Canvas" {
        pane stacked=true split_direction="horizontal" {
            pane name="editor" command="hx" focus=true
            pane name="nu" command="nu"
        }
    }

}

////////////////////////////////////////////////////////////////////////////////////////////////////
