;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Terminal zellij bindings - alphabet"
 :rules [;
         [:!EQRhyphen :!Oa [:term]]                                                                 ; `tab-hyphen` ->      split pane horizontal
         [:!Oleft_arrow :!Ob [:term]]                                                               ; `alt-left`
         [:!WQRleft_shift :!Oc [:term]]                                                             ; `delete-shift`
         ; [: :!Od [:term]]                                                                         ; DOC:                 collision => delete
         ; [: :!Oe [:term]]                                                                         ; DOC:                 collision => accent
         [:!Oright_arrow :!Of [:term]]                                                              ; `alt-right`
         [:!EQRequal_sign :!Og [:term]]                                                             ; `tab-equal` ->       split pane vertical
         [:!EQRleft_arrow :!Oh [:term]]                                                             ; `tab-left` ->        move left pane
         ; [: :!Oi [:term]]                                                                         ; DOC:                 collision => accent
         [:!EQRright_arrow :!Oj [:term]]                                                            ; `tab-right` ->       move right pane
         [:!EQRdown_arrow :!Ok [:term]]                                                             ; `tab-down` ->        move down pane
         [:!EQRup_arrow :!Ol [:term]]                                                               ; `tab-up` ->          move up pane
         [:delete_or_backspace :!WQright_shift :term {:alone [:!Om]}]                               ; `backspace` ->       toggle floating pane
         ; [: :!On [:term]]                                                                         ; DOC:                 collision => accent
         ; [: :!Oo [:term]]                                                                         ; `` ->
         [:!OCleft_arrow :!Op [:term]]                                                              ; `alt-cmd-left` ->    move left tab
         [:!OCright_arrow :!Oq [:term]]                                                             ; `alt-cmd-right` ->   move right tab
         [:!OCspacebar :!Or [:term]]                                                                ; `alt-cmd-space` ->   new tab
         [:escape :!EWright_shift :term {:alone [:!Os]}]                                            ; `esc` ->             locked / normal
         [:!EWRreturn_or_enter :!Ot [:term]]                                                        ; `esc-enter` ->       pane mode
         ; [: :!Ou [:term]]                                                                         ; DOC:                 collision => accent
         [:!EWRdelete_or_backspace :!Ov [:term]]                                                    ; `esc-backspace` ->   tab mode
         [:!EWRspacebar :!Ow [:term]]                                                               ; `esc-space` ->       resize mode
         [:!EWRright_command :!Ox [:term]]                                                          ; `esc-cmd` ->         scroll mode
         [:!EWRright_shift :!Oy [:term]]                                                            ; `esc-shift` ->       search mode
         [:!EWRright_option :!Oz [:term]]                                                           ; `esc-alt` ->         session mode
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Terminal zellij bindings - alphabet"
 :rules [;
         ; [: :!OSa [:term]]                                                                        ;
         ; [: :!OSb [:term]]                                                                        ;
         ; [: :!OSc [:term]]                                                                        ;
         ; [: :!OSd [:term]]                                                                        ;
         ; [: :!OSe [:term]]                                                                        ;
         ; [: :!OSf [:term]]                                                                        ;
         ; [: :!OSg [:term]]                                                                        ;
         [:!EWRleft_arrow :!OSh [:term]]                                                            ; `esc-left` ->        move left float pane
         ; [: :!OSi [:term]]                                                                        ;
         [:!EWRright_arrow :!OSj [:term]]                                                           ; `esc-right` ->       move right float pane
         [:!EWRup_arrow :!OSk [:term]]                                                              ; `esc-up` ->          move up float pane
         [:!EWRdown_arrow :!OSl [:term]]                                                            ; `esc-down` ->        move down float pane
         [:!Sdelete_or_backspace :!OSm [:term]]                                                     ; `alt` ->             toggle floating pane
         ; [: :!OSn [:term]]                                                                        ;
         ; [: :!!Oo [:term]]                                                                        ; DOC:                 collision => accent
         ; [: :!OSp [:term]]                                                                        ;
         ; [: :!OSq [:term]]                                                                        ;
         ; [: :!OSr [:term]]                                                                        ;
         ; [: :!OSs [:term]]                                                                        ;
         ; [: :!OSt [:term]]                                                                        ;
         ; [: :!OSu [:term]]                                                                        ;
         ; [: :!OSv [:term]]                                                                        ;
         ; [: :!OSw [:term]]                                                                        ;
         ; [: :!OSx [:term]]                                                                        ;
         ; [: :!OSy [:term]]                                                                        ;
         ; [: :!OSz [:term]]                                                                        ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Terminal alt - alphabet"
 :rules [;
         ; [:!Ob :!Oup_arrow [:term]]                                                                 ; `alt-b`
         ; [:!Of :!Odown_arrow [:term]]                                                               ; `alt-f`
         [:!Oa :!Of13 [:term]]                                                                      ;
         [:!Ob :!Tf13 [:term]]                                                                      ;
         [:!Oc :!Sf13 [:term]]                                                                      ;
         [:!Od :!OTf13 [:term]]                                                                     ;
         [:!Oe :!OSf13 [:term]]                                                                     ;
         [:!Of :!TSf13 [:term]]                                                                     ;
         [:!Og :!OTSf13 [:term]]                                                                    ;
         [:!Oh :!Of14 [:term]]                                                                      ;
         [:!Oi :!Sf14 [:term]]                                                                      ;
         [:!Oj :!OTf14 [:term]]                                                                     ;
         [:!Ok :!TSf14 [:term]]                                                                     ;
         [:!Ol :!Of15 [:term]]                                                                      ;
         [:!Om :!Sf15 [:term]]                                                                      ;
         [:!On :!OTf15 [:term]]                                                                     ;
         [:!Oo :!Of16 [:term]]                                                                      ;
         [:!Op :!Tf16 [:term]]                                                                      ;
         [:!Oq :!Sf16 [:term]]                                                                      ;
         [:!Or :!OTf16 [:term]]                                                                     ;
         [:!Os :!OSf16 [:term]]                                                                     ;
         [:!Ot :!TSf16 [:term]]                                                                     ;
         [:!Ou :!OTSf16 [:term]]                                                                    ;
         [:!Ov :!Of17 [:term]]                                                                      ;
         [:!Ow :!Tf17 [:term]]                                                                      ;
         [:!Ox :!Sf17 [:term]]                                                                      ;
         [:!Oy :!OTf17 [:term]]                                                                     ;
         [:!Oz :!OSf17 [:term]]                                                                     ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Terminal control - alphabet"
 :rules [;
         [:!Cleft_arrow :!Ta [:term]]                                                               ; `cmd-left`
         [:!Oup_arrow :!Tb [:term]]                                                                 ; `alt-up`
         ; [: :!Tc [:term]]                                                                         ; DOC:                 collision defaults
         ; [: :!Td [:term]]                                                                         ; DOC:                 collision defaults
         [:!Cright_arrow :!Te [:term]]                                                              ; `cmd-right`
         [:!Odown_arrow :!Tf [:term]]                                                               ; `alt-down`
         [:!WQRcaps_lock :!Tg [:term]]                                                              ; `delete-caps_lock`
         [:!WQRtab :!Th [:term]]                                                                    ; `delete-tab`
         ; [: :!Ti [:term]]                                                                         ; DOC:                 collision defaults
         [:!WQRright_command :!Tj [:term]]                                                          ; `delete-cmd`
         ; [: :!Tk [:term]]                                                                         ; DOC:                 collision defaults
         ; [: :!Tl [:term]]                                                                         ; DOC:                 collision defaults
         ; [: :!Tm [:term]]                                                                         ; DOC:                 collision defaults
         [:!WQRright_option :!Tn [:term]]                                                           ; `delete-alt`
         [:!Cup_arrow :!To [:term]]                                                                 ; `cmd-up`
         [:!Cdown_arrow :!Tp [:term]]                                                               ; `cmd-down`
         ; [: :!Tq [:term]]                                                                         ; DOC:                 collision defaults
         [:!WQRleft_control :!Tr [:term]]                                                           ; `delete-ctrl`
         [:!WQRleft_option :!Ts [:term]]                                                            ; `delete-alt`
         [:!WQRleft_command :!Tt [:term]]                                                           ; `delete-cmd`
         ; [: :!Tu [:term]]                                                                         ; DOC:                 collision defaults
         [:!TCup_arrow :!Tv [:term]]                                                                ; `ctrl-cmd-up`
         [:!TCdown_arrow :!Tx [:term]]                                                              ; `ctrl-cmd-down`
         [:!WQRspacebar :!Ty [:term]]                                                               ; `delete-space`
         ; [: :!Tz [:term]]                                                                         ; DOC:                 collision defaults
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Terminal delete"
 :rules [;
         [:!Sright_option :!Od [:term]]                                                             ; delete word forward
         [:!Sright_command :!Tk [:term]]                                                            ; delete line forward
         [:!Rleft_control :!Tw [:term]]                                                             ; delete word backward
         [:!Rleft_command :!Tu [:term]]                                                             ; delete line backward

         [:!Rleft_option :!Tl [:term]]                                                              ; clear screen
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Terminal movement mappings"
 :rules [;
         ; [:left_shift :left_shift :term {:alone [:!Tf3]}]                                           ; tmux copy
         ; [:delete_or_backspace :!WQright_shift :term {:alone [:!Sf3]}]                              ; tmux remote

         [:!CSleft_arrow :!Oleft_arrow [:term]]                                                     ; `cmd-shift-left`
         [:!CSright_arrow :!Oright_arrow [:term]]                                                   ; `cmd-shift-right`

         [:!TCspacebar :!Of1 [:term]]                                                               ; `ctrl-cmd-space`
         [:!TCleft_arrow :!Tf1 [:term]]                                                               ; `ctrl-cmd-space`
         [:!TCright_arrow :!Sf1 [:term]]                                                               ; `ctrl-cmd-space`
         [:!OCright_command :!OTf1 [:term]]                                                              ; `ctrl-cmd-space`
         [:!OCright_option :!OSf1 [:term]]                                                              ; `ctrl-cmd-space`
         [:!OCright_shift :!TSf1 [:term]]                                                              ; `ctrl-cmd-space`
         [:!OCreturn_or_enter :!OTSf1 [:term]]                                                             ; `ctrl-cmd-space`
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
