;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;
{:des "Command Mode - symbols"
 :rules [;
         [:!Chyphen [:spacebar :hyphen :equal_sign :spacebar]]                                                  ; '--'
         [:!Cequal_sign [:spacebar :!Sequal_sign :equal_sign :spacebar]]                                  ; '++'
         ; [:!Copen_bracket []]                                                                     ;
         ; [:!Cclose_bracket []]                                                                    ;
         ; [:!Csemicolon []]                                                                        ;
         ; [:!Cquote []]                                                                            ;
         ; [:!Cbackslash []]                                                                        ;
         ; [:!Ccomma []]                                                                            ;
         ; [:!Cperiod []]                                                                           ;
         ; [:!Cslash []]                                                                            ;
         ; [:!Cdelete_or_backspace []]                                                              ;
         [:!Creturn_or_enter [:spacebar :equal_sign :equal_sign :spacebar]]                                 ; '=='
         [:!Cright_shift [:spacebar :!S1 :equal_sign :spacebar]]                                           ; '!!'
         [:!Cright_option [:spacebar :!S8 :equal_sign :spacebar]]                                                  ; '**'
         [:!Cright_command [:spacebar :slash :equal_sign :spacebar]]                                             ; '//'
         ; [:!Cspacebar []]                                                                    ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;
{:des "Command Mode - symbols"
 :rules [;
         [:!CShyphen [:spacebar :period :hyphen :equal_sign :spacebar]]                                                  ; '--'
         [:!CSequal_sign [:spacebar :period :!Sequal_sign :equal_sign :spacebar]]                                  ; '++'
         ; [:!CSopen_bracket []]                                                                     ;
         ; [:!CSclose_bracket []]                                                                    ;
         ; [:!CSsemicolon []]                                                                        ;
         ; [:!CSquote []]                                                                            ;
         ; [:!CSbackslash []]                                                                        ;
         ; [:!CScomma []]                                                                            ;
         ; [:!CSperiod []]                                                                           ;
         ; [:!CSslash []]                                                                            ;
         ; [:!CSdelete_or_backspace []]                                                              ;
         [:!CSreturn_or_enter [:spacebar :period :equal_sign :equal_sign :spacebar]]                                 ; '=='
         [:!CSright_shift [:spacebar :period :!S1 :equal_sign :spacebar]]                                           ; '!!'
         [:!CSright_option [:spacebar :period :!S8 :equal_sign :spacebar]]                                                  ; '**'
         [:!CSright_command [:spacebar :period :slash :equal_sign :spacebar]]                                             ; '//'
         ; [:!CSspacebar []]                                                                    ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
