;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control - command
{:des "Control - Command Mode - alphabet"
 :rules [;
         ; [:!WQa []]                                                                              ;
         ; [:!WQb []]                                                                              ;
         ; [:!WQc []]                                                                              ;
         ; [:!WQd []]                                                                              ;
         ; [:!WQe []]                                                                              ;
         ; [:!WQf []]                                                                              ;
         ; [:!WQg []]                                                                              ;
         ; [:!WQh []]                                                                              ;
         ; [:!WQi []]                                                                              ;
         ; [:!WQj []]                                                                              ;
         ; [:!WQk []]                                                                              ;
         ; [:!WQl []]                                                                              ;
         ; [:!WQm []]                                                                              ;
         ; [:!WQn []]                                                                              ;
         ; [:!WQo []]                                                                              ;
         ; [:!WQp []]                                                                              ;
         ; [:!WQq []]                                                                              ;
         ; [:!WQr []]                                                                              ;
         ; [:!WQs []]                                                                              ;
         ; [:!WQt []]                                                                              ;
         ; [:!WQu []]                                                                              ;
         ; [:!WQv []]                                                                              ;
         ; [:!WQw []]                                                                              ;
         ; [:!WQx []]                                                                              ;
         ; [:!WQy []]                                                                              ;
         ; [:!WQz []]                                                                              ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control - command
{:des "Control - Command Mode - symbols"
 :rules [;
         ; [:!TChyphen []]                                                                         ;
         ; [:!TCequal_sign []]                                                                     ;
         ; [:!TCopen_bracket []]                                                                   ;
         ; [:!TCclose_bracket []]                                                                  ;
         ; [:!TCsemicolon []]                                                                      ;
         ; [:!TCquote []]                                                                          ;
         ; [:!TCbackslash []]                                                                      ;
         ; [:!TCcomma []]                                                                          ;
         ; [:!TCperiod []]                                                                         ;
         ; [:!TCslash []]                                                                          ;
         ; [:!TCdelete_or_backspace []]                                                            ;
         ; [:!TCreturn_or_enter []]                                                                ;
         ; [:!TCright_shift []]                                                                    ;
         ; [:!TCright_option []]                                                                   ;
         ; [:!TCright_command []]                                                                  ;
         ; [:!TCspacebar []]                                                                       ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
