;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control - command
{:des "Control - Command Mode - alphabet"
 :rules [;
         ; [:!TCa []]                                                                              ;
         ; [:!TCb []]                                                                              ;
         ; [:!TCc []]                                                                              ;
         ; [:!TCd []]                                                                              ;
         ; [:!TCe []]                                                                              ;
         ; [:!TCf []]                                                                              ;
         ; [:!TCg []]                                                                              ;
         ; [:!TCh []]                                                                              ;
         ; [:!TCi []]                                                                              ;
         ; [:!TCj []]                                                                              ;
         ; [:!TCk []]                                                                              ;
         ; [:!TCl []]                                                                              ;
         ; [:!TCm []]                                                                              ;
         ; [:!TCn []]                                                                              ;
         ; [:!TCo []]                                                                              ;
         ; [:!TCp []]                                                                              ;
         ; [:!TCq []]                                                                              ;
         ; [:!TCr []]                                                                              ;
         ; [:!TCs []]                                                                              ;
         ; [:!TCt []]                                                                              ;
         ; [:!TCu []]                                                                              ;
         ; [:!TCv []]                                                                              ;
         ; [:!TCw []]                                                                              ;
         ; [:!TCx []]                                                                              ;
         ; [:!TCy []]                                                                              ;
         ; [:!TCz []]                                                                              ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control - command
{:des "Control - Command Mode - symbols"
 :rules [;
         ; [:!TChyphen []]                                                                         ;
         ; [:!TCequal_sign []]                                                                     ;
         ; [:!TCopen_bracket []]                                                                   ;
         ; [:!TCclose_bracket []]                                                                  ;
         ; [:!TCsemicolon []]                                                                      ;
         ; [:!TCquote []]                                                                          ;
         ; [:!TCbackslash []]                                                                      ;
         ; [:!TCcomma []]                                                                          ;
         ; [:!TCperiod []]                                                                         ;
         ; [:!TCslash []]                                                                          ;

         ; [:!TCdelete_or_backspace []]                                                            ;
         ; [:!TCreturn_or_enter []]                                                                ;
         ; [:!TCright_shift []]                                                                    ;
         ; [:!TCright_option []]                                                                   ;
         ; [:!TCright_command []]                                                                  ;
         ; [:!TCspacebar []]                                                                       ;

         ; [:!TCleft_command []]                                                                   ;
         ; [:!TCleft_option []]                                                                    ;
         ; [:!TCleft_control []]                                                                   ;
         ; [:!TCleft_shift []]                                                                     ;
         ; [:!TCcaps_lock []]                                                                      ;
         ; [:!TCtab []]                                                                            ;
         ; [:!TCnon_us_backslash []]                                                               ;
         ; [:!TCescape []]                                                                         ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
