;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Editor
{:des "Control remappings"
 :rules [;
         [:!WQRtab :!Th [:term]]                           ; del-tab
         [:!WQRcaps_lock :!Tg [:term]]                     ; del-caps
         [:!WQRleft_shift :!Oc [:term]]                    ; del-shift
         [:!WQRleft_control :!Tr [:term]]                  ; del-ctrl
         [:!WQRleft_option :!Ts [:term]]                   ; del-alt
         [:!WQRleft_command :!Tt [:term]]                  ; del-cmd
         [:!WQRspacebar :!Ty [:term]]                      ; del-space
         [:!WQRright_command :!Tj [:term]]                 ; del-cmd
         [:!WQRright_option :!Tn [:term]]                  ; del-alt
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Editor
{:des "Editor control - alphabet"
 :rules [;
         [:!Cleft_arrow :!Ta [:term]]                      ; cmd-left
         [:!Sspacebar :!Tb [:term]]                        ; shift-space
         ; [: :!Tc [:term]]            DEFAULT
         ; [: :!Td [:term]]            DEFAULT
         [:!Cright_arrow :!Te [:term]]                     ; cmd-right
         [:!Sreturn_or_enter :!Tf [:term]]                 ; shift-enter
         ; [: :!Tg [:term]]            COLLISION (remapped)
         ; [: :!Th [:term]]            COLLISION (remapped)
         ; [: :!Ti [:term]]            DEFAULT
         ; [: :!Tj [:term]]            COLLISION (remapped)
         ; [: :!Tk [:term]]            COLLISION (delete)
         ; [: :!Tl [:term]]            COLLISION (delete)
         ; [: :!Tm [:term]]            DEFAULT
         ; [: :!Tn [:term]]            COLLISION (remapped)
         [:!Cup_arrow :!To [:term]]                        ; cmd-up
         [:!Cdown_arrow :!Tp [:term]]                      ; cmd-down
         ; [: :!Tq [:term]]            DEFAULT
         ; [: :!Tr [:term]]            COLLISION (remapped)
         ; [: :!Ts [:term]]            COLLISION (remapped)
         ; [: :!Tt [:term]]            COLLISION (remapped)
         ; [: :!Tu [:term]]            COLLISION (delete)
         [:!TCup_arrow :!Tv [:term]]                       ; ctrl-cmd-up
         ; [: :!Tw [:term]]            COLLISION (delete)
         [:!TCdown_arrow :!Tx [:term]]                     ; ctrl-cmd-down
         ; [: :!Ty [:term]]            DEFAULT
         ; [: :!Tz [:term]]            DEFAULT
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
