;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; GUI
{:des "GUI - Control remappings"
 :rules [;
         ; [:!WQRtab :!Th [:gui]]                          ; del-tab
         ; [:!WQRcaps_lock :!Tg [:gui]]                    ; del-caps
         ; [:!WQRleft_shift :!Oc [:gui]]                   ; del-shift
         ; [:!WQRleft_control :!Tr [:gui]]                 ; del-ctrl
         ; [:!WQRleft_option :!Ts [:gui]]                  ; del-alt
         ; [:!WQRleft_command :!Tt [:gui]]                 ; del-cmd
         ; [:!WQRspacebar :!Ty [:gui]]                     ; del-space
         ; [:!WQRright_command :!Tj [:gui]]                ; del-cmd
         ; [:!WQRright_option :!Tn [:gui]]                 ; del-alt
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; GUI
{:des "GUI - Interactive delete"
 :rules [;
         [:!Sright_option :!Odelete_forward [:gui]]        ; delete word forward
         ; [:!Sright_command :!Cdelete_forward [:gui]]     ; delete line forward
         [:!Rleft_control :!Odelete_or_backspace [:gui]]   ; delete word backward
         [:!Rleft_command :!Cdelete_or_backspace [:gui]]   ; delete line backward
         ; [:!Rleft_option : [:gui]]                       ; shift-alt
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; GUI
{:des "GUI - Sessions"
 :rules [;
         ; [:escape :!EWright_shift :lapce {:alone [:!CSe]}] ; file explorer
         [:delete_or_backspace :!WQright_shift
          :gui {:alone [:!Cj]}]                            ; terminal

         ; [:!OTright_shift :!Cbackslash [:lapce]]           ; split vertical
         ; [:!OTright_option :!CSbackslash [:lapce]]         ; split horizontal
         ; [:!OCright_shift :!Cbackslash [:lapce]]           ; split vertical
         ; [:!OCright_option :!CSbackslash [:lapce]]         ; split horizontal
         ; [:!OTright_command :!TCSbackslash [:lapce]]       ;

         ; [:!OCleft_arrow :!TStab [:lapce]]                 ; left tab
         ; [:!OCright_arrow :!Ttab [:lapce]]                 ; right tab
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Editor
{:des "Editor control - alphabet"
 :rules [;
         ; [:!WQRleft_shift :!Oc [:editor]]                ; del-shift
         [:!Cleft_arrow :!Ta [:editor]]                    ; cmd-left
         [:!Sspacebar :!Tb [:editor]]                      ; shift-space
         ; [: :!Tc [:editor]]          DEFAULT
         ; [: :!Td [:editor]]          DEFAULT
         [:!Cright_arrow :!Te [:editor]]                   ; cmd-right
         [:!Sreturn_or_enter :!Tf [:editor]]               ; shift-enter
         ; [:!WQRcaps_lock :!Tg [:editor]]                 ; del-caps
         ; [:!WQRtab :!Th [:editor]]                       ; del-tab
         ; [: :!Ti [:editor]]          DEFAULT
         ; [:!WQRright_command :!Tj [:editor]]             ; del-cmd
         ; [: :!Tk [:editor]]          COLLISION (delete)
         ; [: :!Tl [:editor]]          COLLISION (delete)
         ; [: :!Tm [:editor]]          DEFAULT
         ; [:!WQRright_option :!Tn [:editor]]              ; del-alt
         ; [:!Cup_arrow :!To [:editor]]                    ; cmd-up
         ; [:!Cdown_arrow :!Tp [:editor]]                  ; cmd-down
         ; [: :!Tq [:editor]]          DEFAULT
         ; [:!WQRleft_control :!Tr [:editor]]              ; del-ctrl
         ; [:!WQRleft_option :!Ts [:editor]]               ; del-alt
         ; [:!WQRleft_command :!Tt [:editor]]              ; del-cmd
         ; [: :!Tu [:editor]]          COLLISION (delete)
         [:!TCup_arrow :!Tv [:editor]]                     ; ctrl-cmd-up
         ; [: :!Tw [:editor]]          COLLISION (delete)
         [:!TCdown_arrow :!Tx [:editor]]                   ; ctrl-cmd-down
         ; [:!WQRspacebar :!Ty [:editor]]                  ; del-space
         ; [: :!Tz [:editor]]          DEFAULT
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
