;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Editor
{:des "Editor control - alphabet"
 :rules [;
         ; [:!WQRleft_shift :!Oc [:editor]]                ; del-shift
         [:!Cleft_arrow :!Ta [:editor]]                    ; cmd-left
         [:!Sspacebar :!Tb [:editor]]                      ; shift-space
         ; [: :!Tc [:editor]]          DEFAULT
         ; [: :!Td [:editor]]          DEFAULT
         [:!Cright_arrow :!Te [:editor]]                   ; cmd-right
         [:!Sreturn_or_enter :!Tf [:editor]]               ; shift-enter
         ; [:!WQRcaps_lock :!Tg [:editor]]                 ; del-caps
         ; [:!WQRtab :!Th [:editor]]                       ; del-tab
         ; [: :!Ti [:editor]]          DEFAULT
         ; [:!WQRright_command :!Tj [:editor]]             ; del-cmd
         ; [: :!Tk [:editor]]          COLLISION (delete)
         ; [: :!Tl [:editor]]          COLLISION (delete)
         ; [: :!Tm [:editor]]          DEFAULT
         ; [:!WQRright_option :!Tn [:editor]]              ; del-alt
         ; [:!Cup_arrow :!To [:editor]]                    ; cmd-up
         ; [:!Cdown_arrow :!Tp [:editor]]                  ; cmd-down
         ; [: :!Tq [:editor]]          DEFAULT
         ; [:!WQRleft_control :!Tr [:editor]]              ; del-ctrl
         ; [:!WQRleft_option :!Ts [:editor]]               ; del-alt
         ; [:!WQRleft_command :!Tt [:editor]]              ; del-cmd
         ; [: :!Tr [:editor]]          COLLISION (remapped)
         ; [: :!Ts [:editor]]          COLLISION (remapped)
         ; [: :!Tt [:editor]]          COLLISION (remapped)
         ; [: :!Tu [:editor]]          COLLISION (delete)
         [:!TCup_arrow :!Tv [:editor]]                     ; ctrl-cmd-up
         ; [: :!Tw [:editor]]          COLLISION (delete)
         [:!TCdown_arrow :!Tx [:editor]]                   ; ctrl-cmd-down
         ; [:!WQRspacebar :!Ty [:editor]]                  ; del-space
         ; [: :!Tz [:editor]]          DEFAULT
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
