;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; ; esc
; {:des "Escape Mode - alphabet"
;  :rules [;
;          ; [:!EWa [:!S2 :spacebar]]                            ;                                   ;
;          ; [:!EWb [:!S2 :spacebar]]                            ;                                   ;
;          [:!EWc [:!S2 :c :h :a :i :n :spacebar]]               ; '@chain '                         ;
;          [:!EWd [:!S2 :d :e :b :u :g :spacebar]]               ; '@debug '                         ;
;          [:!EWe [:!S2 :e :d :i :t :spacebar]]                  ; '@edit '                          ;
;          ; [:!EWf [:!S2 :spacebar]]                            ;                                   ;
;          ; [:!EWg [:!S2 :spacebar]]                            ;                                   ;
;          ; [:!EWh [:!S2 :spacebar]]                            ;                                   ;
;          [:!EWi [:!S2 :i :n :f :o :spacebar]]                  ; '@info '                          ;
;          ; [:!EWj [:!S2 :spacebar]]                            ;                                   ;
;          [:!EWk [:!S2 :w :i :t :h :!Shyphen :k :w :spacebar]]  ; '@with_kw '                       ;
;          [:!EWl [:!S2 :l :e :s :s :spacebar]]                  ; '@less '                          ;
;          ; [:!EWm [:!S2 :spacebar]]                            ;                                   ;
;          ; [:!EWn [:!S2 :spacebar]]                            ;                                   ;
;          ; [:!EWo [:!S2 :spacebar]]                            ;                                   ;
;          [:!EWp [:!S2 :p :i :p :e :spacebar]]                  ; '@pipe '                          ;
;          ; [:!EWq [:!S2 :spacebar]]                            ;                                   ;
;          ; [:!EWr [:!S2 :spacebar]]                            ;                                   ;
;          [:!EWs [:!S2 :s :h :o :w :spacebar]]                  ; '@show '                          ;
;          [:!EWt [:!S2 :t :i :m :e :spacebar]]                  ; '@time '                          ;
;          ; [:!EWu [:!S2 :spacebar]]                            ;                                   ;
;          [:!EWv [:!S2 :e :v :a :l :spacebar]]                  ; '@eval '                          ;
;          [:!EWw [:!S2 :w :a :r :n :spacebar]]                  ; '@warn '                          ;
;          ; [:!EWx [:!S2 :spacebar]]                            ;                                   ;
;          ; [:!EWy [:!S2 :spacebar]]                            ;                                   ;
;          [:!EWz [:!S2 :w :h :i :c :h :spacebar]]               ; '@which '                         ;
;          ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; esc
{:des "Escape Mode - symbols"
 :rules [;
         ; [:!EWhyphen []]                                                                         ;
         ; [:!EWequal_sign []]                                                                     ;
         [:!EWopen_bracket [:spacebar :!S5 :!Scomma :!Sequal_sign :!S5 :spacebar]]      ; ' %<+% ' ;
         [:!EWclose_bracket [:spacebar :!S5 :!Sequal_sign :!Speriod :!S5 :spacebar]]    ; ' %+>% ' ;
         [:!EWsemicolon [:spacebar :!S5 :!S4 :!S5 :spacebar]]                           ; ' %$% '  ;
         [:!EWquote [:spacebar :!S5 :!St :!Speriod :!S5 :spacebar]]                     ; ' %T>% ' ;
         [:!EWbackslash [:spacebar :!S5 :!Scomma :!Speriod :!S5 :spacebar]]             ; ' %<>% ' ;
         [:!EWcomma [:spacebar :!S5 :!Scomma :!S5 :spacebar]]                           ; ' %<% '  ;
         [:!EWperiod [:spacebar :!S5 :!Speriod :!S5 :spacebar]]                         ; ' %>% '  ;
         [:!EWslash [:spacebar :!S5 :!S1 :!Speriod :!S5 :spacebar]]                     ; ' %!>% ' ;
         ; [:!EWdelete_or_backspace []]                                                            ;
         ; [:!EWreturn_or_enter []]                                                                ;
         ; [:!EWright_shift []]                                                                    ;
         ; [:!EWright_option []]                                                                   ;
         ; [:!EWright_command []]                                                                  ;
         ; [:!EWspacebar []]                                                                       ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
