;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{:des "Espanso mode - alphabet"
 :rules [;
         ; [:!WQRa [:!Ssemicolon :!Ssemicolon]]                      ;
         [:!WQRb [:!Ssemicolon :b :r :!Ssemicolon]]                  ; `Best regards,`
         [:!WQRc [:!Ssemicolon :c :h :!Ssemicolon]]                  ; `Cheers,`
         [:!WQRd [:!Ssemicolon :d :r :!Ssemicolon]]                  ; `Daniel Rivas`
         ; [:!WQRe [:!Ssemicolon :!Ssemicolon]]                      ;
         ; [:!WQRf [:!Ssemicolon :!Ssemicolon]]                      ;
         [:!WQRg [:!Ssemicolon :g :i :t :h :u :b :!Ssemicolon]]      ; `https://github.com/DanielRivasMD`
         ; [:!WQRh [:!Ssemicolon :!Ssemicolon]]                      ;
         ; [:!WQRi [:!Ssemicolon :!Ssemicolon]]                      ;
         ; [:!WQRj [:!Ssemicolon :!Ssemicolon]]                      ;
         ; [:!WQRk [:!Ssemicolon :!Ssemicolon]]                      ;
         [:!WQRl [:!Ssemicolon :l :i :n :k :!Ssemicolon]]            ; `https://www.linkedin.com/in/daniel-rivas-b6306917b/`
         [:!WQRm [:!Ssemicolon :m :a :i :l :!Ssemicolon]]            ; `danielrivasmd@gmail.com`
         [:!WQRn [:!Ssemicolon :n :a :m :e :!Ssemicolon]]            ; `Salvador Daniel Rivas Carrillo`
         ; [:!WQRo [:!Ssemicolon :!Ssemicolon]]                      ;
         ; [:!WQRp [:!Ssemicolon :!Ssemicolon]]                      ;
         ; [:!WQRq [:!Ssemicolon :!Ssemicolon]]                      ;
         ; [:!WQRr [:!Ssemicolon :!Ssemicolon]]                      ;
         [:!WQRs [:!Ssemicolon :s :c :h :o :o :l :a :r :!Ssemicolon]]; `https://scholar.google.com/citations?user=zhiXeAsAAAAJ&hl=en`
         ; [:!WQRt [:!Ssemicolon :!Ssemicolon]]                      ;
         ; [:!WQRu [:!Ssemicolon :!Ssemicolon]]                      ;
         ; [:!WQRv [:!Ssemicolon :!Ssemicolon]]                      ;
         ; [:!WQRw [:!Ssemicolon :!Ssemicolon]]                      ;
         ; [:!WQRx [:!Ssemicolon :!Ssemicolon]]                      ;
         ; [:!WQRy [:!Ssemicolon :!Ssemicolon]]                      ;
         ; [:!WQRz [:!Ssemicolon :!Ssemicolon]]                      ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
