;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{:des "Espanso mode - alphabet"
 :rules [;
         ; [:!WQRa [:!Sslash :!Sslash ]]                             ;
         [:!WQRb [:!Sslash :!Sslash :b :r]]                          ; `Best regards,`
         [:!WQRc [:!Sslash :!Sslash :c :h]]                          ; `Cheers,`
         [:!WQRd [:!Sslash :!Sslash :d :r]]                          ; `Daniel Rivas`
         ; [:!WQRe [:!Sslash :!Sslash ]]                             ;
         ; [:!WQRf [:!Sslash :!Sslash ]]                             ;
         [:!WQRg [:!Sslash :!Sslash :g :i :t :h :u :b]]              ; `https://github.com/DanielRivasMD`
         ; [:!WQRh [:!Sslash :!Sslash ]]                             ;
         ; [:!WQRi [:!Sslash :!Sslash ]]                             ;
         ; [:!WQRj [:!Sslash :!Sslash ]]                             ;
         ; [:!WQRk [:!Sslash :!Sslash ]]                             ;
         [:!WQRl [:!Sslash :!Sslash :l :i :n :k]]                    ; `https://www.linkedin.com/in/daniel-rivas-b6306917b/`
         [:!WQRm [:!Sslash :!Sslash :m :a :i :l]]                    ; `danielrivasmd@gmail.com`
         [:!WQRn [:!Sslash :!Sslash :n :a :m :e]]                    ; `Salvador Daniel Rivas Carrillo`
         ; [:!WQRo [:!Sslash :!Sslash ]]                             ;
         ; [:!WQRp [:!Sslash :!Sslash ]]                             ;
         ; [:!WQRq [:!Sslash :!Sslash ]]                             ;
         ; [:!WQRr [:!Sslash :!Sslash ]]                             ;
         [:!WQRs [:!Sslash :!Sslash :s :c :h :o :o :l :a :r]]        ; `https://scholar.google.com/citations?user=zhiXeAsAAAAJ&hl=en`
         ; [:!WQRt [:!Sslash :!Sslash ]]                             ;
         ; [:!WQRu [:!Sslash :!Sslash ]]                             ;
         ; [:!WQRv [:!Sslash :!Sslash ]]                             ;
         ; [:!WQRw [:!Sslash :!Sslash ]]                             ;
         ; [:!WQRx [:!Sslash :!Sslash ]]                             ;
         ; [:!WQRy [:!Sslash :!Sslash ]]                             ;
         ; [:!WQRz [:!Sslash :!Sslash ]]                             ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
