;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; function
{:des "Function keypad"
 :rules [;simple
         [:!EWQ0 :7]                                                                                ; '7'
         [:!EWQhyphen :8]                                                                           ; '8'
         [:!EWQequal_sign :9]                                                                       ; '9'
         [:!EWQp :4]                                                                                ; '4'
         [:!EWQopen_bracket :5]                                                                     ; '5'
         [:!EWQclose_bracket :6]                                                                    ; '6'
         [:!EWQsemicolon :1]                                                                        ; '1'
         [:!EWQquote :2]                                                                            ; '2'
         [:!EWQbackslash :3]                                                                        ; '3'
         [:!EWQslash :0]                                                                            ; '0'

         ; numbers
         [:!EWQ1 :f1]                                                                               ; 'F1'
         [:!EWQ2 :f2]                                                                               ; 'F2'
         [:!EWQ3 :f3]                                                                               ; 'F3'
         [:!EWQ4 :f4]                                                                               ; 'F4'
         [:!EWQ5 :f5]                                                                               ; 'F5'
         [:!EWQ6 :f6]                                                                               ; 'F6'
         [:!EWQ7 :f7]                                                                               ; 'F7'
         [:!EWQ8 :f8]                                                                               ; 'F8'
         [:!EWQ9 :f9]                                                                               ; 'F9'
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
