;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; hyper
{:des "Coding modifications - hyper"
 :rules [;
         ; [:!!hyphen []]                                                                ;
         ; [:!!equal_sign []]                                                            ;
         ; [:!!open_bracket []]                                                          ;
         ; [:!!close_bracket []]                                                         ;
         ; [:!!semicolon []]                                                             ;
         ; [:!!quote []]                                                                 ;
         ; [:!!backslash []]                                                             ;
         ; [:!!comma []]                                                                 ;
         ; [:!!period []]                                                                ;
         ; [:!!slash []]                                                                 ;
         ; [:!!delete_or_backspace []]                                                   ;
         ; [:!!return_or_enter []]                                                       ;
         ; [:!!right_shift []]                                                           ;
         ; [:!!right_option []]                                                          ;
         ; [:!!right_command []]                                                         ;
         ; [:!!spacebar []]            COLLISION (speak function)
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
