;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; hyper
{:des "Coding modifications - hyper"
 :rules [;
         [:!!hyphen [:hyphen :hyphen]]                                                  ; '--'
         [:!!equal_sign [:!Sequal_sign :!Sequal_sign]]                                  ; '++'
         ; [:!!open_bracket []]                                                                     ;
         ; [:!!close_bracket []]                                                                    ;
         ; [:!!semicolon []]                                                                        ;
         ; [:!!quote []]                                                                            ;
         ; [:!!backslash []]                                                                        ;
         ; [:!!comma []]                                                                            ;
         ; [:!!period []]                                                                           ;
         ; [:!!slash []]                                                                            ;
         ; [:!!delete_or_backspace []]                                                              ;
         [:!!return_or_enter [:equal_sign :equal_sign]]                                 ; '=='
         [:!!right_shift [:!S1 :!S1]]                                           ; '!!'
         [:!!right_option [:!S8 :!S8]]                                                  ; '**'
         [:!!right_command [:slash :slash]]                                             ; '//'
         ; [:!!spacebar []]                                                                    ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
