;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{:des "Launcher"
 :rules [;
         [:!WQR1 [:launch "Whatsapp"]]           ;
         [:!WQR2 [:launch "Telegram"]]           ;
         [:!WQR3 [:launch "Slack"]]              ;
         [:!WQR4 [:launch "Skype"]]              ;
         ; [:!WQR5 [:launch ""]]                 ;
         ; [:!WQR6 [:launch ""]]                 ;
         ; [:!WQR7 [:launch ""]]                 ;
         [:!WQR8 [:launch "Mail"]]               ;
         [:!WQR9 [:launch "Firefox"]]            ;
         [:!WQR0 [:launch "Alacritty"]]            ;
         [:!WQRhyphen [:launch "Lapce"]]     ;
         [:!WQRequal_sign [:launch "Zed"]]     ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
