;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{:des "Launcher"
 :rules [;
         [:!WQRnon_us_backslash [:launch "Alacritty"]]     ;
         [:!WQR1 [:launch "Lapce"]]                        ;
         [:!WQR2 [:launch "Zed"]]                          ;
         ; [:!WQR3 [:launch ""]]                           ;
         ; [:!WQR4 [:launch ""]]                           ;
         ; [:!WQR5 [:launch ""]]                           ;
         ; [:!WQR6 [:launch ""]]                           ;
         ; [:!WQR7 [:launch ""]]                           ;
         ; [:!WQR8 [:launch ""]]                           ;
         ; [:!WQR9 [:launch ""]]                           ;
         [:!WQR0 [:launch "Chrome"]]                       ;
         [:!WQRhyphen [:launch "Firefox"]]                 ;
         [:!WQRequal_sign [:launch "Mail"]]                ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
