;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Mail
{:des "Mail bindings"
 :rules [;
         [:!Creturn_or_enter :!CSd [:mail]]                ; cmd-enter         ; send
         [:!Oreturn_or_enter :!Cr [:mail]]                 ; alt-enter         ; reply
         [:!OSreturn_or_enter :!CSr [:mail]]               ; alt-shift-enter   ; reply all
         [:!OCreturn_or_enter :!CSf [:mail]]               ; alt-cmd-enter     ; forward
         [:!EQRreturn_or_enter :!Cn [:mail]]               ; tab-enter         ; new
         [:!EQRspacebar :!CSj [:mail]]                     ; tab-space         ; junk
         [:!Tspacebar :!CSu [:mail]]                       ; ctrl-space        ; unread
         [:!Sspacebar :!CSl [:mail]]                       ; shift-space       ; flag
         [:!Cspacebar :!CSn [:mail]]                       ; cmd-space         ; get
         [:!Of :!OCf [:mail]]                              ; alt-f             ; find mail
         [:!OSf :!Cf [:mail]]                              ; alt-shift-f       ; find
         [:!Oh :!CSg [:mail]]                              ; alt-h             ; find prev
         [:!Ol :!Cg [:mail]]                               ; alt-l             ; find next
         [:!!up_arrow :!TCopen_bracket [:mail]]            ; alt-ctrl-cmd-up   ; mailbox prev
         [:!!down_arrow :!TCclose_bracket [:mail]]         ; alt-ctrl-cmd-down ; mailbox next
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
