;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; accents
{:des "Bypass accents"
 :rules [;
         [:!OCi :!Sf7]                                                                              ;
         [:!OCn :!Sf8]                                                                              ;
         [:!Oe :!Sf1]                                                                               ;
         [:!Oi :!Sf2]                                                                               ;
         [:!On :!OSf4]                                                                              ;
         [:!Ou :!Of4]                                                                               ;
         [:!OSo :!Tf4]                                                                              ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; ; additional
; {:des "Additional key - Mac Internal"
;  :rules [; builtin
;          [:0 :grave_accent_and_tilde]                                                           ; '`'
;          [:!T0 [:grave_accent_and_tilde :grave_accent_and_tilde :grave_accent_and_tilde]]        ; '```'
;          [:!Of20 [:spacebar :!Sgrave_accent_and_tilde :spacebar]]                                ; ' ~ '
;          [:!Tf20 [:spacebar :equal_sign :!Sgrave_accent_and_tilde :spacebar]]                    ; ' =~ '
;          [:!Sf20 :!Sgrave_accent_and_tilde]                                                      ; '~'
;          ]}

{:des "Additional keys - Master"
 :rules [:master
         [:non_us_backslash :0]
         [:0 :non_us_backslash]                                                          ; '`'
         [:!T0 [:non_us_backslash :non_us_backslash :non_us_backslash]]                  ; '```'
         [:!Onon_us_backslash [:spacebar :!Snon_us_backslash :spacebar]]                 ; ' ~ '
         [:!Tnon_us_backslash [:spacebar :equal_sign :!Snon_us_backslash :spacebar]]     ; ' =~ '
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; simple
{:des "Simple modifications"
 :rules [;
         [:keypad_slash :display_brightness_decrement]
         [:keypad_asterisk :display_brightness_increment]
         [:keypad_hyphen :mute]
         [:keypad_plus :volume_increment]
         [:keypad_enter :volume_decrement]]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
