;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option
{:des "Option Mode - alphabet"
 :rules [;
         ; [:!Ea []]                                                                               ;
         ; [:!Eb []]                                                                               ;
         ; [:!Ec []]                                                                               ;
         ; [:!Ed []]                                                                               ;
         ; [:!Ee []]                                                                               ;
         ; [:!Ef []]                                                                               ;
         ; [:!Eg []]                                                                               ;
         ; [:!Eh []]                                                                               ;
         ; [:!Ei []]                                                                               ;
         ; [:!Ej []]                                                                               ;
         ; [:!Ek []]                                                                               ;
         ; [:!El []]                                                                               ;
         ; [:!Em []]                                                                               ;
         ; [:!En []]                                                                               ;
         ; [:!Eo []]                                                                               ;
         ; [:!Ep []]                                                                               ;
         ; [:!Eq []]                                                                               ;
         ; [:!Er []]                                                                               ;
         ; [:!Es []]                                                                               ;
         ; [:!Et []]                                                                               ;
         ; [:!Eu []]                                                                               ;
         ; [:!Ev []]                                                                               ;
         ; [:!Ew []]                                                                               ;
         ; [:!Ex []]                                                                               ;
         ; [:!Ey []]                                                                               ;
         ; [:!Ez []]                                                                               ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option
{:des "Option Mode - symbols"
 :rules [;
         ; [:!Ehyphen []]                                                                          ;
         ; [:!Eequal_sign []]                                                                      ;
         ; [:!Eopen_bracket []]                                                                    ;
         ; [:!Eclose_bracket []]                                                                   ;
         ; [:!Esemicolon []]                                                                       ;
         ; [:!Equote []]                                                                           ;
         ; [:!Ebackslash []]                                                                       ;
         ; [:!Ecomma []]                                                                           ;
         ; [:!Eperiod []]                                                                          ;
         ; [:!Eslash []]                                                                           ;
         ; [:!Edelete_or_backspace []]                                                             ;
         ; [:!Ereturn_or_enter []]                                                                 ;
         ; [:!Eright_shift []]                                                                     ;
         ; [:!Eright_option []]        NOT AVAILABLE                                               ;
         ; [:!Eright_command []]                                                                   ;
         ; [:!Espacebar []]            COLLISION (espanso)                                         ;

         [:!Eleft_command [:launch "Alacritty"]]                                                   ;
         [:!Eleft_option [:launch "Lapce"]]                                                        ;
         [:!Eleft_control [:launch "Zed"]]                                                         ;
         ; [:!Eleft_shift [:launch ""]]                                                            ;
         ; [:!Ecaps_lock [:launch ""]]                                                             ;
         [:!Etab [:launch "Firefox"]]                                                              ;
         [:!Enon_us_backslash [:launch "Chrome"]]                                                  ;
         [:!Eescape [:launch "Mail"]]                                                              ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
