;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option
{:des "Option Mode - alphabet"
 :rules [;
         ; [:!Ea []]                                                                               ;
         ; [:!Eb []]                                                                               ;
         ; [:!Ec []]                                                                               ;
         ; [:!Ed []]                                                                               ;
         ; [:!Ee []]                                                                               ;
         ; [:!Ef []]                                                                               ;
         ; [:!Eg []]                                                                               ;
         ; [:!Eh []]                                                                               ;
         ; [:!Ei []]                                                                               ;
         ; [:!Ej []]                                                                               ;
         ; [:!Ek []]                                                                               ;
         ; [:!El []]                                                                               ;
         ; [:!Em []]                                                                               ;
         ; [:!En []]                                                                               ;
         ; [:!Eo []]                                                                               ;
         ; [:!Ep []]                                                                               ;
         ; [:!Eq []]                                                                               ;
         ; [:!Er []]                                                                               ;
         ; [:!Es []]                                                                               ;
         ; [:!Et []]                                                                               ;
         ; [:!Eu []]                                                                               ;
         ; [:!Ev []]                                                                               ;
         ; [:!Ew []]                                                                               ;
         ; [:!Ex []]                                                                               ;
         ; [:!Ey []]                                                                               ;
         ; [:!Ez []]                                                                               ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option
{:des "Option Mode - symbols"
 :rules [;
         ; [:!Ehyphen []]                                                                          ;
         ; [:!Eequal_sign []]                                                                      ;
         ; [:!Eopen_bracket []]                                                                    ;
         ; [:!Eclose_bracket []]                                                                   ;
         ; [:!Esemicolon []]                                                                       ;
         ; [:!Equote []]                                                                           ;
         ; [:!Ebackslash []]                                                                       ;
         ; [:!Ecomma []]                                                                           ;
         ; [:!Eperiod []]                                                                          ;
         ; [:!Eslash []]                                                                           ;
         ; [:!Edelete_or_backspace []]                                                             ;
         ; [:!Ereturn_or_enter []]                                                                 ;
         ; [:!Eright_shift []]         NOT AVAILABLE                                               ;
         ; [:!Eright_option []]                                                                    ;
         ; [:!Eright_command []]                                                                   ;
         ; [:!Espacebar []]                                                                        ;

         ; [:!Rleft_command []]                                                                    ;
         ; [:!Rleft_option []]                                                                     ;
         ; [:!Rleft_control []]                                                                    ;
         ; [:!Rleft_shift []]                                                                      ;
         ; [:!Rcaps_lock []]                                                                       ;
         ; [:!Rtab []]                                                                             ;
         ; [:!Rnon_us_backslash []]                                                                ;
         ; [:!Rescape []]                                                                          ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
