;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; ;
; {:des "Tab Mode - alphabet"
;  :rules [;
;          [:!EWQa [:semicolon :semicolon :a]]                                             ; 'α'
;          [:!EWQb [:semicolon :semicolon :b]]                                             ; 'β'
;          ; [:!EWQc [:semicolon :semicolon :c]]                                           ;
;          [:!EWQd [:semicolon :semicolon :d]]                                             ; 'δ'
;          [:!EWQe [:semicolon :semicolon :e]]                                             ; 'ε'
;          [:!EWQf [:semicolon :semicolon :f]]                                             ; 'φ'
;          [:!EWQg [:semicolon :semicolon :g]]                                             ; 'γ'
;          [:!EWQh [:semicolon :semicolon :h]]                                             ; 'η'
;          [:!EWQi [:semicolon :semicolon :i]]                                             ; 'ι'
;          [:!EWQj [:semicolon :semicolon :j]]                                             ; 'ξ'
;          [:!EWQk [:semicolon :semicolon :k]]                                             ; 'κ'
;          [:!EWQl [:semicolon :semicolon :l]]                                             ; 'λ'
;          [:!EWQm [:semicolon :semicolon :m]]                                             ; 'μ'
;          [:!EWQn [:semicolon :semicolon :n]]                                             ; 'ν'
;          [:!EWQo [:semicolon :semicolon :o]]                                             ; 'ο'
;          [:!EWQp [:semicolon :semicolon :p]]                                             ; 'π'
;          ; [:!EWQq [:semicolon :semicolon :q]]                                           ;
;          [:!EWQr [:semicolon :semicolon :r]]                                             ; 'ρ'
;          [:!EWQs [:semicolon :semicolon :s]]                                             ; 'σ'
;          [:!EWQt [:semicolon :semicolon :t]]                                             ; 'τ'
;          [:!EWQu [:semicolon :semicolon :u]]                                             ; 'θ'
;          [:!EWQv [:semicolon :semicolon :v]]                                             ; 'ω'
;          ; [:!EWQw [:semicolon :semicolon :w]]                                           ;
;          [:!EWQx [:semicolon :semicolon :x]]                                             ; 'χ'
;          [:!EWQy [:semicolon :semicolon :y]]                                             ; 'υ'
;          [:!EWQz [:semicolon :semicolon :z]]                                             ; 'ζ'
;          ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;
{:des "Space Mode - symbols"
 :rules [;
         [:!EWQhyphen [:hyphen :hyphen]]                                                  ; '--'
         [:!EWQequal_sign [:!Sequal_sign :!Sequal_sign]]                                  ; '++'
         ; [:!EWQopen_bracket []]                                                                     ;
         ; [:!EWQclose_bracket []]                                                                    ;
         ; [:!EWQsemicolon []]                                                                        ;
         ; [:!EWQquote []]                                                                            ;
         ; [:!EWQbackslash []]                                                                        ;
         ; [:!EWQcomma []]                                                                            ;
         ; [:!EWQperiod []]                                                                           ;
         ; [:!EWQslash []]                                                                            ;
         ; [:!EWQdelete_or_backspace []]                                                              ;
         [:!EWQreturn_or_enter [:equal_sign :equal_sign]]                                 ; '=='
         [:!EWQright_shift [:!S1 :!S1]]                                           ; '!!'
         [:!EWQright_option [:!S8 :!S8]]                                                  ; '**'
         [:!EWQright_command [:slash :slash]]                                             ; '//'
         ; [:!EWQspacebar []]                                                                    ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
