;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; super
{:des "Super Mode - alphabet"
 :rules [:zero-mode
         ; [:a []]                                                                                  ;
         [:!Sb [:!Sb :!Su :!Sg :!Ssemicolon :spacebar]]                                  ; 'BUG:'
         ; [:c []]                                                                       ;
         [:!Sd [:!Sd :!So :!Sc :!Ssemicolon :spacebar]]                                  ; 'DOC:'
         ; [:e []]                                                                       ;
         [:!Sf [:!Sf :!Si :!Sx :!Ssemicolon :spacebar]]                                  ; 'FIX:'
         ; [:g []]                                                                       ;
         ; [:h []]                                                                       ;
         [:!Si [:!Si :!Sd :!Se :!Sa :!Ssemicolon :spacebar]]                             ; 'IDEA:'
         ; [:j []]                                                                       ;
         ; [:k []]                                                                       ;
         ; [:l []]                                                                       ;
         ; [:m []]                                                                       ;
         ; [:n []]                                                                       ;
         ; [:o []]                                                                       ;
         ; [:p []]                                                                       ;
         ; [:q []]                                                                       ;
         ; [:r []]                                                                       ;
         ; [:s []]                                                                       ;
         [:!St [:!St :!So :!Sd :!So :!Ssemicolon :spacebar]]                             ; 'TODO:'
         ; [:u []]                                                                       ;
         ; [:v []]                                                                       ;
         ; [:w []]                                                                       ;
         ; [:x []]                                                                       ;
         ; [:y []]                                                                       ;
         ; [:z []]                                                                       ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; super
{:des "Super Mode - symbols"
 :rules [:zero-mode
         ; [:!Shyphen []]                                                                ;
         ; [:!Sequal_sign []]                                                            ;
         ; [:!Sopen_bracket []]                                                          ;
         ; [:!Sclose_bracket []]                                                         ;
         [:!Ssemicolon [:!Ssemicolon :spacebar]]                                         ; ': '
         ; [:!Squote []]                                                                 ;
         [:!Sbackslash [:spacebar :hyphen :hyphen]]                                      ; ' --'
         ; [:!Scomma []]                                                                 ;
         [:!Speriod [:period :period :period]]                                           ; '...'
         [:!Sslash [:slash :slash :!S1 :spacebar]]                                       ; '//! '
         ; [:!Sdelete_or_backspace []] NOT AVAILABLE
         ; [:!Sreturn_or_enter []]     NOT AVAILABLE
         ; [:!Sright_shift []]         NOT AVAILABLE
         ; [:!Sright_option []]        NOT AVAILABLE
         ; [:!Sright_command []]       NOT AVAILABLE
         ; [:!Sspacebar []]            NOT AVAILABLE
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
