;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;
{:des "Tab Mode - alphabet"
 :rules [;
         [:!EQRa [:semicolon :semicolon :a]]                                                        ; 'α'
         [:!EQRb [:semicolon :semicolon :b]]                                                        ; 'β'
         ; [:!EQRc [:semicolon :semicolon :c]]                                                      ; ''
         [:!EQRd [:semicolon :semicolon :d]]                                                        ; 'δ'
         [:!EQRe [:semicolon :semicolon :e]]                                                        ; 'ε'
         [:!EQRf [:semicolon :semicolon :f]]                                                        ; 'φ'
         [:!EQRg [:semicolon :semicolon :g]]                                                        ; 'γ'
         [:!EQRh [:semicolon :semicolon :h]]                                                        ; 'η'
         [:!EQRi [:semicolon :semicolon :i]]                                                        ; 'ι'
         [:!EQRj [:semicolon :semicolon :j]]                                                        ; 'ξ'
         [:!EQRk [:semicolon :semicolon :k]]                                                        ; 'κ'
         [:!EQRl [:semicolon :semicolon :l]]                                                        ; 'λ'
         [:!EQRm [:semicolon :semicolon :m]]                                                        ; 'μ'
         [:!EQRn [:semicolon :semicolon :n]]                                                        ; 'ν'
         [:!EQRo [:semicolon :semicolon :o]]                                                        ; 'ο'
         [:!EQRp [:semicolon :semicolon :p]]                                                        ; 'π'
         ; [:!EQRq [:semicolon :semicolon :q]]                                                      ; ''
         [:!EQRr [:semicolon :semicolon :r]]                                                        ; 'ρ'
         [:!EQRs [:semicolon :semicolon :s]]                                                        ; 'σ'
         [:!EQRt [:semicolon :semicolon :t]]                                                        ; 'τ'
         [:!EQRu [:semicolon :semicolon :u]]                                                        ; 'θ'
         [:!EQRv [:semicolon :semicolon :v]]                                                        ; 'ω'
         ; [:!EQRw [:semicolon :semicolon :w]]                                                      ; ''
         [:!EQRx [:semicolon :semicolon :x]]                                                        ; 'χ'
         [:!EQRy [:semicolon :semicolon :y]]                                                        ; 'υ'
         [:!EQRz [:semicolon :semicolon :z]]                                                        ; 'ζ'
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;
{:des "Tab Mode - symbols"
 :rules [;
         ; [:!EQRhyphen []]                                                                         ; ''
         ; [:!EQRequal_sign []]                                                                     ; ''
         [:!EQRopen_bracket [:!Scomma :!Ssemicolon]]                                                ; '<:'
         [:!EQRclose_bracket [:!Speriod :!Ssemicolon]]                                              ; '>:'
         [:!EQRsemicolon [:!Ssemicolon :!Ssemicolon]]                                               ; '::'
         [:!EQRquote [:!Ssemicolon :!Ssemicolon :!Scomma]]                                          ; '::<'
         [:!EQRbackslash [:!S4 :!Sopen_bracket]]                                                    ; '${'
         [:!EQRcomma [:spacebar :!Scomma :hyphen :spacebar]]                                        ; ' <- '
         [:!EQRperiod [:spacebar :hyphen :!Speriod :spacebar]]                                      ; ' -> '
         [:!EQRslash [:slash :slash :!S1]]                                                          ; '//!'
         [:!EQRdelete_or_backspace [:!S3 :open_bracket]]                                            ; '#['
         ; [:!EQRreturn_or_enter []]                                                                ; ''
         ; [:!EQRright_shift []]                                                                    ; ''
         ; [:!EQRright_option []]                                                                   ; ''
         ; [:!EQRright_command []]                                                                  ; ''
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
