;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Zed
{:des "Editor sessions"
 :rules [;
         [:escape :!EWright_shift :zed {:alone [:!Cb]}]    ; file explorer
         [:delete_or_backspace :!WQright_shift
          :zed {:alone [:!Cj]}]                            ; terminal
         [:!TCright_command :!OCy [:zed]];

         [:!Rleft_command :!Cdelete_or_backspace [:zed]];
         [:!Sright_command :!Cdelete_forward [:zed]];
         [:!Rleft_control :!Odelete_or_backspace [:zed]];
         [:!Sright_option :!Odelete_forward [:zed]];

         [:!Of :!Cf [:zed]];
         [:!Oh :!CSg [:zed]];
         [:!Ol :!Cg [:zed]];
         ; [:!Of :!CSh [:zed]]; TODO: replace
         [:!Ok :!OTp [:zed]];
         [:!Oj :!OTn [:zed]];

         [:!OSc :!Cslash [:zed]];
         [:!OSd :!CSd [:zed]];
         [:!OSi :!Cclose_bracket [:zed]];
         [:!OSo :!Copen_bracket [:zed]];
         [:!OSc :!Cslash [:zed]];
         [:!OSk :!TCup_arrow [:zed]];
         [:!OSj :!TCdown_arrow [:zed]];
         [:!OSx :!TSk [:zed]];

         [:!Oup_arrow :!Tup_arrow [:zed]];
         [:!Odown_arrow :!Tdown_arrow [:zed]];
         [:!OSup_arrow :!TSup_arrow [:zed]];
         [:!OSdown_arrow :!TSdown_arrow [:zed]];

         [:!OTright_shift :!TCSg [:zed]];
         [:!OTright_option :!TCSh [:zed]];
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
