;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;
{:des "Zero Mode - mouse"
 :rules [:zero-mode
         [:down_arrow {:mkey {:y 1000}}]
         [:up_arrow {:mkey {:y -1000}}]
         [:left_arrow {:mkey {:x -1000}}]
         [:right_arrow {:mkey {:x 1000}}]
         [:return_or_enter {:pkey :button1}]
         [:!Oreturn_or_enter {:pkey :button2}]]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;
{:des "Zero Mode - alphabet"
 :rules [:zero-mode
         ; [:a []]                                                                                  ;
         ; [:b []]                                                                                  ;
         ; [:c []]                                                                                  ;
         ; [:d []]                                                                                  ;
         [:e [:e :n :u :m]]                                                                         ; 'enum'
         ; [:f []]                                                                                  ;
         ; [:g []]                                                                                  ;
         ; [:h []]                                                                                  ;
         ; [:i []]                                                                                  ;
         ; [:j []]                                                                                  ;
         ; [:k []]                                                                                  ;
         ; [:l []]                                                                                  ;
         [:m [:m :u :t :a :b :l :e]]                                                                ; 'mutable'
         ; [:n []]                                                                                  ;
         ; [:o []]                                                                                  ;
         ; [:p []]                                                                                  ;
         ; [:q []]                                                                                  ;
         ; [:r []]                                                                                  ;
         [:s [:s :t :r :u :c :t]]                                                                   ; 'struct'
         ; [:t []]                                                                                  ;
         ; [:u []]                                                                                  ;
         ; [:v []]                                                                                  ;
         [:w [:w :h :e :r :e :spacebar]]                                                            ; 'where '
         ; [:x []]                                                                                  ;
         ; [:y []]                                                                                  ;
         [:z [:w :h :i :c :h :spacebar]]                                                            ; 'which '
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;
{:des "Zero Mode - symbols"
 :rules [:zero-mode
         ; [:hyphen []]                                                                             ;
         ; [:equal_sign []]                                                                         ;
         ; [:open_bracket []]                                                                       ;
         ; [:close_bracket []]                                                                      ;
         [:semicolon [:semicolon :spacebar]]                                                        ; '; '
         ; [:quote []]                                                                              ;
         ; [:backslash []]                                                                          ;
         [:comma [:comma :spacebar]]                                                                ; ', '
         [:period [:period :period]]                                                                ; '..'
         [:slash [:spacebar :hyphen]]                                                               ; ' -'
         ; [:delete_or_backspace []]                                                                ;
         ; [:return_or_enter []]                                                                    ;
         ; [:right_shift []]                                                                        ;
         ; [:right_option []]                                                                       ;
         ; [:right_command []]                                                                      ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
