;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; zero
{:des "Zero Mode - alphabet"
 :rules [:zero-mode
         ; [:a []]                                ;                                                ;
         ; [:b []]                                ;                                                ;
         ; [:c []]                                ;                                                ;
         ; [:d []]                                ;                                                ;
         [:e [:e :n :u :m]]                       ; 'enum'                                         ;
         ; [:f []]                                ;                                                ;
         ; [:g []]                                ;                                                ;
         ; [:h []]                                ;                                                ;
         ; [:i []]                                ;                                                ;
         ; [:j []]                                ;                                                ;
         ; [:k []]                                ;                                                ;
         ; [:l []]                                ;                                                ;
         [:m [:m :u :t :a :b :l :e]]              ; 'mutable'                                      ;
         ; [:n []]                                ;                                                ;
         ; [:o []]                                ;                                                ;
         ; [:p []]                                ;                                                ;
         ; [:q []]                                ;                                                ;
         ; [:r []]                                ;                                                ;
         [:s [:s :t :r :u :c :t]]                 ; 'struct'                                       ;
         [:t [:t :y :p :e]]                       ;                                                ;
         ; [:u []]                                ;                                                ;
         ; [:v []]                                ;                                                ;
         [:w [:w :h :e :r :e :spacebar]]          ; 'where '                                       ;
         ; [:x []]                                ;                                                ;
         ; [:y []]                                ;                                                ;
         [:z [:w :h :i :c :h :spacebar]]          ; 'which '                                       ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; zero
{:des "Zero Mode - symbols"
 :rules [:zero-mode
         ; [:hyphen []]                                    ;                                       ;
         ; [:equal_sign []]                                ;                                       ;
         ; [:open_bracket []]                              ;                                       ;
         ; [:close_bracket []]                             ;                                       ;
         [:semicolon [:semicolon :spacebar]]               ; '; '                                  ;
         ; [:quote []]                                     ;                                       ;
         [:backslash [:spacebar :hyphen]]                  ; ' -'                                  ;
         [:comma [:comma :spacebar]]                       ; ', '                                  ;
         [:period [:period :period]]                       ; '..'                                  ;
         [:slash [:slash :slash :slash :spacebar]]         ; '/// '                                ;
         ; [:delete_or_backspace []]   NOT AVAILABLE                                               ;
         ; [:return_or_enter []]       NOT AVAILABLE                                               ;
         ; [:right_shift []]           NOT AVAILABLE                                               ;
         ; [:right_option []]          NOT AVAILABLE                                               ;
         ; [:right_command []]         NOT AVAILABLE                                               ;
         ; [:spacebar []]              NOT AVAILABLE                                               ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
