;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Alacritty - Arrow"
 :rules
 [;
  ; atl-cmd
  ; [:!OC#Pleft_arrow [:term]]                                                                     ;
  ; [:!OC#Pright_arrow [:term]]                                                                    ;
  [:!OC#Pup_arrow :!Tx [:term]]                                                                    ;
  [:!OC#Pdown_arrow :!Ty [:term]]                                                                  ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
