;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; TODO: relocate
; Alacritty
{:des "Alacritty - Arrow"
 :rules
 [;
  ; shift
  ; [:!S#Pleft_arrow [:term]]                                                                      ;
  ; [:!S#Pright_arrow [:term]]                                                                     ;
  ; [:!S#Pup_arrow [:term]]                                                                        ;
  ; [:!S#Pdown_arrow [:term]]                                                                      ;

  ; alt
  ; [:!O#Pleft_arrow [:term]]                                                                      ;
  ; [:!O#Pright_arrow [:term]]                                                                     ;
  [:!O#Pup_arrow :page_up [:term]]                                                                 ;
  [:!O#Pdown_arrow :page_down [:term]]                                                             ;

  ; alt-shift
  ; [:!OS#Pleft_arrow [:term]]                                                                     ;
  ; [:!OS#Pright_arrow [:term]]                                                                    ;
  ; [:!OS#Pup_arrow [:term]]                                                                       ;
  ; [:!OS#Pdown_arrow [:term]]                                                                     ;

  ; ctl
  ; [:!T#Pleft_arrow [:term]]                                                                      ;
  ; [:!T#Pright_arrow [:term]]                                                                     ;
  ; [:!T#Pup_arrow [:term]]                                                                        ;
  ; [:!T#Pdown_arrow [:term]]                                                                      ;

  ; ctl-shift
  ; [:!TS#Pleft_arrow [:term]]                                                                     ;
  ; [:!TS#Pright_arrow [:term]]                                                                    ;
  ; [:!TS#Pup_arrow [:term]]                                                                       ;
  ; [:!TS#Pdown_arrow [:term]]                                                                     ;

  ; cmd
  ; [:!C#Pleft_arrow [:term]]                                                                      ;
  ; [:!C#Pright_arrow [:term]]                                                                     ;
  [:!C#Pup_arrow :home [:term]]                                                                    ;
  [:!C#Pdown_arrow :end [:term]]                                                                   ;

  ; cmd-shift
  [:!CS#Pleft_arrow :!Oleft_arrow [:term]]                                                         ;
  [:!CS#Pright_arrow :!Oright_arrow [:term]]                                                       ;
  [:!CS#Pup_arrow :!Oup_arrow [:term]]                                                             ;
  [:!CS#Pdown_arrow :!Odown_arrow [:term]]                                                         ;

  ; grave
  [:!W#Pleft_arrow :!Wpage_up [:term]]                                                             ;
  [:!W#Pright_arrow :!Wpage_down [:term]]                                                          ;
  [:!W#Pup_arrow :!Whome [:term]]                                                                  ;
  [:!W#Pdown_arrow :!Wend [:term]]                                                                 ;

  ; grave-shift
  [:!WS#Pleft_arrow :!Tb [:term]]                                                                  ;
  [:!WS#Pright_arrow :!Tf [:term]]                                                                 ;
  [:!WS#Pup_arrow :!Tn [:term]]                                                                    ;
  [:!WS#Pdown_arrow :!Tp [:term]]                                                                  ;

  ; ; grave-shift
  ; [:!WS#Pleft_arrow :!WSpage_up [:term]]                                                           ;
  ; [:!WS#Pright_arrow :!WSpage_down [:term]]                                                        ;
  ; [:!WS#Pup_arrow :!WShome [:term]]                                                                ;
  ; [:!WS#Pdown_arrow :!WSend [:term]]                                                               ;

  ; joker
  [:!OTC#Pleft_arrow :!OTpage_up [:term]]                                                          ;
  [:!OTC#Pright_arrow :!OTpage_down [:term]]                                                       ;
  [:!OTC#Pup_arrow :!OThome [:term]]                                                               ;
  [:!OTC#Pdown_arrow :!OTend [:term]]                                                              ;

  ; ; ctl-cmd
  ; [:!TC#Pleft_arrow :!Tb [:term]]                                                                  ;
  ; [:!TC#Pright_arrow :!Tf [:term]]                                                                 ;
  ; [:!TC#Pup_arrow :!Tn [:term]]                                                                    ;
  ; [:!TC#Pdown_arrow :!Tp [:term]]                                                                  ;

  ; tab
  [:!WQR#Pleft_arrow :!OSpage_up [:term]]                                                          ;
  [:!WQR#Pright_arrow :!OSpage_down [:term]]                                                       ;
  [:!WQR#Pup_arrow :!OShome [:term]]                                                               ;
  [:!WQR#Pdown_arrow :!OSend [:term]]                                                              ;

  ; atl-cmd
  ; [:!OC#Pleft_arrow [:term]]                                                                     ;
  ; [:!OC#Pright_arrow [:term]]                                                                    ;
  [:!OC#Pup_arrow :!Tx [:term]]                                                                    ;
  [:!OC#Pdown_arrow :!Ty [:term]]                                                                  ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
