;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CTL-CMD
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control - command
{:des "Control - Command Mode - symbols"
 :rules
 [;
  ; [:!TC#Pleft_arrow :!Tb [:term]]                                                                ;
  ; [:!TC#Pright_arrow :!Tf [:term]]                                                               ;
  ; [:!TC#Pup_arrow :!Tn [:term]]                                                                  ;
  ; [:!TC#Pdown_arrow :!Tp [:term]]                                                                ;
 ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control - command
{:des "Control - Command Mode - symbols"
 :rules
 [;
  ; [:!TC#Popen_bracket []]                                                                        ;
  ; [:!TC#Pclose_bracket []]                                                                       ;
  ; [:!TC#Psemicolon []]                                                                           ;
  ; [:!TC#Pquote []]                                                                               ;
  ; [:!TC#Pbackslash []]                                                                           ;
  ; [:!TC#Pcomma []]                                                                               ;
  ; [:!TC#Pperiod []]                                                                              ;
  ; [:!TC#Pslash []]                                                                               ;

  ; [:!TC#Pdelete_or_backspace []]                                                                 ;
  ; [:!TC#Preturn_or_enter []]                                                                     ;
  ; [:!TC#Pright_shift []]                                                                         ;
  ; [:!TC#Pright_option []]                                                                        ;
  ; [:!TC#Pright_command []]                                                                       ;
  ; [:!TC#Pspacebar []]                                                                            ;

  ; [:!TCleft_command [:term]]                                                      NOT AVAILABLE  ;
  ; [:!TC#Pleft_option [:term]]                                                                    ;
  ; [:!TCleft_control [:term]]                                                      NOT AVAILABLE  ;
  ; [:!TC#Pleft_shift [:term]]                                                                     ;
  ; [:!TC#Pcaps_lock [:term]]                                                                      ;
  ; [:!TC#Ptab [:term]]                                                                            ;
  ; [:!TC#Pnon_us_backslash [:term]]                                                               ;
  ; [:!TC#Pescape [:term]]                                                                         ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control - command
{:des "Control - Command Mode - numbers"
 :rules
 [;
  ; [:!TC#keypad_1 []]                                                                             ;
  ; [:!TC#keypad_2 []]                                                                             ;
  ; [:!TC#keypad_3 []]                                                                             ;
  ; [:!TC#keypad_4 []]                                                                             ;
  ; [:!TC#keypad_5 []]                                                                             ;
  ; [:!TC#keypad_6 []]                                                                             ;
  ; [:!TC#keypad_7 []]                                                                             ;
  ; [:!TC#keypad_8 []]                                                                             ;
  ; [:!TC#keypad_9 []]                                                                             ;
  ; [:!TC#keypad_0 []]                                                                             ;
  ; [:!TC#keypad_slash []]                                                                         ;
  ; [:!TC#keypad_asterisk []]                                                                      ;

  ; [:!TC#1 []]                                                                                    ;
  ; [:!TC#2 []]                                                                                    ;
  ; [:!TC#3 []]                                                                                    ;
  ; [:!TC#4 []]                                                                                    ;
  ; [:!TC#5 []]                                                                                    ;
  ; [:!TC#6 []]                                                                                    ;
  ; [:!TC#7 []]                                                                                    ;
  ; [:!TC#8 []]                                                                                    ;
  ; [:!TC#9 []]                                                                                    ;
  ; [:!TC#0 []]                                                                                    ;
  ; [:!TC#Phyphen []]                                                                              ;
  ; [:!TC#Pequal_sign []]                                                                          ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control - command
{:des "Control - Command Mode - alphabet"
 :rules
 [;
  ; [:!TC#Pa []]                                                                                   ;
  ; [:!TC#Pb []]                                                                                   ;
  ; [:!TC#Pc []]                                                                                   ;
  ; [:!TC#Pd []]                                                                                   ;
  ; [:!TC#Pe []]                                                                                   ;
  ; [:!TC#Pf []]                                                                                   ;
  ; [:!TC#Pg []]                                                                                   ;
  ; [:!TC#Ph []]                                                                                   ;
  ; [:!TC#Pi []]                                                                                   ;
  ; [:!TC#Pj []]                                                                                   ;
  ; [:!TC#Pk []]                                                                                   ;
  ; [:!TC#Pl []]                                                                                   ;
  ; [:!TC#Pm []]                                                                                   ;
  ; [:!TC#Pn []]                                                                                   ;
  ; [:!TC#Po []]                                                                                   ;
  ; [:!TC#Pp []]                                                                                   ;
  ; [:!TC#Pq []]                                                                                   ;
  ; [:!TC#Pr []]                                                                                   ;
  ; [:!TC#Ps []]                                                                                   ;
  ; [:!TC#Pt []]                                                                                   ;
  ; [:!TC#Pu []]                                                                                   ;
  ; [:!TC#Pv []]                                                                                   ;
  ; [:!TC#Pw []]                                                                                   ;
  ; [:!TC#Px []]                                                                                   ;
  ; [:!TC#Py []]                                                                                   ;
  ; [:!TC#Pz []]                                                                                   ;
  ; [:!TC#Pright_control []]                                                                       ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
