;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CTL-CMD
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - numbers"
 :rules
 [;
  ; [:!TC#keypad_1 []]                                                                             ;
  ; [:!TC#keypad_2 []]                                                                             ;
  ; [:!TC#keypad_3 []]                                                                             ;
  ; [:!TC#keypad_4 []]                                                                             ;
  ; [:!TC#keypad_5 []]                                                                             ;
  ; [:!TC#keypad_6 []]                                                                             ;
  ; [:!TC#keypad_7 []]                                                                             ;
  ; [:!TC#keypad_8 []]                                                                             ;
  ; [:!TC#keypad_9 []]                                                                             ;
  ; [:!TC#keypad_0 []]                                                                             ;
  ; [:!TC#keypad_slash []]                                                                         ;
  ; [:!TC#keypad_asterisk []]                                                                      ;

  ; [:!TC#1 []]                                                                                    ;
  ; [:!TC#2 []]                                                                                    ;
  ; [:!TC#3 []]                                                                                    ;
  ; [:!TC#4 []]                                                                                    ;
  ; [:!TC#5 []]                                                                                    ;
  ; [:!TC#6 []]                                                                                    ;
  ; [:!TC#7 []]                                                                                    ;
  ; [:!TC#8 []]                                                                                    ;
  ; [:!TC#9 []]                                                                                    ;
  ; [:!TC#0 []]                                                                                    ;
  [:!TC#Phyphen [:!Sf13]]                                                                          ;
  [:!TC#Pequal_sign [:!Sf14]]                                                                      ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Alacritty - Control - Command Mode"
 :rules
 [;
  [:!TC#Popen_bracket [:!Th]]                                                                      ;
  [:!TC#Pclose_bracket [:!Oc]]                                                                     ;
  ; [:!TC#Psemicolon []]                                                                           ;
  ; [:!TC#Pquote []]                                                                               ;
  ; [:!TC#Pbackslash []]                                                                           ;
  [:!TC#Pcomma [:!Sf1]]                                                                            ;
  [:!TC#Pperiod [:!Sf4]]                                                                           ;
  ; [:!TC#Pslash []]                                                                               ;

  [:!TC#Pdelete_or_backspace [:!Tl]]                                                               ;
  [:!TC#Preturn_or_enter [:!Tg]]                                                                   ;
  [:!TC#Pright_shift [:!Tj]]                                                                       ;
  [:!TC#Pright_option [:!Sf5]]                                                                     ;
  [:!TC#Pright_command [:!Sf6]]                                                                    ;
  [:!TC#Pspacebar [:!To]]                                                                          ;

  ; [:!TCleft_command [:term]]                                                      NOT AVAILABLE  ;
  ; [:!TC#Pleft_option [:term]]                                                                    ;
  ; [:!TCleft_control [:term]]                                                      NOT AVAILABLE  ;
  ; [:!TC#Pleft_shift [:term]]                                                                     ;
  ; [:!TC#Pcaps_lock [:term]]                                                                      ;
  ; [:!TC#Ptab [:term]]                                                                            ;
  ; [:!TC#Pnon_us_backslash [:term]]                                                               ;
  ; [:!TC#Pescape [:term]]                                                                         ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
