;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Fn
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Fn
{:des "Fn Mode - symbols"
 :rules
 [;
  [:!F#Popen_bracket [:!Of13]]                                                                     ;
  [:!F#Pclose_bracket [:!Of14]]                                                                    ;
  [:!F#Psemicolon [:!Of18]]                                                                        ;
  [:!F#Pquote [:!Of19]]                                                                            ;
  [:!F#Pbackslash [:!Of20]]                                                                        ;
  [:!F#Pcomma [:!OTf18]]                                                                           ;
  [:!F#Pperiod [:!OTf19]]                                                                          ;
  [:!F#Pslash [:!OTf20]]                                                                           ;

  [:!F#Pdelete_or_backspace [:!Tf11]]                                                              ;
  [:!F#Preturn_or_enter [:!Tf12]]                                                                  ;
  [:!F#Pright_shift [:!Tf13]]                                                                      ;
  [:!F#Pright_option [:!Tf18]]                                                                     ;
  [:!F#Pright_command [:!Tf19]]                                                                    ;
  [:!F#Pspacebar [:!Tf20]]                                                                         ;

  ; [:!F#Pleft_command []]                                                                         ;
  ; [:!F#Pleft_option []]                                                                          ;
  ; [:!F#Pleft_control []]                                                                         ;
  ; [:!F#Pleft_shift []]                                                                           ;
  ; [:!F#Pcaps_lock []]                                                                            ;
  ; [:!F#Ptab []]                                                                                  ;
  ; [:!F#Pnon_us_backslash []]                                                      NOT AVAILABLE  ;
  ; [:!F#Pescape []]                                                                               ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Fn
{:des "Fn Mode - numbers"
 :rules
 [;
  ; [:!F#Pkeypad_1 []]                                                                             ;
  ; [:!F#Pkeypad_2 []]                                                                             ;
  ; [:!F#Pkeypad_3 []]                                                                             ;
  ; [:!F#Pkeypad_4 []]                                                                             ;
  ; [:!F#Pkeypad_5 []]                                                                             ;
  ; [:!F#Pkeypad_6 []]                                                                             ;
  ; [:!F#Pkeypad_7 []]                                                                             ;
  ; [:!F#Pkeypad_8 []]                                                                             ;
  ; [:!F#Pkeypad_9 []]                                                                             ;
  ; [:!F#Pkeypad_0 []]                                                                             ;
  ; [:!F#Pkeypad_slash []]                                                                         ;
  ; [:!F#Pkeypad_asterisk []]                                                                      ;

  ; [:!F#P1 []]                                                                                    ;
  ; [:!F#P2 []]                                                                                    ;
  ; [:!F#P3 []]                                                                                    ;
  ; [:!F#P4 []]                                                                                    ;
  ; [:!F#P5 []]                                                                                    ;
  ; [:!F#P6 []]                                                                                    ;
  ; [:!F#P7 []]                                                                                    ;
  ; [:!F#P8 []]                                                                                    ;
  ; [:!F#P9 []]                                                                                    ;
  ; [:!F#P0 []]                                                                                    ;
  [:!F#Phyphen [:!Of11]]                                                                           ;
  [:!F#Pequal_sign [:!Of12]]                                                                       ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
