;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; key modifiers
{:des "Modifier key remappings"
 :rules
 [; quit
  [:!C#Pq [:!Cq ["command-q" 0]] ["command-q" 1]]                                                  ;
  [:!C#Pq ["command-q" 1] nil {:delayed {:invoked ["command-q" 0] :canceled ["commandq" 0]}}]      ;

  ; joker
  [:##caps_lock :!EWright_command nil {:alone :escape}]                                            ;

  ; hyper
  [:#Pq :!OTCright_shift nil {:alone :q}]                                                          ;

  ; grave
  [:#Pright_control :right_control nil {:alone [:f3]}]                                             ;

  ; modifiers
  [:#Pescape :!EWright_shift nil {:alone [:!EWRf3]}]                                               ;
  [:#Pdelete_or_backspace :!EQright_shift nil {:alone [:!EQRf3]}]                                  ;

  ; lefts
  ; TODO: update
  ; [:#Pleft_option :left_option nil {:alone []}]                                                  ;

  [:#Ptab :!WQright_shift nil {:alone [:tab]}]                                                     ;
  [:#Pleft_control :left_control nil {:alone [:!Tf3]}]                                             ;
  [:#Pleft_option :left_option nil {:alone [:!Otab]}]                                              ;
  [:#Pleft_command :left_command nil {:alone [:!Ctab]}]                                            ;

  ; rights
  [:#Pright_shift :right_shift nil {:alone [:!Sf3]}]                                               ;
  [:#Pright_option :right_option nil {:alone [:!Of3]}]                                             ;
  [:#Pright_command :right_command nil {:alone [:!Cf3]}]                                           ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; DOC: arrow - unmapped
; [ :!OTSpage_up ]                                                               ;
; [ :!OTSpage_down ]                                                             ;
; [ :!OTShome ]                                                             ;
; [ :!OTSend ]                                                            ;
; [ :!OTf13 ]                                                                ;
; [ :!OTSf13 ]                                                                ;
; [ :!OTf11 ]                                                                 ;
; [ :!OTf12 ]                                                                        ;
; [ :!OTf14 ]                                                                        ;
; [ :!OTSf11 ]                                                                        ;
; [ :!OTSf12 ]                                                                        ;
; [ :!WSpage_up ]                                                           ;
; [ :!WSpage_down ]                                                        ;
; [ :!WShome ]                                                                ;
; [ :!WSend ]                                                               ;

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
