;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CTL
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - numbers"
 :rules
 [;
  ; [:!T#Pkeypad_1 []]                                                                             ;
  ; [:!T#Pkeypad_2 []]                                                                             ;
  ; [:!T#Pkeypad_3 []]                                                                             ;
  ; [:!T#Pkeypad_4 []]                                                                             ;
  ; [:!T#Pkeypad_5 []]                                                                             ;
  ; [:!T#Pkeypad_6 []]                                                                             ;
  ; [:!T#Pkeypad_7 []]                                                                             ;
  ; [:!T#Pkeypad_8 []]                                                                             ;
  ; [:!T#Pkeypad_9 []]                                                                             ;
  ; [:!T#Pkeypad_0 []]                                                                             ;
  ; [:!T#Pkeypad_slash []]                                                                         ;
  ; [:!T#Pkeypad_asterisk []]                                                                      ;

  ; [:!T#P1 []]                                                                                    ;
  ; [:!T#P2 []]                                                                                    ;
  ; [:!T#P3 []]                                                                                    ;
  ; [:!T#P4 []]                                                                                    ;
  [:!T#P5 [:spacebar :!S5 :!S5 :spacebar]]                                     ; ' %% '            ;
  ; [:!T#P6 []]                                                                                    ;
  [:!T#P7 [:spacebar :!S7 :!S7 :spacebar]]                                     ; ' && '            ;
  ; [:!T#P8 []]                                                                                    ;
  [:!T#P9 [:!S9 :!S9]]                                                         ; '(('              ;
  [:!T#P0 [:!S0 :!S0]]                                                         ; '))'              ;
  [:!T#Phyphen [:spacebar :hyphen :hyphen :spacebar]]                          ; ' -- '            ;
  [:!T#Pequal_sign [:spacebar :!Sequal_sign :!Sequal_sign :spacebar]]          ; ' ++ '            ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - keypad"
 :rules
 [;
  ; [:!ST#Pkeypad_1 []]                                                                            ;
  ; [:!ST#Pkeypad_2 []]                                                                            ;
  ; [:!ST#Pkeypad_3 []]                                                                            ;
  ; [:!ST#Pkeypad_4 []]                                                                            ;
  [:!ST#Pkeypad_5 [:spacebar :period :!S5 :!S5 :spacebar]]                     ; ' .%% '           ;
  ; [:!ST#Pkeypad_6 []]                                                                            ;
  [:!ST#Pkeypad_7 [:spacebar :period :!S7 :!S7 :spacebar]]                     ; ' .&& '           ;
  ; [:!ST#Pkeypad_8 []]                                                                            ;
  ; [:!ST#Pkeypad_9 []]                                                                            ;
  ; [:!ST#Pkeypad_0 []]                                                                            ;
  ; [:!ST#Pkeypad_slash []]                                                                        ;
  ; [:!ST#Pkeypad_asterisk []]                                                                     ;

  ; [:!ST#P1 []]                                                                                   ;
  ; [:!ST#P2 []]                                                                                   ;
  ; [:!ST#P3 []]                                                                                   ;
  ; [:!ST#P4 []]                                                                                   ;
  ; [:!ST#P5 []]                                                                                   ;
  ; [:!ST#P6 []]                                                                                   ;
  ; [:!ST#P7 []]                                                                                   ;
  ; [:!ST#P8 []]                                                                                   ;
  ; [:!ST#P9 []]                                                                                   ;
  ; [:!ST#P0 []]                                                                                   ;
  [:!ST#Phyphen [:spacebar :period :hyphen :hyphen :spacebar]]                 ; ' .-- '           ;
  [:!ST#Pequal_sign [:spacebar :period :!Sequal_sign :!Sequal_sign :spacebar]] ; ' .++ '           ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - symbols"
 :rules
 [;
  [:!T#Popen_bracket [:open_bracket :open_bracket]]                            ; '[['              ;
  [:!T#Pclose_bracket [:close_bracket :close_bracket]]                         ; ']]'              ;
  [:!T#Psemicolon [:!Ssemicolon :!Ssemicolon]]                                 ; '::'              ;
  [:!T#Pquote [:quote :quote :quote]]                                          ; '''''             ;
  [:!T#Pbackslash [:spacebar :!Sbackslash :!Sbackslash :spacebar]]             ; ' || '            ;
  [:!T#Pcomma [:spacebar :!Scomma :!Scomma :spacebar]]                         ; ' << '            ;
  [:!T#Pperiod [:spacebar :!Speriod :!Speriod :spacebar]]                      ; ' >> '            ;
  [:!T#Pslash [:slash :slash :slash :spacebar]]                                ; '/// '            ;

  [:!T#Pdelete_or_backspace
   [:spacebar :equal_sign :equal_sign :equal_sign :spacebar]]                  ; ' === '           ;
  [:!T#Preturn_or_enter [:spacebar :!S1 :equal_sign :spacebar]]                ; ' != '            ;
  ; [:!T#Pright_shift []]                                                                          ;
  [:!T#Pright_option [:spacebar :!S8 :!S8 :spacebar]]                          ; ' ** '            ;
  [:!T#Pright_command [:spacebar :slash :slash :spacebar]]                     ; ' // '            ;
  ; [:!T#Pspacebar []]                                                                             ;

  ; [:!T#Pleft_command []]                                                                         ;
  ; [:!T#Pleft_option []]                                                                          ;
  ; [:!T#Pleft_control []]                                                          NOT AVAILABLE  ;
  ; [:!T#Pleft_shift []]                                                                           ;
  ; [:!T#Pcaps_lock []]                                                                            ;
  ; [:!T#Ptab []]                                                                                  ;
  ; [:!T#Pnon_us_backslash []]                                                                     ;
  ; [:!T#Pescape []]                                                                               ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control - shift
{:des "Control Mode - symbols"
 :rules
 [;
  [:!TS#Popen_bracket [:!Sopen_bracket :!Sopen_bracket]]                       ; '{{'              ;
  [:!TS#Pclose_bracket [:!Sclose_bracket :!Sclose_bracket]]                    ; '}}'              ;
  [:!TS#Psemicolon [:!Ssemicolon :!Ssemicolon :!Scomma]]                       ; '::<'             ;
  [:!TS#Pquote [:!Squote :!Squote :!Squote]]                                   ; '"""'             ;
  [:!TS#Pbackslash [:spacebar :period :!Sbackslash :!Sbackslash :spacebar]]    ; ' .|| '           ;
  [:!TS#Pcomma [:spacebar :!Scomma :!Scomma :!Scomma :spacebar]]               ; ' <<< '           ;
  [:!TS#Pperiod [:spacebar :!Speriod :!Speriod :!Speriod :spacebar]]           ; ' >>> '           ;
  ; [:!TS#Pslash []]                                                                               ;

  [:!TS#Pdelete_or_backspace
   [:spacebar :period :equal_sign :equal_sign :equal_sign :spacebar]]          ; ' .=== '          ;
  [:!TS#Preturn_or_enter [:spacebar :period :!S1 :equal_sign :spacebar]]       ; ' .!= '           ;
  ; [:!TS#Pright_shift []]                                                                         ;
  [:!TS#Pright_option [:spacebar :period :!S8 :!S8 :spacebar]]                 ; ' .** '           ;
  [:!TS#Pright_command [:spacebar :period :slash :slash :spacebar]]            ; ' .// '           ;
  ; [:!TS#Pspacebar []]                                                        ;                   ;

  ; [:!TS#Pleft_command []]                                                                        ;
  ; [:!TS#Pleft_option []]                                                                         ;
  ; [:!TS#Pleft_control []]                                                         NOT AVAILABLE  ;
  ; [:!TS#Pleft_shift []]                                                           NOT AVAILABLE  ;
  ; [:!TS#Pcaps_lock []]                                                                           ;
  ; [:!TS#Ptab []]                                                                                 ;
  ; [:!TS#Pnon_us_backslash []]                                                                    ;
  ; [:!TS#Pescape []]                                                                              ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
