;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CTL
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - arrow"
 :rules
 [;
  ; [:!T#Pleft_arrow [:term]]                                                                      ;
  ; [:!T#Pright_arrow [:term]]                                                                     ;
  ; [:!T#Pup_arrow [:term]]                                                                        ;
  ; [:!T#Pdown_arrow [:term]]                                                                      ;
 ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - arrow"
 :rules
 [;
  ; [:!TS#Pleft_arrow [:term]]                                                                     ;
  ; [:!TS#Pright_arrow [:term]]                                                                    ;
  ; [:!TS#Pup_arrow [:term]]                                                                       ;
  ; [:!TS#Pdown_arrow [:term]]                                                                     ;
 ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - symbols"
 :rules
 [;
  [:!T#Popen_bracket [:open_bracket :open_bracket]]                            ; '[['              ;
  [:!T#Pclose_bracket [:close_bracket :close_bracket]]                         ; ']]'              ;
  [:!T#Psemicolon [:!Ssemicolon :!Ssemicolon]]                                 ; '::'              ;
  [:!T#Pquote [:quote :quote :quote]]                                          ; '''''             ;
  [:!T#Pbackslash [:spacebar :!Sbackslash :!Sbackslash :spacebar]]             ; ' || '            ;
  [:!T#Pcomma [:spacebar :!Scomma :!Scomma :spacebar]]                         ; ' << '            ;
  [:!T#Pperiod [:spacebar :!Speriod :!Speriod :spacebar]]                      ; ' >> '            ;
  [:!T#Pslash [:slash :slash :slash :spacebar]]                                ; '/// '            ;

  [:!T#Pdelete_or_backspace [:!S1 :!S1]]                                       ; '!!'              ;
  [:!T#Preturn_or_enter [:spacebar :equal_sign :equal_sign :spacebar]]         ; ' == '            ;
  [:!T#Pright_shift [:spacebar :equal_sign :!Speriod :spacebar]]               ; ' => '            ;
  [:!T#Pright_option [:spacebar :!S8 :!S8 :spacebar]]                          ; ' ** '            ;
  [:!T#Pright_command [:spacebar :slash :slash :spacebar]]                     ; ' // '            ;
  ; [:!T#Pspacebar []]                                                                             ;

  ; [:!T#Pleft_command []]                                                                         ;
  ; [:!T#Pleft_option []]                                                                          ;
  ; [:!T#Pleft_control []]                                                          NOT AVAILABLE  ;
  ; [:!T#Pleft_shift []]                                                                           ;
  ; [:!T#Pcaps_lock []]                                                                            ;
  ; [:!T#Ptab []]                                                                                  ;
  ; [:!T#Pnon_us_backslash []]                                                                     ;
  ; [:!T#Pescape []]                                                                               ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control - shift
{:des "Control Mode - symbols"
 :rules
 [;
  [:!TS#Popen_bracket [:!Sopen_bracket :!Sopen_bracket]]                       ; '{{'              ;
  [:!TS#Pclose_bracket [:!Sclose_bracket :!Sclose_bracket]]                    ; '}}'              ;
  [:!TS#Psemicolon [:!Ssemicolon :!Ssemicolon :!Scomma]]                       ; '::<'             ;
  [:!TS#Pquote [:!Squote :!Squote :!Squote]]                                   ; '"""'             ;
  [:!TS#Pbackslash [:spacebar :period :!Sbackslash :!Sbackslash :spacebar]]    ; ' .|| '           ;
  [:!TS#Pcomma [:spacebar :!Scomma :!Scomma :!Scomma :spacebar]]               ; ' <<< '           ;
  [:!TS#Pperiod [:spacebar :!Speriod :!Speriod :!Speriod :spacebar]]           ; ' >>> '           ;
  [:!TS#Pslash [:slash :slash :slash :spacebar]]                               ; '/// '            ;

  ; [:!TS#Pdelete_or_backspace []]                                                                 ;
  [:!TS#Preturn_or_enter [:spacebar :period :equal_sign :equal_sign :spacebar]]; ' .== '           ;
  [:!TS#Pright_shift [:spacebar :period :equal_sign :!Speriod :spacebar]]      ; ' .=> '           ;
  [:!TS#Pright_option [:spacebar :period :!S8 :!S8 :spacebar]]                 ; ' .** '           ;
  [:!TS#Pright_command [:spacebar :period :slash :slash :spacebar]]            ; ' .// '           ;
  ; [:!TS#Pspacebar []]                                                                            ;

  ; [:!TS#Pleft_command []]                                                                        ;
  ; [:!TS#Pleft_option []]                                                                         ;
  ; [:!TS#Pleft_control []]                                                         NOT AVAILABLE  ;
  ; [:!TS#Pleft_shift []]                                                           NOT AVAILABLE  ;
  ; [:!TS#Pcaps_lock []]                                                                           ;
  ; [:!TS#Ptab []]                                                                                 ;
  ; [:!TS#Pnon_us_backslash []]                                                                    ;
  ; [:!TS#Pescape []]                                                                              ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control - shift
{:des "Control Mode - symbols"
 :rules
 [;
  ; [:!TEWQ#Popen_bracket []]                                                                      ;
  ; [:!TEWQ#Pclose_bracket []]                                                                     ;
  ; [:!TEWQ#Psemicolon []]                                                                         ;
  ; [:!TEWQ#Pquote []]                                                                             ;
  [:!TEWQ#Pbackslash [:!Sbackslash :!Sbackslash]]                              ; '||'              ;
  [:!TEWQ#Pcomma [:!Scomma :!Scomma]]                                          ; '<<'              ;
  [:!TEWQ#Pperiod [:!Speriod :!Speriod]]                                       ; '>>'              ;
  ; [:!TEWQ#Pslash []]                                                                             ;

  ; [:!TEWQ#Pdelete_or_backspace                                                                   ;
  [:!TEWQ#Preturn_or_enter [:spacebar :equal_sign :equal_sign :equal_sign :spacebar]] ; ' === '    ;
  ; [:!TEWQ#Pright_shift                                                                           ;
  [:!TEWQ#Pright_option [:!S8 :!S8]]                                           ; '**'              ;
  [:!TEWQ#Pright_command [:slash :slash]]                                      ; '//'              ;
  ; [:!TEWQ#Pspacebar []]                                                                          ;
 
  ; [:!TEWQ#Pleft_command []]                                                                      ;
  ; [:!TEWQ#Pleft_option []]                                                                       ;
  ; [:!TEWQ#Pleft_control []]                                                       NOT AVAILABLE  ;
  ; [:!TEWQ#Pleft_shift []]                                                                        ;
  ; [:!TEWQ#Pcaps_lock []]                                                          NOT AVAILABLE  ;
  ; [:!TEWQ#Ptab []]                                                                               ;
  ; [:!TEWQ#Pnon_us_backslash []]                                                                  ;
  ; [:!TEWQ#Pescape []]                                                                            ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - numbers"
 :rules
 [;
  ; [:!T#Pkeypad_1 []]                                                                             ;
  ; [:!T#Pkeypad_2 []]                                                                             ;
  ; [:!T#Pkeypad_3 []]                                                                             ;
  ; [:!T#Pkeypad_4 []]                                                                             ;
  ; [:!T#Pkeypad_5 []]                                                                             ;
  ; [:!T#Pkeypad_6 []]                                                                             ;
  ; [:!T#Pkeypad_7 []]                                                                             ;
  ; [:!T#Pkeypad_8 []]                                                                             ;
  ; [:!T#Pkeypad_9 []]                                                                             ;
  ; [:!T#Pkeypad_0 []]                                                                             ;
  ; [:!T#Pkeypad_slash []]                                                                         ;
  ; [:!T#Pkeypad_asterisk []]                                                                      ;

  ; [:!T#P1 []]                                                                                    ;
  ; [:!T#P2 []]                                                                                    ;
  ; [:!T#P3 []]                                                                                    ;
  ; [:!T#P4 []]                                                                                    ;
  [:!T#P5 [:spacebar :!S5 :!S5 :spacebar]]                                     ; ' %% '            ;
  ; [:!T#P6 []]                                                                                    ;
  [:!T#P7 [:spacebar :!S7 :!S7 :spacebar]]                                     ; ' && '            ;
  ; [:!T#P8 []]                                                                                    ;
  ; [:!T#P9 []]                                                                                    ;
  ; [:!T#P0 []]                                                                ;    REDUNDANT      ;
  [:!T#Phyphen [:spacebar :hyphen :hyphen :spacebar]]                          ; ' -- '            ;
  [:!T#Pequal_sign [:spacebar :!Sequal_sign :!Sequal_sign :spacebar]]          ; ' ++ '            ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - numbers"
 :rules
 [;
  ; [:!TS#Pkeypad_1 []]                                                                            ;
  ; [:!TS#Pkeypad_2 []]                                                                            ;
  ; [:!TS#Pkeypad_3 []]                                                                            ;
  ; [:!TS#Pkeypad_4 []]                                                                            ;
  ; [:!TS#Pkeypad_5 []]                                                                            ;
  ; [:!TS#Pkeypad_6 []]                                                                            ;
  ; [:!TS#Pkeypad_7 []]                                                                            ;
  ; [:!TS#Pkeypad_8 []]                                                                            ;
  ; [:!TS#Pkeypad_9 []]                                                                            ;
  ; [:!TS#Pkeypad_0 []]                                                                            ;
  ; [:!TS#Pkeypad_slash []]                                                                        ;
  ; [:!TS#Pkeypad_asterisk []]                                                                     ;

  ; [:!TS#P1 []]                                                                                   ;
  ; [:!TS#P2 []]                                                                                   ;
  ; [:!TS#P3 []]                                                                                   ;
  ; [:!TS#P4 []]                                                                                   ;
  [:!TS#P5 [:spacebar :period :!S5 :!S5 :spacebar]]                            ; ' .%% '           ;
  ; [:!TS#P6 []]                                                                                   ;
  [:!TS#P7 [:spacebar :period :!S7 :!S7 :spacebar]]                            ; ' .&& '           ;
  ; [:!TS#P8 []]                                                                                   ;
  [:!TS#P9 [:!S9 :!S9]]                                                        ; '(('              ;
  [:!TS#P0 [:!S0 :!S0]]                                                        ; '))'              ;
  [:!TS#Phyphen [:spacebar :period :hyphen :hyphen :spacebar]]                 ; ' .-- '           ;
  [:!TS#Pequal_sign [:spacebar :period :!Sequal_sign :!Sequal_sign :spacebar]] ; ' .++ '           ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - numbers"
 :rules
 [;
  ; [:!TEWQ#Pkeypad_1 []]                                                                          ;
  ; [:!TEWQ#Pkeypad_2 []]                                                                          ;
  ; [:!TEWQ#Pkeypad_3 []]                                                                          ;
  ; [:!TEWQ#Pkeypad_4 []]                                                                          ;
  ; [:!TEWQ#Pkeypad_5 []]                                                                          ;
  ; [:!TEWQ#Pkeypad_6 []]                                                                          ;
  ; [:!TEWQ#Pkeypad_7 []]                                                                          ;
  ; [:!TEWQ#Pkeypad_8 []]                                                                          ;
  ; [:!TEWQ#Pkeypad_9 []]                                                                          ;
  ; [:!TEWQ#Pkeypad_0 []]                                                                          ;
  ; [:!TEWQ#Pkeypad_slash []]                                                                      ;
  ; [:!TEWQ#Pkeypad_asterisk []]                                                                   ;

  ; [:!TEWQ#P1 []]                                                                                 ;
  ; [:!TEWQ#P2 []]                                                                                 ;
  ; [:!TEWQ#P3 []]                                                                                 ;
  ; [:!TEWQ#P4 []]                                                                                 ;
  ; [:!TEWQ#P5 []]                                                                                 ;
  ; [:!TEWQ#P6 []]                                                                                 ;
  ; [:!TEWQ#P7 []]                                                                                 ;
  ; [:!TEWQ#P8 []]                                                                                 ;
  ; [:!TEWQ#P9 []]                                                                                 ;
  ; [:!TEWQ#P0 []]                                                                                 ;
  [:!TEWQ#Phyphen [:hyphen :hyphen]]                                           ; '--'              ;
  [:!TEWQ#Pequal_sign [:!Sequal_sign :!Sequal_sign]]                           ; '++'              ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - alphabet"
 :rules
 [;
  [:!T#Pa [:!Ssemicolon :g :d :l :!Ssemicolon]]                                                    ;
  ; [:!T#Pb []]                                                                                    ;
  ; [:!T#Pc []]                                                                                    ;
  ; [:!T#PD []]                                                                                    ;
  ; [:!T#Pe []]                                                                                    ;
  ; [:!T#Pf []]                                                                                    ;
  ; [:!T#Pg []]                                                                                    ;
  ; [:!T#Ph []]                                                                                    ;
  [:!T#Pi [:!Ssemicolon :i :d :!Ssemicolon]]                                                       ;
  ; [:!T#Pj []]                                                                                    ;
  ; [:!T#Pk []]                                                                                    ;
  ; [:!T#Pl []]                                                                                    ;
  [:!T#Pm [:!Ssemicolon :m :a :i :l :!Ssemicolon]]                                                 ;
  [:!T#Pn [:!Ssemicolon :n :a :m :e :!Ssemicolon]]                                                 ;
  ; [:!T#Po []]                                                                                    ;
  [:!T#Pp [:!Ssemicolon :p :h :o :n :e :!Ssemicolon]]                                              ;
  ; [:!T#Pq []]                                                                                    ;
  ; [:!T#Pr []]                                                                                    ;
  [:!T#Ps [:!Ssemicolon :s :i :g :!Ssemicolon]]                                                    ;
  ; [:!T#Pt []]                                                                                    ;
  ; [:!T#Pu []]                                                                                    ;
  ; [:!T#Pv []]                                                                                    ;
  ; [:!T#Pw []]                                                                                    ;
  ; [:!T#Px []]                                                                                    ;
  ; [:!T#Py []]                                                                                    ;
  ; [:!T#Pz []]                                                                                    ;
  ; [:!T#Pright_control []]                                                                        ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - alphabet"
 :rules
 [;
  ; [:!TS#Pa []]                                                                                   ;
  ; [:!TS#Pb []]                                                                                   ;
  ; [:!TS#Pc []]                                                                                   ;
  ; [:!TS#Pd []]                                                                                   ;
  ; [:!TS#Pe []]                                                                                   ;
  ; [:!TS#Pf []]                                                                                   ;
  ; [:!TS#Pg []]                                                                                   ;
  ; [:!TS#Ph []]                                                                                   ;
  ; [:!TS#Pi []]                                                                                   ;
  ; [:!TS#Pj []]                                                                                   ;
  ; [:!TS#Pk []]                                                                                   ;
  ; [:!TS#Pl []]                                                                                   ;
  [:!TS#Pm [:!Ssemicolon :g :m :a :i :l :!Ssemicolon]]                                             ;
  [:!TS#Pn [:!Ssemicolon :d :r :!Ssemicolon]]                                                      ;
  ; [:!TS#Po []]                                                                                   ;
  ; [:!TS#Pp []]                                                                                   ;
  ; [:!TS#Pq []]                                                                                   ;
  ; [:!TS#Pr []]                                                                                   ;
  ; [:!TS#Ps []]                                                                                   ;
  ; [:!TS#Pt []]                                                                                   ;
  ; [:!TS#Pu []]                                                                                   ;
  ; [:!TS#Pv []]                                                                                   ;
  ; [:!TS#Pw []]                                                                                   ;
  ; [:!TS#Px []]                                                                                   ;
  ; [:!TS#Py []]                                                                                   ;
  ; [:!TS#Pz []]                                                                                   ;
  ; [:!TS#Pright_control []]                                                                       ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - alphabet"
 :rules
 [;
  ; [:!TEWQ#Pa []]                                                                                 ;
  ; [:!TEWQ#Pb []]                                                                                 ;
  ; [:!TEWQ#Pc []]                                                                                 ;
  ; [:!TEWQ#Pd []]                                                                                 ;
  ; [:!TEWQ#Pe []]                                                                                 ;
  ; [:!TEWQ#Pf []]                                                                                 ;
  ; [:!TEWQ#Pg []]                                                                                 ;
  ; [:!TEWQ#Ph []]                                                                                 ;
  ; [:!TEWQ#Pi []]                                                                                 ;
  ; [:!TEWQ#Pj []]                                                                                 ;
  ; [:!TEWQ#Pk []]                                                                                 ;
  ; [:!TEWQ#Pl []]                                                                                 ;
  ; [:!TEWQ#Pm []]                                                                                 ;
  ; [:!TEWQ#Pn []]                                                                                 ;
  ; [:!TEWQ#Po []]                                                                                 ;
  ; [:!TEWQ#Pp []]                                                                                 ;
  ; [:!TEWQ#Pq []]                                                                                 ;
  ; [:!TEWQ#Pr []]                                                                                 ;
  ; [:!TEWQ#Ps []]                                                                                 ;
  ; [:!TEWQ#Pt []]                                                                                 ;
  ; [:!TEWQ#Pu []]                                                                                 ;
  ; [:!TEWQ#Pv []]                                                                                 ;
  ; [:!TEWQ#Pw []]                                                                                 ;
  ; [:!TEWQ#Px []]                                                                                 ;
  ; [:!TEWQ#Py []]                                                                                 ;
  ; [:!TEWQ#Pz []]                                                                                 ;
  ; [:!TEWQ#Pright_control []]                                                                     ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
