;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CTL
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - numbers"
 :rules
 [;
  ; [:!T#keypad_1 []]                                                                              ;
  ; [:!T#keypad_2 []]                                                                              ;
  ; [:!T#keypad_3 []]                                                                              ;
  ; [:!T#keypad_4 []]                                                                              ;
  ; [:!T#keypad_5 []]                                                                              ;
  ; [:!T#keypad_6 []]                                                                              ;
  ; [:!T#keypad_7 []]                                                                              ;
  ; [:!T#keypad_8 []]                                                                              ;
  ; [:!T#keypad_9 []]                                                                              ;
  ; [:!T#keypad_0 []]                                                                              ;
  ; [:!T#keypad_slash []]                                                                          ;
  ; [:!T#keypad_asterisk []]                                                                       ;

  ; [:!T#1 []]                                                                                     ;
  ; [:!T#2 []]                                                                                     ;
  ; [:!T#3 []]                                                                                     ;
  ; [:!T#4 []]                                                                                     ;
  ; [:!T#5 []]                                                                                     ;
  ; [:!T#6 []]                                                                                     ;
  ; [:!T#7 []]                                                                                     ;
  ; [:!T#8 []]                                                                                     ;
  ; [:!T#9 []]                                                                                     ;
  ; [:!T#0 []]                                                                                     ;
  [:!T#Phyphen [:spacebar :hyphen :hyphen :spacebar]]                          ; ' -- '            ;
  [:!T#Pequal_sign [:spacebar :!Sequal_sign :!Sequal_sign :spacebar]]          ; ' ++ '            ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - keypad"
 :rules
 [;
  ; [:!ST#keypad_1 []]                                                                             ;
  ; [:!ST#keypad_2 []]                                                                             ;
  ; [:!ST#keypad_3 []]                                                                             ;
  ; [:!ST#keypad_4 []]                                                                             ;
  ; [:!ST#keypad_5 []]                                                                             ;
  ; [:!ST#keypad_6 []]                                                                             ;
  ; [:!ST#keypad_7 []]                                                                             ;
  ; [:!ST#keypad_8 []]                                                                             ;
  ; [:!ST#keypad_9 []]                                                                             ;
  ; [:!ST#keypad_0 []]                                                                             ;
  ; [:!ST#keypad_slash []]                                                                         ;
  ; [:!ST#keypad_asterisk []]                                                                      ;

  ; [:!ST#1 []]                                                                                    ;
  ; [:!ST#2 []]                                                                                    ;
  ; [:!ST#3 []]                                                                                    ;
  ; [:!ST#4 []]                                                                                    ;
  ; [:!ST#5 []]                                                                                    ;
  ; [:!ST#6 []]                                                                                    ;
  ; [:!ST#7 []]                                                                                    ;
  ; [:!ST#8 []]                                                                                    ;
  ; [:!ST#9 []]                                                                                    ;
  ; [:!ST#0 []]                                                                                    ;
  [:!ST#Phyphen [:spacebar :period :hyphen :hyphen :spacebar]]                 ; ' .-- '           ;
  [:!ST#Pequal_sign [:spacebar :period :!Sequal_sign :!Sequal_sign :spacebar]] ; ' .++ '           ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - symbols"
 :rules
 [;
  ; [:!T#Popen_bracket []]                                                                         ;
  ; [:!T#Pclose_bracket []]                                                                        ;
  [:!T#Psemicolon [:spacebar :!S7 :!S7 :spacebar]]                             ; ' && '            ;
  [:!T#Pquote [:quote :quote :quote]]                                          ; '''''             ;
  [:!T#Pbackslash [:spacebar :!Sbackslash :!Sbackslash :spacebar]]             ; ' || '            ;
  [:!T#Pcomma [:spacebar :!Scomma :!Scomma :spacebar]]                         ; ' << '            ;
  [:!T#Pperiod [:spacebar :!Speriod :!Speriod :spacebar]]                      ; ' >> '            ;
  [:!T#Pslash [:spacebar :!S5 :!S5 :spacebar]]                                 ; ' %% '            ;

  [:!T#Pdelete_or_backspace
   [:spacebar :equal_sign :equal_sign :equal_sign :spacebar]]                  ; ' === '           ;
  [:!T#Preturn_or_enter [:spacebar :!S1 :equal_sign :spacebar]]                ; ' != '            ;
  [:!T#Pright_shift [:!Ssemicolon :!Ssemicolon]]                               ; '::'              ;
  [:!T#Pright_option [:spacebar :!S8 :!S8 :spacebar]]                          ; ' ** '            ;
  [:!T#Pright_command [:spacebar :slash :slash :spacebar]]                     ; ' // '            ;
  ; [:!T#Pspacebar []]                                                              DEFAULT        ;

  ; [:!T#Pleft_command []]                                                                         ;
  ; [:!T#Pleft_option []]                                                                          ;
  ; [:!T#Pleft_control []]                                                          NOT AVAILABLE  ;
  ; [:!T#Pleft_shift []]                                                                           ;
  ; [:!T#Pcaps_lock []]                                                                            ;
  ; [:!T#Ptab []]                                                                                  ;
  ; [:!T#Pnon_us_backslash []]                                                                     ;
  ; [:!T#Pescape []]                                                                               ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control - shift
{:des "Control Mode - symbols"
 :rules
 [;
  ; [:!TS#Popen_bracket []]                                                    ;                   ;
  ; [:!TS#Pclose_bracket []]                                                   ;                   ;
  [:!TS#Psemicolon [:spacebar :period :!S7 :!S7 :spacebar]]                    ; ' .&& '           ;
  [:!TS#Pquote [:!Squote :!Squote :!Squote]]                                   ; '"""'             ;
  [:!TS#Pbackslash [:spacebar :period :!Sbackslash :!Sbackslash :spacebar]]    ; ' .|| '           ;
  [:!TS#Pcomma [:spacebar :!Scomma :!Scomma :!Scomma :spacebar]]               ; ' <<< '           ;
  [:!TS#Pperiod [:spacebar :!Speriod :!Speriod :!Speriod :spacebar]]           ; ' >>> '           ;
  [:!TS#Pslash [:spacebar :period :!S5 :!S5 :spacebar]]                        ; ' .%% '           ;

  [:!TS#Pdelete_or_backspace
   [:spacebar :period :equal_sign :equal_sign :equal_sign :spacebar]]          ; ' .=== '          ;
  [:!TS#Preturn_or_enter [:spacebar :period :!S1 :equal_sign :spacebar]]       ; ' .!= '           ;
  [:!TS#Pright_shift [:!Ssemicolon :!Ssemicolon :!Scomma]]                     ; '::<'             ;
  [:!TS#Pright_option [:spacebar :period :!S8 :!S8 :spacebar]]                 ; ' .** '           ;
  [:!TS#Pright_command [:spacebar :period :slash :slash :spacebar]]            ; ' .// '           ;
  ; [:!TS#Pspacebar []]                                                        ;                   ;

  ; [:!TS#Pleft_command []]                                                                        ;
  ; [:!TS#Pleft_option []]                                                                         ;
  ; [:!TS#Pleft_control []]                                                         NOT AVAILABLE  ;
  ; [:!TS#Pleft_shift []]                                                           NOT AVAILABLE  ;
  ; [:!TS#Pcaps_lock []]                                                                           ;
  ; [:!TS#Ptab []]                                                                                 ;
  ; [:!TS#Pnon_us_backslash []]                                                                    ;
  ; [:!TS#Pescape []]                                                                              ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
