;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; SHIFT
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; shift
{:des "Shift Mode - symbols"
 :rules
 [;
  ; [:!S#Phyphen []]                                                                               ;
  ; [:!S#Pequal_sign []]                                                                           ;
  ; [:!S#Popen_bracket []]                                                                         ;
  ; [:!S#Pclose_bracket []]                                                                        ;
  ; [:!S#Psemicolon []]                                                                            ;
  ; [:!S#Pquote []]                                                                                ;
  ; [:!S#Pbackslash []]                                                                            ;
  ; [:!S#Pcomma []]                                                                                ;
  ; [:!S#Pperiod []]                                                                               ;
  ; [:!S#Pslash []]                                                                                ;

  ; [:!S#Pdelete_or_backspace []]                                                                  ;
  ; [:!S#Preturn_or_enter []]                                                                      ;
  [:!S#Pright_shift :delete_forward]                                                               ;
  [:!S#Pright_option :!Od [:term]]                                                                 ;
  [:!S#Pright_command :!Tk [:term]]                                                                ;
  [:!S#Pspacebar :!Tv [:term]]                                                                     ;

  ; [:!S#Pleft_command []]                                                          UNMAPPED       ;
  ; [:!S#Pleft_option []]                                                           UNMAPPED       ;
  ; [:!S#Pleft_control []]                                                          UNMAPPED       ;
  ; [:!S#Pleft_shift []]                                                            NOT AVAILABLE  ;
  ; [:!S#Pcaps_lock []]                                                             UNMAPPED       ;
  ; [:!S#Ptab []]                                                                   UNMAPPED       ;
  ; [:!S#Pnon_us_backslash []]                                                      UNMAPPED       ;
  ; [:!S#Pescape []]                                                                UNMAPPED       ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
