;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; additional
{:des "Additional key - MacPro"
 :rules
 [:pro
  [:#Pnon_us_backslash :fn nil {:alone [:0]}]                                  ;                   ;
  [:!S#Pnon_us_backslash :!Sgrave_accent_and_tilde]                            ; '~'               ;
  [:#P0 :grave_accent_and_tilde]                                               ; '`'               ;
  [:!T#P0
   [:grave_accent_and_tilde :grave_accent_and_tilde :grave_accent_and_tilde]]  ; '```'             ;
  [:!O#Pnon_us_backslash [:spacebar :!Sgrave_accent_and_tilde :spacebar]]      ; ' ~ '             ;
  [:!T#Pnon_us_backslash
   [:spacebar :equal_sign :!Sgrave_accent_and_tilde :spacebar]]                ; ' =~ '            ;
  ]}

; additional
{:des "Additional keys - Master"
 :rules
 [:master
  [:#Pnon_us_backslash :fn nil {:alone [:0]}]                                  ;                   ;
  [:!S#Pnon_us_backslash :!Sgrave_accent_and_tilde]                            ; '~'               ;
  [:#P0 :grave_accent_and_tilde]                                               ; '`'               ;
  [:!T#P0
   [:grave_accent_and_tilde :grave_accent_and_tilde :grave_accent_and_tilde]]  ; '```'             ;
  [:!O#Pnon_us_backslash [:spacebar :!Sgrave_accent_and_tilde :spacebar]]      ; ' ~ '             ;
  [:!T#Pnon_us_backslash
   [:spacebar :equal_sign :!Sgrave_accent_and_tilde :spacebar]]                ;' =~ '             ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; simple
{:des "Simple modifications"
 :rules
 [;
  [:#Pkeypad_hyphen :mute]                                                                         ;
  [:#Pkeypad_plus :volume_increment]                                                               ;
  [:#Pkeypad_enter :volume_decrement]                                                              ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
