;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{:Default
 {:default true
  :sim     50      ; simultaneous_threshold_milliseconds (def: 50)                                 ;
                   ; keys need to be pressed within this threshold to be considered simultaneous   ;
  :delay   500     ; to_delayed_action_delay_milliseconds (def: 500)                               ;
                   ; basically it means time after which the key press is count delayed            ;
  :alone   1000    ; to_if_alone_timeout_milliseconds (def: 1000)                                  ;
                   ; hold for 995s and single tap registered; hold for 1005s and seen as modifier  ;
  :held    500     ; to_if_held_down_threshold_milliseconds (def: 500)                             ;
                   ; key is fired twice when 500 ms is elapsed (otherwise seen as a hold command)  ;
  }}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

:applications
{;
 :browser ["org.mozilla.firefox", "com.google.Chrome"]                                             ;
 :mail ["canary"]                                                                                  ;
 :editor ["lapce", "zed", "alacritty"]                                                             ;
 :gui ["lapce", "zed"]                                                                             ;
 :term ["alacritty"]                                                                               ;
 :lapce ["lapce"]                                                                                  ;
 :zed ["zed"]                                                                                      ;
 }

:devices
{;
 :pro [{:vendor_id 1452 :product_id 832}]                                                          ;
 :master [{:vendor_id 1133 :product_id 45915}]                                                     ;
 }

:templates
{;
 :launch "osascript -e 'tell application \"%s\" to activate'"                                      ;
 }

:layers
{;
 :zero-mode {:key :keypad_num_lock}                                                                ;
 }

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
