;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Q => SOTC
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; hyper Q
{:des "Hyper Q - alphabet"
 :rules
 [;
  ; [:!SOTC#Pa []]                                                                                 ;
  ; [:!SOTC#Pb []]                                                                                 ;
  ; [:!SOTC#Pc []]                                                                                 ;
  ; [:!SOTC#Pd []]                                                                                 ;
  ; [:!SOTC#Pe []]                                                                                 ;
  ; [:!SOTC#Pf []]                                                                                 ;
  ; [:!SOTC#Pg []]                                                                                 ;
  ; [:!SOTC#Ph []]                                                                                 ;
  ; [:!SOTC#Pi []]                                                                                 ;
  ; [:!SOTC#Pj []]                                                                                 ;
  ; [:!SOTC#Pk []]                                                                                 ;
  ; [:!SOTC#Pl []]                                                                                 ;
  ; [:!SOTC#Pm []]                                                                                 ;
  ; [:!SOTC#Pn []]                                                                                 ;
  ; [:!SOTC#Po []]                                                                                 ;
  ; [:!SOTC#Pp []]                                                                                 ;
  ; [:!SOTC#Pq []]                                                                  NOT AVAILABLE  ;
  ; [:!SOTC#Pr []]                                                                                 ;
  ; [:!SOTC#Ps []]                                                                                 ;
  ; [:!SOTC#Pt []]                                                                                 ;
  ; [:!SOTC#Pu []]                                                                                 ;
  ; [:!SOTC#Pv []]                                                                                 ;
  ; [:!SOTC#Pw []]                                                                                 ;
  ; [:!SOTC#Px []]                                                                                 ;
  ; [:!SOTC#Py []]                                                                                 ;
  ; [:!SOTC#Pz []]                                                                                 ;
  ; [:!SOTC#Pright_control []]                                                                     ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; hyper Q
{:des "Hyper Q - symbols"
 :rules
 [;
  ; [:!SOTC#Phyphen []]                                                                            ;
  ; [:!SOTC#Pequal_sign []]                                                                        ;
  ; [:!SOTC#Popen_bracket []]                                                                      ;
  ; [:!SOTC#Pclose_bracket []]                                                                     ;
  [:!SOTC#Psemicolon [:launch "Microsoft PowerPoint"]]                                             ;
  [:!SOTC#Pquote [:launch "Microsoft Excel"]]                                                      ;
  [:!SOTC#Pbackslash [:launch "Microsoft Word"]]                                                   ;
  ; [:!SOTC#Pcomma []]                                                              COLLISION      ;
  ; [:!SOTC#Pperiod []]                                                             COLLISION      ;
  [:!SOTC#Pslash [:launch "Canary Mail"]]                                                          ;

  [:!SOTC#Pdelete_or_backspace [:launch "Lapce"]]                                                  ;
  [:!SOTC#Preturn_or_enter [:launch "Alacritty"]]                                                  ;
  [:!SOTC#Pright_shift [:launch "Zed"]]                                                            ;
  [:!SOTC#Pright_option [:launch "Chrome"]]                                                        ;
  [:!SOTC#Pright_command [:launch "Firefox"]]                                                      ;
  ; [:!SOTC#Pspacebar []]                                                           COLLISION      ;

  ; [:!SOTC#Pleft_command []]                                                                      ;
  ; [:!SOTC#Pleft_option []]                                                                       ;
  ; [:!SOTC#Pleft_control []]                                                                      ;
  ; [:!SOTC#Pleft_shift []]                                                                        ;
  ; [:!SOTC#Pcaps_lock []]                                                                         ;
  ; [:!SOTC#Ptab []]                                                                               ;
  ; [:!SOTC#Pnon_us_backslash []]                                                                  ;
  ; [:!SOTC#Pescape []]                                                                            ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
