;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Q => ROTC
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; hyper Q
{:des "Hyper Q - alphabet"
 :rules
 [;
  ; [:!ROTC#Pa []]                                                                                 ;
  ; [:!ROTC#Pb []]                                                                                 ;
  ; [:!ROTC#Pc []]                                                                                 ;
  ; [:!ROTC#Pd []]                                                                                 ;
  ; [:!ROTC#Pe []]                                                                                 ;
  ; [:!ROTC#Pf []]                                                                                 ;
  ; [:!ROTC#Pg []]                                                                                 ;
  ; [:!ROTC#Ph []]                                                                                 ;
  ; [:!ROTC#Pi []]                                                                                 ;
  ; [:!ROTC#Pj []]                                                                                 ;
  ; [:!ROTC#Pk []]                                                                                 ;
  ; [:!ROTC#Pl []]                                                                                 ;
  ; [:!ROTC#Pm []]                                                                                 ;
  ; [:!ROTC#Pn []]                                                                                 ;
  ; [:!ROTC#Po []]                                                                                 ;
  ; [:!ROTC#Pp []]                                                                                 ;
  ; [:!ROTC#Pq []]                                                                  NOT AVAILABLE  ;
  ; [:!ROTC#Pr []]                                                                                 ;
  ; [:!ROTC#Ps []]                                                                                 ;
  ; [:!ROTC#Pt []]                                                                                 ;
  ; [:!ROTC#Pu []]                                                                                 ;
  ; [:!ROTC#Pv []]                                                                                 ;
  ; [:!ROTC#Pw []]                                                                                 ;
  ; [:!ROTC#Px []]                                                                                 ;
  ; [:!ROTC#Py []]                                                                                 ;
  ; [:!ROTC#Pz []]                                                                                 ;
  ; [:!ROTC#Pright_control []]                                                                     ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; hyper Q
{:des "Hyper Q - symbols"
 :rules
 [;
  ; [:!ROTC#Phyphen []]                                                                            ;
  ; [:!ROTC#Pequal_sign []]                                                                        ;
  ; [:!ROTC#Popen_bracket []]                                                                      ;
  ; [:!ROTC#Pclose_bracket []]                                                                     ;
  [:!ROTC#Psemicolon [:launch "Microsoft PowerPoint"]]                                             ;
  [:!ROTC#Pquote [:launch "Microsoft Excel"]]                                                      ;
  [:!ROTC#Pbackslash [:launch "Microsoft Word"]]                                                   ;
  ; [:!ROTC#Pcomma []]                                                              COLLISION      ;
  ; [:!ROTC#Pperiod []]                                                             COLLISION      ;
  [:!ROTC#Pslash [:launch "Skim"]]                                                                 ;

  [:!ROTC#Pdelete_or_backspace [:launch "Firefox"]]                                                ;
  [:!ROTC#Preturn_or_enter [:launch "Alacritty"]]                                                  ;
  [:!ROTC#Pright_shift [:launch "Canary Mail"]]                                                    ;
  [:!ROTC#Pright_option [:launch "Lapce"]]                                                         ;
  [:!ROTC#Pright_command [:launch "Zed"]]                                                          ;
  ; [:!ROTC#Pspacebar []]                                                           COLLISION      ;

  ; [:!ROTC#Pleft_command []]                                                                      ;
  ; [:!ROTC#Pleft_option []]                                                                       ;
  ; [:!ROTC#Pleft_control []]                                                                      ;
  ; [:!ROTC#Pleft_shift []]                                                                        ;
  ; [:!ROTC#Pcaps_lock []]                                                                         ;
  ; [:!ROTC#Ptab []]                                                                               ;
  ; [:!ROTC#Pnon_us_backslash []]                                                                  ;
  ; [:!ROTC#Pescape []]                                                                            ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; hyper Q
{:des "Funciton keys"
:rules
[;
  [:f1 :!ROTCkeypad_1]
  [:f2 :!ROTCkeypad_2]
  [:f3 :!ROTCkeypad_3]
  [:f4 :!ROTCkeypad_4]
  [:f5 :!ROTCkeypad_5]
  [:f6 :!ROTCkeypad_6]
  [:f7 :!ROTCkeypad_7]
  [:f8 :!ROTCkeypad_8]
  [:f9 :!ROTCkeypad_9]
]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
