;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CMD
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; command
{:des "Command Mode - alphabet"
 :rules
 [;
  [:!Q#Pa [:semicolon :semicolon :a]]                      ; αλφα              ; 'α'               ;
  [:!Q#Pb [:semicolon :semicolon :b]]                      ; βητα              ; 'β'               ;
  [:!Q#Pc [:semicolon :semicolon :c]]                      ; σιγμα             ; 'ς'               ;
  [:!Q#Pd [:semicolon :semicolon :d]]                      ; δελτα             ; 'δ'               ;
  [:!Q#Pe [:semicolon :semicolon :e]]                      ; εψιλον            ; 'ε'               ;
  [:!Q#Pf [:semicolon :semicolon :f]]                      ; φι                ; 'φ'               ;
  [:!Q#Pg [:semicolon :semicolon :g]]                      ; γαμμα             ; 'γ'               ;
  [:!Q#Ph [:semicolon :semicolon :h]]                      ; ητα               ; 'η'               ;
  [:!Q#Pi [:semicolon :semicolon :i]]                      ; ιωτα              ; 'ι'               ;
  [:!Q#Pj [:semicolon :semicolon :j]]                      ; ξι                ; 'ξ'               ;
  [:!Q#Pk [:semicolon :semicolon :k]]                      ; καππα             ; 'κ'               ;
  [:!Q#Pl [:semicolon :semicolon :l]]                      ; λαμβδα            ; 'λ'               ;
  [:!Q#Pm [:semicolon :semicolon :m]]                      ; μυ                ; 'μ'               ;
  [:!Q#Pn [:semicolon :semicolon :n]]                      ; νυ                ; 'ν'               ;
  [:!Q#Po [:semicolon :semicolon :o]]                      ; ομικρον           ; 'ο'               ;
  [:!Q#Pp [:semicolon :semicolon :p]]                      ; πι                ; 'π'               ;
  ; [:!Q#Pq []]                                                                     DEFAULT        ;
  [:!Q#Pr [:semicolon :semicolon :r]]                      ; ρω                ; 'ρ'               ;
  [:!Q#Ps [:semicolon :semicolon :s]]                      ; σιγμα             ; 'σ'               ;
  [:!Q#Pt [:semicolon :semicolon :t]]                      ; ταυ               ; 'τ'               ;
  [:!Q#Pu [:semicolon :semicolon :u]]                      ; θητα              ; 'Θ'               ;
  [:!Q#Pv [:semicolon :semicolon :v]]                      ; ωμεγα             ; 'ω'               ;
  [:!Q#Pw [:semicolon :semicolon :w]]                      ; ψι                ; 'ψ'               ;
  [:!Q#Px [:semicolon :semicolon :x]]                      ; χι                ; 'χ'               ;
  [:!Q#Py [:semicolon :semicolon :y]]                      ; υψιλον            ; 'υ'               ;
  [:!Q#Pz [:semicolon :semicolon :z]]                      ; ζητα              ; 'ζ'               ;
  [:!Q#Pright_control [:semicolon :semicolon :q]]          ; κοππα             ; 'ϙ'               ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; command
{:des "Command Mode - alphabet"
 :rules
 [;
  [:!QR#Pa [:comma :comma :a]]                             ; a ogonek          ; 'ą'               ;
  [:!QR#Pb [:comma :comma :b]]                             ; eszett            ; 'ß'               ;
  [:!QR#Pc [:comma :comma :c]]                             ; c cedille         ; 'ç'               ;
  [:!QR#Pd [:comma :comma :d]]                             ; ΔEΛTA             ; 'Δ'               ;
  [:!QR#Pe [:comma :comma :e]]                             ; e ogonek          ; 'ę'               ;
  [:!QR#Pf [:comma :comma :f]]                             ; florin            ; 'ƒ'               ;
  [:!QR#Pg [:comma :comma :g]]                             ; e caron           ; 'ě'               ;
  [:!QR#Ph [:comma :comma :h]]                             ; cyrillic и        ; 'и'               ;
  [:!QR#Pi [:comma :comma :i]]                             ; i ogonek          ; 'į'               ;
  [:!QR#Pj [:comma :comma :j]]                             ; caret             ; 'ʌ'               ;
  [:!QR#Pk [:comma :comma :k]]                             ; phonetic ɒ        ; 'ɒ'               ;
  [:!QR#Pl [:comma :comma :l]]                             ; ΛAMBΔA            ; 'Λ'               ;
  [:!QR#Pm [:comma :comma :m]]                             ; meng              ; 'ɱ'               ;
  [:!QR#Pn [:comma :comma :n]]                             ; eng               ; 'ŋ'               ;
  [:!QR#Po [:comma :comma :o]]                             ; o ogonek          ; 'ǫ'               ;
  [:!QR#Pp [:comma :comma :p]]                             ; cyrillic п        ; 'п'               ;
  ; [:!QR#Pq []]                                                                    DEFAULT        ;
  [:!QR#Pr [:comma :comma :r]]                             ; cyrillic я        ; 'я'               ;
  [:!QR#Ps [:comma :comma :s]]                             ; ΣIΓMA             ; 'Σ'               ;
  ; [:!QR#Pt [:comma :comma :t]]                           ;                   ;                   ;
  [:!QR#Pu [:comma :comma :u]]                             ; u ogonek          ; 'ų'               ;
  [:!QR#Pv [:comma :comma :v]]                             ; ΩMEΓA             ; 'Ω'               ;
  [:!QR#Pw [:comma :comma :w]]                             ; eł                ; 'ł'               ;
  [:!QR#Px [:comma :comma :x]]                             ; yogh              ; 'ʒ'               ;
  [:!QR#Py [:comma :comma :y]]                             ; yen               ; '¥'               ;
  [:!QR#Pz [:comma :comma :z]]                             ; cyrillic з        ; 'з'               ;
  [:!QR#Pright_control [:comma :comma :q]]                 ; ø                 ; 'ø'               ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; command
{:des "Command Mode - symbols"
 :rules
 [;
  ; [:!Q#Phyphen []]                                                                               ;
  ; [:!Q#Pequal_sign []]                                                                           ;
  ; [:!Q#Popen_bracket []]                                                                         ;
  ; [:!Q#Pclose_bracket []]                                                                        ;
  ; [:!Q#Psemicolon []]                                                                            ;
  ; [:!Q#Pquote []]                                                                                ;
  ; [:!Q#Pbackslash []]                                                                            ;
  ; [:!Q#Pcomma []]                                                                                ;
  ; [:!Q#Pperiod []]                                                                               ;
  ; [:!Q#Pslash []]                                                                                ;

  ; [:!Q#Pdelete_or_backspace []]                                                                  ;
  ; [:!Q#Preturn_or_enter []]                                                                      ;
  ; [:!Q#Pright_shift []]                                                                          ;
  ; [:!Q#Pright_option []]                                                                         ;
  ; [:!Q#Pright_command []]                                                         NOT AVAILABLE  ;
  ; [:!Q#Pspacebar []]                                                                             ;

  ; [:!Q#Pleft_command []]                                                                         ;
  ; [:!Q#Pleft_option []]                                                                          ;
  ; [:!Q#Pleft_control []]                                                                         ;
  ; [:!Q#Pleft_shift []]                                                                           ;
  ; [:!Q#Pcaps_lock []]                                                                            ;
  ; [:!Q#Ptab []]                                                                                  ;
  ; [:!Q#Pnon_us_backslash []]                                                                     ;
  ; [:!Q#Pescape []]                                                                               ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
