;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CTL
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - symbols"
 :rules
 [;
  [:!W#Phyphen [:spacebar :hyphen :equal_sign :spacebar]]                      ; ' -= '            ;
  [:!W#Pequal_sign [:spacebar :!Sequal_sign :equal_sign :spacebar]]            ; ' += '            ;
  ; [:!OTC#Popen_bracket []]                                                                       ;
  ; [:!OTC#Pclose_bracket []]                                                                      ;
  [:!OTC#Psemicolon [:!S4 :!S9]]                                               ; '$('              ;
  [:!OTC#Pquote [:!S3 :open_bracket]]                                          ; '#['              ;
  [:!OTC#Pbackslash [:!S4 :!Sopen_bracket]]                                    ; '${'              ;
  [:!OTC#Pcomma [:comma :spacebar]]                                            ; ', '              ;
  [:!OTC#Pperiod [:semicolon :spacebar]]                                       ; '; '              ;
  [:!OTC#Pslash [:slash :slash :slash :spacebar]]                              ; '/// '            ;

  ; [:!W#Pdelete_or_backspace []]                                                                  ;
  [:!W#Preturn_or_enter [:spacebar :hyphen]]                                   ; ' -'              ;
  [:!W#Pright_shift [:period :period]]                                         ; '..'              ;
  [:!W#Pright_option [:spacebar :!S8 :equal_sign :spacebar]]                   ; ' *= '            ;
  [:!W#Pright_command [:spacebar :slash :equal_sign :spacebar]]                ; ' /= '            ;
  ; [:!W#Pspacebar []]                                                                             ;

  ; [:!W#Pleft_command []]                                                          UNMAPPED       ;
  ; [:!W#Pleft_option []]                                                           UNMAPPED       ;
  ; [:!W#Pleft_control []]                                                          UNMAPPED       ;
  ; [:!W#Pleft_shift []]                                                            NOT AVAILABLE  ;
  ; [:!W#Pcaps_lock []]                                                             UNMAPPED       ;
  ; [:!W#Ptab []]                                                                   UNMAPPED       ;
  ; [:!W#Pnon_us_backslash []]                                                      UNMAPPED       ;
  ; [:!W#Pescape []]                                                                UNMAPPED       ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - symbols"
 :rules
 [;
  [:!WS#Phyphen [:spacebar :period :hyphen :equal_sign :spacebar]]             ; ' .-= '           ;
  [:!WS#Pequal_sign [:spacebar :period :!Sequal_sign :equal_sign :spacebar]]   ; ' .+= '           ;
  ; [:!WS#Popen_bracket []]                                                                        ;
  ; [:!WS#Pclose_bracket []]                                                                       ;
  [:!WS#Psemicolon [:period :!S9]]                                             ; '.('              ;
  ; [:!WS#Psemicolon []]                                                                           ;
  ; [:!WS#Pquote []]                                                                               ;
  ; [:!WS#Pbackslash []]                                                                           ;
  [:!OTCS#Pcomma [:period :spacebar]]                                          ; '. '              ;
  [:!OTCS#Pperiod [:!Ssemicolon :spacebar]]                                    ; ': '              ;
  [:!OTCS#Pslash [:slash :slash :!S1 :spacebar]]                               ; '//! '            ;

  ; [:!WS#Pdelete_or_backspace []]                                                                 ;
  [:!WS#Preturn_or_enter [:spacebar :hyphen :hyphen]]                          ; ' --'             ;
  [:!WS#Pright_shift [:period :period :period]]                                ; '...'             ;
  [:!WS#Pright_option [:spacebar :period :!S8 :equal_sign :spacebar]]          ; ' .*= '           ;
  [:!WS#Pright_command [:spacebar :period :slash :equal_sign :spacebar]]       ; ' ./= '           ;
  ; [:!WS#Pspacebar []]                                                                            ;

  ; [:!WS#Pleft_command []]                                                         UNMAPPED       ;
  ; [:!WS#Pleft_option []]                                                          UNMAPPED       ;
  ; [:!WS#Pleft_control []]                                                         UNMAPPED       ;
  ; [:!WS#Pleft_shift []]                                                           NOT AVAILABLE  ;
  ; [:!WS#Pcaps_lock []]                                                            UNMAPPED       ;
  ; [:!WS#Ptab []]                                                                  UNMAPPED       ;
  ; [:!WS#Pnon_us_backslash []]                                                     UNMAPPED       ;
  ; [:!WS#Pescape []]                                                               UNMAPPED       ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
