;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CTL
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - alphabet"
 :rules
 [;
  ; [:!W#Pa []]                                                                ;                   ;
  [:!W#Pb [:b :e :g :i :n]]                                                    ; 'begin'           ;
  ; [:!W#Pc []]                                                                ;                   ;
  ; [:!W#Pd []]                                                                ;                   ;
  [:!W#Pe [:e :n :u :m]]                                                       ; 'enum'            ;
  [:!W#Pf [:f :u :n :c :t :i :o :n]]                                           ; 'function'        ;
  ; [:!W#Pg []]                                                                ;                   ;
  ; [:!W#Ph []]                                                                ;                   ;
  ; [:!W#Pi []]                                                                ;                   ;
  ; [:!W#Pj []]                                                                ;                   ;
  ; [:!W#Pk []]                                                                ;                   ;
  ; [:!W#Pl []]                                                                ;                   ;
  [:!W#Pm [:m :u :t :a :b :l :e]]                                              ; 'mutable'         ;
  [:!W#Pn [:e :n :d]]                                                          ; 'end'             ;
  ; [:!W#Po []]                                                                ;                   ;
  [:!W#Pp [:p :l :o :t]]                                                       ; 'plot'            ;
  ; [:!W#Pq []]                                                                ;                   ;
  ; [:!W#Pr []]                                                                ;                   ;
  [:!W#Ps [:s :t :r :u :c :t]]                                                 ; 'struct'          ;
  [:!W#Pt [:t :y :p :e]]                                                       ; 'type'            ;
  ; [:!W#Pu []]                                                                ;                   ;
  ; [:!W#Pv []]                                                                ;                   ;
  [:!W#Pw [:w :h :e :r :e :spacebar]]                                          ; 'where '          ;
  [:!W#Px [:e :x :i :t]]                                                       ; 'exit'            ;
  ; [:!W#Py []]                                                                ;                   ;
  [:!W#Pz [:w :h :i :c :h :spacebar]]                                          ; 'which '          ;
  ; [:!W#Pright_control []]                                                         NOT AVAILABLE  ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - symbols"
 :rules
 [;
  [:!W#Phyphen [:spacebar :hyphen :equal_sign :spacebar]]                      ; ' -= '            ;
  [:!W#Pequal_sign [:spacebar :!Sequal_sign :equal_sign :spacebar]]            ; ' += '            ;
  [:!W#Popen_bracket [:!S3 :open_bracket]]                                     ; '#['              ;
  [:!W#Pclose_bracket [:close_bracket :spacebar]]                              ; '] '              ;
  [:!W#Psemicolon [:semicolon :spacebar]]                                      ; '; '              ;
  ; [:!W#Pquote []]                                                            ;                   ;
  ; [:!W#Pbackslash []]                                                        ;                   ;
  [:!W#Pcomma [:comma :spacebar]]                                              ; ', '              ;
  ; [:!W#Pperiod []]                                                           ;                   ;
  [:!W#Pslash [:slash :slash :slash :spacebar]]                                ; '/// '            ;

  ; [:!W#Pdelete_or_backspace []]                                              ;                   ;
  [:!W#Preturn_or_enter [:spacebar :hyphen]]                                   ; ' -'              ;
  [:!W#Pright_shift [:period :period]]                                         ; '..'              ;
  [:!W#Pright_option [:spacebar :!S8 :equal_sign :spacebar]]                   ; ' *= '            ;
  [:!W#Pright_command [:spacebar :slash :equal_sign :spacebar]]                ; ' /= '            ;
  [:!W#Pspacebar :!OTf20 [:term]]                                              ;                   ;

  ; [:!W#Pleft_command []]                                                          UNMAPPED       ;
  ; [:!W#Pleft_option []]                                                           UNMAPPED       ;
  ; [:!W#Pleft_control []]                                                          UNMAPPED       ;
  ; [:!W#Pleft_shift []]                                                            UNMAPPED       ;
  ; [:!W#Pcaps_lock []]                                                             UNMAPPED       ;
  ; [:!W#Ptab []]                                                                   UNMAPPED       ;
  ; [:!W#Pnon_us_backslash []]                                                      UNMAPPED       ;
  ; [:!W#Pescape []]                                                                UNMAPPED       ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - alphabet"
 :rules
 [;
  ; [:!WS#Pa []]                                                               ;                   ;
  [:!WS#Pb [:!S#Pb :!Su :!Sg :!Ssemicolon :spacebar]]                          ; 'BUG:'            ;
  ; [:!WS#Pc []]                                                               ;                   ;
  [:!WS#Pd [:!S#Pd :!So :!Sc :!Ssemicolon :spacebar]]                          ; 'DOC:'            ;
  ; [:!WS#Pe []]                                                               ;                   ;
  [:!WS#Pf [:!S#Pf :!Si :!Sx :!Ssemicolon :spacebar]]                          ; 'FIX:'            ;
  ; [:!WS#Pg []]                                                               ;                   ;
  ; [:!WS#Ph []]                                                               ;                   ;
  [:!WS#Pi [:!S#Pi :!Sd :!Se :!Sa :!Ssemicolon :spacebar]]                     ; 'IDEA:'           ;
  ; [:!WS#Pj []]                                                               ;                   ;
  [:!WS#Pk [:!S#Pk :!Se :!Sy :!Ssemicolon :spacebar]]                          ; 'KEY: '           ;
  ; [:!WS#Pl []]                                                               ;                   ;
  [:!WS#Pm [:!Sf :l :o :a :t]]                                                 ;                   ;
  [:!WS#Pn [:!Si :n :t]]                                                       ;                   ;
  ; [:!WS#Po []]                                                               ;                   ;
  ; [:!WS#Pp []]                                                               ;                   ;
  ; [:!WS#Pq []]                                                               ;                   ;
  ; [:!WS#Pr []]                                                               ;                   ;
  [:!WS#Ps [:!Ss :t :r :i :n :g]]                                              ;                   ;
  [:!WS#Pt [:!S#Pt :!So :!Sd :!So :!Ssemicolon :spacebar]]                     ; 'TODO:'           ;
  ; [:!WS#Pu []]                                                               ;                   ;
  ; [:!WS#Pv []]                                                               ;                   ;
  [:!WS#Pw [:!S#Pw :!Si :!Sp :!Ssemicolon :spacebar]]                          ; 'WIP: '           ;
  ; [:!WS#Px []]                                                               ;                   ;
  ; [:!WS#Py []]                                                               ;                   ;
  ; [:!WS#Pz []]                                                               ;                   ;
  ; [:!WS#Pright_control []]                                                        NOT AVAILABLE  ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - symbols"
 :rules
 [;
  [:!WS#Phyphen [:spacebar :period :hyphen :equal_sign :spacebar]]             ; ' .-= '           ;
  [:!WS#Pequal_sign [:spacebar :period :!Sequal_sign :equal_sign :spacebar]]   ; ' .+= '           ;
  [:!WS#Popen_bracket [:!S#P4 :!Sopen_bracket]]                                ; '${'              ;
  [:!WS#Pclose_bracket [:!Sclose_bracket :spacebar]]                           ; '} '              ;
  [:!WS#Psemicolon [:!S#Psemicolon :spacebar]]                                 ; ': '              ;
  ; [:!WS#Pquote []]                                                           ;                   ;
  ; [:!WS#Pbackslash []]                                                       ;                   ;
  [:!WS#Pcomma [:period :spacebar]]                                            ; '. '              ;
  ; [:!WS#Pperiod []]                                                          ;                   ;
  [:!WS#Pslash [:slash :slash :!S1 :spacebar]]                                 ; '//! '            ;

  ; [:!WS#Pdelete_or_backspace []]                                             ;                   ;
  [:!WS#Preturn_or_enter [:spacebar :hyphen :hyphen]]                          ; ' --'             ;
  [:!WS#Pright_shift [:period :period :period]]                                ; '...'             ;
  [:!WS#Pright_option [:spacebar :period :!S8 :equal_sign :spacebar]]          ; ' .*= '           ;
  [:!WS#Pright_command [:spacebar :period :slash :equal_sign :spacebar]]       ; ' ./= '           ;
  ; [:!WS#Pspacebar []]                                                        ;                   ;
  
  ; [:!WS#Pleft_command []]                                                         UNMAPPED       ;
  ; [:!WS#Pleft_option []]                                                          UNMAPPED       ;
  ; [:!WS#Pleft_control []]                                                         UNMAPPED       ;
  ; [:!WS#Pleft_shift []]                                                           NOT AVAILABLE  ;
  ; [:!WS#Pcaps_lock []]                                                            UNMAPPED       ;
  ; [:!WS#Ptab []]                                                                  UNMAPPED       ;
  ; [:!WS#Pnon_us_backslash []]                                                     UNMAPPED       ;
  ; [:!WS#Pescape []]                                                               UNMAPPED       ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
