;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - alphabet"
 :rules
 [;
  ; [:#Pa [:term]]                                                                                 ;
  ; [:#Pb [:term]]                                                                                 ;
  ; [:#Pc [:term]]                                                                                 ;
  ; [:#Pd [:term]]                                                                                 ;
  ; [:#Pe [:term]]                                                                                 ;
  ; [:#Pf [:term]]                                                                                 ;
  ; [:#Pg [:term]]                                                                                 ;
  ; [:#Ph [:term]]                                                                                 ;
  ; [:#Pi [:term]]                                                                                 ;
  ; [:#Pj [:term]]                                                                                 ;
  ; [:#Pk [:term]]                                                                                 ;
  ; [:#Pl [:term]]                                                                                 ;
  ; [:#Pm [:term]]                                                                                 ;
  ; [:#Pn [:term]]                                                                                 ;
  ; [:#Po [:term]]                                                                                 ;
  ; [:#Pp [:term]]                                                                                 ;
  ; [:#Pq [:term]]                                                                                 ;
  ; [:#Pr [:term]]                                                                                 ;
  ; [:#Ps [:term]]                                                                                 ;
  ; [:#Pt [:term]]                                                                                 ;
  ; [:#Pu [:term]]                                                                                 ;
  ; [:#Pv [:term]]                                                                                 ;
  ; [:#Pw [:term]]                                                                                 ;
  ; [:#Px [:term]]                                                                                 ;
  ; [:#Py [:term]]                                                                                 ;
  ; [:#Pz [:term]]                                                                                 ;
  ; [:#Pkeypad_num_lock [:term]]                                                                   ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - symbols"
 :rules
 [;
  ; [:#Phyphen []]                                                                                 ;
  ; [:#Pequal_sign []]                                                                             ;
  ; [:#Popen_bracket []]                                                                           ;
  ; [:#Pclose_bracket []]                                                                          ;
  ; [:#Psemicolon []]                                                                              ;
  ; [:#Pquote []]                                                                                  ;
  ; [:#Pbackslash []]                                                                              ;
  ; [:#Pcomma []]                                                                                  ;
  ; [:#Pperiod []]                                                                                 ;
  ; [:#Pslash []]                                                                                  ;

  ; [:#Pdelete_or_backspace []]                                                                    ;
  ; [:#Preturn_or_enter []]                                                                        ;
  ; [:#Pright_shift []]                                                                            ;
  ; [:#Pright_option []]                                                                           ;
  ; [:#Pright_command []]                                                                          ;
  ; [:#Pspacebar []]                                                                               ;

  ; [:#Pleft_command []]                                                                           ;
  ; [:#Pleft_option []]                                                                            ;
  ; [:#Pleft_control []]                                                                           ;
  ; [:#Pleft_shift []]                                                                             ;
  ; [:#Pcaps_lock []]                                                                              ;
  ; [:#Ptab []]                                                                                    ;
  ; [:#Pnon_us_backslash []]                                                                       ;
  ; [:#Pescape []]                                                                                 ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
