;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; OPT
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option
{:des "Option Mode - symbols"
 :rules
 [;
  ; [:!E#Phyphen []]                                                                               ;
  ; [:!E#Pequal_sign []]                                                                           ;
  ; [:!E#Popen_bracket []]                                                                         ;
  ; [:!E#Pclose_bracket []]                                                                        ;
  ; [:!E#Psemicolon []]                                                                            ;
  ; [:!E#Pquote []]                                                                                ;
  ; [:!E#Pbackslash []]                                                                            ;
  ; [:!E#Pcomma []]                                                                                ;
  ; [:!E#Pperiod []]                                                                               ;
  ; [:!E#Pslash []]                                                                                ;

  ; [:!E#Pdelete_or_backspace []]                                                                  ;
  ; [:!E#Preturn_or_enter []]                                                                      ;
  ; [:!E#Pright_shift []]                                                                          ;
  ; [:!E#Pright_option []]                                                          NOT AVAILABLE  ;
  ; [:!E#Pright_command []]                                                         REDUNDANT      ;
  ; [:!E#Pspacebar []]                                                              REDUNDANT      ;

  ; [:!E#Pleft_command []]                                                          REDUNDANT      ;
  ; [:!E#Pleft_option []]                                                           REDUNDANT      ;
  ; [:!E#Pleft_control []]                                                          REDUNDANT      ;
  ; [:!E#Pleft_shift []]                                                            REDUNDANT      ;
  ; [:!E#Pcaps_lock []]                                                             REDUNDANT      ;
  ; [:!E#Ptab []]                                                                   REDUNDANT      ;
  ; [:!E#Pnon_us_backslash []]                                                      REDUNDANT      ;
  ; [:!E#Pescape []]                                                                REDUNDANT      ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option
{:des "Option Mode - alphabet"
 :rules
 [;
  ; [:!E#Pa []]                                                                ;                   ;
  [:!E#Pb [:b :e :g :i :n]]                                                    ; 'begin'           ;
  [:!E#Pc [:w :h :i :c :h]]                                                    ; 'which'           ;
  [:!E#Pd [:u :p :d :a :t :e]]                                                 ; 'update'          ;
  [:!E#Pe [:e :n :u :m]]                                                       ; 'enum'            ;
  [:!E#Pf [:f :u :n :c :t :i :o :n]]                                           ; 'function'        ;
  [:!E#Pg [:g :l :o :b :a :l]]                                                 ; 'global'          ;
  ; [:!E#Ph []]                                                                ;                   ;
  ; [:!E#Pi []]                                                                ;                   ;
  ; [:!E#Pj []]                                                                ;                   ;
  [:!E#Pk [:l :o :c :a :l]]                                                    ; 'local'           ;
  [:!E#Pl [:l :e :t]]                                                          ; 'let'             ;
  [:!E#Pm [:m :u :t :a :b :l :e]]                                              ; 'mutable'         ;
  [:!E#Pn [:e :n :d]]                                                          ; 'end'             ;
  ; [:!E#Po []]                                                                ;                   ;
  ; [:!E#Pp []]                                                                ;                   ;
  [:!E#Pq [:d :e :p :r :e :c :a :t :e]]                                        ; 'deprecate'       ;
  [:!E#Pr [:s :t :r :u :c :t]]                                                 ; 'struct'          ;
  [:!E#Ps [:s :t :r :i :n :g]]                                                 ; 'string'          ;
  [:!E#Pt [:t :e :s :t]]                                                       ; 'test'            ;
  [:!E#Pu [:u :s :i :n :g]]                                                    ; 'using'           ;
  [:!E#Pv [:w :h :i :l :e]]                                                    ; 'while'           ;
  [:!E#Pw [:w :h :e :r :e]]                                                    ; 'where'           ;
  [:!E#Px [:e :x :i :t]]                                                       ; 'exit'            ;
  [:!E#Py [:t :y :p :e]]                                                       ; 'type'            ;
  [:!E#Pz [:f :o :r]]                                                          ; 'for'             ;
  [:!E#Pright_control [:!Ssemicolon :i :n :!Ssemicolon]]                       ; ' ∈ '             ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option
{:des "Option Mode - alphabet"
 :rules
 [;
  [:!ER#Pa [:!Sa :n :y]]                                                       ; 'Any'             ;
  [:!ER#Pb [:!Sb :!Su :!Sg :!Ssemicolon :spacebar]]                            ; 'BUG: '           ;
  ; [:!ER#Pc []]                                                               ;                   ;
  [:!ER#Pd [:!Sd :!So :!Sc :!Ssemicolon :spacebar]]                            ; 'DOC: '           ;
  ; [:!ER#Pe []]                                                               ;                   ;
  [:!ER#Pf [:!Sd :a :t :a :!Sf :r :a :m :e]]                                   ; 'DataFrame'       ;
  ; [:!ER#Pg []]                                                               ;                   ;
  ; [:!ER#Ph []]                                                               ;                   ;
  [:!ER#Pi [:!Si :!Sd :!Se :!Sa :!Ssemicolon :spacebar]]                       ; 'IDEA: '          ;
  ; [:!ER#Pj []]                                                               ;                   ;
  [:!ER#Pk [:!Sk :!Se :!Sy :!Ssemicolon :spacebar]]                            ; 'KEY: '           ;
  [:!ER#Pl [:!Sn :!Su :!Sl :!Sl]]                                              ; 'NULL'            ;
  [:!ER#Pm [:!Sf :l :o :a :t :6 :4]]                                           ; 'Float64'         ;
  [:!ER#Pn [:!Si :n :t :6 :4]]                                                 ; 'Int64'           ;
  ; [:!ER#Po []]                                                               ;                   ;
  ; [:!ER#Pp []]                                                               ;                   ;
  ; [:!ER#Pq []]                                                               ;                   ;
  ; [:!ER#Pr []]                                                               ;                   ;
  [:!ER#Ps [:!Ss :t :r :i :n :g]]                                              ; 'String'          ;
  [:!ER#Pt [:!St :!So :!Sd :!So :!Ssemicolon :spacebar]]                       ; 'TODO: '          ;
  ; [:!ER#Pu []]                                                               ;                   ;
  [:!ER#Pv [:!Sv :e :c :t :o :r]]                                              ; 'Vector'          ;
  [:!ER#Pw [:!Sw :!Si :!Sp :!Ssemicolon :spacebar]]                            ; 'WIP: '           ;
  [:!ER#Px [:!Sf :!Si :!Sx :!Ssemicolon :spacebar]]                            ; 'FIX: '           ;
  [:!ER#Py [:!Ss :y :m :b :o :l]]                                              ; 'Symbol'          ;
  ; [:!ER#Pz []]                                                               ;                   ;
  [:!ER#Pright_control [:!Ssemicolon :period :i :n :!Ssemicolon]]              ; ' .∈ '            ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
