;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; OPT
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option
{:des "Option Mode - alphabet"
 :rules
 [;
  ; [:!E#Pa []]                                                                                    ;
  ; [:!E#Pb []]                                                                                    ;
  ; [:!E#Pc []]                                                                                    ;
  ; [:!E#Pd []]                                                                                    ;
  ; [:!E#Pe []]                                                                                    ;
  ; [:!E#Pf []]                                                                                    ;
  ; [:!E#Pg []]                                                                                    ;
  ; [:!E#Ph []]                                                                                    ;
  ; [:!E#Pi []]                                                                                    ;
  ; [:!E#Pj []]                                                                                    ;
  ; [:!E#Pk []]                                                                                    ;
  ; [:!E#Pl []]                                                                                    ;
  ; [:!E#Pm []]                                                                                    ;
  ; [:!E#Pn []]                                                                                    ;
  ; [:!E#Po []]                                                                                    ;
  ; [:!E#Pp []]                                                                                    ;
  ; [:!E#Pq []]                                                                                    ;
  ; [:!E#Pr []]                                                                                    ;
  ; [:!E#Ps []]                                                                                    ;
  ; [:!E#Pt []]                                                                                    ;
  ; [:!E#Pu []]                                                                                    ;
  ; [:!E#Pv []]                                                                                    ;
  ; [:!E#Pw []]                                                                                    ;
  ; [:!E#Px []]                                                                                    ;
  ; [:!E#Py []]                                                                                    ;
  ; [:!E#Pz []]                                                                                    ;
  ; [:!E#Pright_control []]                                                                        ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option
{:des "Option Mode - symbols"
 :rules
 [;
  ; [:!E#Phyphen []]                                                                               ;
  ; [:!E#Pequal_sign []]                                                                           ;
  ; [:!E#Popen_bracket []]                                                                         ;
  ; [:!E#Pclose_bracket []]                                                                        ;
  ; [:!E#Psemicolon []]                                                                            ;
  ; [:!E#Pquote []]                                                                                ;
  ; [:!E#Pbackslash []]                                                                            ;
  ; [:!E#Pcomma []]                                                                                ;
  ; [:!E#Pperiod []]                                                                               ;
  ; [:!E#Pslash []]                                                                                ;

  ; [:!E#Pdelete_or_backspace []]                                                                  ;
  ; [:!E#Preturn_or_enter []]                                                                      ;
  ; [:!E#Pright_shift []]                                                                          ;
  ; [:!E#Pright_option []]                                                          NOT AVAILABLE  ;
  ; [:!E#Pright_command []]                                                                        ;
  ; [:!E#Pspacebar []]                                                              COLLISION      ;

  ; [:!E#Pleft_command []]                                                          COLLISION      ;
  ; [:!E#Pleft_option []]                                                           COLLISION      ;
  ; [:!E#Pleft_control []]                                                          COLLISION      ;
  ; [:!E#Pleft_shift []]                                                            COLLISION      ;
  ; [:!E#Pcaps_lock []]                                                             COLLISION      ;
  ; [:!E#Ptab []]                                                                   COLLISION      ;
  ; [:!E#Pnon_us_backslash []]                                                      COLLISION      ;
  ; [:!E#Pescape []]                                                                COLLISION      ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
