;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; SHIFT
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; shift
{:des "Shift Mode - numbers"
 :rules
 [;
  ; [:!R#keypad_1 []]                                                                              ;
  ; [:!R#keypad_2 []]                                                                              ;
  ; [:!R#keypad_3 []]                                                                              ;
  ; [:!R#keypad_4 []]                                                                              ;
  ; [:!R#keypad_5 []]                                                                              ;
  ; [:!R#keypad_6 []]                                                                              ;
  ; [:!R#keypad_7 []]                                                                              ;
  ; [:!R#keypad_8 []]                                                                              ;
  ; [:!R#keypad_9 []]                                                                              ;
  ; [:!R#keypad_0 []]                                                                              ;
  ; [:!R#keypad_slash []]                                                                          ;
  ; [:!R#keypad_asterisk []]                                                                       ;

  ; [:!R#1 []]                                                                                     ;
  ; [:!R#2 []]                                                                                     ;
  ; [:!R#3 []]                                                                                     ;
  ; [:!R#4 []]                                                                                     ;
  ; [:!R#5 []]                                                                                     ;
  ; [:!R#6 []]                                                                                     ;
  ; [:!R#7 []]                                                                                     ;
  ; [:!R#8 []]                                                                                     ;
  ; [:!R#9 []]                                                                                     ;
  ; [:!R#0 []]                                                                                     ;
  ; [:!R#Phyphen []]                                                                               ;
  ; [:!R#Pequal_sign []]                                                                           ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; shift
{:des "Shift Mode - symbols"
 :rules
 [;
  ; [:!R#Popen_bracket []]                                                                         ;
  ; [:!R#Pclose_bracket []]                                                                        ;
  ; [:!R#Psemicolon []]                                                                            ;
  ; [:!R#Pquote []]                                                                                ;
  ; [:!R#Pbackslash []]                                                                            ;
  ; [:!R#Pcomma []]                                                                                ;
  ; [:!R#Pperiod []]                                                                               ;
  ; [:!R#Pslash []]                                                                                ;

  ; [:!R#Pdelete_or_backspace []]                                                                  ;
  ; [:!R#Preturn_or_enter []]                                                                      ;
  ; [:!R#Pright_shift []]                                                      ;    NOT AVAILABLE  ;
  ; [:!R#Pright_option []]                                                                         ;
  ; [:!R#Pright_command []]                                                                        ;
  ; [:!R#Pspacebar [:!Tc]]                                                                           ;

  [:!R#Pleft_command [:!Tu]]                                                                       ;
  ; [:!Rleft_option [:!Tv]]                                                                          ;
  [:!R#Pleft_control [:!Tw]]                                                                       ;
  [:!R#Pleft_shift [:delete_or_backspace]]                                                         ;
  ; [:!R#Pcaps_lock []]                                                                            ;
  ; [:!R#Ptab []]                                                                                  ;
  ; [:!R#Pnon_us_backslash []]                                                                     ;
  ; [:!R#Pescape []]                                                                               ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
