;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; super
{:des "Super Mode - alphabet"
 :rules
 [:zero-mode
  ; [:!S#Pa []]                                                                ;                   ;
  [:!S#Pb [:!S#Pb :!Su :!Sg :!Ssemicolon :spacebar]]                           ; 'BUG:'            ;
  ; [:!S#Pc []]                                                                ;                   ;
  [:!S#Pd [:!S#Pd :!So :!Sc :!Ssemicolon :spacebar]]                           ; 'DOC:'            ;
  ; [:!S#Pe []]                                                                ;                   ;
  [:!S#Pf [:!S#Pf :!Si :!Sx :!Ssemicolon :spacebar]]                           ; 'FIX:'            ;
  ; [:!S#Pg []]                                                                ;                   ;
  ; [:!S#Ph []]                                                                ;                   ;
  [:!S#Pi [:!S#Pi :!Sd :!Se :!Sa :!Ssemicolon :spacebar]]                      ; 'IDEA:'           ;
  ; [:!S#Pj []]                                                                ;                   ;
  [:!S#Pk [:!S#Pk :!Se :!Sy :!Ssemicolon :spacebar]]                           ; 'KEY: '           ;
  ; [:!S#Pl []]                                                                ;                   ;
  ; [:!S#Pm []]                                                                ;                   ;
  ; [:!S#Pn []]                                                                ;                   ;
  ; [:!S#Po []]                                                                ;                   ;
  ; [:!S#Pp []]                                                                ;                   ;
  ; [:!S#Pq []]                                                                ;                   ;
  ; [:!S#Pr []]                                                                ;                   ;
  ; [:!S#Ps []]                                                                ;                   ;
  [:!S#Pt [:!S#Pt :!So :!Sd :!So :!Ssemicolon :spacebar]]                      ; 'TODO:'           ;
  ; [:!S#Pu []]                                                                ;                   ;
  ; [:!S#Pv []]                                                                ;                   ;
  [:!S#Pw [:!S#Pw :!Si :!Sp :!Ssemicolon :spacebar]]                           ; 'WIP: '           ;
  ; [:!S#Px []]                                                                ;                   ;
  ; [:!S#Py []]                                                                ;                   ;
  ; [:!S#Pz []]                                                                ;                   ;
  ; [:!S#Pright_control []]                                                         NOT AVAILABLE  ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; super
{:des "Super Mode - symbols"
 :rules
 [:zero-mode
  [:!S#Phyphen [:spacebar :hyphen :hyphen]]                                    ; ' --'             ;
  ; [:!S#Pequal_sign []]                                                       ;                   ;
  [:!S#Popen_bracket [:!S#P4 :!Sopen_bracket]]                                 ; '${'              ;
  [:!S#Pclose_bracket [:!Sclose_bracket :spacebar]]                            ; '} '              ;
  [:!S#Psemicolon [:!S#Psemicolon :spacebar]]                                  ; ': '              ;
  ; [:!S#Pquote []]                                                            ;                   ;
  ; [:!S#Pbackslash []]                                                        ;                   ;
  [:!S#Pcomma [:period :spacebar]]                                             ; '. '              ;
  [:!S#Pperiod [:period :period :period]]                                      ; '...'             ;
  [:!S#Pslash [:slash :slash :!S1 :spacebar]]                                  ; '//! '            ;

  ; [:!S#Pdelete_or_backspace []]                                                   NOT AVAILABLE  ;
  ; [:!S#Preturn_or_enter []]                                                       NOT AVAILABLE  ;
  ; [:!S#Pright_shift []]                                                           NOT AVAILABLE  ;
  ; [:!S#Pright_option []]                                                          NOT AVAILABLE  ;
  ; [:!S#Pright_command []]                                                         NOT AVAILABLE  ;
  ; [:!S#Pspacebar []]                                                              NOT AVAILABLE  ;

  ; [:!S#Pleft_command []]                                                          NOT AVAILABLE  ;
  ; [:!S#Pleft_option []]                                                           NOT AVAILABLE  ;
  ; [:!S#Pleft_control []]                                                          NOT AVAILABLE  ;
  ; [:!S#Pleft_shift []]                                                            NOT AVAILABLE  ;
  ; [:!S#Pcaps_lock []]                                                             NOT AVAILABLE  ;
  ; [:!S#Ptab []]                                                                   NOT AVAILABLE  ;
  ; [:!S#Pnon_us_backslash []]                                                      NOT AVAILABLE  ;
  ; [:!S#Pescape []]                                                                NOT AVAILABLE  ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
