;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; TAB => WQR
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; tab
{:des "Tab Mode - symbols"
 :rules
 [;
  [:!WQR#Phyphen :f13 [:term]]                                                                     ;
  [:!WQR#Pequal_sign :f14 [:term]]                                                                 ;
  [:!WQR#Popen_bracket :f8 [:term]]                                                                ;
  [:!WQR#Pclose_bracket :f9 [:term]]                                                               ;
  [:!WQR#Psemicolon :f10 [:term]]                                                                  ;
  [:!WQR#Pquote :f11 [:term]]                                                                      ;
  [:!WQR#Pbackslash :f12 [:term]]                                                                  ;
  [:!WQR#Pcomma :f18 [:term]]                                                                      ;
  [:!WQR#Pperiod :f19 [:term]]                                                                     ;
  [:!WQR#Pslash :f20 [:term]]                                                                      ;

  [:!WQR#Pdelete_or_backspace :f1 [:term]]                                                         ;
  [:!WQR#Preturn_or_enter :f2 [:term]]                                                             ;
  [:!WQR#Pright_shift :f4 [:term]]                                                                 ;
  [:!WQR#Pright_option :f5 [:term]]                                                                ;
  [:!WQR#Pright_command :f6 [:term]]                                                               ;
  [:!WQR#Pspacebar :f7 [:term]]                                                                    ;

  ; [:!WQR#Pleft_command []]                                                                       ;
  ; [:!WQR#Pleft_option []]                                                                        ;
  ; [:!WQR#Pleft_control []]                                                                       ;
  ; [:!WQR#Pleft_shift []]                                                                         ;
  ; [:!WQR#Pcaps_lock []]                                                                          ;
  ; [:!WQR#Ptab []]                                                                 NOT AVAILABLE  ;
  ; [:!WQR#Pnon_us_backslash []]                                                                   ;
  ; [:!WQR#Pescape []]                                                                             ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
