;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; TAB => WQR
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; tab
{:des "Tab Mode - alphabet"
 :rules
 [;
  ; [:!WQR#Pa []]                                                                                  ;
  ; [:!WQR#Pb []]                                                                                  ;
  ; [:!WQR#Pc []]                                                                                  ;
  ; [:!WQR#Pd []]                                                                                  ;
  ; [:!WQR#Pe []]                                                                                  ;
  ; [:!WQR#Pf []]                                                                                  ;
  ; [:!WQR#Pg []]                                                                                  ;
  ; [:!WQR#Ph []]                                                                                  ;
  ; [:!WQR#Pi []]                                                                                  ;
  ; [:!WQR#Pj []]                                                                                  ;
  ; [:!WQR#Pk []]                                                                                  ;
  ; [:!WQR#Pl []]                                                                                  ;
  ; [:!WQR#Pm []]                                                                                  ;
  ; [:!WQR#Pn []]                                                                                  ;
  ; [:!WQR#Po []]                                                                                  ;
  ; [:!WQR#Pp []]                                                                                  ;
  ; [:!WQR#Pq []]                                                                                  ;
  ; [:!WQR#Pr []]                                                                                  ;
  ; [:!WQR#Ps []]                                                                                  ;
  ; [:!WQR#Pt []]                                                                                  ;
  ; [:!WQR#Pu []]                                                                                  ;
  ; [:!WQR#Pv []]                                                                                  ;
  ; [:!WQR#Pw []]                                                                                  ;
  ; [:!WQR#Px []]                                                                                  ;
  ; [:!WQR#Py []]                                                                                  ;
  ; [:!WQR#Pz []]                                                                                  ;
  ; [:!WQR#Pright_control []]                                                                      ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; tab
{:des "Tab Mode - symbols"
 :rules
 [;
  ; [:!WQR#Phyphen []]                                                                             ;
  ; [:!WQR#Pequal_sign []]                                                                         ;
  [:!WQR#Popen_bracket [:spacebar :!S5 :!Scomma :!Sequal_sign :!S5 :spacebar]] ; ' %<+% '          ;
  [:!WQR#Pclose_bracket [:spacebar :!S5 :!Sequal_sign :!Speriod :!S5 :spacebar]];' %+>% '          ;
  [:!WQR#Psemicolon [:spacebar :!S5 :!S4 :!S5 :spacebar]]                      ; ' %$% '           ;
  [:!WQR#Pquote [:spacebar :!S5 :!St :!Speriod :!S5 :spacebar]]                ; ' %T>% '          ;
  [:!WQR#Pbackslash [:spacebar :!S5 :!Scomma :!Speriod :!S5 :spacebar]]        ; ' %<>% '          ;
  [:!WQR#Pcomma [:spacebar :!S5 :!Scomma :!S5 :spacebar]]                      ; ' %<% '           ;
  [:!WQR#Pperiod [:spacebar :!S5 :!Speriod :!S5 :spacebar]]                    ; ' %>% '           ;
  [:!WQR#Pslash [:spacebar :!S5 :!S1 :!Speriod :!S5 :spacebar]]                ; ' %!>% '          ;

  [:!WQR#Pdelete_or_backspace [:spacebar :!Ssemicolon :equal_sign :spacebar]]  ; ' := '            ;
  [:!WQR#Preturn_or_enter [:spacebar :!Sbackslash :!Speriod :spacebar]]        ; ' |> '            ;
  [:!WQR#Pright_shift [:spacebar :equal_sign :!Speriod :spacebar]]             ; ' => '            ;
  ; [:!WQR#Pright_option []]                                                                       ;
  ; [:!WQR#Pright_command []]                                                                      ;
  ; [:!WQR#Pspacebar []]                                                                           ;

  ; [:!WQR#Pleft_command []]                                                                       ;
  ; [:!WQR#Pleft_option []]                                                                        ;
  ; [:!WQR#Pleft_control []]                                                                       ;
  ; [:!WQR#Pleft_shift []]                                                                         ;
  ; [:!WQR#Pcaps_lock []]                                                                          ;
  ; [:!WQR#Ptab []]                                                                 NOT AVAILABLE  ;
  ; [:!WQR#Pnon_us_backslash []]                                                                   ;
  ; [:!WQR#Pescape []]                                                                             ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; tab - shift
{:des "Tab Mode - symbols"
 :rules
 [;
  ; [:!WQRS#Phyphen []]                                                                            ;
  ; [:!WQRS#Pequal_sign []]                                                                        ;
  ; [:!WQRS#Popen_bracket []]                                                                      ;
  ; [:!WQRS#Pclose_bracket []]                                                                     ;
  ; [:!WQRS#Psemicolon []]                                                                         ;
  ; [:!WQRS#Pquote []]                                                                             ;
  ; [:!WQRS#Pbackslash []]                                                                         ;
  ; [:!WQRS#Pcomma []]                                                                             ;
  ; [:!WQRS#Pperiod []]                                                                            ;
  ; [:!WQRS#Pslash []]                                                                             ;

  ; [:!WQRS#Pdelete_or_backspace []]                                                               ;
  [:!WQRS#Preturn_or_enter [:spacebar :period :!Sbackslash :!Speriod :spacebar]]; ' .|> '          ;
  ; [:!WQRS#Pright_shift []]                                                                       ;
  ; [:!WQRS#Pright_option []]                                                                      ;
  ; [:!WQRS#Pright_command []]                                                                     ;
  ; [:!WQRS#Pspacebar []]                                                                          ;

  ; [:!WQRS#Pleft_command []]                                                                      ;
  ; [:!WQRS#Pleft_option []]                                                                       ;
  ; [:!WQRS#Pleft_control []]                                                                      ;
  ; [:!WQRS#Pleft_shift []]                                                         NOT AVAILABLE  ;
  ; [:!WQRS#Pcaps_lock []]                                                                         ;
  ; [:!WQRS#Ptab []]                                                                NOT AVAILABLE  ;
  ; [:!WQRS#Pnon_us_backslash []]                                                                  ;
  ; [:!WQRS#Pescape []]                                                                            ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
