;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; TAB => WQR
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; tab
{:des "Tab Mode - alphabet"
 :rules
 [;
  ; [:!WQR#Pa []]                                                                                  ;
  ; [:!WQR#Pb []]                                                                                  ;
  ; [:!WQR#Pc []]                                                                                  ;
  ; [:!WQR#Pd []]                                                                                  ;
  ; [:!WQR#Pe []]                                                                                  ;
  ; [:!WQR#Pf []]                                                                                  ;
  ; [:!WQR#Pg []]                                                                                  ;
  ; [:!WQR#Ph []]                                                                                  ;
  ; [:!WQR#Pi []]                                                                                  ;
  ; [:!WQR#Pj []]                                                                                  ;
  ; [:!WQR#Pk []]                                                                                  ;
  ; [:!WQR#Pl []]                                                                                  ;
  ; [:!WQR#Pm []]                                                                                  ;
  ; [:!WQR#Pn []]                                                                                  ;
  ; [:!WQR#Po []]                                                                                  ;
  ; [:!WQR#Pp []]                                                                                  ;
  ; [:!WQR#Pq []]                                                                                  ;
  ; [:!WQR#Pr []]                                                                                  ;
  ; [:!WQR#Ps []]                                                                                  ;
  ; [:!WQR#Pt []]                                                                                  ;
  ; [:!WQR#Pu []]                                                                                  ;
  ; [:!WQR#Pv []]                                                                                  ;
  ; [:!WQR#Pw []]                                                                                  ;
  ; [:!WQR#Px []]                                                                                  ;
  ; [:!WQR#Py []]                                                                                  ;
  ; [:!WQR#Pz []]                                                                                  ;
  ; [:!WQR#Pright_control []]                                                                      ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; tab
{:des "Tab Mode - symbols"
 :rules
 [;
  [:!WQR#Phyphen [:spacebar :hyphen :equal_sign :spacebar]]                    ; ' -= '            ;
  [:!WQR#Pequal_sign [:spacebar :!Sequal_sign :equal_sign :spacebar]]          ; ' += '            ;
  [:!WQR#Popen_bracket [:!S3 :open_bracket]]                                   ; '#['              ;
  [:!WQR#Pclose_bracket [:close_bracket :spacebar]]                            ; '] '              ;
  [:!WQR#Psemicolon [:semicolon :spacebar]]                                    ; '; '              ;
  ; [:!WQR#Pquote []]                                                          ;                   ;
  ; [:!WQR#Pbackslash []]                                                      ;                   ;
  [:!WQR#Pcomma [:comma :spacebar]]                                            ; ', '              ;
  ; [:!WQR#Pperiod []]                                                         ;                   ;
  [:!WQR#Pslash [:slash :slash :slash :spacebar]]                              ; '/// '            ;

  [:!WQR#Pdelete_or_backspace [:period :period]]                               ; '..'              ;
  [:!WQR#Preturn_or_enter [:spacebar :hyphen]]                                 ; ' -'              ;
  ; [:!WQR#Pright_shift [:period :period]]                                     ; '..'              ;
  [:!WQR#Pright_option [:spacebar :!S8 :equal_sign :spacebar]]                 ; ' *= '            ;
  [:!WQR#Pright_command [:spacebar :slash :equal_sign :spacebar]]              ; ' /= '            ;
  ; FIX: [:!WQR#Pspacebar :!OTf20 [:term]]                                     ;                   ;
  ; TODO: double check keybinding remains

  ; [:!WQR#Pleft_command []]                                                                       ;
  ; [:!WQR#Pleft_option []]                                                                        ;
  ; [:!WQR#Pleft_control []]                                                                       ;
  ; [:!WQR#Pleft_shift []]                                                                         ;
  ; [:!WQR#Pcaps_lock []]                                                                          ;
  ; [:!WQR#Ptab []]                                                                 NOT AVAILABLE  ;
  ; [:!WQR#Pnon_us_backslash []]                                                                   ;
  ; [:!WQR#Pescape []]                                                                             ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; tab - shift
{:des "Tab Mode - symbols"
 :rules
 [;
  [:!WQRS#Phyphen [:spacebar :period :hyphen :equal_sign :spacebar]]           ; ' .-= '           ;
  [:!WQRS#Pequal_sign [:spacebar :period :!Sequal_sign :equal_sign :spacebar]] ; ' .+= '           ;
  [:!WQRS#Popen_bracket [:!S#P4 :!Sopen_bracket]]                              ; '${'              ;
  [:!WQRS#Pclose_bracket [:!Sclose_bracket :spacebar]]                         ; '} '              ;
  [:!WQRS#Psemicolon [:!S#Psemicolon :spacebar]]                               ; ': '              ;
  ; [:!WQRS#Pquote []]                                                         ;                   ;
  ; [:!WQRS#Pbackslash []]                                                     ;                   ;
  [:!WQRS#Pcomma [:period :spacebar]]                                          ; '. '              ;
  ; [:!WQRS#Pperiod []]                                                        ;                   ;
  [:!WQRS#Pslash [:slash :slash :!S1 :spacebar]]                               ; '//! '            ;

  [:!WQRS#Pdelete_or_backspace [:period :period :period]]                      ; '...'             ;
  [:!WQRS#Preturn_or_enter [:spacebar :hyphen :hyphen]]                        ; ' --'             ;
  ; [:!WQRS#Pright_shift [:period :period :period]]                            ; '...'             ;
  [:!WQRS#Pright_option [:spacebar :period :!S8 :equal_sign :spacebar]]        ; ' .*= '           ;
  [:!WQRS#Pright_command [:spacebar :period :slash :equal_sign :spacebar]]     ; ' ./= '           ;
  ; [:!WQRS#Pspacebar []]                                                      ;                   ;

  ; [:!WQRS#Pleft_command []]                                                                      ;
  ; [:!WQRS#Pleft_option []]                                                                       ;
  ; [:!WQRS#Pleft_control []]                                                                      ;
  ; [:!WQRS#Pleft_shift []]                                                         NOT AVAILABLE  ;
  ; [:!WQRS#Pcaps_lock []]                                                                         ;
  ; [:!WQRS#Ptab []]                                                                NOT AVAILABLE  ;
  ; [:!WQRS#Pnon_us_backslash []]                                                                  ;
  ; [:!WQRS#Pescape []]                                                                            ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
