;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Z => ROTW
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; hyper Z
{:des "Hyper Z - alphabet"
 :rules
 [;
  ; [:ROTW#Pa []]                                                                                  ;
  ; [:ROTW#Pb []]                                                                                  ;
  ; [:ROTW#Pc []]                                                                                  ;
  ; [:ROTW#Pd []]                                                                                  ;
  ; [:ROTW#Pe []]                                                                                  ;
  ; [:ROTW#Pf []]                                                                                  ;
  ; [:ROTW#Pg []]                                                                                  ;
  ; [:ROTW#Ph []]                                                                                  ;
  ; [:ROTW#Pi []]                                                                                  ;
  ; [:ROTW#Pj []]                                                                                  ;
  ; [:ROTW#Pk []]                                                                                  ;
  ; [:ROTW#Pl []]                                                                                  ;
  ; [:ROTW#Pm []]                                                                                  ;
  ; [:ROTW#Pn []]                                                                                  ;
  ; [:ROTW#Po []]                                                                                  ;
  ; [:ROTW#Pp []]                                                                                  ;
  ; [:ROTW#Pq []]                                                                                  ;
  ; [:ROTW#Pr []]                                                                                  ;
  ; [:ROTW#Ps []]                                                                                  ;
  ; [:ROTW#Pt []]                                                                                  ;
  ; [:ROTW#Pu []]                                                                                  ;
  ; [:ROTW#Pv []]                                                                                  ;
  ; [:ROTW#Pw []]                                                                                  ;
  ; [:ROTW#Px []]                                                                                  ;
  ; [:ROTW#Py []]                                                                                  ;
  ; [:ROTW#Pz []]                                                                                  ;
  ; [:ROTW#Pkeypad_num_lock []]                                                                    ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; hyper Z
{:des "Hyper Z - symbols"
 :rules
 [;
  [:!ROTW#Phyphen [:spacebar :hyphen :equal_sign :spacebar]]                   ; ' -= '            ;
  [:!ROTW#Pequal_sign [:spacebar :!Sequal_sign :equal_sign :spacebar]]         ; ' += '            ;
  ; [:ROTW#Popen_bracket []]                                                                       ;
  ; [:ROTW#Pclose_bracket []]                                                                      ;
  ; [:ROTW#Psemicolon []]                                                                          ;
  ; [:ROTW#Pquote []]                                                                              ;
  ; [:ROTW#Pbackslash []]                                                                          ;
  ; [:ROTW#Pcomma []]                                                               COLLISION      ;
  ; [:ROTW#Pperiod []]                                                              COLLISION      ;
  ; [:ROTW#Pslash []]                                                                              ;

  ; [:ROTW#Pdelete_or_backspace []]                                                                ;
  ; [:ROTW#Preturn_or_enter []]                                                                    ;
  ; [:ROTW#Pright_shift []]                                                                        ;
  [:!ROTW#Pright_option [:spacebar :!S8 :equal_sign :spacebar]]                ; ' *= '            ;
  [:!ROTW#Pright_command [:spacebar :slash :equal_sign :spacebar]]             ; ' /= '            ;
  ; [:ROTW#Pspacebar []]                                                            COLLISION      ;

  ; [:ROTW#Pleft_command []]                                                                       ;
  ; [:ROTW#Pleft_option []]                                                                        ;
  ; [:ROTW#Pleft_control []]                                                                       ;
  ; [:ROTW#Pleft_shift []]                                                                         ;
  ; [:ROTW#Pcaps_lock []]                                                           NOT AVAILABLE  ;
  ; [:ROTW#Ptab []]                                                                                ;
  ; [:ROTW#Pnon_us_backslash []]                                                                   ;
  ; [:ROTW#Pescape []]                                                                             ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; hyper Z
{:des "Hyper Z - symbols"
 :rules
 [;
  [:!SROTW#Phyphen [:spacebar :period :hyphen :equal_sign :spacebar]]          ; ' .-= '           ;
  [:!SROTW#Pequal_sign [:spacebar :period :!Sequal_sign :equal_sign :spacebar]]; ' .+= '           ;
  ; [:!SROTW#Popen_bracket []]                                                                     ;
  ; [:!SROTW#Pclose_bracket []]                                                                    ;
  ; [:!SROTW#Psemicolon []]                                                                        ;
  ; [:!SROTW#Pquote []]                                                                            ;
  ; [:!SROTW#Pbackslash []]                                                                        ;
  ; [:!SROTW#Pcomma []]                                                             COLLISION      ;
  ; [:!SROTW#Pperiod []]                                                            COLLISION      ;
  ; [:!SROTW#Pslash []]                                                                            ;

  ; [:!SROTW#Pdelete_or_backspace []]                                                              ;
  ; [:!SROTW#Preturn_or_enter []]                                                                  ;
  ; [:!SROTW#Pright_shift []]                                                                      ;
  [:!SROTW#Pright_option [:spacebar :period :!S8 :equal_sign :spacebar]]       ; ' .*= '           ;
  [:!SROTW#Pright_command [:spacebar :period :slash :equal_sign :spacebar]]    ; ' ./= '           ;
  ; [:!SROTW#Pspacebar []]                                                          COLLISION      ;

  ; [:!SROTW#Pleft_command []]                                                                     ;
  ; [:!SROTW#Pleft_option []]                                                                      ;
  ; [:!SROTW#Pleft_control []]                                                                     ;
  ; [:!SROTW#Pleft_shift []]                                                                       ;
  ; [:!SROTW#Pcaps_lock []]                                                         NOT AVAILABLE  ;
  ; [:!SROTW#Ptab []]                                                                              ;
  ; [:!SROTW#Pnon_us_backslash []]                                                                 ;
  ; [:!SROTW#Pescape []]                                                                           ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

