;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; zero
{:des "Zero Mode - alphabet"
 :rules
 [:zero-mode
  ; [:#Pa []]                                                                  ;                   ;
  ; [:#Pb []]                                                                  ;                   ;
  ; [:#Pc []]                                                                  ;                   ;
  ; [:#Pd []]                                                                  ;                   ;
  [:#Pe [:e :n :u :m]]                                                         ; 'enum'            ;
  ; [:#Pf []]                                                                  ;                   ;
  ; [:#Pg []]                                                                  ;                   ;
  ; [:#Ph []]                                                                  ;                   ;
  ; [:#Pi []]                                                                  ;                   ;
  ; [:#Pj []]                                                                  ;                   ;
  ; [:#Pk []]                                                                  ;                   ;
  ; [:#Pl []]                                                                  ;                   ;
  [:#Pm [:m :u :t :a :b :l :e]]                                                ; 'mutable'         ;
  ; [:#Pn []]                                                                  ;                   ;
  ; [:#Po []]                                                                  ;                   ;
  ; [:#Pp []]                                                                  ;                   ;
  ; [:#Pq []]                                                                  ;                   ;
  ; [:#Pr []]                                                                  ;                   ;
  [:#Ps [:s :t :r :u :c :t]]                                                   ; 'struct'          ;
  [:#Pt [:t :y :p :e]]                                                         ;                   ;
  ; [:#Pu []]                                                                  ;                   ;
  ; [:#Pv []]                                                                  ;                   ;
  [:#Pw [:w :h :e :r :e :spacebar]]                                            ; 'where '          ;
  ; [:#Px []]                                                                  ;                   ;
  ; [:#Py []]                                                                  ;                   ;
  [:#Pz [:w :h :i :c :h :spacebar]]                                            ; 'which '          ;
  ; [:#Pright_control []]                                                           NOT AVAILABLE  ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; zero
{:des "Zero Mode - symbols"
 :rules
 [:zero-mode
  [:#Phyphen [:spacebar :hyphen]]                                              ; ' -'              ;
  ; [:#Pequal_sign []]                                                                             ;
  [:#Popen_bracket [:!S3 :open_bracket]]                                       ; '#['              ;
  [:#Pclose_bracket [:close_bracket :spacebar]]                                ; '] '              ;
  [:#Psemicolon [:semicolon :spacebar]]                                        ; '; '              ;
  ; [:#Pquote []]                                                                                  ;
  ; [:#Pbackslash []]                                                               COLLISION      ;
  [:#Pcomma [:comma :spacebar]]                                                ; ', '              ;
  [:#Pperiod [:period :period]]                                                ; '..'              ;
  [:#Pslash [:slash :slash :slash :spacebar]]                                  ; '/// '            ;

  ; [:#Pdelete_or_backspace []]                                                     NOT AVAILABLE  ;
  ; [:#Preturn_or_enter []]                                                         COLLISION      ;
  ; [:#Pright_shift []]                                                             NOT AVAILABLE  ;
  ; [:#Pright_option []]                                                            NOT AVAILABLE  ;
  ; [:#Pright_command []]                                                           NOT AVAILABLE  ;
  ; [:#Pspacebar []]                                                                NOT AVAILABLE  ;

  ; [:#Pleft_command []]                                                            NOT AVAILABLE  ;
  ; [:#Pleft_option []]                                                             NOT AVAILABLE  ;
  ; [:#Pleft_control []]                                                            NOT AVAILABLE  ;
  ; [:#Pleft_shift []]                                                              NOT AVAILABLE  ;
  ; [:#Pcaps_lock []]                                                               NOT AVAILABLE  ;
  ; [:#Ptab []]                                                                     NOT AVAILABLE  ;
  ; [:#Pnon_us_backslash []]                                                        NOT AVAILABLE  ;
  ; [:#Pescape []]                                                                  NOT AVAILABLE  ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
