////////////////////////////////////////////////////////////////////////////////////////////////////

pane_frames false
layout_dir "~/.archive/in-situ/zellij/layouts/"

////////////////////////////////////////////////////////////////////////////////////////////////////

ui {
    pane_frames {
        hide_session_name true
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////

// TODO: write a script that launches cheat
// TODO: write a plugin
keybinds clear-defaults=true {

    // modes
    shared_except "normal" {
        bind "Alt a" { SwitchToMode "Normal"; }                                                    // mode normal
    }

    shared_except "normal" "locked" {
        bind "Esc" { SwitchToMode "Normal"; }                                                      // mode normal
    }

    shared_except "entersearch" "locked" {
        bind "Alt g" { SwitchToMode "EnterSearch"; SearchInput 0; }                                // mode search
    }

////////////////////////////////////////////////////////////////////////////////////////////////////

    shared_except "locked" {
        bind "Ctrl q" { Quit; }                                                                    //

        // bind "Alt a" {}                                                                         // mode lock
        // bind "Alt b" {}                                                                         // alacritty motion
        // bind "Alt c" {}                                                          COLLISION
        // bind "Alt d" {}                                                          COLLISION
        // bind "Alt e" {}                                                          COLLISION
        // bind "Alt f" {}                                                                         // alacritty motion
        bind "Alt g" { SwitchToMode "EnterSearch"; }                                               // mode search
        bind "Alt h" { EditScrollback; SwitchToMode "Normal"; }                                    // history editor
        // bind "Alt i" {  }                                                        COLLISION
        bind "Alt j" { SwitchToMode "Pane"; MoveFocus "Left"; SwitchToMode "Normal"; }             // pane left
        bind "Alt k" { SwitchToMode "Pane"; MoveFocus "Right"; SwitchToMode "Normal"; }            // pane right
        bind "Alt l" { SwitchToMode "Pane"; MoveFocus "Up"; SwitchToMode "Normal"; }               // pane up
        bind "Alt m" { SwitchToMode "Pane"; MoveFocus "Down"; SwitchToMode "Normal"; }             // pane down
        // bind "Alt n" {  }                                                        COLLISION
        bind "Alt o" { SwitchToMode "Pane"; CloseFocus; SwitchToMode "Normal"; }                   // pane close
        bind "Alt p" { SwitchToMode "Pane"; ToggleFocusFullscreen; SwitchToMode "Normal"; }        // pane focus
        bind "Alt q" { SwitchToMode "Pane"; NewPane "Right"; SwitchToMode "Normal"; }              // pane split right
        bind "Alt r" { SwitchToMode "Pane"; NewPane "Down"; SwitchToMode "Normal"; }               // pane split down
        bind "Alt s" { SwitchToMode "RenamePane"; PaneNameInput 0; }                               // pane rename
        bind "Alt t" { SwitchToMode "Pane"; SwitchFocus; SwitchToMode "Normal"; }                  // pane jump back
        // bind "Alt u" {  }                                                        COLLISION
        // bind "Alt v" {}                                                                         // nushell motion
        // bind "Alt w" {}                                                                         // nushell motion
        bind "Alt x" { SwitchToMode "Tab"; GoToPreviousTab; SwitchToMode "Normal"; }               // tab prev
        bind "Alt y" { SwitchToMode "Tab"; GoToNextTab; SwitchToMode "Normal"; }                   // tab next
        // bind "Alt z" {}                                                                         // nushell motion

        bind "Alt A" { SwitchToMode "RenameTab"; TabNameInput 0; }                                 // tab rename
        // bind "Alt B" { SwitchToMode "Pane"; ToggleFloatingPanes; SwitchToMode "Normal"; }          // pane floating
        // bind "Alt C" { SwitchToMode "Pane"; TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }    //
        // bind "Alt D" {}                                                                         //
        // bind "Alt E" {}                                                                         //
        // bind "Alt F" {}                                                                         //
        // bind "Alt G" {}                                                                         //
        bind "Alt H" { SwitchToMode "Tab"; ToggleActiveSyncTab; SwitchToMode "Normal"; }           // tab sync
        bind "Alt I" { SwitchToMode "Tab"; CloseTab; SwitchToMode "Normal"; }                      // tab close
        // bind "Alt J" {}                                                                         // plugin room
        bind "Alt K" { SwitchToMode "Tab"; NewTab; SwitchToMode "Normal"; }                        // tab new
        // bind "Alt L" {}                                                                         // plugin jump-list
        // bind "Alt M" {}                                                                         // plugin monocle
        bind "Alt N" { SwitchToMode "Tab"; ToggleTab; SwitchToMode "Normal"; }                     // tab toggle
        // bind "Alt O" {  }                                                        COLLISION
        // bind "Alt P" { DumpScreen "/Users/drivas/.archive/.zellij.txt"; }                          // dump screen
        // bind "Alt Q" {}                                                                         //
        bind "Alt R" { SwitchToMode "Tab"; GoToTab 1; SwitchToMode "Normal"; }                     // tab 1
        bind "Alt S" { SwitchToMode "Tab"; GoToTab 2; SwitchToMode "Normal"; }                     // tab 2
        bind "Alt T" { SwitchToMode "Tab"; GoToTab 3; SwitchToMode "Normal"; }                     // tab 3
        bind "Alt U" { SwitchToMode "Tab"; GoToTab 4; SwitchToMode "Normal"; }                     // tab 4
        bind "Alt V" { SwitchToMode "Tab"; GoToTab 5; SwitchToMode "Normal"; }                     // tab 5
        bind "Alt W" { SwitchToMode "Tab"; GoToTab 6; SwitchToMode "Normal"; }                     // tab 6
        bind "Alt X" { SwitchToMode "Tab"; GoToTab 7; SwitchToMode "Normal"; }                     // tab 7
        bind "Alt Y" { SwitchToMode "Tab"; GoToTab 8; SwitchToMode "Normal"; }                     // tab 8
        bind "Alt Z" { SwitchToMode "Tab"; GoToTab 9; SwitchToMode "Normal"; }                     // tab 9

        bind "Shift PageUp" { MoveTab "Left"; }                                                    // tab swap left
        bind "Shift PageDown" { MoveTab "Right"; }                                                 // tab swap right

    shared_except "scroll" "locked" {
        bind "Alt D" { SwitchToMode "Scroll"; }                                                    //
    }

    shared_except "entersearch" "locked" {
        bind "Alt E" { SwitchToMode "EnterSearch"; SearchInput 0; }                                //
    }

    shared_except "resize" "locked" {
        bind "Alt F" { SwitchToMode "Resize"; }                                                    //
    }

    shared_except "session" "locked" {
        bind "Alt G" { SwitchToMode "Session"; }                                                   //
    }

////////////////////////////////////////////////////////////////////////////////////////////////////

    locked {
    }

////////////////////////////////////////////////////////////////////////////////////////////////////

    normal {
        bind "Alt B" { SwitchToMode "Locked"; }                                                    //
    }

////////////////////////////////////////////////////////////////////////////////////////////////////

    renametab {
        bind "Alt A" { UndoRenameTab; SwitchToMode "Normal"; }                                     //
        bind "Esc" { UndoRenameTab; SwitchToMode "Normal"; }                                       //
    }

    renamepane {
        bind "Alt C" { SwitchToMode "Normal"; }                                                    //
        bind "Esc" { SwitchToMode "Normal"; }                                                      //
    }

    scroll {
        bind "Alt D" { SwitchToMode "Normal"; }                                                    //
        bind "Enter" { SwitchToMode "EnterSearch"; SearchInput 0; }                                //
        bind "Up" { ScrollUp; }                                                                    //
        bind "Down" { ScrollDown; }                                                                //
        bind "PageUp" { HalfPageScrollUp; }                                                        //
        bind "PageDown" { HalfPageScrollDown; }                                                    //
        bind "Home" { PageScrollUp; }                                                              //
        bind "End" { PageScrollDown; }                                                             //
    }

    entersearch {
        bind "Alt E" { SwitchToMode "EnterSearch"; SearchInput 0; }                                //
    }

////////////////////////////////////////////////////////////////////////////////////////////////////

    resize {
        bind "Alt F" { SwitchToMode "Normal"; }                                                    //
        bind "z" { SwitchToMode "Pane"; TogglePaneFrames; SwitchToMode "Normal"; }                 //
        bind "=" { Resize "Increase"; }                                                            //
        bind "-" { Resize "Decrease"; }                                                            //
        bind "h" { Resize "Increase Left"; }                                                       //
        bind "j" { Resize "Increase Down"; }                                                       //
        bind "k" { Resize "Increase Up"; }                                                         //
        bind "l" { Resize "Increase Right"; }                                                      //
        bind "H" { Resize "Decrease Left"; }                                                       //
        bind "J" { Resize "Decrease Down"; }                                                       //
        bind "K" { Resize "Decrease Up"; }                                                         //
        bind "L" { Resize "Decrease Right"; }                                                      //
        bind "Left" { SwitchToMode "Move"; MovePane "Left"; SwitchToMode "Resize"; }               //
        bind "Right" { SwitchToMode "Move"; MovePane "Right"; SwitchToMode "Resize"; }             //
        bind "Up" { SwitchToMode "Move"; MovePane "Up"; SwitchToMode "Resize"; }                   //
        bind "Down" { SwitchToMode "Move"; MovePane "Down"; SwitchToMode "Resize"; }               //
    }

////////////////////////////////////////////////////////////////////////////////////////////////////

    session {
        bind "Alt G" { SwitchToMode "Normal"; }                                                    //
        bind "d" { Detach; }                                                                       //
    }

////////////////////////////////////////////////////////////////////////////////////////////////////

    shared_except "locked" {
        bind "Alt J" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/room.wasm" {
                floating true
                ignore_case true
            }
        }

        bind "Alt L" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij-jump-list.wasm" {
                floating true; move_to_focused_tab true;
            }
        }

        bind "Alt M" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/monocle.wasm" {
                floating true
            };
            SwitchToMode "Normal"
        }

    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
