////////////////////////////////////////////////////////////////////////////////////////////////////

pane_frames false
layout_dir "~/.config/zellij/layouts/"

////////////////////////////////////////////////////////////////////////////////////////////////////

ui {
    pane_frames {
        hide_session_name true
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}

////////////////////////////////////////////////////////////////////////////////////////////////////


keybinds clear-defaults=true {


    shared_except "normal" "locked" {
        bind "Esc" { SwitchToMode "Normal"; }
    }

    locked {
        bind "Ctrl Shift F11" { SwitchToMode "Normal"; }
    }

    shared_except "locked" {
        bind "Ctrl q" { Quit; }

        bind "Ctrl Shift F1" { MoveTab "Left"; }
        bind "Ctrl Shift F2" { MoveTab "Right"; }

        bind "Ctrl Shift F12" { EditScrollback; SwitchToMode "Normal"; }
        bind "Ctrl Shift F11" { SwitchToMode "Locked"; }
        bind "Ctrl Shift F8" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "Ctrl F1" { MoveFocus "Left"; }
        bind "Ctrl F2" { MoveFocus "Right"; }
        bind "Ctrl F4" { MoveFocus "Up"; }
        bind "Ctrl F5" { MoveFocus "Down"; }
        bind "Ctrl F6" { CloseFocus; }
        bind "Ctrl F7" { ToggleFocusFullscreen; }
        bind "Ctrl F8" { NewPane "Right"; }
        bind "Ctrl F9" { NewPane "Down"; }
        bind "Ctrl F10" { SwitchToMode "RenamePane"; PaneNameInput 0; }
        bind "Ctrl F11" { SwitchFocus; }

        bind "Shift F1" { GoToPreviousTab; }
        bind "Shift F2" { GoToNextTab; }
        bind "Ctrl Shift F9" { TogglePaneEmbedOrFloating; }
        bind "Ctrl Shift F6" { TogglePanePinned; }
        bind "Ctrl Shift F7" { ToggleFloatingPanes; }
        bind "Shift F8" { LaunchOrFocusPlugin "file:~/.config/zellij/plugins/room.wasm" { floating true; ignore_case true; }; }
        bind "Shift F9" { NewTab; }
        bind "Shift F10" { BreakPane; }
        bind "Shift F11" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "Shift F12" { ToggleTab; }
        bind "Shift F7" { CloseTab; }
        bind "Shift F4" { ToggleActiveSyncTab; }
        bind "Shift F5" { LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij-jump-list.wasm" { floating true; move_to_focused_tab true; }; }
        bind "Shift F6" { LaunchOrFocusPlugin "file:~/.config/zellij/plugins/monocle.wasm" { floating true; }; SwitchToMode "Normal"; }
    }

    renamepane {
        bind "Ctrl F10" { UndoRenamePane; SwitchToMode "Normal"; }
    }

    renametab {
        bind "Shift F11" { UndoRenameTab; SwitchToMode "Normal"; }
    }

    entersearch {
        bind "Ctrl Shift F8" { SwitchToMode "Normal"; }
        // TODO: document arrows
        bind "Up" { ScrollUp; }
        bind "Down" { ScrollDown; }
        bind "PageUp" { HalfPageScrollUp; }
        bind "PageDown" { HalfPageScrollDown; }
        bind "Home" { PageScrollUp; }
        bind "End" { PageScrollDown; }

        // TODO: document enter
        bind "Enter" { SwitchToMode "Search"; }
        bind "Ctrl Shift F4" { Resize "Increase"; }
        bind "Ctrl Shift F5" { Resize "Decrease"; }

        bind "Ctrl b" { MovePane "Left"; }
        bind "Ctrl f" { MovePane "Right"; }
        bind "Ctrl n" { MovePane "Up"; }
        bind "Ctrl p" { MovePane "Down"; }

        // TODO: relocate?
        // bind "Alt j" { Resize "Increase Left"; }
        // bind "Alt k" { Resize "Increase Right"; }
        // bind "Alt l" { Resize "Increase Up"; }
        // bind "Alt m" { Resize "Increase Down"; }

        // bind "Alt K" { Resize "Decrease Right"; }
        // bind "Alt J" { Resize "Decrease Left"; }
        // bind "Ctrl x" { Resize "Decrease Down"; }
        // bind "Ctrl y" { Resize "Decrease Up"; }

        // TODO: needed
        // bind "Space" { Detach; }
        bind "Ctrl Shift F8" { SwitchToMode "Normal"; }
	}

    search {
        bind "Alt h" { SwitchToMode "Normal"; }
        bind "Up" { ScrollUp; }
        bind "Down" { ScrollDown; }
        bind "PageUp" { HalfPageScrollUp; }
        bind "PageDown" { HalfPageScrollDown; }
        bind "Home" { PageScrollUp; }
        bind "End" { PageScrollDown; }

        bind "l" { Search "down"; }
        bind "h" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "x" { SearchToggleOption "Wrap"; }
        bind "z" { SearchToggleOption "WholeWord"; }
    }


}


