////////////////////////////////////////////////////////////////////////////////////////////////////

pane_frames false
layout_dir "~/.archive/in-situ/zellij/layouts/"

////////////////////////////////////////////////////////////////////////////////////////////////////

ui {
    pane_frames {
        hide_session_name true
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////

// TODO: write a script that launches cheat
// TODO: write a plugin
keybinds clear-defaults=true {

////////////////////////////////////////////////////////////////////////////////////////////////////

    // fallback from any undeclare mode
    shared_except "normal" "locked" {
        bind "Enter" "Esc" { SwitchToMode "Normal"; }                                              // mode normal
    }

////////////////////////////////////////////////////////////////////////////////////////////////////

    locked {
        bind "Alt g" { SwitchToMode "Normal"; }                                                    // mode normal
    }

////////////////////////////////////////////////////////////////////////////////////////////////////

    shared_except "locked" {
        bind "Ctrl q" { Quit; }                                                                    //

        bind "Shift PageUp" { MoveTab "Left"; }                                                    // tab swap left
        bind "Shift PageDown" { MoveTab "Right"; }                                                 // tab swap right

        bind "Alt a" { EditScrollback; SwitchToMode "Normal"; }                                    // history editor
        // bind "Alt b" {}                                                                         // alacritty motion
        // bind "Alt c" {}                                                          COLLISION
        // bind "Alt d" {}                                                          COLLISION
        // bind "Alt e" {}                                                          COLLISION
        // bind "Alt f" {}                                                                         // alacritty motion
        bind "Alt g" { SwitchToMode "Locked"; }                                                    // mode lock
        bind "Alt h" { SwitchToMode "EnterSearch"; SearchInput 0; }                                // mode search
        // bind "Alt i" {  }                                                        COLLISION
        bind "Alt j" { MoveFocus "Left"; }                                                         // pane left
        bind "Alt k" { MoveFocus "Right"; }                                                        // pane right
        bind "Alt l" { MoveFocus "Up"; }                                                           // pane up
        bind "Alt m" { MoveFocus "Down"; }                                                         // pane down
        // bind "Alt n" {  }                                                        COLLISION
        bind "Alt o" { CloseFocus; }                                                               // pane close
        bind "Alt p" { ToggleFocusFullscreen; }                                                    // pane focus
        bind "Alt q" { NewPane "Right"; }                                                          // pane split right
        bind "Alt r" { NewPane "Down"; }                                                           // pane split down
        bind "Alt s" { SwitchToMode "RenamePane"; PaneNameInput 0; }                               // pane rename
        bind "Alt t" { SwitchFocus; }                                                              // pane toggle
        // bind "Alt u" {  }                                                        COLLISION
        // bind "Alt v" {}                                                                         //
        // bind "Alt w" {}                                                                         //
        // bind "Alt x" {}                                                                         // nushell motion
        // bind "Alt y" {}                                                                         // nushell motion
        // bind "Alt z" {}                                                                         // nushell motion

        bind "Alt A" { SwitchToMode "Tab"; GoToTab 1; SwitchToMode "Normal"; }                     // tab 1
        bind "Alt B" { SwitchToMode "Tab"; GoToTab 2; SwitchToMode "Normal"; }                     // tab 2
        bind "Alt C" { SwitchToMode "Tab"; GoToTab 3; SwitchToMode "Normal"; }                     // tab 3
        bind "Alt D" { SwitchToMode "Tab"; GoToTab 4; SwitchToMode "Normal"; }                     // tab 4
        bind "Alt E" { SwitchToMode "Tab"; GoToTab 5; SwitchToMode "Normal"; }                     // tab 5
        bind "Alt F" { SwitchToMode "Tab"; GoToTab 6; SwitchToMode "Normal"; }                     // tab 6
        bind "Alt G" { SwitchToMode "Tab"; GoToTab 7; SwitchToMode "Normal"; }                     // tab 7
        bind "Alt H" { SwitchToMode "Tab"; GoToTab 8; SwitchToMode "Normal"; }                     // tab 8
        bind "Alt I" { SwitchToMode "Tab"; GoToTab 9; SwitchToMode "Normal"; }                     // tab 9
        bind "Alt J" { GoToPreviousTab; }                                                          // tab prev
        bind "Alt K" { GoToNextTab; }                                                              // tab next
        bind "Alt L" { TogglePaneEmbedOrFloating; }                                                // pane float pop
        bind "Alt M" { TogglePanePinned; }                                                         // pane float pin
        bind "Alt N" { ToggleFloatingPanes; }                                                      // pane float toggle
        // bind "Alt O" {  }                                                        COLLISION
        bind "Alt P" { ToggleActiveSyncTab; }                                                      // tab sync
        bind "Alt Q" { NewTab; }                                                                   // tab new
        bind "Alt R" { BreakPane; }                                                                // tab break pane
        bind "Alt S" { SwitchToMode "RenameTab"; TabNameInput 0; }                                 // tab rename
        bind "Alt T" { ToggleTab; }                                                                // tab toggle
        bind "Alt U" { CloseTab; }                                                                 // tab close

        // plugins
        bind "Alt V" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/room.wasm" {
                floating true
                ignore_case true
            }
        }

        bind "Alt W" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij-jump-list.wasm" {
                floating true; move_to_focused_tab true;
            }
        }

        bind "Alt X" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/monocle.wasm" {
                floating true
            };
            SwitchToMode "Normal"
        }

        // bind "Alt Y" {}                                                                         //
        // bind "Alt Z" {}                                                                         //

    }

////////////////////////////////////////////////////////////////////////////////////////////////////

    renametab {
        bind "Alt A" { UndoRenameTab; SwitchToMode "Normal"; }                                     // mode normal
        bind "Esc" { UndoRenameTab; SwitchToMode "Normal"; }                                       // mode normal
    }

    renamepane {
        bind "Alt s" { UndoRenamePane; SwitchToMode "Normal"; }                                    // mode normal
        bind "Esc" { UndoRenamePane; SwitchToMode "Normal"; }                                      // mode normal
    }

////////////////////////////////////////////////////////////////////////////////////////////////////

    shared_among "search" "entersearch" {
        bind "Alt h" { SwitchToMode "Normal"; }                                                    // mode normal
        bind "Up" { ScrollUp; }                                                                    // scroll up
        bind "Down" { ScrollDown; }                                                                // scroll down
        bind "PageUp" { HalfPageScrollUp; }                                                        // scroll half up
        bind "PageDown" { HalfPageScrollDown; }                                                    // scroll half down
        bind "Home" { PageScrollUp; }                                                              // scroll full up
        bind "End" { PageScrollDown; }                                                             // scroll full down
    }

    search {
        bind "l" { Search "down"; }
        bind "h" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "x" { SearchToggleOption "Wrap"; }
        bind "z" { SearchToggleOption "WholeWord"; }
    }

    entersearch {
        bind "Enter" { SwitchToMode "Search"; }

        bind "Shift Home" { Resize "Increase"; }                                                   // increase size
        bind "Shift End" { Resize "Decrease"; }                                                    // decrease size

        bind "Ctrl b" { MovePane "Left"; }                                                         // motion left
        bind "Ctrl f" { MovePane "Right"; }                                                        // motion right
        bind "Ctrl n" { MovePane "Up"; }                                                           // motion up
        bind "Ctrl p" { MovePane "Down"; }                                                         // motion down

        bind "Alt j" { Resize "Increase Left"; }                                                   // increase left
        bind "Alt k" { Resize "Increase Right"; }                                                  // increase right
        bind "Alt l" { Resize "Increase Up"; }                                                     // increase up
        bind "Alt m" { Resize "Increase Down"; }                                                   // increase down

        bind "Alt x" { Resize "Decrease Right"; }                                                  // decrease left
        bind "Alt y" { Resize "Decrease Left"; }                                                   // decrease right
        bind "Ctrl x" { Resize "Decrease Down"; }                                                  // decrease up
        bind "Ctrl y" { Resize "Decrease Up"; }                                                    // decrease down

        bind "Space" { Detach; }                                                                   // detach
        bind "Tab" {                                                                               // session manager
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }
    }

}

////////////////////////////////////////////////////////////////////////////////////////////////////

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
