////////////////////////////////////////////////////////////////////////////////////////////////////

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    tab name="Monitor" split_direction="horizontal" hide_floating_panes=true {
        pane split_direction="vertical" {
            pane name="Clock" size="40%" borderless=true command="tock" {
                args "-m" "-s"
            }
            pane name="Control" focus=true
        }
        pane split_direction="vertical" size="75%" {
            pane name="btm" borderless=true command="btm"
        }

        floating_panes {
            pane name="Audio" cwd="/Users/drivas/Music" {
                x "0%"
                y "1%"
                width "37%"
                height "25%"
            }
        }
    }

    tab name="Calendar" {
        pane split_direction="vertical" {
            pane name="Notes" command="joplin"
            pane name="Calendar"
        }
    }

    tab name="Files" focus=true hide_floating_panes=true {
        pane stacked=true split_direction="horizontal" {
            pane name="I" cwd="/Users/drivas/Downloads"
            pane name="II" cwd="/Users/drivas" focus=true
            pane name="III" cwd="/Users/drivas"
        }
    }

    tab name="Archive" hide_floating_panes=true {
        pane split_direction="horizontal" {
            pane name="Canvas" cwd="/Users/drivas/.archive" focus=true
            pane name="Editor" cwd="/Users/drivas/.archive"
        }

        floating_panes {
            pane name="Git" cwd="/Users/drivas/.archive" {
                x "0%"
                y "3%"
                width "100%"
                height "97%"
            }
        }
    }

    tab name="Factorem" hide_floating_panes=true {
        pane split_direction="horizontal" {
            pane name="Canvas" cwd="/Users/drivas/Factorem" focus=true
            pane name="Editor" cwd="/Users/drivas/Factorem"
        }

        floating_panes {
            pane name="Git" cwd="/Users/drivas/Factorem" {
                x "0%"
                y "3%"
                width "100%"
                height "97%"
            }
        }
    }

    tab name="Update" {
        pane name="Master" cwd="/Users/drivas" focus=true

        floating_panes {
            pane name="Slave" cwd="/Users/drivas" {
                x "0%"
                y "3%"
                width "100%"
                height "97%"
            }
        }

    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
