////////////////////////////////////////////////////////////////////////////////////////////////////

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    tab name="Monitor" split_direction="horizontal" hide_floating_panes=true {
        pane split_direction="vertical" {
            pane name="Clock" size="40%" borderless=true command="tock" {
                args "-m" "-s"
            }
            pane name="Control" focus=true
        }
        pane split_direction="vertical" size="75%" {
            pane name="btm" borderless=true command="btm"
        }
    }

    tab name="Calendar" {
        pane split_direction="vertical" {
            pane name="Notes" command="joplin"
        }
    }

    tab name="Files" focus=true hide_floating_panes=true {
        pane stacked=true split_direction="horizontal" {
            pane name="I" cwd="/Users/drivas/Downloads"
            pane name="II" cwd="/Users/drivas" focus=true
            pane name="III" cwd="/Users/drivas"
        }
    }

    tab name="Archive" hide_floating_panes=true {
        pane split_direction="horizontal" {
            pane name="Canvas" cwd="/Users/drivas/.archive" focus=true
            pane name="Editor" cwd="/Users/drivas/.archive"
            pane name="Git" cwd="/Users/drivas/.archive"
        }
    }

    tab name="Factorem" hide_floating_panes=true {
        pane split_direction="horizontal" {
            pane name="Canvas" cwd="/Users/drivas/Factorem" focus=true
            pane name="Editor" cwd="/Users/drivas/Factorem"
            pane name="Git" cwd="/Users/drivas/Factorem"
        }
    }

    tab name="Develop" {
        pane name="Master" cwd="/Users/drivas" focus=true
    }

    tab name="Update" {
        pane name="Master" cwd="/Users/drivas" focus=true
    }

}

////////////////////////////////////////////////////////////////////////////////////////////////////
