////////////////////////////////////////////////////////////////////////////////////////////////////

theme "kanagawa"

////////////////////////////////////////////////////////////////////////////////////////////////////

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    tab name="Explore" hide_floating_panes=true focus=true {
        pane split_direction="vertical" {
            pane name="tree" size="40%" command="broot" {
                args "--dates" "--sizes" "--permissions" "--hidden" "--git-ignored" "--show-git-info" "--sort-by-type-dirs-first"
            }
            pane name="explore" size="60%" focus=true
        }
    }

    tab name="Nushell" {
        pane name="nu" command="nu"
    }

}

////////////////////////////////////////////////////////////////////////////////////////////////////
