////////////////////////////////////////////////////////////////////////////////////////////////////

theme "nightfox"

////////////////////////////////////////////////////////////////////////////////////////////////////

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    tab name="Files" hide_floating_panes=true {
        pane stacked=true split_direction="horizontal" {
            pane name="I"
            pane name="II"
        }
    }

    tab name="Source" hide_floating_panes=true focus=true {
        pane split_direction="horizontal" {
            pane name="REPL" focus=true
            pane name="Editor"
        }
    }

    tab name="Nushell" {
        pane name="nu" command="nu"
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
