////////////////////////////////////////////////////////////////////////////////////////////////////

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    tab name="Files" hide_floating_panes=true {
        pane stacked=true split_direction="horizontal" {
            pane name="I" cwd="/Users/drivas"
            pane name="II" cwd="/Users/drivas"
        }
    }

    tab name="Source" hide_floating_panes=true focus=true {
        pane split_direction="vertical" {
            pane name="Canvas" cwd="/Users/drivas/Factorem/PrototypeOromuscles" focus=true
            pane name="REPL" cwd="/Users/drivas/Factorem/PrototypeOromuscles"
        }

        floating_panes {
            pane name="Git" cwd="/Users/drivas/Factorem/PrototypeOromuscles" {
                x "0%"
                y "3%"
                width "100%"
                height "97%"
            }
        }
    }

    tab name="Nushell" {
        pane name="nu" cwd="/Users/drivas/Factorem/PrototypeOromuscles" command="nu"
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
