////////////////////////////////////////////////////////////////////////////////////////////////////

theme "gruvbox-dark"

////////////////////////////////////////////////////////////////////////////////////////////////////

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    tab name="Files" hide_floating_panes=true focus=true {
        pane stacked=true split_direction="horizontal" {
            pane name="I" cwd="/Users/drivas" focus=true
            pane name="II" cwd="/Users/drivas"
        }
    }

    tab name="Source" hide_floating_panes=true {
        pane split_direction="vertical" size="70%" {
            pane name="Canvas" cwd="/Users/drivas/Factorem" size="30%"
            pane name="Editor" cwd="/Users/drivas/Factorem" size="70%"
        }
        pane split_direction="vertical" size="30%" {
            pane name="Check" cwd="/Users/drivas/Factorem"
        }
    }

    tab name="Nushell" {
        pane name="nu" cwd="/Users/drivas/Factorem" command="nu"
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
