//////////////////////////////////////////////////

(

    // exit
    exit: Some(( code: Char('Q'), modifiers: ( bits: 1, ), )),
    exit_popup: Some(( code: Char('q'), modifiers: ( bits: 0, ), )),

    // workspace
    home: Some(( code: Char('o'), modifiers: ( bits: 2, ), )),
    end: Some(( code: Char('p'), modifiers: ( bits: 2, ), )),
    page_up: Some(( code: Char('b'), modifiers: ( bits: 2, ), )),
    page_down: Some(( code: Char('f'), modifiers: ( bits: 2, ), )),

)

//////////////////////////////////////////////////