////////////////////////////////////////////////////////////////////////////////////////////////////

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    pane_template name="triple_pane" {
        pane split_direction="horizontal" {
            children
            pane
        }
    }

    tab name="Files" hide_floating_panes=true {
        pane stacked=true split_direction="horizontal" {
            pane name="Downloads" cwd="/Users/drivas/Downloads" focus=true
            pane name="F1"
            pane name="F2"
        }
    }

    tab name="Source" hide_floating_panes=true focus=true {
        pane {
            pane name="Editor" cwd="/Users/drivas/Factorem/Cohesion" focus=true
        }
        floating_panes {
            pane name="Git" cwd="/Users/drivas/Factorem/Cohesion" {
                x "20%"
                y "2%"
                width "80%"
                height "98%"
            }
        }
        floating_panes {
            pane name="Watch" cwd="/Users/drivas/Factorem/Cohesion" start_suspended=true command="just" {
                args "check"
                x "25%"
                y "2%"
                width "75%"
                height "98%"
            }
        }
    }

    tab name="Nushell" {
        pane name="nu" cwd="/Users/drivas/Factorem/Cohesion" command="nu"
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
