// TODO: update theme
// TODO: update bindings


layout {
    pane
    pane split_direction="vertical" {
        pane
        pane command="btm"
    }
}

themes {
    tokyo-night-light {
        fg 52 59 88
        bg 213 214 219
        black 15 15 20
        red 186 75 96
        green 72 94 48
        yellow 143 94 21
        blue 52 84 138
        magenta 90 74 120
        cyan 15 75 110
        white 130 137 172
        orange 150 80 39
    }
}

keybinds clear-defaults=true {

    shared_except "locked" {
        bind "Ctrl q" { Quit; }
//        bind "Alt Left" { MoveFocusOrTab "Left"; }
//        bind "Alt Right" { MoveFocusOrTab "Right"; }
//        bind "Alt Down" { MoveFocus "Down"; }
//        bind "Alt Up" { MoveFocus "Up"; }
//        bind "Alt +" { Resize "Increase"; }
//        bind "Alt -" { Resize "Decrease"; }
//        bind "Alt [" { PreviousSwapLayout; }
//        bind "Alt ]" { NextSwapLayout; }
    }

    // modes
    shared_except "normal" {
        bind "F1" { SwitchToMode "Normal"; }                                                     // `esc`
        bind "F2" { SwitchToMode "Normal"; }
    }

    shared_except "pane" {
        bind "F3" { SwitchToMode "Pane"; }
    }

    shared_except "tab" {
        bind "F4" { SwitchToMode "Tab"; }
    }

    shared_except "resize" {
        bind "F5" { SwitchToMode "Resize"; }
    }

    shared_except "move" {
        bind "F6" { SwitchToMode "Move"; }
    }

    shared_except "search" {
        bind "F7" { SwitchToMode "Search"; }
    }

    shared_except "session" {
        bind "F8" { SwitchToMode "Session"; }
    }

    shared {
        bind "Alt m" { SwitchToMode "Tab"; NewTab; SwitchToMode "Normal"; }
        bind "Alt p" { SwitchToMode "Tab"; GoToPreviousTab; SwitchToMode "Normal"; }
        bind "Alt t" { SwitchToMode "Tab"; GoToNextTab; SwitchToMode "Normal"; }
    }

    locked {
    }

    normal {
        bind "F1" { SwitchToMode "Locked"; }                                                     // `esc`

        // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }
    }

    pane {
        bind "F3" { SwitchToMode "Normal"; }
        bind "h" "Left" { MoveFocus "Left"; }
        bind "l" "Right" { MoveFocus "Right"; }
        bind "j" "Down" { MoveFocus "Down"; }
        bind "k" "Up" { MoveFocus "Up"; }
        bind "p" { SwitchFocus; }
        bind "n" { NewPane; SwitchToMode "Normal"; }
        bind "d" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "r" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "z" { TogglePaneFrames; SwitchToMode "Normal"; }
        bind "w" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
        bind "c" { SwitchToMode "RenamePane"; PaneNameInput 0;}
    }

    tab {
        bind "F4" { SwitchToMode "Normal"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "h" "Left" "Up" "k" { GoToPreviousTab; }
        bind "l" "Right" "Down" "j" { GoToNextTab; }
        bind "n" { NewTab; SwitchToMode "Normal"; }
        bind "x" { CloseTab; SwitchToMode "Normal"; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "Normal"; }
        bind "1" { GoToTab 1; SwitchToMode "Normal"; }
        bind "2" { GoToTab 2; SwitchToMode "Normal"; }
        bind "3" { GoToTab 3; SwitchToMode "Normal"; }
        bind "4" { GoToTab 4; SwitchToMode "Normal"; }
        bind "5" { GoToTab 5; SwitchToMode "Normal"; }
        bind "6" { GoToTab 6; SwitchToMode "Normal"; }
        bind "7" { GoToTab 7; SwitchToMode "Normal"; }
        bind "8" { GoToTab 8; SwitchToMode "Normal"; }
        bind "9" { GoToTab 9; SwitchToMode "Normal"; }
        bind "Tab" { ToggleTab; }
    }

    resize {
        bind "F5" { SwitchToMode "Normal"; }
        bind "h" "Left" { Resize "Increase Left"; }
        bind "j" "Down" { Resize "Increase Down"; }
        bind "k" "Up" { Resize "Increase Up"; }
        bind "l" "Right" { Resize "Increase Right"; }
        bind "H" { Resize "Decrease Left"; }
        bind "J" { Resize "Decrease Down"; }
        bind "K" { Resize "Decrease Up"; }
        bind "L" { Resize "Decrease Right"; }
        bind "=" "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
    }

    move {
        bind "F6" { SwitchToMode "Normal"; }
        bind "n" "Tab" { MovePane; }
        bind "p" { MovePaneBackwards; }
        bind "h" "Left" { MovePane "Left"; }
        bind "j" "Down" { MovePane "Down"; }
        bind "k" "Up" { MovePane "Up"; }
        bind "l" "Right" { MovePane "Right"; }
    }

    scroll {
        bind "F7" { SwitchToMode "Normal"; }
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }
    }

    search {
        bind "F7" { SwitchToMode "Normal"; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "n" { Search "down"; }
        bind "p" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }

    entersearch {
    }

    renametab {
//        bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
    }

    session {
        bind "F8" { SwitchToMode "Normal"; }
        bind "d" { Detach; }
    }

    tmux {
//        bind "Ctrl b" { Write 2; SwitchToMode "Normal"; }
//        bind "\"" { NewPane "Down"; SwitchToMode "Normal"; }
//        bind "%" { NewPane "Right"; SwitchToMode "Normal"; }
//        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
//        bind "c" { NewTab; SwitchToMode "Normal"; }
//        bind "," { SwitchToMode "RenameTab"; }
//        bind "p" { GoToPreviousTab; SwitchToMode "Normal"; }
//        bind "n" { GoToNextTab; SwitchToMode "Normal"; }
//        bind "Left" { MoveFocus "Left"; SwitchToMode "Normal"; }
//        bind "Right" { MoveFocus "Right"; SwitchToMode "Normal"; }
//        bind "Down" { MoveFocus "Down"; SwitchToMode "Normal"; }
//        bind "Up" { MoveFocus "Up"; SwitchToMode "Normal"; }
//        bind "h" { MoveFocus "Left"; SwitchToMode "Normal"; }
//        bind "l" { MoveFocus "Right"; SwitchToMode "Normal"; }
//        bind "j" { MoveFocus "Down"; SwitchToMode "Normal"; }
//        bind "k" { MoveFocus "Up"; SwitchToMode "Normal"; }
//        bind "o" { FocusNextPane; }
//        bind "d" { Detach; }
//        bind "Space" { NextSwapLayout; }
//        bind "x" { CloseFocus; SwitchToMode "Normal"; }
    }

}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}
