////////////////////////////////////////////////////////////////////////////////////////////////////

theme "tokyo-night-light"

////////////////////////////////////////////////////////////////////////////////////////////////////

keybinds clear-defaults=true {

    shared_except "locked" {
        bind "Ctrl q" { Quit; }
    }

////////////////////////////////////////////////////////////////////////////////////////////////////

    // modes
    shared_except "normal" {
        bind "Alt s" { SwitchToMode "Normal"; }
    }

    shared_except "pane" {
        bind "Alt t" { SwitchToMode "Pane"; }
    }

    shared_except "tab" {
        bind "Alt v" { SwitchToMode "Tab"; }
    }

    shared_except "resize" {
        bind "Alt w" { SwitchToMode "Resize"; }
    }

    shared_except "scroll" {
        bind "Alt x" { SwitchToMode "Scroll"; }
    }

    shared_except "search" {
        bind "Alt y" { SwitchToMode "Search"; }
    }

    shared_except "session" {
        bind "Alt z" { SwitchToMode "Session"; }
    }

////////////////////////////////////////////////////////////////////////////////////////////////////

    shared {
        bind "Alt a" { SwitchToMode "Pane"; NewPane "Down"; SwitchToMode "Normal"; }
        // bind "Alt b" {}
        // bind "Alt c" {}
        // bind "Alt d" {}
        // bind "Alt e" {  }                                                                        DOC: accent
        // bind "Alt f" {}
        bind "Alt g" { SwitchToMode "Pane"; NewPane "Right"; SwitchToMode "Normal"; }
        bind "Alt h" { SwitchToMode "Pane"; MoveFocus "Left"; SwitchToMode "Normal"; }
        // bind "Alt i" {  }                                                                        DOC: accent
        bind "Alt j" { SwitchToMode "Pane"; MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "Alt k" { SwitchToMode "Pane"; MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "Alt l" { SwitchToMode "Pane"; MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "Alt m" { SwitchToMode "Pane"; ToggleFocusFullscreen; SwitchToMode "Normal"; }
        // bind "Alt n" {  }                                                                        DOC: accent
        // bind "Alt o" { SwitchToMode "Pane"; ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "Alt p" { SwitchToMode "Tab"; GoToPreviousTab; SwitchToMode "Normal"; }
        bind "Alt q" { SwitchToMode "Tab"; GoToNextTab; SwitchToMode "Normal"; }
        bind "Alt r" { SwitchToMode "Tab"; NewTab; SwitchToMode "Normal"; }
        // bind "Alt t" {}
        // bind "Alt u" {  }                                                                        DOC: accent
        // bind "Alt v" {}
        // bind "Alt w" {}
        // bind "Alt x" {}
        // bind "Alt y" {}
        // bind "Alt z" {}

        // bind "Alt A" {}
        // bind "Alt B" {}
        // bind "Alt C" {}
        // bind "Alt D" {}
        // bind "Alt E" {}
        // bind "Alt F" {}
        // bind "Alt G" {}
        bind "Alt H" { SwitchToMode "Move"; MovePane "Left"; SwitchToMode "Normal"; }
        // bind "Alt I" {}
        bind "Alt J" { SwitchToMode "Move"; MovePane "Right"; SwitchToMode "Normal"; }
        bind "Alt K" { SwitchToMode "Move"; MovePane "Up"; SwitchToMode "Normal"; }
        bind "Alt L" { SwitchToMode "Move"; MovePane "Down"; SwitchToMode "Normal"; }
        bind "Alt M" { SwitchToMode "Pane"; ToggleFloatingPanes; SwitchToMode "Normal"; }
        // bind "Alt N" {}
        // bind "Alt O" {  }                                                                        DOC: accent
        // bind "Alt P" {}
        // bind "Alt Q" {}
        // bind "Alt R" {}
        // bind "Alt S" {}
        // bind "Alt T" {}
        // bind "Alt U" {}
        // bind "Alt V" {}
        // bind "Alt W" {}
        // bind "Alt X" {}
        // bind "Alt Y" {}
        // bind "Alt Z" {}
    }

////////////////////////////////////////////////////////////////////////////////////////////////////

    locked {
    }

////////////////////////////////////////////////////////////////////////////////////////////////////

    normal {
        bind "Alt s" { SwitchToMode "Locked"; }
    }

////////////////////////////////////////////////////////////////////////////////////////////////////

    pane {
        bind "Alt t" { SwitchToMode "Normal"; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "z" { TogglePaneFrames; SwitchToMode "Normal"; }
        bind "Tab" { SwitchFocus; }
        bind "Space" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
        bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0;}
    }

////////////////////////////////////////////////////////////////////////////////////////////////////

    tab {
        bind "Alt v" { SwitchToMode "Normal"; }
        bind "x" { CloseTab; SwitchToMode "Normal"; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "Normal"; }
        bind "1" { GoToTab 1; SwitchToMode "Normal"; }
        bind "2" { GoToTab 2; SwitchToMode "Normal"; }
        bind "3" { GoToTab 3; SwitchToMode "Normal"; }
        bind "4" { GoToTab 4; SwitchToMode "Normal"; }
        bind "5" { GoToTab 5; SwitchToMode "Normal"; }
        bind "6" { GoToTab 6; SwitchToMode "Normal"; }
        bind "7" { GoToTab 7; SwitchToMode "Normal"; }
        bind "8" { GoToTab 8; SwitchToMode "Normal"; }
        bind "9" { GoToTab 9; SwitchToMode "Normal"; }
        bind "Tab" { ToggleTab; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
    }

////////////////////////////////////////////////////////////////////////////////////////////////////

    resize {
        bind "Alt w" { SwitchToMode "Normal"; }
        bind "=" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        bind "h" { Resize "Increase Left"; }
        bind "j" { Resize "Increase Down"; }
        bind "k" { Resize "Increase Up"; }
        bind "l" { Resize "Increase Right"; }
        bind "H" { Resize "Decrease Left"; }
        bind "J" { Resize "Decrease Down"; }
        bind "K" { Resize "Decrease Up"; }
        bind "L" { Resize "Decrease Right"; }
    }

////////////////////////////////////////////////////////////////////////////////////////////////////

    scroll {
        bind "Alt x" { SwitchToMode "Normal"; }
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }
    }

    search {
        bind "Alt y" { SwitchToMode "Normal"; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "n" { Search "down"; }
        bind "p" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }

    entersearch {
    }

    renametab {
//        bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
    }

////////////////////////////////////////////////////////////////////////////////////////////////////

    session {
        bind "Alt z" { SwitchToMode "Normal"; }
        bind "d" { Detach; }
    }

////////////////////////////////////////////////////////////////////////////////////////////////////

}

////////////////////////////////////////////////////////////////////////////////////////////////////

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
