////////////////////////////////////////////////////////////////////////////////////////////////////

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
    }

    pane_template name="triple_pane" {
        pane split_direction="horizontal" {
            children
            pane
        }
    }

    tab name="Monitor" split_direction="horizontal" hide_floating_panes=true {
        floating_panes {
            pane name="Notes" command="joplin" {
                x "0%"
                y "3%"
                width "100%"
                height "97%"
            }
        }
        pane split_direction="vertical" {
            pane name="Clock" command="tock" size="35%" borderless=true
            pane name="Control" focus=true
        }
        pane split_direction="vertical" size="75%" {
            pane name="btm" command="btm" borderless=true
            pane name="ytop" command="ytop" borderless=true
        }
    }

    tab name="Files" focus=true {
        pane split_direction="vertical" {
            pane name="D1"
            pane name="D2" focus=true
            pane name="D3"
        }
        pane name="Downloads" cwd="/Users/drivas/Downloads"
    }

    tab name="Archive" {
        pane split_direction="vertical" {
            pane name="A1" cwd="/Users/drivas/.archive"
            pane name="A2" cwd="/Users/drivas/.archive"
        }
        pane name="Archive" cwd="/Users/drivas/.archive"
    }

    tab name="Factorem" {
        pane split_direction="vertical" {
            pane name="F1" cwd="/Users/drivas/Factorem"
            pane name="F2" cwd="/Users/drivas/Factorem"
        }
        pane name="Factorem" cwd="/Users/drivas/Factorem"
    }

}

////////////////////////////////////////////////////////////////////////////////////////////////////
