    entersearch {
        bind "Shift F10" { SwitchToMode "Normal"; }
        bind "Up" { ScrollUp; }                  // undocumented
        bind "Down" { ScrollDown; }              // undocumented
        bind "PageUp" { HalfPageScrollUp; }
        bind "PageDown" { HalfPageScrollDown; }
        bind "Home" { PageScrollUp; }
        bind "End" { PageScrollDown; }
        bind "Enter" { SwitchToMode "Search"; }  // undocumented
        bind "Shift F10" { SwitchToMode "Normal"; }
	}
