    entersearch {
        bind "Ctrl Shift F8" { SwitchToMode "Normal"; }
        // TODO: document arrows
        bind "Up" { ScrollUp; }
        bind "Down" { ScrollDown; }
        bind "PageUp" { HalfPageScrollUp; }
        bind "PageDown" { HalfPageScrollDown; }
        bind "Home" { PageScrollUp; }
        bind "End" { PageScrollDown; }

        // TODO: document enter
        bind "Enter" { SwitchToMode "Search"; }

        bind "Ctrl Shift F8" { SwitchToMode "Normal"; }
	}
