////////////////////////////////////////////////////////////////////////////////////////////////////

pane_frames false
layout_dir "~/.config/zellij/layouts/"

////////////////////////////////////////////////////////////////////////////////////////////////////

ui {
    pane_frames {
        hide_session_name true
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////

load_plugins {
    zellij-pane-picker
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    zellij-pane-picker location="https://github.com/shihanng/zellij-pane-picker/releases/download/v0.6.0/zellij-pane-picker.wasm" {
        list_panes ""
        plugin_select_down "Down"
        plugin_select_up "Up"
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////

