////////////////////////////////////////////////////////////////////////////////////////////////////

pane_frames false
layout_dir "~/.config/zellij/layouts/"

////////////////////////////////////////////////////////////////////////////////////////////////////

ui {
    pane_frames {
        hide_session_name true
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
