    search {
        bind "Up" { ScrollUp; }                            // undocumented
        bind "Down" { ScrollDown; }                        // undocumented
        bind "PageUp" { HalfPageScrollUp; }                // undocumented
        bind "PageDown" { HalfPageScrollDown; }            // undocumented
        bind "Home" { PageScrollUp; }                      // undocumented
        bind "End" { PageScrollDown; }                     // undocumented

        bind "l" { Search "down"; }                        // undocumented
        bind "h" { Search "up"; }                          // undocumented
        bind "c" { SearchToggleOption "CaseSensitivity"; } // undocumented
        bind "x" { SearchToggleOption "Wrap"; }            // undocumented
        bind "w" { SearchToggleOption "WholeWord"; }       // undocumented
    }
