    shared_except "locked" {
        bind "Ctrl q" { Quit; }

        bind "Shift PageUp" { MoveTab "Left"; }
        bind "Shift PageDown" { MoveTab "Right"; }

        bind "Alt a" { EditScrollback; SwitchToMode "Normal"; }
        // bind "Alt b" {}
        // bind "Alt c" {}                                                          COLLISION
        // bind "Alt d" {}                                                          COLLISION
        // bind "Alt e" {}                                                          COLLISION
        // bind "Alt f" {}
        bind "Alt g" { SwitchToMode "Locked"; }
        bind "Alt h" { SwitchToMode "EnterSearch"; SearchInput 0; }
        // bind "Alt i" {  }                                                        COLLISION
        bind "Alt j" { MoveFocus "Left"; }
        bind "Alt k" { MoveFocus "Right"; }
        bind "Alt l" { MoveFocus "Up"; }
        bind "Alt m" { MoveFocus "Down"; }
        // bind "Alt n" {  }                                                        COLLISION
        bind "Alt o" { CloseFocus; }
        bind "Alt p" { ToggleFocusFullscreen; }
        bind "Alt q" { NewPane "Right"; }
        bind "Alt r" { NewPane "Down"; }
        bind "Alt s" { SwitchToMode "RenamePane"; PaneNameInput 0; }
        bind "Alt t" { SwitchFocus; }
        // bind "Alt u" {  }                                                        COLLISION
        bind "Alt v" {}
        bind "Alt w" {}
        bind "Alt x" {}
        bind "Alt y" {}
        bind "Alt z" {}

        bind "Shift Alt a" { SwitchToMode "Tab"; GoToTab 1; SwitchToMode "Normal"; }
        bind "Shift Alt b" { SwitchToMode "Tab"; GoToTab 2; SwitchToMode "Normal"; }
        bind "Shift Alt c" { SwitchToMode "Tab"; GoToTab 3; SwitchToMode "Normal"; }
        bind "Shift Alt d" { SwitchToMode "Tab"; GoToTab 4; SwitchToMode "Normal"; }
        bind "Shift Alt e" { SwitchToMode "Tab"; GoToTab 5; SwitchToMode "Normal"; }
        bind "Shift Alt f" { SwitchToMode "Tab"; GoToTab 6; SwitchToMode "Normal"; }
        bind "Shift Alt g" { SwitchToMode "Tab"; GoToTab 7; SwitchToMode "Normal"; }
        bind "Shift Alt h" { SwitchToMode "Tab"; GoToTab 8; SwitchToMode "Normal"; }
        bind "Shift Alt i" { SwitchToMode "Tab"; GoToTab 9; SwitchToMode "Normal"; }
        bind "Shift Alt j" { GoToPreviousTab; }
        bind "Shift Alt k" { GoToNextTab; }
        bind "Shift Alt l" { TogglePaneEmbedOrFloating; }
        bind "Shift Alt m" { TogglePanePinned; }
        bind "Shift Alt n" { ToggleFloatingPanes; }
        // bind "Alt O" {  }                                                        COLLISION
        bind "Shift Alt p" { LaunchOrFocusPlugin "file:~/.config/zellij/plugins/room.wasm" { floating true; ignore_case true; }; }
        bind "Shift Alt q" { NewTab; }
        bind "Shift Alt r" { BreakPane; }
        bind "Shift Alt s" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "Shift Alt t" { ToggleTab; }
        bind "Shift Alt u" { CloseTab; }
        bind "Shift Alt v" { ToggleActiveSyncTab; }
        bind "Shift Alt w" { LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij-jump-list.wasm" { floating true; move_to_focused_tab true; }; }
        bind "Shift Alt x" { LaunchOrFocusPlugin "file:~/.config/zellij/plugins/monocle.wasm" { floating true; }; SwitchToMode "Normal"; }
        bind "Shift Alt y" {}
        bind "Shift Alt z" {}
    }
