"*":
  "atom-beautify":
    general:
      _analyticsUserId: "5b124fa4-6247-46e5-8f3e-bde5e948f60d"
  "atom-clock":
    showClockIcon: true
  "atom-material-ui":
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-paths":
    ignoredNames: false
    maxFileCount: 500
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
    enableAutoConfirmSingleSuggestion: false
    maxVisibleSuggestions: 5
    minimumWordLength: 2
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "background-tips"
      "language-gfm"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.in"
    ]
    packagesWithKeymapsDisabled: [
      "autocomplete"
      "rbox"
      "autocomplete-plus"
      "todo"
      "language-markdown"
      "github"
      "git-diff"
      "autocomplete-haskell"
      "modular-snippets"
    ]
    packagesWithSnippetsDisabled: [
      "atom-language-r"
      "rbox"
      "language-shellscript"
      "language-rust"
      "language-awk"
      "language-coffee-script"
      "language-go"
      "language-julia"
      "language-haskell"
      "language-scala"
      "snippets"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "spacegray-atom-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Monaco"
    fontSize: 16
    invisibles:
      tab: "—"
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "7bb576b7-4a68-4896-8ff0-eb7720324c95"
  "file-icons": {}
  "fuzzy-finder":
    preserveLastSearch: true
  "git-diff":
    wrapAroundOnMoveToDiff: false
  "git-log":
    fontScale: 1
  "git-plus":
    general:
      splitPane: "Right"
  github:
    panel: {}
    showDiffIconGutter: true
  "highlight-selected": {}
  "ide-rust":
    rlsDefaultConfig: {}
  "julia-client":
    firstBoot: false
    juliaOptions:
      bootMode: "Basic"
    uiOptions:
      enableMenu: true
      enableToolBar: true
  "linter-ui-default":
    panelHeight: 300
  "markdown-pdf":
    ghStyle: false
  "markdown-preview":
    grammars: [
      "source.gfm.rmd"
      "source.gfm"
      "source.litcoffee"
      "text.html.basic"
      "text.md"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "markdown-preview-plus":
    extensions: [
      "markdown"
      "md"
      "mdown"
      "mkd"
      "mkdown"
      "ron"
      "txt"
      "Rmd"
    ]
    grammars: [
      "source.gfm.rmd"
      "source.gfm"
      "source.litcoffee"
      "text.html.basic"
      "text.md"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "markdown-writer":
    fileExtension: ".md"
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "lens-mode": true
      "lens-modeDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "minimap-git-diff":
    useGutterDecoration: true
  "one-dark-ui":
    stickyHeaders: true
  "relative-numbers":
    showAbsoluteNumbersInInsertMode: false
    softWrapsCount: false
  "seti-syntax":
    dynamicColor: false
    themeColor: "Steel"
  "show-invisibles-plus":
    placeholders: {}
  "spell-check":
    locales: [
      "en-US"
    ]
  swackets:
    colorParens: true
  "tool-bar":
    position: "Left"
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
  "tree-view-git-branch":
    location: "top"
    separator: true
  "tree-view-git-status":
    gitFlow: {}
    showBranchLabel: false
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".coffee.source":
  editor:
    tabLength: 2
    tabType: "soft"
".css.source":
  editor:
    tabLength: 2
    tabType: "soft"
".fish.source":
  editor:
    autoIndentOnPaste: true
    tabType: "soft"
".go.source":
  editor:
    tabLength: 2
    tabType: "soft"
".json.source":
  editor:
    tabLength: 2
    tabType: "soft"
".julia.source":
  editor:
    tabLength: 2
    tabType: "soft"
".md.text":
  editor:
    preferredLineLength: 100
    softWrapAtPreferredLineLength: true
".python.regexp.source":
  editor:
    preferredLineLength: 100
    tabLength: 2
".python.source":
  editor:
    tabLength: 2
    tabType: "soft"
".r.source":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
    showIndentGuide: true
    tabLength: 2
    tabType: "soft"
".rust.source":
  editor:
    autoIndentOnPaste: true
    preferredLineLength: 100
    showInvisibles: true
    tabLength: 2
    tabType: "soft"
".shell.source":
  editor:
    tabLength: 2
    tabType: "soft"
