"*":
  "atom-clock":
    rightClickToClipboard: false
    showClockIcon: true
    showUTC: true
  core:
    audioBeep: false
    automaticallyUpdate: false
    closeEmptyWindows: false
    destroyEmptyPanes: false
    packagesWithKeymapsDisabled: [
      "move-panes"
      "keybinding-cheatsheet"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 18
    invisibles:
      tab: "-"
    multiCursorOnClick: false
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "d3b2999d-0c0c-4ee4-b99f-4050d824ac99"
  jumpy:
    fontSize: 1
    useHomingBeaconEffectOnJumps: false
  "keybinding-cheatsheet": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  welcome:
    showOnStartup: false
