"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
    defaultInputValue: "Project root"
    fuzzyMatch: true
  "atom-beautify":
    bash:
      beautify_on_save: true
    coffeescript:
      beautify_on_save: true
    css: {}
    general:
      _analyticsUserId: "0c336756-a4c6-46e3-a3c2-b9ba5591b0f3"
    go:
      beautify_on_save: true
    haskell:
      beautify_on_save: true
    html:
      beautify_on_save: true
    java:
      beautify_on_save: true
    js:
      beautify_on_save: true
    json: {}
    less:
      beautify_on_save: true
    markdown:
      beautify_on_save: true
    perl:
      beautify_on_save: true
    python:
      beautify_on_save: true
    r:
      beautify_on_save: true
    rust:
      beautify_on_save: true
    sql:
      beautify_on_save: true
    typescript:
      beautify_on_save: true
    yaml:
      beautify_on_save: true
  "atom-clock":
    rightClickToClipboard: false
    showClockIcon: true
  "autocomplete-plus":
    confirmCompletion: "enter"
    moveToCancel: true
  autosave:
    enabled: true
  "bracket-colorizer":
    alternate_different: true
  core:
    audioBeep: false
    automaticallyUpdate: false
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "language-gfm"
      "package-generator"
      "open-on-github"
      "background-tips"
    ]
    packagesWithKeymapsDisabled: [
      "highlight-selected"
      "latex"
      "rbox"
      "autocomplete-plus"
      "git-diff"
      "bookmarks"
      "atom-beautify"
      "minimap"
      "snippets"
    ]
    packagesWithSnippetsDisabled: [
      "highlight-nanorc"
      "language-awk"
      "language-fish-shell"
      "language-haskell"
      "language-julia"
      "language-latex"
      "language-rust"
      "language-scala"
      "rbox"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-css"
      "language-git"
      "language-go"
      "language-html"
      "language-java"
      "language-javascript"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-sass"
      "language-shellscript"
      "language-text"
      "language-todo"
      "language-typescript"
      "language-xml"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "spacegray-atom-dark-syntax"
    ]
  editor:
    fontSize: 16
    invisibles:
      tab: "—"
    preferredLineLength: 135
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "145fd7e9-aad6-4072-a20a-d2a321d2327f"
  "file-icons":
    onChanges: true
  jumpy:
    fontSize: 1
    highContrast: true
  minimap:
    moveCursorOnMinimapClick: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "lens-mode": true
      "lens-modeDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "minimap-git-diff":
    useGutterDecoration: true
  "minimap-selection": {}
  "one-dark-ui":
    stickyHeaders: true
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".console.julia.source":
  editor:
    tabLength: 2
".git-commit.text":
  editor:
    preferredLineLength: 135
".julia.source":
  editor:
    tabLength: 2
".python.regexp.source":
  editor:
    tabLength: 2
".python.source":
  editor:
    tabLength: 2
".rust.source":
  editor:
    preferredLineLength: 135
    tabLength: 2
".source.vim-snippet":
  editor:
    tabType: "auto"
".text.vim-help":
  editor:
    tabLength: 2
    tabType: "auto"
