# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:boo
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#customizing-keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#configuring-with-cson



#------------------------------------------------------------------------------------------------------------------------------
#
#  .d8888b.  8888888888 88888888888 88888888888 8888888 888b    888  .d8888b.   .d8888b.
# d88P  Y88b 888            888         888       888   8888b   888 d88P  Y88b d88P  Y88b
# Y88b.      888            888         888       888   88888b  888 888    888 Y88b.
#  "Y888b.   8888888        888         888       888   888Y88b 888 888         "Y888b.
#     "Y88b. 888            888         888       888   888 Y88b888 888  88888     "Y88b.
#       "888 888            888         888       888   888  Y88888 888    888       "888
# Y88b  d88P 888            888         888       888   888   Y8888 Y88b  d88P Y88b  d88P
#  "Y8888P"  8888888888     888         888     8888888 888    Y888  "Y8888P88  "Y8888P"
#
#------------------------------------------------------------------------------------------------------------------------------

'body':

  'ctrl-q -': 'pane:split-up-and-copy-active-item' # Atom Specific
  'ctrl-q _': 'pane:split-down-and-copy-active-item' # Atom Specific
  'ctrl-q \\': 'pane:split-left-and-copy-active-item' # Atom Specific
  'ctrl-q |': 'pane:split-right-and-copy-active-item' # Atom Specific
  'ctrl-q x': 'pane:close' # Atom Specific
  'ctrl-q shift-X': 'pane:close-other-items' # Atom Specific

  'ctrl-q [': 'window:focus-previous-pane'
  'ctrl-q ]': 'window:focus-next-pane'
  'ctrl-q up': 'window:focus-pane-above'
  'ctrl-q down': 'window:focus-pane-below'
  'ctrl-q left': 'window:focus-pane-on-left'
  'ctrl-q right': 'window:focus-pane-on-right'

'.workspace':
  'ctrl-shift-8': 'github:toggle-github-tab'
  'ctrl-shift-9': 'github:toggle-git-tab'

'.platform-darwin':

# Editor core
  'shift-alt-cmd-e': 'find-and-replace:replace-all'
  'shift-cmd-e': 'find-and-replace:show-replace'

  'cmd-enter': 'abort!'
  'alt-enter': 'abort!'

# Go to line
  'cmd-;': 'go-to-line:toggle'
  'ctrl-g': 'abort!'

# Tree view
  'cmd-\'': 'tree-view:toggle-focus'
  'ctrl-0': 'abort!'

#------------------------------------------------------------------------------------------------------------------------------

# Advanced Open file
'.platform-darwin atom-workspace':
  'alt-cmd-n': 'advanced-open-file:toggle'

'.advanced-open-file atom-text-editor':
  'tab': 'advanced-open-file:autocomplete'
  'up': 'advanced-open-file:move-cursor-up'
  'down': 'advanced-open-file:move-cursor-down'

'.platform-darwin atom-text-editor':

# Symbols view
  'cmd-r': 'symbols-view:toggle-file-symbols'
  'cmd-alt-down': 'symbols-view:go-to-declaration'
  'cmd-alt-up': 'symbols-view:retu'

# Core Editor
  'ctrl-alt-]': 'editor:unfold-current-row'
  'ctrl-alt-[': 'editor:fold-current-row'
  'shift-ctrl-alt-]': 'editor:unfold-all'
  'shift-ctrl-alt-[': 'editor:fold-all'

  'shift-alt-cmd-]': 'unset!'
  'shift-alt-cmd-[': 'unset!'

# autoindent selection
  'alt-cmd-;': 'editor:auto-indent'

# tabs & spaces
  'alt-cmd-,': 'whitespace:convert-spaces-to-tabs'
  'alt-cmd-.': 'whitespace:convert-tabs-to-spaces'

# autocompletion
'.autocomplete-active':
  'enter': 'autocomplete-plus:confirm'
  'escape': 'autocomplete-plus:cancel'

#------------------------------------------------------------------------------------------------------------------------------

# Core Editor
'atom-text-editor':
  'alt-t': 'unset!'

  # Pandoc quick export
  'cmd-alt-o h': 'Pandoc:pandoc2HTML'
  'cmd-alt-o p': 'Pandoc:pandoc2PDF'

#------------------------------------------------------------------------------------------------------------------------------
#
# 888    d8P  8888888888 Y88b   d88P 888888b.  8888888 888b    888 8888888b. 8888888 888b    888  .d8888b.   .d8888b.
# 888   d8P   888         Y88b d88P  888  "88b   888   8888b   888 888  "Y88b  888   8888b   888 d88P  Y88b d88P  Y88b
# 888  d8P    888          Y88o88P   888  .88P   888   88888b  888 888    888  888   88888b  888 888    888 Y88b.
# 888d88K     8888888       Y888P    8888888K.   888   888Y88b 888 888    888  888   888Y88b 888 888         "Y888b.
# 8888888b    888            888     888  "Y88b  888   888 Y88b888 888    888  888   888 Y88b888 888  88888     "Y88b.
# 888  Y88b   888            888     888    888  888   888  Y88888 888    888  888   888  Y88888 888    888       "888
# 888   Y88b  888            888     888   d88P  888   888   Y8888 888  .d88P  888   888   Y8888 Y88b  d88P Y88b  d88P
# 888    Y88b 8888888888     888     8888888P" 8888888 888    Y888 8888888P" 8888888 888    Y888  "Y8888P88  "Y8888P"
#
#------------------------------------------------------------------------------------------------------------------------------

#------------------------------------------------------------------------------------------------------------------------------
#--------------------------------------------/ GENERAL KEYBINDINGS /-----------------------------------------------------------
#------------------------------------------------------------------------------------------------------------------------------

  ',': 'custom:insert-comma'

  'alt-1': 'custom:insert-low_times'
  'alt-2': 'custom:insert-low_divide'
  'alt-3': 'custom:insert-low_plus'
  'alt-4': 'custom:insert-low_minus'
  'alt-5': 'custom:insert-not_equal'
  'alt-6': 'custom:insert-r_pipe_var'
  'alt-7': 'custom:insert-r_pipe'
  'alt-8': 'custom:insert-times'
  'alt-9': 'custom:insert-divide'
  'alt-0': 'custom:insert-plus'
  'alt--': 'custom:insert-minus'
  'alt-=': 'custom:insert-equal'
  'alt-[': 'custom:insert-lessequal'
  'alt-]': 'custom:insert-moreequal'
  'alt-;': 'custom:insert-julia_pipe'
  'alt-\'': 'custom:insert-rust_assign'
  'alt-\\': 'custom:insert-equalequal'
  'alt-,': 'custom:insert-lessthan'
  'alt-.': 'custom:insert-morethan'
  'alt-/': 'custom:insert-r_assign'

  'alt-!': 'custom:insert-low_times_broadcast'
  'alt-@': 'custom:insert-low_divide_broadcast'
  'alt-#': 'custom:insert-low_plus_broadcast'
  'alt-$': 'custom:insert-low_minus_broadcast'
  'alt-%': 'custom:insert-not_equal_broadcast'
  'alt-^': 'custom:insert-r_pipe_tee'
  'alt-&': 'custom:insert-r_pipe_assign'
  'alt-*': 'custom:insert-times_broadcast'
  'alt-(': 'custom:insert-divide_broadcast'
  'alt-)': 'custom:insert-plus_broadcast'
  'alt-_': 'custom:insert-minus_broadcast'
  'alt-+': 'custom:insert-equal_broadcast'
  'alt-{': 'custom:insert-lessequal_broadcast'
  'alt-}': 'custom:insert-moreequal_broadcast'
  'alt-:': 'custom:insert-julia_pipe_broadcast'
  'alt-"': 'custom:insert-r_right_assign'
  'alt-|': 'custom:insert-equalequal_broadcast'
  'alt-<': 'custom:insert-lessthan_broadcast'
  'alt->': 'custom:insert-morethan_broadcast'
  'alt-?': 'custom:insert-go_assign'

#------------------------------------------------------------------------------------------------------------------------------
#
# 8888888888 888b    888 8888888b.
# 888        8888b   888 888  "Y88b
# 888        88888b  888 888    888
# 8888888    888Y88b 888 888    888
# 888        888 Y88b888 888    888
# 888        888  Y88888 888    888
# 888        888   Y8888 888  .d88P
# 8888888888 888    Y888 8888888P"
#
#------------------------------------------------------------------------------------------------------------------------------
