;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; BS
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; bspace
{:des "BSpace Mode - symbols"
 :rules
 [;
  ; [:!EQR#Popen_bracket []]                                                                       ;
  ; [:!EQR#Pclose_bracket []]                                                                      ;
  ; [:!EQR#Psemicolon []]                                                                          ;
  ; [:!EQR#Pquote []]                                                                              ;
  ; [:!EQR#Pbackslash []]                                                                          ;
  ; [:!EQR#Pcomma []]                                                                              ;
  ; [:!EQR#Pperiod []]                                                                             ;
  ; [:!EQR#Pslash []]                                                                              ;

  ; [:!EQR#Pdelete_or_backspace []]                                                 NOT AVAILABLE  ;
  ; [:!EQR#Preturn_or_enter []]                                                                    ;
  ; [:!EQR#Pright_shift []]                                                                        ;
  ; [:!EQR#Pright_option []]                                                                       ;
  ; [:!EQR#Pright_command []]                                                                      ;
  ; [:!EQR#Pspacebar []]                                                                           ;

  ; [:!EQR#Pright_control []]                                                                      ;
  ; [:!EQR#Pleft_command []]                                                                       ;
  ; [:!EQR#Pleft_option []]                                                                        ;
  ; [:!EQR#Pleft_control []]                                                                       ;
  ; [:!EQR#Pleft_shift []]                                                                         ;
  ; [:!EQR#Pcaps_lock []]                                                                          ;
  ; [:!EQR#Ptab []]                                                                                ;
  ; [:!EQR#Pnon_us_backslash []]                                                                   ;
  ; [:!EQR#Pescape []]                                                              NOT AVAILABLE  ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
