;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; BS
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; bspace
{:des "BSpace Mode - alphabet"
 :rules
 [;
  ; [:!EQR#Pa [:a]]                                                                                ;
  ; [:!EQR#Pb [:b]]                                                                                ;
  ; [:!EQR#Pc [:c]]                                                                                ;
  ; [:!EQR#Pd [:d]]                                                                                ;
  ; [:!EQR#Pe [:e]]                                                                                ;
  ; [:!EQR#Pf [:f]]                                                                                ;
  ; [:!EQR#Pg [:g]]                                                                                ;
  ; [:!EQR#Ph [:h]]                                                                                ;
  ; [:!EQR#Pi [:i]]                                                                                ;
  ; [:!EQR#Pj [:j]]                                                                                ;
  ; [:!EQR#Pk [:k]]                                                                                ;
  ; [:!EQR#Pl [:l]]                                                                                ;
  ; [:!EQR#Pm [:m]]                                                                                ;
  ; [:!EQR#Pn [:n]]                                                                                ;
  ; [:!EQR#Po [:o]]                                                                                ;
  ; [:!EQR#Pp [:p]]                                                                                ;
  ; [:!EQR#Pq [:q]]                                                                                ;
  ; [:!EQR#Pr [:r]]                                                                                ;
  ; [:!EQR#Ps [:s]]                                                                                ;
  ; [:!EQR#Pt [:t]]                                                                                ;
  ; [:!EQR#Pu [:u]]                                                                                ;
  ; [:!EQR#Pv [:v]]                                                                                ;
  ; [:!EQR#Pw [:w]]                                                                                ;
  ; [:!EQR#Px [:x]]                                                                                ;
  ; [:!EQR#Py [:y]]                                                                                ;
  ; [:!EQR#Pz [:z]]                                                                                ;
  ; [:!EQR#Pright_control []]                                                                      ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; bspace
{:des "BSpace Mode - symbols"
 :rules
 [;
  [:!EQR#Phyphen [:!Shyphen]]                                                                      ;
  [:!EQR#Pequal_sign [:!Sequal_sign]]                                                              ;
  [:!EQR#Popen_bracket [:!Sopen_bracket]]                                                          ;
  [:!EQR#Pclose_bracket [:!Sclose_bracket]]                                                        ;
  [:!EQR#Psemicolon [:!Ssemicolon]]                                                                ;
  [:!EQR#Pquote [:!Squote]]                                                                        ;
  [:!EQR#Pbackslash [:!Sbackslash]]                                                                ;
  [:!EQR#Pcomma [:!Scomma]]                                                                        ;
  [:!EQR#Pperiod [:!Speriod]]                                                                      ;
  [:!EQR#Pslash [:!Sslash]]                                                                        ;

  ; [:!EQR#Pdelete_or_backspace []]                                                 NOT AVAILABLE  ;
  ; [:!EQR#Preturn_or_enter []]                                                     UNMAPPED       ;
  ; [:!EQR#Pright_shift []]                                                         UNMAPPED       ;
  ; [:!EQR#Pright_option []]                                                        UNMAPPED       ;
  ; [:!EQR#Pright_command []]                                                       UNMAPPED       ;
  ; [:!EQR#Pspacebar :!Ty [:term]]                                                                 ;

  ; [:!EQR#Pright_control :!Tj [:term]]                                                            ;
  [:!EQR#Pleft_command :!Tt [:term]]                                                               ;
  ; [:!EQR#Pleft_option :!Ts [:term]]                                                              ;
  [:!EQR#Pleft_control :!Tr [:term]]                                                               ;
  ; [:!EQR#Pleft_shift :!Oc [:term]]                                                               ;
  ; [:!EQR#Pcaps_lock :!Tg [:term]]                                                                ;
  ; [:!EQR#Ptab :!Th [:term]]                                                                      ;
  ; [:!EQR#Pnon_us_backslash :!Tn [:term]]                                                         ;
  ; [:!EQR#Pescape []]                                                              NOT AVAILABLE  ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
