;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Alacritty - Arrow"
 :rules
 [;
  ; [:!S#Pleft_arrow : [:term]]                                                                    ;
  ; [:!S#Pright_arrow : [:term]]                                                                   ;
  ; [:!S#Pup_arrow : [:term]]                                                                      ;
  ; [:!S#Pdown_arrow : [:term]]                                                                    ;

  ; [:!O#Pleft_arrow : [:term]]                                                                    ;
  ; [:!O#Pright_arrow : [:term]]                                                                   ;
  [:!O#Pup_arrow :f4 [:term]]                                                                      ;
  [:!O#Pdown_arrow :f5 [:term]]                                                                    ;

  ; [:!T#Pleft_arrow : [:term]]                                                                    ;
  ; [:!T#Pright_arrow : [:term]]                                                                   ;
  ; [:!T#Pup_arrow : [:term]]                                                                      ;
  ; [:!T#Pdown_arrow : [:term]]                                                                    ;

  ; [:!C#Pleft_arrow : [:term]]                                                                    ;
  ; [:!C#Pright_arrow : [:term]]                                                                   ;
  [:!C#Pup_arrow :f6 [:term]]                                                                      ;
  [:!C#Pdown_arrow :f7 [:term]]                                                                    ;

  ; [:!OS#Pleft_arrow : [:term]]                                                                   ;
  ; [:!OS#Pright_arrow : [:term]]                                                                  ;
  ; [:!OS#Pup_arrow : [:term]]                                                                     ;
  ; [:!OS#Pdown_arrow : [:term]]                                                                   ;

  ; [:!TS#Pleft_arrow : [:term]]                                                                   ;
  ; [:!TS#Pright_arrow : [:term]]                                                                  ;
  ; [:!TS#Pup_arrow : [:term]]                                                                     ;
  ; [:!TS#Pdown_arrow : [:term]]                                                                   ;

  [:!CS#Pleft_arrow :!Oleft_arrow [:term]]                                                         ;
  [:!CS#Pright_arrow :!Oright_arrow [:term]]                                                       ;
  [:!CS#Pup_arrow :!Sf9 [:term]]                                                                   ;
  [:!CS#Pdown_arrow :!Sf10 [:term]]                                                                ;

  ; [:!OC#Pleft_arrow : [:term]]                                                                   ;
  ; [:!OC#Pright_arrow : [:term]]                                                                  ;
  [:!OC#Pup_arrow :!Sf7 [:term]]                                                                   ;
  [:!OC#Pdown_arrow :!Sf8 [:term]]                                                                 ;

  [:!TC#Pleft_arrow :f8 [:term]]                                                                   ;
  [:!TC#Pright_arrow :f9 [:term]]                                                                  ;
  [:!TC#Pup_arrow :f10 [:term]]                                                                    ;
  [:!TC#Pdown_arrow :f11 [:term]]                                                                  ;

  [:!OTC#Pleft_arrow :!STf11 [:term]]                                                              ;
  [:!OTC#Pright_arrow :!STf12 [:term]]                                                             ;
  [:!OTC#Pup_arrow :!STf13 [:term]]                                                                ;
  [:!OTC#Pdown_arrow :!STf14 [:term]]                                                              ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
