;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Terminal zellij bindings - alphabet"
 :rules
 [;
  [:#Pright_shift :right_shift [:term] {:alone [:!Oa]}]                        ; shift             ;
  [:!O#Pleft_arrow :!Ob [:term]]                                               ; alt-left          ;
  ; [: :!Oc [:term]]                                                                COLLISION      ;
  ; [: :!Od [:term]]                                                                COLLISION      ;
  ; [: :!Oe [:term]]                                                                COLLISION      ;
  [:!O#Pright_arrow :!Of [:term]]                                              ; alt-right         ;
  [:!OT#Pright_shift :!Og [:term]]                                             ; alt-ctrl-shift    ;
  [:!OT#Pright_option :!Oh [:term]]                                            ; alt-ctrl-alt      ;
  ; [: :!Oi [:term]]                                                                COLLISION      ;
  [:!OT#Preturn_or_enter :!Oj [:term]]                                         ; alt-ctrl-enter    ;
  [:left_option :left_option [:term] {:alone [:!Ok]}]                          ; alt               ;
  [:!OT#Pright_command :!Ol [:term]]                                           ; alt-ctrl-cmd      ;
  [:!OT#Pspacebar :!Om [:term]]                                                ; alt-ctrl-space    ;
  ; [: :!On [:term]]                                                                COLLISION      ;
  [:!OC#Pspacebar :!Oo [:term]]                                                ; alt-cmd-space     ;
  [:!OC#Pleft_arrow :!Op [:term]]                                              ; alt-cmd-left      ;
  [:!OC#Pright_arrow :!Oq [:term]]                                             ; alt-cmd-right     ;
  [:!OC#Pright_command :!Or [:term]]                                           ; alt-cmd-cmd       ;
  [:!E#Pescape :!Os [:term]]                                                   ; alt-cmd           ;
  [:!OC#Pdelete_or_backspace :!Ot [:term]]                                     ; alt-cmd-bspace    ;
  ; [: :!Ou [:term]]                                                                COLLISION      ;
  [:!OT#Pdelete_or_backspace :!Ov [:term]]                                     ; alt-ctrl-bspace   ;
  [:!OT#Pleft_arrow :!Ow [:term]]                                              ; alt-ctrl-left     ;
  [:!OT#Pright_arrow :!Ox [:term]]                                             ; alt-ctrl-right    ;
  [:!OT#Pdown_arrow :!Oy [:term]]                                              ; alt-ctrl-down     ;
  [:!OT#Pup_arrow :!Oz [:term]]                                                ; alt-ctrl-up       ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Terminal zellij bindings - alphabet"
 :rules
 [;
  [:#Pescape :!EWright_shift [:term] {:alone [:!SOa]}]                         ; esc               ;
  [:!E#Ptab :!SOb [:term]]                                                     ; alt-tab           ;
  [:!E#Pleft_shift :!SOc [:term]]                                              ; alt-shift         ;
  [:!E#Pcaps_lock :!SOd [:term]]                                               ; alt-caps          ;
  [:!E#Pnon_us_backslash :!SOe [:term]]                                        ; alt-fn            ;
  ; [: :!SOf [:term]]                                                                              ;
  ; [: :!SOg [:term]]                                                                              ;
  ; [: :!SOh [:term]]                                                                              ;
  ; [: :!SOi [:term]]                                                                              ;
  ; [: :!SOj [:term]]                                                                              ;
  ; [: :!SOk [:term]]                                                                              ;
  ; [: :!SOl [:term]]                                                                              ;
  ; [: :!SOm [:term]]                                                                              ;
  ; [: :!SOn [:term]]                                                                              ;
  ; [: :!SOo [:term]]                                                               COLLISION      ;
  [:!E#Pleft_control :!SOp [:term]]                                            ; alt-ctrl          ;
  [:!E#Pleft_command :!SOq [:term]]                                            ; alt-cmd           ;
  [:!OC#P1 :!SOr [:term]]                                                      ; alt-cmd-1         ;
  [:!OC#P2 :!SOs [:term]]                                                      ; alt-cmd-2         ;
  [:!OC#P3 :!SOt [:term]]                                                      ; alt-cmd-3         ;
  [:!OC#P4 :!SOu [:term]]                                                      ; alt-cmd-4         ;
  [:!OC#P5 :!SOv [:term]]                                                      ; alt-cmd-5         ;
  [:!OC#P6 :!SOw [:term]]                                                      ; alt-cmd-6         ;
  [:!OC#P7 :!SOx [:term]]                                                      ; alt-cmd-7         ;
  [:!OC#P8 :!SOy [:term]]                                                      ; alt-cmd-8         ;
  [:!OC#P9 :!SOz [:term]]                                                      ; alt-cmd-9         ;

  [:!OC#Pkeypad_1 :!SOr [:term]]                                               ; alt-cmd-1         ;
  [:!OC#Pkeypad_2 :!SOs [:term]]                                               ; alt-cmd-2         ;
  [:!OC#Pkeypad_3 :!SOt [:term]]                                               ; alt-cmd-3         ;
  [:!OC#Pkeypad_4 :!SOu [:term]]                                               ; alt-cmd-4         ;
  [:!OC#Pkeypad_5 :!SOv [:term]]                                               ; alt-cmd-5         ;
  [:!OC#Pkeypad_6 :!SOw [:term]]                                               ; alt-cmd-6         ;
  [:!OC#Pkeypad_7 :!SOx [:term]]                                               ; alt-cmd-7         ;
  [:!OC#Pkeypad_8 :!SOy [:term]]                                               ; alt-cmd-8         ;
  [:!OC#Pkeypad_9 :!SOz [:term]]                                               ; alt-cmd-9         ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
