####################################################################################################
# config
####################################################################################################

# default flags
default_flags = ""
# TODO: rebind over template automatically

####################################################################################################
# joker
####################################################################################################

# TODO: review documentation for config
# remove
[[verbs]]
external = "rm -rf {file}"
invocation = "rm"
key = "ctrl-r"
leave_broot = false
auto_exec = false
description = "`joker-delete` -> delete file"

# enter
[[verbs]]
key = "ctrl-s"
external = "command open {file}"
leave_broot = false
description = "`joker-enter` -> open according to OS"

# # editor
# [[verbs]]
# invocation = "micro"
# key = ""
# external = "zellij run --floating --close-on-exit --height 100 --width 100 --x 100 --y 0 -- micro {file}"
# leave_broot = false
# description = "`joker-alt` -> open file with `micro` editor"

# # # editor
# [[verbs]]
# invocation = "helix"
# key = ""
# external = "zellij run --floating --close-on-exit --height 100 --width 100 --x 100 --y 0 -- hx {file}"
# leave_broot = false
# description = "`joker-cmd` -> open file with `helix` editor"

# # # panel
# [[verbs]]
# internal = "start_end_panel"
# key = ""
# description = "`joker-space` -> create panel"

# # directory
# [[verbs]]
# invocation = "mk {subpath}"
# key = ""
# execution = "mkdir {directory}/{subpath}"
# leave_broot = false
# auto_exec = false
# description = "`joker-[` -> create directory"

# # create
# [[verbs]]
# invocation = "create {subpath}"
# shortcut = "c"
# key = ""
# execution = "touch {directory}/{subpath}"
# leave_broot = false
# auto_exec = false
# description = "`joker-]` -> create file"

# # copy
# [[verbs]]
# external = "cp -r {file} {other-panel-directory}"
# invocation = "copy_to_pane"
# key = ""
# leave_broot = false
# auto_exec = true
# description = "`joker-;` -> copy file to pane"

# # move
# [[verbs]]
# external = "mv {file} {other-panel-directory}"
# invocation = "move_to_pane"
# key = ""
# leave_broot = false
# auto_exec = true
# description = "`joker-'` -> move file to pane"

# # rename
# [[verbs]]
# external = "mv {file} {parent}/{new_filename}"
# invocation = "rename {new_filename:file-name}"
# shortcut = "rn"
# key = ""
# leave_broot = false
# auto_exec = false
# description = "`joker-\\` -> rename file"


####################################################################################################
# ctl-cmd
####################################################################################################

# git focus
[[verbs]]
invocation = "toggle_git_status"
key = "ctrl-l"
internal = "toggle_git_status"
description = "`ctl-cmd-bs` -> toggle git"

# tree
[[verbs]]
invocation = "toggle_tree"
key = "ctrl-g"
internal = "toggle_tree"
description = "`ctl-cmd-enter` -> toggle tree"

# view
[[verbs]]
invocation = "toggle_files"
key = "ctrl-v"
internal = "toggle_files"
description = "`ctl-cmd-shift` -> toggle files"

# git
[[verbs]]
invocation = "toggle_git_ignore"
key = "ctrl-h"
internal = "toggle_git_ignore"
description = "`ctl-cmd-alt` -> toggle git ignore"

# view
[[verbs]]
invocation = "toggle_hidden"
key = "ctrl-j"
internal = "toggle_hidden"
description = "`ctl-cmd-cmd` -> toggle hidden"

# panel
[[verbs]]
invocation = "no_sort"
key = "ctrl-o"
internal = "no_sort"
description = "`ctl-cmd-space` -> do not sort"

# # sort
# [[verbs]]
# invocation = "sort_by_count"
# key = "ctrl-r"
# internal = "sort_by_count"
# description = "`ctl-cmd-;` -> sort by count"

# # sort
# [[verbs]]
# invocation = "sort_by_date"
# key = "ctrl-s"
# internal = "sort_by_date"
# description = "`ctl-cmd-'` -> sort by date"

# # sort
# [[verbs]]
# invocation = "sort_by_size"
# key = "ctrl-t"
# internal = "sort_by_size"
# description = "`ctl-cmd-\\` -> sort by size"


####################################################################################################
# alt
####################################################################################################

# stage
[[verbs]]
invocation = "stage_all_files"
key = "alt-f1"
internal = "stage_all_files"
description = "`alt-a` -> stage all matching files"

# pager
[[verbs]]
invocation = "bat"
key = "alt-f2"
external = "zellij run --floating --close-on-exit --height 100 --width 100 --x 100 --y 0 -- bat --paging always {file}"
leave_broot = false
description = "`alt-b` -> open file with `bat`"

# # copy
# [[verbs]]
# invocation = "print_to_copy"
# key = "alt-f4"
# external = [
#   "sh",
#   "-e",
#   "/Users/drivas/.archive/in-situ/broot/copy.sh",
#   "{file}",
# ]
# leave_broot = false
# description = "`alt-c` -> copy file contents"

# stage
[[verbs]]
invocation = "stage_all_directories"
key = "alt-f5"
internal = "stage_all_directories"
description = "`alt-d` -> stage all matching directories"

# search
[[verbs]]
invocation = "total_search"
key = "alt-f7"
internal = "total_search"
description = "`alt-f` -> search again but on all children"

# search
[[verbs]]
invocation = "previous_match"
key = "alt-f9"
internal = "previous_match"
description = "`alt-h` -> go to previous match"

# pager
[[verbs]]
invocation = "jless"
key = "ctrl-f1"
external = "zellij run --floating --close-on-exit --height 100 --width 100 --x 100 --y 0 -- jless {file}"
leave_broot = false
description = "`alt-j` -> open file with `jless`"

# pager
[[verbs]]
invocation = "hck"
key = "ctrl-f2"
external = "zellij run --floating --height 100 --width 100 --x 100 --y 0 -- hck {file}"
leave_broot = false
description = "`alt-k` -> open file with `hck`"

# search
[[verbs]]
invocation = "next_match"
key = "ctrl-f4"
internal = "next_match"
description = "`alt-l` -> go to next match"

# pager
[[verbs]]
invocation = "mdcat"
key = "ctrl-f5"
external = "zellij run --floating --height 100 --width 100 --x 100 --y 0 -- mdcat --paginate {file}"
leave_broot = false
description = "`alt-m` -> open file with `mdcat`"

# # path
# [[verbs]]
# invocation = "file_path_copy"
# key = "ctrl-f8"
# external = [
#   "sh",
#   "-e",
#   "/Users/drivas/.archive/in-situ/broot/path.sh",
#   "{file}",
# ]
# leave_broot = false
# description = "`alt-n` -> copy file path"

# quit
[[verbs]]
invocation = "quit"
key = "ctrl-f9"
internal = "quit"
description = "`alt-q` -> quit broot"

# refresh
[[verbs]]
invocation = "refresh"
key = "ctrl-f10"
internal = "refresh"
description = "`alt-r` -> refresh tree"

# stage
[[verbs]]
invocation = "toggle_stage"
key = "alt-ctrl-f1"
internal = "toggle_stage"
description = "`alt-s` -> toggle stage"

# play
[[verbs]]
invocation = "vlc"
key = "alt-ctrl-f5"
external = "zellij run --floating --close-on-exit --height 100 --width 100 --x 100 --y 0 -- vlc {file}"
leave_broot = false
description = "`alt-v` -> clear stage area"

# pager
[[verbs]]
invocation = "xsv"
key = "alt-ctrl-f7"
external = "zellij run --floating --height 100 --width 100 --x 100 --y 0 -- xsv table {file}"
leave_broot = false
description = "`alt-x` -> open file with `xsv`"

# stage
[[verbs]]
invocation = "clear_stage"
key = "alt-ctrl-f9"
internal = "clear_stage"
description = "`alt-z` -> clear stage area"

# # stage
# [[verbs]]
# invocation = "toggle_staging_area"
# key = "alt-g"
# internal = "toggle_staging_area"
# description = "`alt` -> toggle staging area"


####################################################################################################
# arrow
####################################################################################################

# # open
# [[verbs]]
# internal = "close_panel_ok"
# key = "alt-ctrl-pageup"
# description = "`joker-left` -> close direcotry"

# # open
# [[verbs]]
# internal = "open_stay!"
# key = "alt-ctrl-pagedown"
# description = "`joker-right` -> open directory"

# # panel
# [[verbs]]
# invocation = "close_preview"
# key = "ctrl-b"
# apply_to = "file"
# internal = "close_preview {file}"
# leave_broot = false
# description = "`ctl-cmd-left` -> close display"

# # panel
# [[verbs]]
# invocation = "open_preview"
# key = "ctrl-f"
# apply_to = "file"
# internal = "open_preview {file}"
# leave_broot = false
# description = "`ctl-cmd-right` -> display file on panel"

# # move
# [[verbs]]
# invocation = "root_up"
# key = "ctrl-n"
# internal = "root_up"
# description = "`ctl-cmd-up` -> move tree root up"

# # move
# [[verbs]]
# invocation = "root_down"
# key = "ctrl-p"
# internal = "root_down"
# description = "`ctl-cmd-down` -> move tree root down"

[[verbs]]
key = "alt-b"
internal = ":input_go_word_left"
description = "`alt-left`"

[[verbs]]
key = "alt-f"
internal = ":input_go_word_right"
description = "`alt-right`"

# move
[[verbs]]
invocation = "page_up"
key = "pageup"
internal = "page_up"
description = "`alt-up` -> go to page up"

# move
[[verbs]]
invocation = "page_down"
key = "pagedown"
internal = "page_down"
description = "`alt-down` -> go to page down"

# panel
[[verbs]]
invocation = "toggle_preview"
key = "ctrl-space"
internal = "toggle_preview"
description = "`ctl-space` -> open / close preview panel"

# panel
[[verbs]]
invocation = "panel_left"
key = "ctrl-left"
internal = "panel_left"
description = "`ctl-left` -> select left panel"

# panel
[[verbs]]
invocation = "panel_right"
key = "ctrl-right"
internal = "panel_right"
description = "`ctl-right` -> select right panel"

# move
[[verbs]]
invocation = "select_first"
key = "home"
internal = "select_first"
description = "`cmd-up` -> go to top of the list"

# move
[[verbs]]
invocation = "select_last"
key = "end"
internal = "select_last"
description = "`cmd-down` -> go to bottom of the list"


####################################################################################################
# delete
####################################################################################################

[[verbs]]
key = "ctrl-w"
internal = ":input_del_word_left"
description = "`shift-alt`"

[[verbs]]
key = "alt-d"
internal = ":input_del_word_right"
description = "`shift-alt`"


####################################################################################################
# theme
####################################################################################################

[skin]
# default = "rgb(131, 148, 150) rgb(0, 43, 54) / rgb(131, 148, 150) rgb(7, 54, 66)"        # base0 base03 / base01 base02
default = "gray(23) none / gray(20) none"              # transparent background
tree = "rgb(88, 110, 117) none"                        # base01 default
file = "none none"                                     # default default
directory = "rgb(38, 139, 210) none bold"              # blue default bold
exe = "rgb(211, 1, 2) none"                            # red default
link = "rgb(211, 54, 130) none"                        # magenta default
pruning = "rgb(88, 110, 117) none italic"              # base01 default italic
perm__ = "rgb(88, 110, 117) none"                      # base01 default
perm_r = "none none"                                   # default default
perm_w = "none none"                                   # default default
perm_x = "none none"                                   # default default
owner = "rgb(88, 110, 117) none"                       # base01 default
group = "rgb(88, 110, 117) none"                       # base01 default
sparse = "none none"                                   # default default
git_branch = "rgb(147, 161, 161) none"                 # base1 default
git_insertions = "rgb(133, 153, 0) none"               # green default
git_deletions = "rgb(211, 1, 2) none"                  # red default
git_status_current = "none none"                       # default default
git_status_modified = "rgb(181, 137, 0) none"          # yellow default
git_status_new = "rgb(133, 153, 0) none"               # green default
git_status_ignored = "rgb(88, 110, 117) none"          # base01 default
git_status_conflicted = "rgb(211, 1, 2) none"          # red default
git_status_other = "rgb(211, 1, 2) none"               # red default
selected_line = "none rgb(7, 54, 66)"                  # default base02
char_match = "rgb(133, 153, 0) none underlined"        # green default underlined
file_error = "rgb(203, 75, 22) none italic"            # orange default italic
flag_label = "none none"                               # default default
flag_value = "rgb(181, 137, 0) none bold"              # yellow default bold
input = "none none"                                    # default default
status_error = "rgb(203, 75, 22) rgb(7, 54, 66)"       # orange base02
status_job = "rgb(108, 113, 196) rgb(7, 54, 66) bold"  # violet base02 bold
status_normal = "none rgb(7, 54, 66)"                  # default base02
status_italic = "rgb(181, 137, 0) rgb(7, 54, 66)"      # yellow base02
status_bold = "rgb(147, 161, 161) rgb(7, 54, 66) bold" # base1 base02 bold
status_code = "rgb(108, 113, 196) rgb(7, 54, 66)"      # violet base02
status_ellipsis = "none rgb(7, 54, 66)"                # default base02
scrollbar_track = "rgb(7, 54, 66) none"                # base02 default
scrollbar_thumb = "none none"                          # default default
help_paragraph = "none none"                           # default default
help_bold = "rgb(147, 161, 161) none bold"             # base1 default bold
help_italic = "rgb(147, 161, 161) none italic"         # base1 default italic
help_code = "rgb(147, 161, 161) rgb(7, 54, 66)"        # base1 base02
help_headers = "rgb(181, 137, 0) none"                 # yellow default
help_table_border = "none none"                        # default default
preview_title = "gray(20) rgb(0, 43, 54)"
staging_area_title = "gray(22) rgb(0, 43, 54)"


####################################################################################################
