(

    // exit
    exit: Some(( code: Char('Q'), modifiers: ( bits: 1, ), )),
    exit_popup: Some(( code: Char('q'), modifiers: ( bits: 0, ), )),

    // workspace
    home: Some(( code: Char('g'), modifiers: ( bits: 0, ), )),
    end: Some(( code: Char('G'), modifiers: ( bits: 1, ), )),
    page_down: Some(( code: Char('j'), modifiers: ( bits: 0, ), )),
    page_up: Some(( code: Char('k'), modifiers: ( bits: 0, ), )),

)
