
    ;; close parenthesis
    ;; tilde
    ;; i
    ;; n
    ;; e
    ;; i
    ;; n
    ;; u
    ;; O

    ;; caps lock
    ;; right cmd

    ;; get mail
    ;; send mail
    ;; forward mail
    ;; reply mail
    ;; reply all mail
    ;; new mail

    ;; 0
    ;; `
    ;; asterisk
    ;; enter
    ;; hyphen
    ;; num lock
    ;; plus
    ;; slash
    ;; non us backslah

    {:main [{:des   "alfred"
         :rules [;; set f16 as the trigger key of alfred
                 ;; press h + l will trigger alfred and set "in-alfred" to 1
                 [[:h :j] [:f16 ["in-alfred" 1]]]

                 :in-alfred ;; when "in-alfred" is 1

                 ;; press enter will select one alfred result and set "in-alfred" to 0
                 [:##return_or_enter [:return_or_enter ["in-alfred" 0]]]

                 ;; press esc will exit alfred and set "in-alfred" to 0
                 [:##escape [:escape ["in-alfred" 0]]]

                 ;; press ctrl + j will invoke down_arrow
                 [:!Tj :down_arrow]

                 ;; press ctrl + k will invoke up_arrow
                 [:!Tk :up_arrow]

                 ;; press ctrl + l will invoke return_or_enter and set "in-alfred" to 0
                 [:!Tl [:return_or_enter ["in-alfred 0"]]]]}]}


    {:main [{:des "simultaneous j l press to F19" :rules [[[:j :l] :f19]]}]
    ;; rule [[:j :l] :f19]
    ;;       <from>  <to>

    ;; so when from is a vector (or array), Goku will parse it as
    ;; simultaneous key press
            
    :templates {:launch "osascript -e 'tell application \"Alfred 5\" to run trigger \"launch%s\" in workflow \"yqrashawn.workflow.launcher\" with argument \"%s\"'"}
     :main [{:des "launcher mode"
             :rules [[:j [:launch "Alacritty"] :launch-mode]
                     [:k [:launch "Emacs"] :launch-mode]
                     [:l [:launch "Chrome"] :launch-mode]
                     [:m [:launch "Mail"] :launch-mode]
                     [:v [:launch "WeChat"] :launch-mode]
                     [:q [:launch "KE"] :launch-mode]
                     [:f [:launch "Finder"] :launch-mode]
                     [:9 [:launch "PDFExpert"] :launch-mode]
                     [:comma [:launch "Safari"] :launch-mode]
                     [:period [:launch "Paw"] :launch-mode]
                     [:equal_sign [:launch "Textual"] :launch-mode]
                     [:8 [:launch "KEEvents"] :launch-mode]
                     [:b [:launch "BearyChat"] :launch-mode]
                     [:t [:launch "TG"] :launch-mode]]}]}

    ;; This is my configuration to launch or display applications with wj wk wl etc.
    ;; First I define the :launch template. Then I use it in <to>.

    ;; [:j [:launch "Alacritty"] :launch-mode]
    ;; Goku will parse the rule and replace "%s" with "Alacritty".
    ;; The "%s" is for string. If you need other formats, check out here.
    ;; java.util.Formatter doc:
    ;; https://docs.oracle.com/javase/7/docs/api/java/util/Formatter.html
