
#------------------------------------------------------------------------------------------------------------------------------
#
#        d8888 888       888 888    d8P
#       d88888 888   o   888 888   d8P
#      d88P888 888  d8b  888 888  d8P
#     d88P 888 888 d888b 888 888d88K
#    d88P  888 888d88888b888 8888888b
#   d88P   888 88888P Y88888 888  Y88b
#  d8888888888 8888P   Y8888 888   Y88b
# d88P     888 888P     Y888 888    Y88b
#
#------------------------------------------------------------------------------------------------------------------------------


'.awk.source':


  'BEGIN':
    prefix: 'BEGIN'
    body: '''BEGIN{
    \t${1:#statements}
    }'''

  'END':
    prefix: 'END'
    body: '''END{
    \t${1:#statements}
    }'''

  'for-each':
    prefix: 'for (i in array)'
    body: '''for (${1:i} in ${2:array}) {
    \t${3:# do something with array[i]}
    }'''

  'function ()':
    prefix: 'function'
    body: '''function ${1:name}(${2:parameter-list}) {
    \t${3:# function-body}
    return
    }'''

  'ifelse':
    prefix: 'if'
    body: '''if (${1:condition}) {
    \t${2:# do something}
    } else {
    \t${3:# do something else}
    }'''


#------------------------------------------------------------------------------------------------------------------------------
#
# 8888888888 888b    888 8888888b.
# 888        8888b   888 888  "Y88b
# 888        88888b  888 888    888
# 8888888    888Y88b 888 888    888
# 888        888 Y88b888 888    888
# 888        888  Y88888 888    888
# 888        888   Y8888 888  .d88P
# 8888888888 888    Y888 8888888P"
#
#------------------------------------------------------------------------------------------------------------------------------
