;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Editor
{:des "Editor control - alphabet"
 :rules
 [;
  [:!C#Pleft_arrow :!Ta [:editor]]                                             ; cmd-left          ;
  ; [: :!Tb [:editor]]                                                         ; ctl-cmd-left      ;
  ; [: :!Tc [:editor]]                                                              DEFAULT        ;
  ; [: :!Td [:editor]]                                                              DEFAULT        ;
  [:!C#Pright_arrow :!Te [:editor]]                                            ; cmd-right         ;
  ; [: :!Tf [:editor]]                                                         ; ctl-cmd-right     ;
  ; [:!EQR#Pcaps_lock :!Tg [:editor]]                                          ; bs-caps           ;
  ; [:!EQR#Ptab :!Th [:editor]]                                                ; bs-tab            ;
  ; [: :!Ti [:editor]]                                                              DEFAULT        ;
  ; [:!EQR#Pright_command :!Tj [:editor]]                                      ; bs-ctl            ;
  ; [: :!Tk [:editor]]                                                              COLLISION      ;
  ; [: :!Tl [:editor]]                                                              COLLISION      ;
  ; [: :!Tm [:editor]]                                                              DEFAULT        ;
  ; [:!EQR#Pright_option :!Tn [:editor]]                                       ; bs-fn             ;
  ; [:!C#Pup_arrow :!To [:editor]]                                             ; ctl-cmd-up        ;
  ; [:!C#Pdown_arrow :!Tp [:editor]]                                           ; ctl-cmd-down      ;
  ; [: :!Tq [:editor]]                                                              DEFAULT        ;
  ; [:!EQR#Pleft_control :!Tr [:editor]]                                       ; bs-ctl            ;
  ; [:!EQR#Pleft_option :!Ts [:editor]]                                        ; bs-alt            ;
  ; [:!EQR#Pleft_command :!Tt [:editor]]                                       ; bs-cmd            ;
  ; [: :!Tu [:editor]]                                                              COLLISION      ;
  ; [: :!Tv [:editor]]                                                                             ;
  ; [: :!Tw [:editor]]                                                              COLLISION      ;
  ; [:#Pleft_option :left_option [:editor] {:alone [:!OTf13]}]                      ; alt               ;
  ; [:#Pleft_option :left_option [:editor] {:alone [:!Tx]}]                      ; alt               ;
  ; [:!EQR#Pspacebar :!Ty [:editor]]                                           ; bs-space          ;
  ; [: :!Tz [:editor]]                                                              DEFAULT        ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; ; GUI
; {:des "GUI - Sessions"
;  :rules
;  [;
;   ; [:escape :!EWright_shift :gui {:alone [:!CSe]}]                            ; file explorer     ;
;   [:#Pright_shift :right_shift :gui {:alone [:!Cj]}]                           ; terminal          ;

;   [:!TC#Pright_shift :!Cbackslash [:gui]]                                      ; split vertical    ;
;   [:!TC#Pright_option :!CSbackslash [:gui]]                                    ; split horizontal  ;
;   ; [:!OT#Pright_command :!TCSbackslash [:gui]]                                                    ;

;   ; [:!OC#Pleft_arrow :!TStab [:gui]]                                          ; left tab          ;
;   ; [:!OC#Pright_arrow :!Ttab [:gui]]                                          ; right tab         ;
;   ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; ; GUI
; {:des "GUI - Control remappings"
;  :rules
;  [;
;   ; [:!EQR#Pdelete_or_backspace [:editor]]                                                         ;
;   ; [:!EQR#Preturn_or_enter [:editor]]                                                             ;
;   ; [:!EQR#Pright_shift [:editor]]                                                                 ;
;   ; [:!EQR#Pright_option [:editor]]                                                                ;
;   ; [:!EQR#Pright_command [:editor]]                                                               ;
;   ; [:!EQR#Pspacebar :!Ty [:editor]]                                                                 ;

;   [:!EQR#Pright_control :!Tj [:editor]]                                                            ;

;   ; [:!EQR#Pleft_command :!Tt [:editor]]                                                           ;
;   [:!EQR#Pleft_option :!Ts [:editor]]                                                              ;
;   ; [:!EQR#Pleft_control :!Tr [:editor]]                                                           ;
;   [:!EQR#Pleft_shift :!Oc [:editor]]                                                               ;
;   [:!EQR#Pcaps_lock :!Tg [:editor]]                                                                ;
;   [:!EQR#Ptab :!Th [:editor]]                                                                      ;
;   [:!EQR#Pnon_us_backslash :!Tn [:editor]]                                                         ;
;   ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; ; GUI
; {:des "GUI - Interactive delete"
;  :rules
;  [;
;   ; [:!EQR#Pleft_shift :!Oc [:editor]]                                         ; bs-shift          ;
;   [:!S#Pright_option :!Odelete_forward [:gui]]                                 ; del word fw       ;
;   ; [:!S#Pright_command :!Cdelete_forward [:gui]]                              ; del line fw       ;
;   [:!R#Pleft_control :!Odelete_or_backspace [:gui]]                            ; del word bw       ;
;   [:!R#Pleft_command :!Cdelete_or_backspace [:gui]]                            ; del line bw       ;
;   [:!R#Pleft_option :!Tl [:gui]]                                               ; shift-alt         ;
;   ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
