;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; ; mouse
; {:des "Zero Mode - mouse"
;  :rules
;  [:zero-mode
;   [:#Pdown_arrow {:mkey {:y 1000}}]                                                                ;
;   [:#Pup_arrow {:mkey {:y -1000}}]                                                                 ;
;   [:#Pleft_arrow {:mkey {:x -1000}}]                                                               ;
;   [:#Pright_arrow {:mkey {:x 1000}}]                                                               ;
;   [:#Preturn_or_enter {:pkey :button1}]                                                            ;
;   [:#Pbackslash {:pkey :button2}]                                                                  ;
;   ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
