;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; ; Zed
; {:des "Zed - alt - alphabet"
;  :rules
;  [;
;   [:!O#Pa :!CSl [:zed]]                                                                            ;
;   ; [:!O#Pb : [:zed]]                                                                              ;
;   ; [:!O#Pc : [:zed]]                                                                              ;
;   [:!O#Pd :!Cd [:zed]]                                                                             ;
;   ; [:!O#Pe : [:zed]]                                                                              ;
;   [:!O#Pf :!Cf [:zed]]                                                                             ;
;   ; [:!O#Pg : [:zed]]                                                                              ;
;   [:!O#Ph :!CSg [:zed]]                                                                            ;
;   ; [:!O#Pi : [:zed]]                                                                              ;
;   [:!O#Pj :!TCn [:zed]]                                                                            ;
;   [:!O#Pk :!TCp [:zed]]                                                                            ;
;   [:!O#Pl :!Cg [:zed]]                                                                             ;
;   ; [:!O#Pm : [:zed]]                                                                              ;
;   ; [:!O#Pn : [:zed]]                                                                              ;
;   ; [:!O#Po : [:zed]]                                                                              ;
;   ; [:!O#Pp : [:zed]]                                                                              ;
;   ; [:!O#Pq : [:zed]]                                                                              ;
;   ; [:!O#Pr : [:zed]]                                                                              ;
;   ; [:!O#Ps : [:zed]]                                                                              ;
;   ; [:!O#Pt : [:zed]]                                                                              ;
;   ; [:!O#Pu : [:zed]]                                                                              ;
;   ; [:!O#Pv : [:zed]]                                                                              ;
;   ; [:!O#Pw : [:zed]]                                                                              ;
;   ; [:!O#Px : [:zed]]                                                                              ;
;   ; [:!O#Py : [:zed]]                                                                              ;
;   ; [:!O#Pz : [:zed]]                                                                              ;
;   ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; ; Zed
; {:des "Zed - alt - alphabet"
;  :rules
;  [;
;   ; [:!SO#Pa : [:zed]]                                                                             ;
;   ; [:!SO#Pb : [:zed]]                                                                             ;
;   [:!OS#Pc :!Cslash [:zed]]                                                                        ;
;   [:!OS#Pd :!CSd [:zed]]                                                                           ;
;   ; [:!SO#Pe : [:zed]]                                                                             ;
;   ; [:!SO#Pf : [:zed]]                                                                             ;
;   ; [:!SO#Pg : [:zed]]                                                                             ;
;   ; [:!SO#Ph : [:zed]]                                                                             ;
;   [:!OS#Pi :!Cclose_bracket [:zed]]                                                                ;
;   [:!OS#Pj :!TCdown_arrow [:zed]]                                                                  ;
;   [:!OS#Pk :!TCup_arrow [:zed]]                                                                    ;
;   ; [:!SO#Pl : [:zed]]                                                                             ;
;   ; [:!SO#Pm : [:zed]]                                                                             ;
;   ; [:!SO#Pn : [:zed]]                                                                             ;
;   [:!OS#Po :!Copen_bracket [:zed]]                                                                 ;
;   ; [:!SO#Pp : [:zed]]                                                                             ;
;   ; [:!SO#Pq  : [:zed]]                                                                            ;
;   ; [:!SO#Pr : [:zed]]                                                                             ;
;   ; [:!SO#Ps : [:zed]]                                                                             ;
;   ; [:!SO#Pt : [:zed]]                                                                             ;
;   ; [:!SO#Pu : [:zed]]                                                                             ;
;   ; [:!SO#Pv : [:zed]]                                                                             ;
;   ; [:!SO#Pw : [:zed]]                                                                             ;
;   [:!OS#Px :!TSk [:zed]]                                                                           ;
;   ; [:!SO#Py : [:zed]]                                                                             ;
;   ; [:!SO#Pz : [:zed]]                                                                             ;
;   ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; ; Zed
; {:des "Zed - Sessions"
;  :rules
;  [;
;   [:#Pescape :!EWright_shift :zed {:alone [:!Cb]}]                             ; file explorer     ;
;   ; [:#Pdelete_or_backspace :!WQright_shift :zed {:alone [:!Cj]}]              ; terminal          ;

;   ; [:!OT#Pright_shift :!Cbackslash [:zed]]                                    ; split vertical    ;
;   ; [:!OT#Pright_option :!CSbackslash [:zed]]                                  ; split horizontal  ;
;   ; [:!OC#Pright_shift :!Cbackslash [:zed]]                                    ; split vertical    ;
;   ; [:!OC#Pright_option :!CSbackslash [:zed]]                                  ; split horizontal  ;
;   ; [:!OT#Pright_command :!TCSbackslash [:zed]]                                                    ;

;   [:!O#Pup_arrow :!Tup_arrow [:zed]]                                           ; prev para         ;
;   [:!O#Pdown_arrow :!Tdown_arrow [:zed]]                                       ; next para         ;
;   [:!O#PSup_arrow :!TSup_arrow [:zed]]                                         ; select prev para  ;
;   [:!O#PSdown_arrow :!TSdown_arrow [:zed]]                                     ; select next para  ;

;   [:!TC#Pright_command :!OCy [:zed]]                                           ; close docks       ;

;   [:!TC#Pd :f12 [:zed]]                                                        ; definition        ;
;   [:!TC#Pr :!OSf12 [:zed]]                                                     ; references        ;
;   ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; ; Zed
; {:des "Zed - Control remappings"
;  :rules
;  [;
;   ; [:!EQR#Ptab :!Th [:zed]]                                                   ; del-tab           ;
;   ; [:!EQR#Pcaps_lock :!Tg [:zed]]                                             ; del-caps          ;
;   ; [:!EQR#Pleft_shift :!Oc [:zed]]                                            ; del-shift         ;
;   [:!EQR#Pleft_control :!Cp [:zed]]                                            ; del-ctl          ;
;   ; [:!EQR#Pleft_option :!Ts [:zed]]                                           ; del-alt           ;
;   [:!EQR#Pleft_command :!CSp [:zed]]                                           ; del-cmd           ;
;   ; [:!EQR#Pspacebar :!Ty [:zed]]                                              ; del-space         ;
;   ; [:!EQR#Pright_command :!Tj [:zed]]                                         ; del-cmd           ;
;   ; [:!EQR#Pright_option :!Tn [:zed]]                                          ; del-alt           ;
;   ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; ; Zed
; {:des "Zed - Interactive delete"
;  :rules
;  [;
;   ; [:!S#Pright_option :!Odelete_forward [:zed]]                               ; shift-alt         ;
;   [:!S#Pright_command :!Cdelete_forward [:zed]]                                ; shift-cmd         ;
;   ; [:!R#Pleft_control :!Odelete_or_backspace [:zed]]                          ; shift-ctl        ;
;   ; [:!R#Pleft_command :!Cdelete_or_backspace [:zed]]                          ; shift-cmd         ;
;   ; [:!R#Pleft_option : [:zed]]                                                ; shift-alt         ;
;   ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
