;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; JOKER
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; joker
{:des "Joker Mode - symbols"
 :rules
 [;
  [:!OTC#Phyphen [:hyphen :hyphen]]                                            ; '--'              ;
  [:!OTC#Pequal_sign [:!Sequal_sign :!Sequal_sign]]                            ; '++'              ;
  ; [:!OTC#Popen_bracket []]                                                                       ;
  ; [:!OTC#Pclose_bracket []]                                                                      ;
  [:!OTC#Psemicolon [:!S9 :!S9]]                                               ; '(('              ;
  [:!OTC#Pquote [:open_bracket :open_bracket]]                                 ; '[['              ;
  [:!OTC#Pbackslash [:!Sopen_bracket :!Sopen_bracket]]                         ; '{{'              ;
  [:!OTC#Pcomma [:!Scomma :!Ssemicolon]]                                       ; '<:'              ;
  [:!OTC#Pperiod [:!Speriod :!Ssemicolon]]                                     ; '>:'              ;
  [:!OTC#Pslash [:!S3 :!S1 :slash]]                                            ; '#!/'             ;

  [:!OTC#Pdelete_or_backspace [:!S1 :!S1]]                                     ; '!!'              ;
  [:!OTC#Preturn_or_enter [:equal_sign :equal_sign]]                           ; '=='              ;
  [:!OTC#Pright_shift [:!Sbackslash :!Sbackslash]]                             ; '||'              ;
  [:!OTC#Pright_option [:!S8 :!S8]]                                            ; '**'              ;
  [:!OTC#Pright_command [:slash :slash]]                                       ; '//'              ;
  [:!OTC#Pspacebar [:caps_lock]]                                                                   ;

  ; [:!OTC#Pleft_command []]                                                                       ;
  ; [:!OTC#Pleft_option []]                                                                        ;
  ; [:!OTC#Pleft_control []]                                                                       ;
  ; [:!OTC#Pleft_shift []]                                                                         ;
  ; [:!OTC#Pcaps_lock []]                                                           NOT AVAILABLE  ;
  ; [:!OTC#Ptab []]                                                                                ;
  ; [:!OTC#Pnon_us_backslash []]                                                                   ;
  ; [:!OTC#Pescape []]                                                                             ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
