;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; JOKER
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; joker
{:des "Joker Mode - symbols"
 :rules
 [;
  [:!OTC#Phyphen [:hyphen :hyphen]]                                            ; '--'              ;
  [:!OTC#Pequal_sign [:!Sequal_sign :!Sequal_sign]]                            ; '++'              ;
  ; [:!OTC#Popen_bracket []]                                                                       ;
  ; [:!OTC#Pclose_bracket []]                                                                      ;
  [:!OTC#Psemicolon [:!S9 :!S9]]                                               ; '(('              ;
  [:!OTC#Pquote [:open_bracket :open_bracket]]                                 ; '[['              ;
  [:!OTC#Pbackslash [:!Sopen_bracket :!Sopen_bracket]]                         ; '{{'              ;
  [:!OTC#Pcomma [:!Scomma :!Ssemicolon]]                                       ; '<:'              ;
  [:!OTC#Pperiod [:!Speriod :!Ssemicolon]]                                     ; '>:'              ;
  [:!OTC#Pslash [:!S3 :!S1 :slash]]                                            ; '#!/'             ;

  [:!OTC#Pdelete_or_backspace [:!S1 :!S1]]                                     ; '!!'              ;
  [:!OTC#Preturn_or_enter [:equal_sign :equal_sign]]                           ; '=='              ;
  [:!OTC#Pright_shift [:!Sbackslash :!Sbackslash]]                             ; '||'              ;
  [:!OTC#Pright_option [:!S8 :!S8]]                                            ; '**'              ;
  [:!OTC#Pright_command [:slash :slash]]                                       ; '//'              ;
  [:!OTC#Pspacebar [:caps_lock]]                                                                   ;

  ; [:!OTC#Pleft_command []]                                                        UNMAPPED       ;
  ; [:!OTC#Pleft_option []]                                                         UNMAPPED       ;
  ; [:!OTC#Pleft_control []]                                                        UNMAPPED       ;
  ; [:!OTC#Pleft_shift []]                                                          UNMAPPED       ;
  ; [:!OTC#Pcaps_lock []]                                                           NOT AVAILABLE  ;
  ; [:!OTC#Ptab []]                                                                 UNMAPPED       ;
  ; [:!OTC#Pnon_us_backslash []]                                                    UNMAPPED       ;
  ; [:!OTC#Pescape []]                                                              UNMAPPED       ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; joker - shift
{:des "Joker Mode - symbols"
 :rules
 [;
  ; [:!OTCS#Phyphen [:spacebar :period :hyphen :equal_sign :spacebar]]           ; ' .-= '           ;
  ; [:!OTCS#Pequal_sign [:spacebar :period :!Sequal_sign :equal_sign :spacebar]] ; ' .+= '           ;
  ; [:!OTCS#Popen_bracket []]                                                                      ;
  ; [:!OTCS#Pclose_bracket []]                                                                     ;
  ; [:!OTCS#Psemicolon []]                                                                         ;
  ; [:!OTCS#Pquote []]                                                                             ;
  ; [:!OTCS#Pbackslash []]                                                                         ;
  ; [:!OTCS#Pcomma [:period :spacebar]]                                          ; '. '              ;
  ; [:!OTCS#Pperiod [:!Ssemicolon :spacebar]]                                    ; ': '              ;
  ; [:!OTCS#Pslash [:slash :slash :!S1 :spacebar]]                               ; '//! '            ;

  ; [:!OTCS#Pdelete_or_backspace []]                                                                 ;
  ; [:!OTCS#Preturn_or_enter [:spacebar :hyphen :hyphen]]                        ; ' --'             ;
  ; [:!OTCS#Pright_shift []]                                                   ;    NOT AVAILABLE  ;
  ; [:!OTCS#Pright_option [:spacebar :period :!S8 :equal_sign :spacebar]]        ; ' .*= '           ;
  ; [:!OTCS#Pright_command [:spacebar :period :slash :equal_sign :spacebar]]     ; ' ./= '           ;
  ; [:!OTCS#Pspacebar []]                                                                          ;

  ; [:!OTCS#Pleft_command []]                                                       UNMAPPED       ;
  ; [:!OTCS#Pleft_option []]                                                        UNMAPPED       ;
  ; [:!OTCS#Pleft_control []]                                                       UNMAPPED       ;
  ; [:!OTCS#Pleft_shift []]                                                         NOT AVAILABLE  ;
  ; [:!OTCS#Pcaps_lock []]                                                          NOT AVAILABLE  ;
  ; [:!OTCS#Ptab []]                                                                UNMAPPED       ;
  ; [:!OTCS#Pnon_us_backslash []]                                                   UNMAPPED       ;
  ; [:!OTCS#Pescape []]                                                             UNMAPPED       ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
