# vim
vim/bundle/

# tmux
tmux/plugins/

# atom
atom/.apm
atom/.node-gyp
atom/blob-store
atom/compile-cache
atom/git-time-machine
atom/packages
atom/recovery
atom/split-diff
atom/storage
atom/.atom*
atom/.gitignore
atom/snippets.json

# zsh
zsh/plugins/

# khal calendars
khal/calendars/
khal/ics/

# micro
micro/buffers/
micro/backups/

# pier deprecations
pier/deprecate/
