;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; browser
{:des "Browser vimium mappings"
 :rules
 [;
  [:right_shift :right_shift :browser {:alone [:!Of1]}]                        ; focus             ;

  [:!WQRright_command :!Tf1 [:browser]]                                        ; down link         ;
  [:!WQRright_option :!Cf1 [:browser]]                                         ; copy link         ;

  [:!WQRreturn_or_enter :!OTCf1 [:browser]]                                    ; current tab       ;

  [:!WQRright_shift :!OTf1 [:browser]]                                         ; new tab           ;
  [:!WQRspacebar :!TCf1 [:browser]]                                            ; new tab & go      ;
  [:!WQRdelete_or_backspace :!OCf1 [:browser]]                                 ; multitab          ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
