;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; bspace
{:des "BSpace Mode - alphabet"
 :rules
 [;
  ; [:!EQR#Pa [:a]]                                                                                ;
  ; [:!EQR#Pb [:b]]                                                                                ;
  ; [:!EQR#Pc [:c]]                                                                                ;
  ; [:!EQR#Pd [:d]]                                                                                ;
  ; [:!EQR#Pe [:e]]                                                                                ;
  ; [:!EQR#Pf [:f]]                                                                                ;
  ; [:!EQR#Pg [:g]]                                                                                ;
  ; [:!EQR#Ph [:h]]                                                                                ;
  ; [:!EQR#Pi [:i]]                                                                                ;
  ; [:!EQR#Pj [:j]]                                                                                ;
  ; [:!EQR#Pk [:k]]                                                                                ;
  ; [:!EQR#Pl [:l]]                                                                                ;
  ; [:!EQR#Pm [:m]]                                                                                ;
  ; [:!EQR#Pn [:n]]                                                                                ;
  ; [:!EQR#Po [:o]]                                                                                ;
  ; [:!EQR#Pp [:p]]                                                                                ;
  ; [:!EQR#Pq [:q]]                                                                                ;
  ; [:!EQR#Pr [:r]]                                                                                ;
  ; [:!EQR#Ps [:s]]                                                                                ;
  ; [:!EQR#Pt [:t]]                                                                                ;
  ; [:!EQR#Pu [:u]]                                                                                ;
  ; [:!EQR#Pv [:v]]                                                                                ;
  ; [:!EQR#Pw [:w]]                                                                                ;
  ; [:!EQR#Px [:x]]                                                                                ;
  ; [:!EQR#Py [:y]]                                                                                ;
  ; [:!EQR#Pz [:z]]                                                                                ;
  ; [:!EQR#Pkeypad_num_lock [:f20]]                                                                ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; bspace
{:des "BSpace Mode - symbols"
 :rules
 [;
  ; [:!EQR#Phyphen []]                                                                             ;
  ; [:!EQR#Pequal_sign []]                                                                         ;
  ; [:!EQR#Popen_bracket []]                                                                       ;
  ; [:!EQR#Pclose_bracket []]                                                                      ;
  ; [:!EQR#Psemicolon []]                                                                          ;
  ; [:!EQR#Pquote []]                                                                              ;
  ; [:!EQR#Pbackslash []]                                                                          ;
  ; [:!EQR#Pcomma []]                                                                              ;
  ; [:!EQR#Pperiod []]                                                                             ;
  ; [:!EQR#Pslash []]                                                                              ;

  ; [:!EQR#Pdelete_or_backspace []]                                                 NOT AVAILABLE  ;
  ; [:!EQR#Preturn_or_enter []]                                                                    ;
  ; [:!EQR#Pright_shift []]                                                                        ;
  ; [:!EQR#Pright_option :!Tn [:term]]                                                             ;
  ; [:!EQR#Pright_command :!Tj [:term]]                                                            ;
  ; [:!EQR#Pspacebar :!Ty [:term]]                                                                 ;

  [:!EQR#Pleft_command :!Tt [:term]]                                                               ;
  ; [:!EQR#Pleft_option :!Ts [:term]]                                                              ;
  [:!EQR#Pleft_control :!Tr [:term]]                                                               ;
  ; [:!EQR#Pleft_shift :!Oc [:term]]                                                               ;
  ; [:!EQR#Pcaps_lock :!Tg [:term]]                                                                ;
  ; [:!EQR#Ptab :!Th [:term]]                                                                      ;
  ; [:!EQR#Pnon_us_backslash []]                                                                   ;
  ; [:!EQR#Pescape []]                                                                             ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
