;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; bspace
{:des "BSpace Mode - alphabet"
 :rules [;
         ; [:!EQRa [:a]]                                                                           ;
         ; [:!EQRb [:b]]                                                                           ;
         ; [:!EQRc [:c]]                                                                           ;
         ; [:!EQRd [:d]]                                                                           ;
         ; [:!EQRe [:e]]                                                                           ;
         ; [:!EQRf [:f]]                                                                           ;
         ; [:!EQRg [:g]]                                                                           ;
         ; [:!EQRh [:h]]                                                                           ;
         ; [:!EQRi [:i]]                                                                           ;
         ; [:!EQRj [:j]]                                                                           ;
         ; [:!EQRk [:k]]                                                                           ;
         ; [:!EQRl [:l]]                                                                           ;
         ; [:!EQRm [:m]]                                                                           ;
         ; [:!EQRn [:n]]                                                                           ;
         ; [:!EQRo [:o]]                                                                           ;
         ; [:!EQRp [:p]]                                                                           ;
         ; [:!EQRq [:q]]                                                                           ;
         ; [:!EQRr [:r]]                                                                           ;
         ; [:!EQRs [:s]]                                                                           ;
         ; [:!EQRt [:t]]                                                                           ;
         ; [:!EQRu [:u]]                                                                           ;
         ; [:!EQRv [:v]]                                                                           ;
         ; [:!EQRw [:w]]                                                                           ;
         ; [:!EQRx [:x]]                                                                           ;
         ; [:!EQRy [:y]]                                                                           ;
         ; [:!EQRz [:z]]                                                                           ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; bspace
{:des "BSpace Mode - symbols"
 :rules [;
         ; [:!EQRhyphen []]                                                                        ;
         ; [:!EQRequal_sign []]                                                                    ;
         ; [:!EQRopen_bracket []]                                                                  ;
         ; [:!EQRclose_bracket []]                                                                 ;
         ; [:!EQRsemicolon []]                                                                     ;
         ; [:!EQRquote []]                                                                         ;
         ; [:!EQRbackslash []]                                                                     ;
         ; [:!EQRcomma []]                                                                         ;
         ; [:!EQRperiod []]                                                                        ;
         ; [:!EQRslash []]                                                                         ;

         ; [:!EQRdelete_or_backspace []]         NOT AVAILABLE                                     ;
         ; [:!EQRreturn_or_enter []]                                                               ;
         ; [:!EQRright_shift []]                                                                   ;
         [:!EQRright_option :!Tn [:term]]                                                          ;
         [:!EQRright_command :!Tj [:term]]                                                         ;
         [:!EQRspacebar :!Ty [:term]]                                                              ;

         [:!EQRleft_command :!Tt [:term]]                                                          ;
         [:!EQRleft_option :!Ts [:term]]                                                           ;
         [:!EQRleft_control :!Tr [:term]]                                                          ;
         [:!EQRleft_shift :!Oc [:term]]                                                            ;
         [:!EQRcaps_lock :!Tg [:term]]                                                             ;
         [:!EQRtab :!Th [:term]]                                                                   ;
         ; [:!EQRnon_us_backslash []]                                                              ;
         ; [:!EQRescape []]                                                                        ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
