;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Alacritty control - command - alphabet"
 :rules
 [;
  ; [:!TC#Pa : [:term]]                                                                            ;
  ; [:!TC#Pb : [:term]]                                                                            ;
  ; [:!TC#Pc : [:term]]                                                                            ;
  ; [:!TC#Pd : [:term]]                                                                            ;
  ; [:!TC#Pe : [:term]]                                                                            ;
  ; [:!TC#Pf : [:term]]                                                                            ;
  ; [:!TC#Pg : [:term]]                                                                            ;
  ; [:!TC#Ph : [:term]]                                                                            ;
  ; [:!TC#Pi : [:term]]                                                                            ;
  ; [:!TC#Pj : [:term]]                                                                            ;
  ; [:!TC#Pk : [:term]]                                                                            ;
  ; [:!TC#Pl : [:term]]                                                                            ;
  ; [:!TC#Pm : [:term]]                                                                            ;
  ; [:!TC#Pn : [:term]]                                                                            ;
  ; [:!TC#Po : [:term]]                                                                            ;
  ; [:!TC#Pp : [:term]]                                                                            ;
  ; [:!TC#Pq : [:term]]                                                                            ;
  ; [:!TC#Pr : [:term]]                                                                            ;
  ; [:!TC#Ps : [:term]]                                                                            ;
  ; [:!TC#Pt : [:term]]                                                                            ;
  ; [:!TC#Pu : [:term]]                                                                            ;
  ; [:!TC#Pv : [:term]]                                                                            ;
  ; [:!TC#Pw : [:term]]                                                                            ;
  ; [:!TC#Px : [:term]]                                                                            ;
  ; [:!TC#Py : [:term]]                                                                            ;
  ; [:!TC#Pz : [:term]]                                                                            ;
  ; [:!TC#Pkeypad_num_lock : [:term]]                                                              ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Alacritty - Control - Command Mode"
 :rules
 [;
  ; [:!Sf14 [:term]]                                                                NOT AVAILABLE  ;
  ; [:!Sf15 [:term]]                                                                NOT AVAILABLE  ;
  ; [:!SOf14 [:term]]                                                               NOT AVAILABLE  ;
  ; [:!SOf15 [:term]]                                                               NOT AVAILABLE  ;
  [:!TC#Phyphen :!Sf11 [:term]]                                                                    ;
  [:!TC#Pequal_sign :!Sf12 [:term]]                                                                ;
  [:!TC#Popen_bracket :!SOf11 [:term]]                                                             ;
  [:!TC#Pclose_bracket :!SOf12 [:term]]                                                            ;
  [:!TC#Psemicolon :!SOf13 [:term]]                                                                ;
  [:!TC#Pquote :!SOf16 [:term]]                                                                    ;
  [:!TC#Pbackslash :!SOf17 [:term]]                                                                ;
  [:!TC#Pcomma :!SOf18 [:term]]                                                                    ;
  [:!TC#Pperiod :!SOf19 [:term]]                                                                   ;
  [:!TC#Pslash :!SOf20 [:term]]                                                                    ;

  [:!TC#Pdelete_or_backspace :!Sf1 [:term]]                                                        ;
  [:!TC#Preturn_or_enter :!Sf2 [:term]]                                                            ;
  [:!TC#Pright_shift :!Sf4 [:term]]                                                                ;
  [:!TC#Pright_option :!Sf5 [:term]]                                                               ;
  [:!TC#Pright_command :!Sf6 [:term]]                                                              ;
  [:!TC#Pspacebar :f1 [:term]]                                                                     ;

  ; [:!TCleft_command [:term]]                                                      NOT AVAILABLE  ;
  [:!TC#Pleft_option :!Sf13 [:term]]                                                               ;
  ; [:!TCleft_control [:term]]                                                      NOT AVAILABLE  ;
  [:!TC#Pleft_shift :!Sf16 [:term]]                                                                ;
  [:!TC#Pcaps_lock :!Sf17 [:term]]                                                                 ;
  [:!TC#Ptab :!Sf18 [:term]]                                                                       ;
  [:!TC#Pnon_us_backslash :!Sf19 [:term]]                                                          ;
  [:!TC#Pescape :!Sf20 [:term]]                                                                    ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Alacritty - Keypad"
 :rules
 [;
  ; [:!SOTf14 [:term]]                                                              NOT AVAILABLE  ;
  ; [:!SOTf15 [:term]]                                                              NOT AVAILABLE  ;
  [:!TC#Pkeypad_1 :!STf11 [:term]]                                                                 ;
  [:!TC#Pkeypad_2 :!STf12 [:term]]                                                                 ;
  [:!TC#Pkeypad_3 :!STf13 [:term]]                                                                 ;
  [:!TC#Pkeypad_4 :!STf14 [:term]]                                                                 ;
  [:!TC#Pkeypad_5 :!STf15 [:term]]                                                                 ;
  [:!TC#Pkeypad_6 :!STf16 [:term]]                                                                 ;
  [:!TC#Pkeypad_7 :!STf17 [:term]]                                                                 ;
  [:!TC#Pkeypad_8 :!STf18 [:term]]                                                                 ;
  [:!TC#Pkeypad_9 :!STf19 [:term]]                                                                 ;
  [:!TC#Pkeypad_0 :!STf20 [:term]]                                                                 ;

  ; [:!SOTf11]                                                                                     ;
  [:!TC#Pkeypad_period :!SOTf12 [:term]]                                                           ;
  [:!TC#Pkeypad_plus :!SOTf16 [:term]]                                                             ;
  [:!TC#Pkeypad_enter :!SOTf13 [:term]]                                                            ;
  [:!TC#Pf20 :!SOTf17]                                                                             ;
  [:!TC#Pkeypad_slash :!SOTf18 [:term]]                                                            ;
  [:!TC#Pkeypad_asterisk :!SOTf19 [:term]]                                                         ;
  [:!TC#Pkeypad_hyphen :!SOTf20 [:term]]                                                           ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
