;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Alacritty control - command - alphabet"
 :rules
 [;
  ; [:!Tf14 [:term]]                                                                NOT AVAILABLE  ;
  ; [:!Tf15 [:term]]                                                                NOT AVAILABLE  ;
  ; [:!OTf13 [:term]]                                                                              ;
  [:!TCa :!Of11 [:term]]                                                                           ;
  [:!TCb :!Of12 [:term]]                                                                           ;
  [:!TCc :!Of14 [:term]]                                                                           ;
  [:!TCd :!Of15 [:term]]                                                                           ;
  [:!TCe :!Of16 [:term]]                                                                           ;
  [:!TCf :!Of17 [:term]]                                                                           ;
  [:!TCg :!Of18 [:term]]                                                                           ;
  [:!TCh :!Of19 [:term]]                                                                           ;
  [:!TCi :!Of20 [:term]]                                                                           ;
  [:!TCj :!Tf11 [:term]]                                                                           ;
  [:!TCk :!Tf12 [:term]]                                                                           ;
  [:!TCl :!Tf13 [:term]]                                                                           ;
  [:!TCm :!Of13 [:term]]                                                                           ;
  [:!TCn :!Tf16 [:term]]                                                                           ;
  [:!TCo :!Tf17 [:term]]                                                                           ;
  [:!TCp :!Tf18 [:term]]                                                                           ;
  [:!TCq :!Tf19 [:term]]                                                                           ;
  [:!TCr :!Tf20 [:term]]                                                                           ;
  [:!TCs :!OTf11 [:term]]                                                                          ;
  [:!TCt :!OTf12 [:term]]                                                                          ;
  [:!TCu :!OTf14 [:term]]                                                                          ;
  [:!TCv :!OTf15 [:term]]                                                                          ;
  [:!TCw :!OTf16 [:term]]                                                                          ;
  [:!TCx :!OTf17 [:term]]                                                                          ;
  [:!TCy :!OTf18 [:term]]                                                                          ;
  [:!TCz :!OTf19 [:term]]                                                                          ;
  [:!TCkeypad_num_lock :!OTf20 [:term]]                                                            ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Alacritty - Control - Command Mode"
 :rules
 [;
  ; [:!Sf14 [:term]]                                                                NOT AVAILABLE  ;
  ; [:!Sf15 [:term]]                                                                NOT AVAILABLE  ;
  ; [:!SOf14 [:term]]                                                               NOT AVAILABLE  ;
  ; [:!SOf15 [:term]]                                                               NOT AVAILABLE  ;
  [:!TChyphen :!Sf11 [:term]]                                                                      ;
  [:!TCequal_sign :!Sf12 [:term]]                                                                  ;
  [:!TCopen_bracket :!SOf11 [:term]]                                                               ;
  [:!TCclose_bracket :!SOf12 [:term]]                                                              ;
  [:!TCsemicolon :!SOf13 [:term]]                                                                  ;
  [:!TCquote :!SOf16 [:term]]                                                                      ;
  [:!TCbackslash :!SOf17 [:term]]                                                                  ;
  [:!TCcomma :!SOf18 [:term]]                                                                      ;
  [:!TCperiod :!SOf19 [:term]]                                                                     ;
  [:!TCslash :!SOf20 [:term]]                                                                      ;

  [:!TCdelete_or_backspace :!Sf1 [:term]]                                                          ;
  [:!TCreturn_or_enter :!Sf2 [:term]]                                                              ;
  [:!TCright_shift :!Sf4 [:term]]                                                                  ;
  [:!TCright_option :!Sf5 [:term]]                                                                 ;
  [:!TCright_command :!Sf6 [:term]]                                                                ;
  [:!TCspacebar :f1 [:term]]                                                                       ;

  ; [:!TCleft_command [:term]]                                                      NOT AVAILABLE  ;
  [:!TCleft_option :!Sf13 [:term]]                                                                 ;
  ; [:!TCleft_control [:term]]                                                      NOT AVAILABLE  ;
  [:!TCleft_shift :!Sf16 [:term]]                                                                  ;
  [:!TCcaps_lock :!Sf17 [:term]]                                                                   ;
  [:!TCtab :!Sf18 [:term]]                                                                         ;
  [:!TCnon_us_backslash :!Sf19 [:term]]                                                            ;
  [:!TCescape :!Sf20 [:term]]                                                                      ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Alacritty - Keypad"
 :rules
 [;
  ; [:!SOTf14 [:term]]                                                              NOT AVAILABLE  ;
  ; [:!SOTf15 [:term]]                                                              NOT AVAILABLE  ;
  [:!TCkeypad_1 :!STf11 [:term]]                                                                   ;
  [:!TCkeypad_2 :!STf12 [:term]]                                                                   ;
  [:!TCkeypad_3 :!STf13 [:term]]                                                                   ;
  [:!TCkeypad_4 :!STf14 [:term]]                                                                   ;
  [:!TCkeypad_5 :!STf15 [:term]]                                                                   ;
  [:!TCkeypad_6 :!STf16 [:term]]                                                                   ;
  [:!TCkeypad_7 :!STf17 [:term]]                                                                   ;
  [:!TCkeypad_8 :!STf18 [:term]]                                                                   ;
  [:!TCkeypad_9 :!STf19 [:term]]                                                                   ;
  [:!TCkeypad_0 :!STf20 [:term]]                                                                   ;

  ; [:!SOTf11]                                                                                     ;
  [:!TCkeypad_period :!SOTf12 [:term]]                                                             ;
  [:!TCkeypad_plus :!SOTf16 [:term]]                                                               ;
  [:!TCkeypad_enter :!SOTf13 [:term]]                                                              ;
  [:!TCf20 :!SOTf17]                                                                               ;
  [:!TCkeypad_slash :!SOTf18 [:term]]                                                              ;
  [:!TCkeypad_asterisk :!SOTf19 [:term]]                                                           ;
  [:!TCkeypad_hyphen :!SOTf20 [:term]]                                                             ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
