;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; esc
{:des "Escape Mode - alphabet"
 :rules
 [;
  ; [:!EWR#Pa [:!S2 :spacebar]]                                                ;                   ;
  ; [:!EWR#Pb [:!S2 :spacebar]]                                                ;                   ;
  [:!EWR#Pc [:!S2 :c :h :a :i :n :spacebar]]                                   ; '@chain '         ;
  [:!EWR#Pd [:!S2 :d :e :b :u :g :spacebar]]                                   ; '@debug '         ;
  [:!EWR#Pe [:!S2 :e :d :i :t :spacebar]]                                      ; '@edit '          ;
  ; [:!EWR#Pf [:!S2 :spacebar]]                                                ;                   ;
  ; [:!EWR#Pg [:!S2 :spacebar]]                                                ;                   ;
  ; [:!EWR#Ph [:!S2 :spacebar]]                                                ;                   ;
  [:!EWR#Pi [:!S2 :i :n :f :o :spacebar]]                                      ; '@info '          ;
  ; [:!EWR#Pj [:!S2 :spacebar]]                                                ;                   ;
  [:!EWR#Pk [:!S2 :c :l :i :c :k :period]]                                     ; '@click.'         ;
  [:!EWR#Pl [:!S2 :l :e :s :s :spacebar]]                                      ; '@less '          ;
  ; [:!EWR#Pm [:!S2 :spacebar]]                                                ;                   ;
  ; [:!EWR#Pn [:!S2 :spacebar]]                                                ;                   ;
  ; [:!EWR#Po [:!S2 :spacebar]]                                                ;                   ;
  [:!EWR#Pp [:!S2 :p :i :p :e :spacebar]]                                      ; '@pipe '          ;
  ; [:!EWR#Pq [:!S2 :spacebar]]                                                ;                   ;
  ; [:!EWR#Pr [:!S2 :spacebar]]                                                ;                   ;
  [:!EWR#Ps [:!S2 :s :h :o :w :spacebar]]                                      ; '@show '          ;
  [:!EWR#Pt [:!S2 :t :i :m :e :spacebar]]                                      ; '@time '          ;
  ; [:!EWR#Pu [:!S2 :spacebar]]                                                ;                   ;
  [:!EWR#Pv [:!S2 :e :v :a :l :spacebar]]                                      ; '@eval '          ;
  [:!EWR#Pw [:!S2 :w :a :r :n :spacebar]]                                      ; '@warn '          ;
  ; [:!EWR#Px [:!S2 :spacebar]]                                                ;                   ;
  ; [:!EWR#Py [:!S2 :spacebar]]                                                ;                   ;
  [:!EWR#Pz [:!S2 :w :h :i :c :h :spacebar]]                                   ; '@which '         ;
  ; [:!EWR#Pkeypad_num_lock [:!S2 :spacebar]]                                  ;                   ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; esc
{:des "Escape Mode - symbols"
 :rules
 [;
  ; [:!EWR#Phyphen []]                                                                             ;
  ; [:!EWR#Pequal_sign []]                                                                         ;
  [:!EWR#Popen_bracket [:spacebar :!S5 :!Scomma :!Sequal_sign :!S5 :spacebar]] ; ' %<+% '          ;
  [:!EWR#Pclose_bracket [:spacebar :!S5 :!Sequal_sign :!Speriod :!S5 :spacebar]];' %+>% '          ;
  [:!EWR#Psemicolon [:spacebar :!S5 :!S4 :!S5 :spacebar]]                      ; ' %$% '           ;
  [:!EWR#Pquote [:spacebar :!S5 :!St :!Speriod :!S5 :spacebar]]                ; ' %T>% '          ;
  [:!EWR#Pbackslash [:spacebar :!S5 :!Scomma :!Speriod :!S5 :spacebar]]        ; ' %<>% '          ;
  [:!EWR#Pcomma [:spacebar :!S5 :!Scomma :!S5 :spacebar]]                      ; ' %<% '           ;
  [:!EWR#Pperiod [:spacebar :!S5 :!Speriod :!S5 :spacebar]]                    ; ' %>% '           ;
  [:!EWR#Pslash [:spacebar :!S5 :!S1 :!Speriod :!S5 :spacebar]]                ; ' %!>% '          ;

  ; [:!EWR#Pdelete_or_backspace []]                                                                ;
  ; [:!EWR#Preturn_or_enter []]                                                                    ;
  ; [:!EWR#Pright_shift []]                                                                        ;
  ; [:!EWR#Pright_option []]                                                                       ;
  ; [:!EWR#Pright_command []]                                                                      ;
  ; [:!EWR#Pspacebar []]                                                                           ;

  ; [:!EWR#Pleft_command []]                                                                       ;
  ; [:!EWR#Pleft_option []]                                                                        ;
  ; [:!EWR#Pleft_control []]                                                                       ;
  ; [:!EWR#Pleft_shift []]                                                                         ;
  ; [:!EWR#Pcaps_lock []]                                                                          ;
  ; [:!EWR#Ptab []]                                                                                ;
  ; [:!EWR#Pnon_us_backslash []]                                                                   ;
  ; [:!EWR#Pescape []]                                                              NOT AVAILABLE  ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; esc - shift
{:des "Escape Mode - symbols"
 :rules
 [;
  ; [:!EWRS#Phyphen []]                                                                            ;
  ; [:!EWRS#Pequal_sign []]                                                                        ;
  ; [:!EWRS#Popen_bracket []]                                                                      ;
  ; [:!EWRS#Pclose_bracket []]                                                                     ;
  ; [:!EWRS#Psemicolon []]                                                                         ;
  ; [:!EWRS#Pquote []]                                                                             ;
  ; [:!EWRS#Pbackslash []]                                                                         ;
  ; [:!EWRS#Pcomma []]                                                                             ;
  ; [:!EWRS#Pperiod []]                                                                            ;
  ; [:!EWRS#Pslash []]                                                                             ;

  ; [:!EWRS#Pdelete_or_backspace []]                                                               ;
  ; [:!EWRS#Preturn_or_enter []]                                                                   ;
  ; [:!EWRS#Pright_shift []]                                                                       ;
  ; [:!EWRS#Pright_option []]                                                                      ;
  ; [:!EWRS#Pright_command []]                                                                     ;
  ; [:!EWRS#Pspacebar []]                                                                          ;

  ; [:!EWRS#Pleft_command []]                                                                      ;
  ; [:!EWRS#Pleft_option []]                                                                       ;
  ; [:!EWRS#Pleft_control []]                                                                      ;
  ; [:!EWRS#Pleft_shift []]                                                         NOT AVAILABLE  ;
  ; [:!EWRS#Pcaps_lock []]                                                                         ;
  ; [:!EWRS#Ptab []]                                                                               ;
  ; [:!EWRS#Pnon_us_backslash []]                                                                  ;
  ; [:!EWRS#Pescape []]                                                             NOT AVAILABLE  ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
