;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; espanso
{:des "Espanso mode - alphabet"
 :rules
 [;
  ; [:!EQRa [:!Ssemicolon :!Ssemicolon]]                                                           ;
  [:!EQRb [:!Ssemicolon :b :r :!Ssemicolon]]                                                       ; `Best regards,`
  [:!EQRc [:!Ssemicolon :c :h :!Ssemicolon]]                                                       ; `Cheers,`
  [:!EQRd [:!Ssemicolon :d :r :!Ssemicolon]]                                                       ; `Daniel Rivas`
  ; [:!EQRe [:!Ssemicolon :!Ssemicolon]]                                                           ;
  ; [:!EQRf [:!Ssemicolon :!Ssemicolon]]                                                           ;
  [:!EQRg [:!Ssemicolon :g :i :t :h :u :b :!Ssemicolon]]                                           ; `https://github.com/DanielRivasMD`
  ; [:!EQRh [:!Ssemicolon :!Ssemicolon]]                                                           ;
  ; [:!EQRi [:!Ssemicolon :!Ssemicolon]]                                                           ;
  ; [:!EQRj [:!Ssemicolon :!Ssemicolon]]                                                           ;
  ; [:!EQRk [:!Ssemicolon :!Ssemicolon]]                                                           ;
  [:!EQRl [:!Ssemicolon :l :i :n :k :!Ssemicolon]]                                                 ; `https://www.linkedin.com/in/daniel-rivas-b6306917b/`
  [:!EQRm [:!Ssemicolon :m :a :i :l :!Ssemicolon]]                                                 ; `danielrivasmd@gmail.com`
  [:!EQRn [:!Ssemicolon :n :a :m :e :!Ssemicolon]]                                                 ; `Salvador Daniel Rivas Carrillo`
  ; [:!EQRo [:!Ssemicolon :!Ssemicolon]]                                                           ;
  ; [:!EQRp [:!Ssemicolon :!Ssemicolon]]                                                           ;
  ; [:!EQRq [:!Ssemicolon :!Ssemicolon]]                                                           ;
  ; [:!EQRr [:!Ssemicolon :!Ssemicolon]]                                                           ;
  [:!EQRs [:!Ssemicolon :s :c :h :o :o :l :a :r :!Ssemicolon]]                                     ; `https://scholar.google.com/citations?user=zhiXeAsAAAAJ&hl=en`
  ; [:!EQRt [:!Ssemicolon :!Ssemicolon]]                                                           ;
  ; [:!EQRu [:!Ssemicolon :!Ssemicolon]]                                                           ;
  ; [:!EQRv [:!Ssemicolon :!Ssemicolon]]                                                           ;
  ; [:!EQRw [:!Ssemicolon :!Ssemicolon]]                                                           ;
  ; [:!EQRx [:!Ssemicolon :!Ssemicolon]]                                                           ;
  ; [:!EQRy [:!Ssemicolon :!Ssemicolon]]                                                           ;
  ; [:!EQRz [:!Ssemicolon :!Ssemicolon]]                                                           ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
