;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; hyper
{:des "Hyper Mode - alphabet"
 :rules
 [;
  ; [:!!#Pa []]                                                                                    ;
  ; [:!!#Pb []]                                                                                    ;
  ; [:!!#Pc []]                                                                                    ;
  ; [:!!#Pd []]                                                                                    ;
  ; [:!!#Pe []]                                                                                    ;
  ; [:!!#Pf []]                                                                                    ;
  ; [:!!#Pg []]                                                                                    ;
  ; [:!!#Ph []]                                                                                    ;
  ; [:!!#Pi []]                                                                                    ;
  ; [:!!#Pj []]                                                                                    ;
  ; [:!!#Pk []]                                                                                    ;
  ; [:!!#Pl []]                                                                                    ;
  ; [:!!#Pm []]                                                                                    ;
  ; [:!!#Pn []]                                                                                    ;
  ; [:!!#Po []]                                                                                    ;
  ; [:!!#Pp []]                                                                                    ;
  ; [:!!#Pq []]                                                                                    ;
  ; [:!!#Pr []]                                                                                    ;
  ; [:!!#Ps []]                                                                                    ;
  ; [:!!#Pt []]                                                                                    ;
  ; [:!!#Pu []]                                                                                    ;
  ; [:!!#Pv []]                                                                                    ;
  ; [:!!#Pw []]                                                                                    ;
  ; [:!!#Px []]                                                                                    ;
  ; [:!!#Py []]                                                                                    ;
  ; [:!!#Pz []]                                                                                    ;
  ; [:!!#Pkeypad_num_lock []]                                                                      ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; hyper
{:des "Hyper Mode - symbols"
 :rules
 [;
  ; [:!!#Phyphen []]                                                                               ;
  ; [:!!#Pequal_sign []]                                                                           ;
  ; [:!!#Popen_bracket []]                                                                         ;
  ; [:!!#Pclose_bracket []]                                                                        ;
  [:!!#Psemicolon [:launch "Microsoft PowerPoint"]]                                                ;
  [:!!#Pquote [:launch "Microsoft Excel"]]                                                         ;
  [:!!#Pbackslash [:launch "Microsoft Word"]]                                                      ;
  ; [:!!#Pcomma []]                                                                 COLLISION      ;
  ; [:!!#Pperiod []]                                                                COLLISION      ;
  [:!!#Pslash [:launch "Canary Mail"]]                                                             ;

  [:!!#Pdelete_or_backspace [:launch "Lapce"]]                                                     ;
  [:!!#Preturn_or_enter [:launch "Alacritty"]]                                                     ;
  [:!!#Pright_shift [:launch "Zed"]]                                                               ;
  [:!!#Pright_option [:launch "Chrome"]]                                                           ;
  [:!!#Pright_command [:launch "Firefox"]]                                                         ;
  ; [:!!#Pspacebar []]                                                              COLLISION      ;

  ; [:!!#Pleft_command []]                                                                         ;
  ; [:!!#Pleft_option []]                                                                          ;
  ; [:!!#Pleft_control []]                                                                         ;
  ; [:!!#Pleft_shift []]                                                                           ;
  ; [:!!#Pcaps_lock []]                                                             NOT AVAILABLE  ;
  ; [:!!#Ptab []]                                                                                  ;
  ; [:!!#Pnon_us_backslash []]                                                                     ;
  ; [:!!#Pescape []]                                                                               ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
