;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; hyper
{:des "Hyper Mode - alphabet"
 :rules [;
         ; [:!!a []]                                                                               ;
         ; [:!!b []]                                                                               ;
         ; [:!!c []]                                                                               ;
         ; [:!!d []]                                                                               ;
         ; [:!!e []]                                                                               ;
         ; [:!!f []]                                                                               ;
         ; [:!!g []]                                                                               ;
         ; [:!!h []]                                                                               ;
         ; [:!!i []]                                                                               ;
         ; [:!!j []]                                                                               ;
         ; [:!!k []]                                                                               ;
         ; [:!!l []]                                                                               ;
         ; [:!!m []]                                                                               ;
         ; [:!!n []]                                                                               ;
         ; [:!!o []]                                                                               ;
         ; [:!!p []]                                                                               ;
         ; [:!!q []]                                                                               ;
         ; [:!!r []]                                                                               ;
         ; [:!!s []]                                                                               ;
         ; [:!!t []]                                                                               ;
         ; [:!!u []]                                                                               ;
         ; [:!!v []]                                                                               ;
         ; [:!!w []]                                                                               ;
         ; [:!!x []]                                                                               ;
         ; [:!!y []]                                                                               ;
         ; [:!!z []]                                                                               ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; hyper
{:des "Hyper Mode - symbols"
 :rules [;
         ; [:!!hyphen []]                                                                          ;
         ; [:!!equal_sign []]                                                                      ;
         ; [:!!open_bracket []]                                                                    ;
         ; [:!!close_bracket []]                                                                   ;
         [:!!semicolon [:launch "Microsoft PowerPoint"]]                                           ;
         [:!!quote [:launch "Microsoft Excel"]]                                                    ;
         [:!!backslash [:launch "Microsoft Word"]]                                                 ;
         ; [:!!comma []]               COLLISION (system)                                          ;
         ; [:!!period []]              COLLISION (system)                                          ;
         [:!!slash [:launch "Mail"]]                                                               ;

         [:!!delete_or_backspace [:launch "Lapce"]]                                                ;
         [:!!return_or_enter [:launch "Alacritty"]]                                                ;
         [:!!right_shift [:launch "Zed"]]                                                          ;
         [:!!right_option [:launch "Chrome"]]                                                      ;
         [:!!right_command [:launch "Firefox"]]                                                    ;
         ; [:!!spacebar []]            COLLISION (speak function)                                  ;

         ; [:!!left_command []]                                                                    ;
         ; [:!!left_option []]                                                                     ;
         ; [:!!left_control []]                                                                    ;
         ; [:!!left_shift []]                                                                      ;
         ; [:!!caps_lock []]                     NOT AVAILABLE                                     ;
         ; [:!!tab []]                                                                             ;
         ; [:!!non_us_backslash []]                                                                ;
         ; [:!!escape []]                                                                          ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
