;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; DOC: remap caps lock => ctl-opt-cmd
; DOC: remap q-layer => hyper
; WIP: remap hyper app calls => browsers & mail
; DOC: remap counter up & down => 2 alt-cmd - up & down
; WIP: remap go to diff =>        2 ctl-alt-cmd - up & down

; WIP: remap movement =>          4
; DOC: diagnostics =>       3 ctl-alt-cmd - left & right
; WIP: remap symbols =>           7
; DOC: remap comment =>           2 ctl-alt-cmd - up & down       ctl-cmd - up & down
; DOC: remap jump =>              5 ctl-alt-cmd - comma & period  ctl-alt-cmd - cmd, alt, shift & bs
; DOC: remap char & jump =>       3 ctl-cmd - comma & period      ctl-alt-cmd - left & right
; key modifiers
{:des "Modifier key remappings"
 :rules
 [; quit
  [:!C#Pq [:!Cq ["command-q" 0]] ["command-q" 1]]                                                  ;
  [:!C#Pq ["command-q" 1] nil {:delayed {:invoked ["command-q" 0] :canceled ["commandq" 0]}}]      ;

  ; caps & fn
  [:#Pq :!OTCleft_shift nil {:alone :q}]                                                           ;
  [:##caps_lock :!OTleft_command nil {:alone :escape}]                                              ;
  [:##fn :right_control nil {:alone :escape}]                                                      ;

  ; modifiers
  [:#Pescape :!EWright_shift nil {:alone [:!EWRf3]}]                                               ;
  ; [:#Pspacebar :!EWright_command nil {:alone [:spacebar]}]                                         ;
  [:#Pdelete_or_backspace :!EQright_shift nil {:alone [:!EQRf3]}]                                  ;

  ; lefts
  [:#Ptab :!WQright_shift nil {:alone [:tab]}]                                                     ;
  ; [:#Pleft_shift :left_shift nil {:alone [:]}]                                                   ;
  [:#Pleft_control :left_control nil {:alone [:!Tf3]}]                                             ;
  [:#Pleft_option :left_option nil {:alone [:!Otab]}]                                              ;
  [:#Pleft_command :left_command nil {:alone [:!Ctab]}]                                            ;

  ; rights
  [:#Pright_shift :right_shift nil {:alone [:!Sf3]}]                                               ;
  ; [:#Pright_control :right_control nil {:alone [:]}]                                             ;
  [:#Pright_option :right_option nil {:alone [:!Of3]}]                                             ;
  [:#Pright_command :right_command nil {:alone [:!Cf3]}]                                           ;
  ; [:#Preturn_or_enter :return_or_enter nil {:alone [:]}]                                         ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
