;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Lapce
{:des "Lapce - alt - alphabet"
 :rules [;
         [:!Oa :!CSl [:lapce]]                                                                     ;
         ; [:!Ob : [:lapce]]                                                                       ;
         [:!Oc :!Cbackslash [:lapce]]                                                              ;
         [:!Od :!Cd [:lapce]]                                                                      ;
         ; [:!Oe : [:lapce]]                                                                       ;
         ; [:!Of : [:lapce]]                                                                       ;
         ; [:!Og : [:lapce]]                                                                       ;
         ; [:!Oh : [:lapce]]                                                                       ;
         [:!Oi :!Cclose_bracket [:lapce]]                                                          ;
         [:!Oj :!OCdown_arrow [:lapce]]                                                            ;
         [:!Ok :!OCup_arrow [:lapce]]                                                              ;
         ; [:!Ol : [:lapce]]                                                                       ;
         ; [:!Om : [:lapce]]                                                                       ;
         ; [:!On : [:lapce]]                                                                       ;
         [:!Oo :!Copen_bracket [:lapce]]                                                           ;
         ; [:!Op : [:lapce]]                                                                       ;
         ; [:!Oq : [:lapce]]                                                                       ;
         ; [:!Or : [:lapce]]                                                                       ;
         ; [:!Os : [:lapce]]                                                                       ;
         ; [:!Ot : [:lapce]]                                                                       ;
         [:!Ou :!Cz [:lapce]]                                                                      ;
         ; [:!Ov : [:lapce]]                                                                       ;
         ; [:!Ow : [:lapce]]                                                                       ;
         ; [:!Ox : [:lapce]]                                                                       ;
         ; [:!Oy : [:lapce]]                                                                       ;
         [:!Oz :!Cu [:lapce]]                                                                      ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Lapce
{:des "Lapce - alt - alphabet"
 :rules [;
         ; [:!SOa : [:lapce]]                                                                      ;
         ; [:!SOb : [:lapce]]                                                                      ;
         [:!SOc :!Cslash [:lapce]]                                                                 ;
         ; [:!SOd : [:lapce]]                                                                      ;
         ; [:!SOe : [:lapce]]                                                                      ;
         ; [:!SOf : [:lapce]]                                                                      ;
         ; [:!SOg : [:lapce]]                                                                      ;
         ; [:!SOh : [:lapce]]                                                                      ;
         ; [:!SOi : [:lapce]]                                                                      ;
         ; [:!SOj : [:lapce]]                                                                      ;
         ; [:!SOk : [:lapce]]                                                                      ;
         [:!SOl :!Cl [:lapce]]                                                                     ;
         ; [:!SOm : [:lapce]]                                                                      ;
         ; [:!SOn : [:lapce]]                                                                      ;
         ; [:!SOo : [:lapce]]                                                                      ;
         ; [:!SOp : [:lapce]]                                                                      ;
         ; [:!SOq : [:lapce]]                                                                      ;
         ; [:!SOr : [:lapce]]                                                                      ;
         ; [:!SOs : [:lapce]]                                                                      ;
         ; [:!SOt : [:lapce]]                                                                      ;
         [:!SOu :!CSz [:lapce]]                                                                    ;
         ; [:!SOv : [:lapce]]                                                                      ;
         ; [:!SOw : [:lapce]]                                                                      ;
         [:!SOx :!CSk [:lapce]]                                                                    ;
         ; [:!SOy : [:lapce]]                                                                      ;
         ; [:!SOz : [:lapce]]                                                                      ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Lapce
{:des "Lapce - Sessions"
 :rules [;
         [:escape :!EWright_shift :lapce {:alone [:!CSe]}] ; file explorer
         ; [:delete_or_backspace :!WQright_shift
          ; :lapce {:alone [:!Cj]}]                        ; terminal

         ; [:!OTright_shift :!Cbackslash [:lapce]]         ; split vertical
         ; [:!OTright_option :!CSbackslash [:lapce]]       ; split horizontal
         ; [:!OCright_shift :!Cbackslash [:lapce]]         ; split vertical
         ; [:!OCright_option :!CSbackslash [:lapce]]       ; split horizontal
         ; [:!OTright_command :!TCSbackslash [:lapce]]     ;

         [:!OCleft_arrow :!TStab [:lapce]]                 ; left tab
         [:!OCright_arrow :!Ttab [:lapce]]                 ; right tab
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Lapce
{:des "Lapce - Control remappings"
 :rules [;
         ; [:!EQRtab :!Th [:lapce]]                        ; del-tab
         ; [:!EQRcaps_lock :!Tg [:lapce]]                  ; del-caps
         ; [:!EQRleft_shift :!Oc [:lapce]]                 ; del-shift
         [:!EQRleft_control :!Cp [:lapce]]                 ; del-ctrl
         ; [:!EQRleft_option :!Ts [:lapce]]                ; del-alt
         [:!EQRleft_command :f1 [:lapce]]                  ; del-cmd
         ; [:!EQRspacebar :!Ty [:lapce]]                   ; del-space
         ; [:!EQRright_command :!Tj [:lapce]]              ; del-cmd
         ; [:!EQRright_option :!Tn [:lapce]]               ; del-alt
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Lapce
{:des "Lapce - Interactive delete"
 :rules [;
         ; [:!Sright_option :!Odelete_forward [:lapce]]      ; shift-alt
         [:!Sright_command :!Tk [:lapce]]                  ; shift-cmd
         ; [:!Rleft_control :!Odelete_or_backspace [:lapce]] ; shift-ctrl
         ; [:!Rleft_command :!Cdelete_or_backspace [:lapce]] ; shift-cmd
         ; [:!Rleft_option : [:lapce]]                     ; shift-alt
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
