;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CMD
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; command
{:des "Command Mode - alphabet"
 :rules
 [;
  ; [:!C#Pa []]                                                                                    ;
  ; [:!C#Pb []]                                                                                    ;
  ; [:!C#Pc []]                                                                                    ;
  ; [:!C#Pd []]                                                                                    ;
  ; [:!C#Pe []]                                                                                    ;
  ; [:!C#Pf []]                                                                                    ;
  ; [:!C#Pg []]                                                                                    ;
  ; [:!C#Ph []]                                                                                    ;
  ; [:!C#Pi []]                                                                                    ;
  ; [:!C#Pj []]                                                                                    ;
  ; [:!C#Pk []]                                                                                    ;
  ; [:!C#Pl []]                                                                                    ;
  ; [:!C#Pm []]                                                                                    ;
  ; [:!C#Pn []]                                                                                    ;
  ; [:!C#Po []]                                                                                    ;
  ; [:!C#Pp []]                                                                                    ;
  ; [:!C#Pq []]                                                                                    ;
  ; [:!C#Pr []]                                                                                    ;
  ; [:!C#Ps []]                                                                                    ;
  ; [:!C#Pt []]                                                                                    ;
  ; [:!C#Pu []]                                                                                    ;
  ; [:!C#Pv []]                                                                                    ;
  ; [:!C#Pw []]                                                                                    ;
  ; [:!C#Px []]                                                                                    ;
  ; [:!C#Py []]                                                                                    ;
  ; [:!C#Pz []]                                                                                    ;
  ; [:!C#Pkeypad_num_lock []]                                                                      ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; command
{:des "Command Mode - symbols"
 :rules
 [;
  ; [:!C#Phyphen [:spacebar :hyphen :equal_sign :spacebar]]                      ; ' -= '            ;
  ; [:!C#Pequal_sign [:spacebar :!Sequal_sign :equal_sign :spacebar]]            ; ' += '            ;
  ; [:!C#Popen_bracket []]                                                     ;                   ;
  ; [:!C#Pclose_bracket []]                                                    ;                   ;
  ; [:!C#Psemicolon []]                                                        ;                   ;
  ; [:!C#Pquote []]                                                            ;                   ;
  ; [:!C#Pbackslash []]                                                        ;                   ;
  ; [:!C#Pcomma []]                                                            ;                   ;
  ; [:!C#Pperiod []]                                                           ;                   ;
  ; [:!C#Pslash []]                                                            ;                   ;

  ; [:!C#Pdelete_or_backspace []]                                              ;                   ;
  [:!C#Preturn_or_enter :f3 [:term]]                                           ;                   ;
  ; [:!C#Pright_shift []]                                                      ;                   ;
  ; [:!C#Pright_option [:spacebar :!S8 :equal_sign :spacebar]]                   ; ' *= '            ;
  ; [:!C#Pright_command [:spacebar :slash :equal_sign :spacebar]]                ; ' /= '            ;
  ; [:!C#Pspacebar []]                                                         ;                   ;

  ; [:!C#Pleft_command []]                                                          NOT AVAILABLE  ;
  ; [:!C#Pleft_option []]                                                                          ;
  ; [:!C#Pleft_control []]                                                                         ;
  ; [:!C#Pleft_shift []]                                                                           ;
  ; [:!C#Pcaps_lock []]                                                                            ;
  ; [:!C#Ptab []]                                                                                  ;
  ; [:!C#Pnon_us_backslash []]                                                                     ;
  ; [:!C#Pescape []]                                                                               ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; command - shift
{:des "Command Mode - symbols"
 :rules
 [;
  ; [:!CS#Phyphen [:spacebar :period :hyphen :equal_sign :spacebar]]             ; ' .-= '           ;
  ; [:!CS#Pequal_sign [:spacebar :period :!Sequal_sign :equal_sign :spacebar]]   ; ' .+= '           ;
  ; [:!CS#Popen_bracket []]                                                    ;                   ;
  ; [:!CS#Pclose_bracket []]                                                   ;                   ;
  ; [:!CS#Psemicolon []]                                                       ;                   ;
  ; [:!CS#Pquote []]                                                           ;                   ;
  ; [:!CS#Pbackslash []]                                                       ;                   ;
  ; [:!CS#Pcomma []]                                                           ;                   ;
  ; [:!CS#Pperiod []]                                                          ;                   ;
  ; [:!CS#Pslash []]                                                           ;                   ;

  ; [:!CS#Pdelete_or_backspace []]                                             ;                   ;
  ; [:!CS#Preturn_or_enter []]                                                 ;                   ;
  ; [:!CS#Pright_shift []]                                                     ;                   ;
  ; [:!CS#Pright_option [:spacebar :period :!S8 :equal_sign :spacebar]]          ; ' .*= '           ;
  ; [:!CS#Pright_command [:spacebar :period :slash :equal_sign :spacebar]]       ; ' ./= '           ;
  ; [:!CS#Pspacebar []]                                                        ;                   ;

  ; [:!CS#Pleft_command []]                                                         NOT AVAILABLE  ;
  ; [:!CS#Pleft_option []]                                                                         ;
  ; [:!CS#Pleft_control []]                                                                        ;
  ; [:!CS#Pleft_shift []]                                                           NOT AVAILABLE  ;
  ; [:!CS#Pcaps_lock []]                                                                           ;
  ; [:!CS#Ptab []]                                                                                 ;
  ; [:!CS#Pnon_us_backslash []]                                                                    ;
  ; [:!CS#Pescape []]                                                                              ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
