;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; shift
{:des "Shift Mode - alphabet"
 :rules [;
         ; [:!Sa []]                                                                               ;
         ; [:!Sb []]                                                                               ;
         ; [:!Sc []]                                                                               ;
         ; [:!Sd []]                                                                               ;
         ; [:!Se []]                                                                               ;
         ; [:!Sf []]                                                                               ;
         ; [:!Sg []]                                                                               ;
         ; [:!Sh []]                                                                               ;
         ; [:!Si []]                                                                               ;
         ; [:!Sj []]                                                                               ;
         ; [:!Sk []]                                                                               ;
         ; [:!Sl []]                                                                               ;
         ; [:!Sm []]                                                                               ;
         ; [:!Sn []]                                                                               ;
         ; [:!So []]                                                                               ;
         ; [:!Sp []]                                                                               ;
         ; [:!Sq []]                                                                               ;
         ; [:!Sr []]                                                                               ;
         ; [:!Ss []]                                                                               ;
         ; [:!St []]                                                                               ;
         ; [:!Su []]                                                                               ;
         ; [:!Sv []]                                                                               ;
         ; [:!Sw []]                                                                               ;
         ; [:!Sx []]                                                                               ;
         ; [:!Sy []]                                                                               ;
         ; [:!Sz []]                                                                               ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; shift
{:des "Shift Mode - symbols"
 :rules [;
         ; [:!Shyphen []]                        NOT AVAILABLE                                     ;
         ; [:!Sequal_sign []]                    NOT AVAILABLE                                     ;
         ; [:!Sopen_bracket []]                  NOT AVAILABLE                                     ;
         ; [:!Sclose_bracket []]                 NOT AVAILABLE                                     ;
         ; [:!Ssemicolon []]                     NOT AVAILABLE                                     ;
         ; [:!Squote []]                         NOT AVAILABLE                                     ;
         ; [:!Sbackslash []]                     NOT AVAILABLE                                     ;
         ; [:!Scomma []]                         NOT AVAILABLE                                     ;
         ; [:!Speriod []]                        NOT AVAILABLE                                     ;
         ; [:!Sslash []]                         NOT AVAILABLE                                     ;

         ; [:!Sdelete_or_backspace []]                                                             ;
         ; [:!Sreturn_or_enter []]                                                                 ;
         [:!Sright_shift :delete_forward]                                                          ;
         [:!Sright_option :!Od [:term]]                                                            ;
         [:!Sright_command :!Tk [:term]]                                                           ;
         ; [:!Sspacebar []]                                                                        ;

         ; [:!Sleft_command []]                                                                    ;
         ; [:!Sleft_option []]                                                                     ;
         ; [:!Sleft_control []]                                                                    ;
         ; [:!Sleft_shift []]                    NOT AVAILABLE                                     ;
         ; [:!Scaps_lock []]                                                                       ;
         ; [:!Stab []]                                                                             ;
         ; [:!Snon_us_backslash []]                                                                ;
         ; [:!Sescape []]                                                                          ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
