;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; shift
{:des "Shift Mode - alphabet"
 :rules [;
         ; [:!Sa []]                                                                               ;
         ; [:!Sb []]                                                                               ;
         ; [:!Sc []]                                                                               ;
         ; [:!Sd []]                                                                               ;
         ; [:!Se []]                                                                               ;
         ; [:!Sf []]                                                                               ;
         ; [:!Sg []]                                                                               ;
         ; [:!Sh []]                                                                               ;
         ; [:!Si []]                                                                               ;
         ; [:!Sj []]                                                                               ;
         ; [:!Sk []]                                                                               ;
         ; [:!Sl []]                                                                               ;
         ; [:!Sm []]                                                                               ;
         ; [:!Sn []]                                                                               ;
         ; [:!So []]                                                                               ;
         ; [:!Sp []]                                                                               ;
         ; [:!Sq []]                                                                               ;
         ; [:!Sr []]                                                                               ;
         ; [:!Ss []]                                                                               ;
         ; [:!St []]                                                                               ;
         ; [:!Su []]                                                                               ;
         ; [:!Sv []]                                                                               ;
         ; [:!Sw []]                                                                               ;
         ; [:!Sx []]                                                                               ;
         ; [:!Sy []]                                                                               ;
         ; [:!Sz []]                                                                               ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; shift
{:des "Shift Mode - symbols"
 :rules [;
         ; [:!Shyphen []]                                                                          ;
         ; [:!Sequal_sign []]                                                                      ;
         ; [:!Sopen_bracket []]                                                                    ;
         ; [:!Sclose_bracket []]                                                                   ;
         ; [:!Ssemicolon []]                                                                       ;
         ; [:!Squote []]                                                                           ;
         ; [:!Sbackslash []]                                                                       ;
         ; [:!Scomma []]                                                                           ;
         ; [:!Speriod []]                                                                          ;
         ; [:!Sslash []]                                                                           ;

         ; [:!Sdelete_or_backspace []]                                                             ;
         ; [:!Sreturn_or_enter []]                                                                 ;
         ; [:!Sright_shift []]                                                                     ;
         ; [:!Sright_option []]                                                                    ;
         ; [:!Sright_command []]                                                                   ;
         ; [:!Sspacebar []]                                                                        ;

         ; [:!Sleft_command []]                                                                    ;
         ; [:!Sleft_option []]                                                                     ;
         ; [:!Sleft_control []]                                                                    ;
         ; [:!Sleft_shift []]          NOT AVAILABLE                                               ;
         ; [:!Scaps_lock []]                                                                       ;
         ; [:!Stab []]                                                                             ;
         ; [:!Snon_us_backslash []]                                                                ;
         ; [:!Sescape []]                                                                          ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
