;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; mail
{:des "Mail bindings"
 :rules
 [;
  [:!Creturn_or_enter :!CSd [:mail]]                                           ; send              ;
  [:!Oreturn_or_enter :!Cr [:mail]]                                            ; reply             ;
  [:!OSreturn_or_enter :!CSr [:mail]]                                          ; reply all         ;
  [:!OCreturn_or_enter :!CSf [:mail]]                                          ; forward           ;
  [:!EQRreturn_or_enter :!Cn [:mail]]                                          ; new               ;
  [:!EQRspacebar :!CSj [:mail]]                                                ; junk              ;
  [:!Tspacebar :!CSu [:mail]]                                                  ; unread            ;
  [:!Sspacebar :!CSl [:mail]]                                                  ; flag              ;
  [:!Cspacebar :!CSn [:mail]]                                                  ; get               ;
  [:!Of :!OCf [:mail]]                                                         ; find mail         ;
  [:!OSf :!Cf [:mail]]                                                         ; find              ;
  [:!Oh :!CSg [:mail]]                                                         ; find prev         ;
  [:!Ol :!Cg [:mail]]                                                          ; find next         ;
  [:!!up_arrow :!TCopen_bracket [:mail]]                                       ; mailbox prev      ;
  [:!!down_arrow :!TCclose_bracket [:mail]]                                    ; mailbox next      ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
