;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; shift
{:des "Shift Mode - alphabet"
 :rules [;
         ; [:!Ra []]                                                                               ;
         ; [:!Rb []]                                                                               ;
         ; [:!Rc []]                                                                               ;
         ; [:!Rd []]                                                                               ;
         ; [:!Re []]                                                                               ;
         ; [:!Rf []]                                                                               ;
         ; [:!Rg []]                                                                               ;
         ; [:!Rh []]                                                                               ;
         ; [:!Ri []]                                                                               ;
         ; [:!Rj []]                                                                               ;
         ; [:!Rk []]                                                                               ;
         ; [:!Rl []]                                                                               ;
         ; [:!Rm []]                                                                               ;
         ; [:!Rn []]                                                                               ;
         ; [:!Ro []]                                                                               ;
         ; [:!Rp []]                                                                               ;
         ; [:!Rq []]                                                                               ;
         ; [:!Rr []]                                                                               ;
         ; [:!Rs []]                                                                               ;
         ; [:!Rt []]                                                                               ;
         ; [:!Ru []]                                                                               ;
         ; [:!Rv []]                                                                               ;
         ; [:!Rw []]                                                                               ;
         ; [:!Rx []]                                                                               ;
         ; [:!Ry []]                                                                               ;
         ; [:!Rz []]                                                                               ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; shift
{:des "Shift Mode - symbols"
 :rules [;
         ; [:!Rhyphen []]                                                                          ;
         ; [:!Requal_sign []]                                                                      ;
         ; [:!Ropen_bracket []]                                                                    ;
         ; [:!Rclose_bracket []]                                                                   ;
         ; [:!Rsemicolon []]                                                                       ;
         ; [:!Rquote []]                                                                           ;
         ; [:!Rbackslash []]                                                                       ;
         ; [:!Rcomma []]                                                                           ;
         ; [:!Rperiod []]                                                                          ;
         ; [:!Rslash []]                                                                           ;

         ; [:!Rdelete_or_backspace []]                                                             ;
         ; [:!Rreturn_or_enter []]                                                                 ;
         ; [:!Rright_shift []]         NOT AVAILABLE                                               ;
         ; [:!Rright_option []]                                                                    ;
         ; [:!Rright_command []]                                                                   ;
         ; [:!Rspacebar []]                                                                        ;

         ; [:!Rleft_command []]                                                                    ;
         ; [:!Rleft_option []]                                                                     ;
         ; [:!Rleft_control []]                                                                    ;
         ; [:!Rleft_shift []]                                                                      ;
         ; [:!Rcaps_lock []]                                                                       ;
         ; [:!Rtab []]                                                                             ;
         ; [:!Rnon_us_backslash []]                                                                ;
         ; [:!Rescape []]                                                                          ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
