;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; shift
{:des "Shift Mode - alphabet"
 :rules [;
         ; [:!Ra []]                                                                               ;
         ; [:!Rb []]                                                                               ;
         ; [:!Rc []]                                                                               ;
         ; [:!Rd []]                                                                               ;
         ; [:!Re []]                                                                               ;
         ; [:!Rf []]                                                                               ;
         ; [:!Rg []]                                                                               ;
         ; [:!Rh []]                                                                               ;
         ; [:!Ri []]                                                                               ;
         ; [:!Rj []]                                                                               ;
         ; [:!Rk []]                                                                               ;
         ; [:!Rl []]                                                                               ;
         ; [:!Rm []]                                                                               ;
         ; [:!Rn []]                                                                               ;
         ; [:!Ro []]                                                                               ;
         ; [:!Rp []]                                                                               ;
         ; [:!Rq []]                                                                               ;
         ; [:!Rr []]                                                                               ;
         ; [:!Rs []]                                                                               ;
         ; [:!Rt []]                                                                               ;
         ; [:!Ru []]                                                                               ;
         ; [:!Rv []]                                                                               ;
         ; [:!Rw []]                                                                               ;
         ; [:!Rx []]                                                                               ;
         ; [:!Ry []]                                                                               ;
         ; [:!Rz []]                                                                               ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; shift
{:des "Shift Mode - symbols"
 :rules [;
         ; [:!Rhyphen []]                        NOT AVAILABLE                                     ;
         ; [:!Requal_sign []]                    NOT AVAILABLE                                     ;
         ; [:!Ropen_bracket []]                  NOT AVAILABLE                                     ;
         ; [:!Rclose_bracket []]                 NOT AVAILABLE                                     ;
         ; [:!Rsemicolon []]                     NOT AVAILABLE                                     ;
         ; [:!Rquote []]                         NOT AVAILABLE                                     ;
         ; [:!Rbackslash []]                     NOT AVAILABLE                                     ;
         ; [:!Rcomma []]                         NOT AVAILABLE                                     ;
         ; [:!Rperiod []]                        NOT AVAILABLE                                     ;
         ; [:!Rslash []]                         NOT AVAILABLE                                     ;

         ; [:!Rdelete_or_backspace []]                                                             ;
         ; [:!Rreturn_or_enter []]                                                                 ;
         ; [:!Rright_shift []]                   NOT AVAILABLE                                     ;
         ; [:!Rright_option []]                                                                    ;
         ; [:!Rright_command []]                                                                   ;
         ; [:!Rspacebar []]                                                                        ;

         [:!Rleft_command :!Tu [:term]]                                                            ;
         [:!Rleft_option :!Tl [:term]]                                                             ;
         [:!Rleft_control :!Tw [:term]]                                                            ;
         [:!Rleft_shift :delete_or_backspace]                                                      ;
         ; [:!Rcaps_lock []]                                                                       ;
         ; [:!Rtab []]                                                                             ;
         ; [:!Rnon_us_backslash []]                                                                ;
         ; [:!Rescape []]                                                                          ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
