;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; space
{:des "Space Mode - alphabet"
 :rules
 [;
  ; [:!EWQ#Pa [:a]]                                                                                ;
  ; [:!EWQ#Pb [:b]]                                                                                ;
  ; [:!EWQ#Pc [:c]]                                                                                ;
  ; [:!EWQ#Pd [:d]]                                                                                ;
  ; [:!EWQ#Pe [:e]]                                                                                ;
  ; [:!EWQ#Pf [:f]]                                                                                ;
  ; [:!EWQ#Pg [:g]]                                                                                ;
  ; [:!EWQ#Ph [:h]]                                                                                ;
  ; [:!EWQ#Pi [:i]]                                                                                ;
  ; [:!EWQ#Pj [:j]]                                                                                ;
  ; [:!EWQ#Pk [:k]]                                                                                ;
  ; [:!EWQ#Pl [:l]]                                                                                ;
  ; [:!EWQ#Pm [:m]]                                                                                ;
  ; [:!EWQ#Pn [:n]]                                                                                ;
  ; [:!EWQ#Po [:o]]                                                                                ;
  ; [:!EWQ#Pp [:p]]                                                                                ;
  ; [:!EWQ#Pq [:q]]                                                                                ;
  ; [:!EWQ#Pr [:r]]                                                                                ;
  ; [:!EWQ#Ps [:s]]                                                                                ;
  ; [:!EWQ#Pt [:t]]                                                                                ;
  ; [:!EWQ#Pu [:u]]                                                                                ;
  ; [:!EWQ#Pv [:v]]                                                                                ;
  ; [:!EWQ#Pw [:w]]                                                                                ;
  ; [:!EWQ#Px [:x]]                                                                                ;
  ; [:!EWQ#Py [:y]]                                                                                ;
  ; [:!EWQ#Pz [:z]]                                                                                ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; space
{:des "Space Mode - symbols"
 :rules
 [;
  ; [:!EWQ#Phyphen []]                                                                             ;
  ; [:!EWQ#Pequal_sign []]                                                                         ;
  ; [:!EWQ#Popen_bracket []]                                                                       ;
  ; [:!EWQ#Pclose_bracket []]                                                                      ;
  ; [:!EWQ#Psemicolon []]                                                                          ;
  ; [:!EWQ#Pquote []]                                                                              ;
  ; [:!EWQ#Pbackslash []]                                                                          ;
  ; [:!EWQ#Pcomma []]                                                                              ;
  ; [:!EWQ#Pperiod []]                                                                             ;
  ; [:!EWQ#Pslash []]                                                                              ;

  ; [:!EWQ#Pdelete_or_backspace []]                                                                ;
  ; [:!EWQ#Preturn_or_enter []]                                                                    ;
  ; [:!EWQ#Pright_shift []]                                                                        ;
  ; [:!EWQ#Pright_option []]                                                                       ;
  ; [:!EWQ#Pright_command []]                                                                      ;
  ; [:!EWQ#Pspacebar []]                                                            NOT AVAILABLE  ;

  ; [:!EWQ#Pleft_command []]                                                                       ;
  ; [:!EWQ#Pleft_option []]                                                                        ;
  ; [:!EWQ#Pleft_control []]                                                                       ;
  ; [:!EWQ#Pleft_shift []]                                                                         ;
  ; [:!EWQ#Pcaps_lock []]                                                                          ;
  ; [:!EWQ#Ptab []]                                                                                ;
  ; [:!EWQ#Pnon_us_backslash []]                                                                   ;
  ; [:!EWQ#Pescape []]                                                                             ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
