;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; super
{:des "Super Mode - alphabet"
 :rules
 [:zero-mode
  ; [:!Sa []]                                                                  ;                   ;
  [:!Sb [:!Sb :!Su :!Sg :!Ssemicolon :spacebar]]                               ; 'BUG:'            ;
  ; [:!Sc []]                                                                  ;                   ;
  [:!Sd [:!Sd :!So :!Sc :!Ssemicolon :spacebar]]                               ; 'DOC:'            ;
  ; [:!Se []]                                                                  ;                   ;
  [:!Sf [:!Sf :!Si :!Sx :!Ssemicolon :spacebar]]                               ; 'FIX:'            ;
  ; [:!Sg []]                                                                  ;                   ;
  ; [:!Sh []]                                                                  ;                   ;
  [:!Si [:!Si :!Sd :!Se :!Sa :!Ssemicolon :spacebar]]                          ; 'IDEA:'           ;
  ; [:!Sj []]                                                                  ;                   ;
  [:!Sk [:!Sk :!Se :!Sy :!Ssemicolon :spacebar]]                               ; 'KEY: '           ;
  ; [:!Sl []]                                                                  ;                   ;
  ; [:!Sm []]                                                                  ;                   ;
  ; [:!Sn []]                                                                  ;                   ;
  ; [:!So []]                                                                  ;                   ;
  ; [:!Sp []]                                                                  ;                   ;
  ; [:!Sq []]                                                                  ;                   ;
  ; [:!Sr []]                                                                  ;                   ;
  ; [:!Ss []]                                                                  ;                   ;
  [:!St [:!St :!So :!Sd :!So :!Ssemicolon :spacebar]]                          ; 'TODO:'           ;
  ; [:!Su []]                                                                  ;                   ;
  ; [:!Sv []]                                                                  ;                   ;
  [:!Sw [:!Sw :!Si :!Sp :!Ssemicolon :spacebar]]                               ; 'WIP: '           ;
  ; [:!Sx []]                                                                  ;                   ;
  ; [:!Sy []]                                                                  ;                   ;
  ; [:!Sz []]                                                                  ;                   ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; super
{:des "Super Mode - symbols"
 :rules
 [:zero-mode
  [:!Shyphen [:spacebar :hyphen :hyphen]]                                      ; ' --'             ;
  ; [:!Sequal_sign []]                                                         ;                   ;
  [:!Sopen_bracket [:!S4 :!Sopen_bracket]]                                     ; '${'              ;
  ; [:!Sclose_bracket []]                                                      ;                   ;
  [:!Ssemicolon [:!Ssemicolon :spacebar]]                                      ; ': '              ;
  ; [:!Squote                                                                  ;                   ;
  ; [:!Sbackslash []]                                                          ;                   ;
  [:!Scomma [:period :spacebar]]                                               ; '. '              ;
  [:!Speriod [:period :period :period]]                                        ; '...'             ;
  [:!Sslash [:slash :slash :!S1 :spacebar]]                                    ; '//! '            ;

  ; [:!Sdelete_or_backspace []]                                                     NOT AVAILABLE  ;
  ; [:!Sreturn_or_enter []]                                                         NOT AVAILABLE  ;
  ; [:!Sright_shift []]                                                             NOT AVAILABLE  ;
  ; [:!Sright_option []]                                                            NOT AVAILABLE  ;
  ; [:!Sright_command []]                                                           NOT AVAILABLE  ;
  ; [:!Sspacebar []]                                                                NOT AVAILABLE  ;

  ; [:!Sleft_command []]                                                            NOT AVAILABLE  ;
  ; [:!Sleft_option []]                                                             NOT AVAILABLE  ;
  ; [:!Sleft_control []]                                                            NOT AVAILABLE  ;
  ; [:!Sleft_shift []]                                                              NOT AVAILABLE  ;
  ; [:!Scaps_lock []]                                                               NOT AVAILABLE  ;
  ; [:!Stab []]                                                                     NOT AVAILABLE  ;
  ; [:!Snon_us_backslash []]                                                        NOT AVAILABLE  ;
  ; [:!Sescape []]                                                                  NOT AVAILABLE  ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
