;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; tab
{:des "Tab Mode - alphabet"
 :rules
 [;
  [:!WQR#Pa [:semicolon :semicolon :a]]                                        ; 'α'               ;
  [:!WQR#Pb [:semicolon :semicolon :b]]                                        ; 'β'               ;
  ; [:!WQR#Pc [:semicolon :semicolon :c]]                                      ;                   ;
  [:!WQR#Pd [:semicolon :semicolon :d]]                                        ; 'δ'               ;
  [:!WQR#Pe [:semicolon :semicolon :e]]                                        ; 'ε'               ;
  [:!WQR#Pf [:semicolon :semicolon :f]]                                        ; 'φ'               ;
  [:!WQR#Pg [:semicolon :semicolon :g]]                                        ; 'γ'               ;
  [:!WQR#Ph [:semicolon :semicolon :h]]                                        ; 'η'               ;
  [:!WQR#Pi [:semicolon :semicolon :i]]                                        ; 'ι'               ;
  [:!WQR#Pj [:semicolon :semicolon :j]]                                        ; 'ξ'               ;
  [:!WQR#Pk [:semicolon :semicolon :k]]                                        ; 'κ'               ;
  [:!WQR#Pl [:semicolon :semicolon :l]]                                        ; 'λ'               ;
  [:!WQR#Pm [:semicolon :semicolon :m]]                                        ; 'μ'               ;
  [:!WQR#Pn [:semicolon :semicolon :n]]                                        ; 'ν'               ;
  [:!WQR#Po [:semicolon :semicolon :o]]                                        ; 'ο'               ;
  [:!WQR#Pp [:semicolon :semicolon :p]]                                        ; 'π'               ;
  ; [:!WQR#Pq [:semicolon :semicolon :q]]                                      ;                   ;
  [:!WQR#Pr [:semicolon :semicolon :r]]                                        ; 'ρ'               ;
  [:!WQR#Ps [:semicolon :semicolon :s]]                                        ; 'σ'               ;
  [:!WQR#Pt [:semicolon :semicolon :t]]                                        ; 'τ'               ;
  [:!WQR#Pu [:semicolon :semicolon :u]]                                        ; 'θ'               ;
  [:!WQR#Pv [:semicolon :semicolon :v]]                                        ; 'ω'               ;
  ; [:!WQR#Pw [:semicolon :semicolon :w]]                                      ;                   ;
  [:!WQR#Px [:semicolon :semicolon :x]]                                        ; 'χ'               ;
  [:!WQR#Py [:semicolon :semicolon :y]]                                        ; 'υ'               ;
  [:!WQR#Pz [:semicolon :semicolon :z]]                                        ; 'ζ'               ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; tab
{:des "Tab Mode - symbols"
 :rules
 [;
  [:!WQR#Phyphen [:spacebar :hyphen :equal_sign :spacebar]]                    ; ' -= '            ;
  [:!WQR#Pequal_sign [:spacebar :!Sequal_sign :equal_sign :spacebar]]          ; ' += '            ;
  [:!WQR#Popen_bracket [:!Scomma :!Ssemicolon]]                                ; '<:'              ;
  [:!WQR#Pclose_bracket [:!Speriod :!Ssemicolon]]                              ; '>:'              ;
  [:!WQR#Psemicolon [:!Ssemicolon :!Ssemicolon :!Scomma]]                      ; '::<'             ;
  ; [:!WQR#Pquote []]                                                          ;                   ;
  ; [:!WQR#Pbackslash []]                                                      ;                   ;
  [:!WQR#Pcomma [:spacebar :!Scomma :hyphen :spacebar]]                        ; ' <- '            ;
  [:!WQR#Pperiod [:spacebar :hyphen :!Speriod :spacebar]]                      ; ' -> '            ;
  [:!WQR#Pslash [:!S3 :!S1 :slash]]                                            ; '#!/'             ;

  ; [:!WQR#Pdelete_or_backspace []]                                            ;                   ;
  ; [:!WQR#Preturn_or_enter []]                                                ;                   ;
  ; [:!WQR#Pright_shift []]                                                    ;                   ;
  [:!WQR#Pright_option [:spacebar :!S8 :equal_sign :spacebar]]                 ; ' *= '            ;
  [:!WQR#Pright_command [:spacebar :slash :equal_sign :spacebar]]              ; ' /= '            ;
  ; [:!WQR#Pspacebar []]                                                       ;                   ;

  ; [:!WQR#Pleft_command []]                                                                       ;
  ; [:!WQR#Pleft_option []]                                                                        ;
  ; [:!WQR#Pleft_control []]                                                                       ;
  ; [:!WQR#Pleft_shift []]                                                                         ;
  ; [:!WQR#Pcaps_lock []]                                                                          ;
  ; [:!WQR#Ptab []]                                                                 NOT AVAILABLE  ;
  ; [:!WQR#Pnon_us_backslash []]                                                                   ;
  ; [:!WQR#Pescape []]                                                                             ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; tab - shift
{:des "Tab Mode - symbols"
 :rules
 [;
  [:!WQRS#Phyphen [:spacebar :period :hyphen :equal_sign :spacebar]]           ; ' .-= '           ;
  [:!WQRS#Pequal_sign [:spacebar :period :!Sequal_sign :equal_sign :spacebar]] ; ' .+= '           ;
  ; [:!WQRS#Popen_bracket []]                                                  ;                   ;
  ; [:!WQRS#Pclose_bracket []]                                                 ;                   ;
  ; [:!WQRS#Psemicolon []]                                                     ;                   ;
  ; [:!WQRS#Pquote []]                                                         ;                   ;
  ; [:!WQRS#Pbackslash []]                                                     ;                   ;
  ; [:!WQRS#Pcomma []]                                                         ;                   ;
  ; [:!WQRS#Pperiod []]                                                        ;                   ;
  ; [:!WQRS#Pslash []]                                                         ;                   ;

  ; [:!WQRS#Pdelete_or_backspace []]                                           ;                   ;
  ; [:!WQRS#Preturn_or_enter []]                                               ;                   ;
  ; [:!WQRS#Pright_shift []]                                                   ;                   ;
  [:!WQRS#Pright_option [:spacebar :period :!S8 :equal_sign :spacebar]]        ; ' .*= '           ;
  [:!WQRS#Pright_command [:spacebar :period :slash :equal_sign :spacebar]]     ; ' ./= '           ;
  ; [:!WQRS#Pspacebar []]                                                      ;                   ;

  ; [:!WQRS#Pleft_command []]                                                                      ;
  ; [:!WQRS#Pleft_option []]                                                                       ;
  ; [:!WQRS#Pleft_control []]                                                                      ;
  ; [:!WQRS#Pleft_shift []]                                                         NOT AVAILABLE  ;
  ; [:!WQRS#Pcaps_lock []]                                                                         ;
  ; [:!WQRS#Ptab []]                                                                NOT AVAILABLE  ;
  ; [:!WQRS#Pnon_us_backslash []]                                                                  ;
  ; [:!WQRS#Pescape []]                                                                            ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
