;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; tab
{:des "Tab Mode - alphabet"
 :rules [;
         [:!WQRa [:semicolon :semicolon :a]]     ; 'α'                                             ;
         [:!WQRb [:semicolon :semicolon :b]]     ; 'β'                                             ;
         ; [:!WQRc [:semicolon :semicolon :c]]   ;                                                 ;
         [:!WQRd [:semicolon :semicolon :d]]     ; 'δ'                                             ;
         [:!WQRe [:semicolon :semicolon :e]]     ; 'ε'                                             ;
         [:!WQRf [:semicolon :semicolon :f]]     ; 'φ'                                             ;
         [:!WQRg [:semicolon :semicolon :g]]     ; 'γ'                                             ;
         [:!WQRh [:semicolon :semicolon :h]]     ; 'η'                                             ;
         [:!WQRi [:semicolon :semicolon :i]]     ; 'ι'                                             ;
         [:!WQRj [:semicolon :semicolon :j]]     ; 'ξ'                                             ;
         [:!WQRk [:semicolon :semicolon :k]]     ; 'κ'                                             ;
         [:!WQRl [:semicolon :semicolon :l]]     ; 'λ'                                             ;
         [:!WQRm [:semicolon :semicolon :m]]     ; 'μ'                                             ;
         [:!WQRn [:semicolon :semicolon :n]]     ; 'ν'                                             ;
         [:!WQRo [:semicolon :semicolon :o]]     ; 'ο'                                             ;
         [:!WQRp [:semicolon :semicolon :p]]     ; 'π'                                             ;
         ; [:!WQRq [:semicolon :semicolon :q]]   ;                                                 ;
         [:!WQRr [:semicolon :semicolon :r]]     ; 'ρ'                                             ;
         [:!WQRs [:semicolon :semicolon :s]]     ; 'σ'                                             ;
         [:!WQRt [:semicolon :semicolon :t]]     ; 'τ'                                             ;
         [:!WQRu [:semicolon :semicolon :u]]     ; 'θ'                                             ;
         [:!WQRv [:semicolon :semicolon :v]]     ; 'ω'                                             ;
         ; [:!WQRw [:semicolon :semicolon :w]]   ;                                                 ;
         [:!WQRx [:semicolon :semicolon :x]]     ; 'χ'                                             ;
         [:!WQRy [:semicolon :semicolon :y]]     ; 'υ'                                             ;
         [:!WQRz [:semicolon :semicolon :z]]     ; 'ζ'                                             ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; tab
{:des "Tab Mode - symbols"
 :rules [;
         [:!WQRhyphen [:spacebar :hyphen :equal_sign :spacebar]]               ; ' -= '            ;
         [:!WQRequal_sign [:spacebar :!Sequal_sign :equal_sign :spacebar]]     ; ' += '            ;
         [:!WQRopen_bracket [:!Scomma :!Ssemicolon]]                           ; '<:'              ;
         [:!WQRclose_bracket [:!Speriod :!Ssemicolon]]                         ; '>:'              ;
         [:!WQRsemicolon [:!Ssemicolon :!Ssemicolon :!Scomma]]                 ; '::<'             ;
         ; [:!WQRquote []]                                                                         ;
         ; [:!WQRbackslash []]                                                                     ;
         [:!WQRcomma [:spacebar :!Scomma :hyphen :spacebar]]                   ; ' <- '            ;
         [:!WQRperiod [:spacebar :hyphen :!Speriod :spacebar]]                 ; ' -> '            ;
         [:!WQRslash [:!S3 :!S1 :slash]]                                       ; '#!/'             ;

         ; [:!WQRdelete_or_backspace []]                                                           ;
         ; [:!WQRreturn_or_enter []]                                           ;                   ;
         ; [:!WQRright_shift []]                                               ;                   ;
         [:!WQRright_option [:spacebar :!S8 :equal_sign :spacebar]]            ; ' *= '            ;
         [:!WQRright_command [:spacebar :slash :equal_sign :spacebar]]         ; ' /= '            ;
         ; [:!WQRspacebar []]                                                  ;                   ;

         ; [:!WQRleft_command []]                                                                  ;
         ; [:!WQRleft_option []]                                                                   ;
         ; [:!WQRleft_control []]                                                                  ;
         ; [:!WQRleft_shift []]                                                                    ;
         ; [:!WQRcaps_lock []]                                                                     ;
         ; [:!WQRtab []]                         NOT AVAILABLE                                     ;
         ; [:!WQRnon_us_backslash []]                                                              ;
         ; [:!WQRescape []]                                                                        ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; tab - shift
{:des "Tab Mode - symbols"
 :rules [;
         [:!WQRShyphen [:spacebar :period :hyphen :equal_sign :spacebar]]                ; ' .-= ' ;
         [:!WQRSequal_sign [:spacebar :period :!Sequal_sign :equal_sign :spacebar]]      ; ' .+= ' ;
         ; [:!WQRSopen_bracket []]                                                                 ;
         ; [:!WQRSclose_bracket []]                                                                ;
         ; [:!WQRSsemicolon []]                                                                    ;
         ; [:!WQRSquote []]                                                                        ;
         ; [:!WQRSbackslash []]                                                                    ;
         ; [:!WQRScomma []]                                                                        ;
         ; [:!WQRSperiod []]                                                                       ;
         ; [:!WQRSslash []]                                                                        ;

         ; [:!WQRSdelete_or_backspace []]                                                          ;
         ; [:!WQRSreturn_or_enter []]                                                              ;
         ; [:!WQRSright_shift []]                                                                  ;
         [:!WQRSright_option [:spacebar :period :!S8 :equal_sign :spacebar]]             ; ' .*= ' ;
         [:!WQRSright_command [:spacebar :period :slash :equal_sign :spacebar]]          ; ' ./= ' ;
         ; [:!WQRSspacebar []]                                                                     ;

         ; [:!WQRSleft_command []]                                                                 ;
         ; [:!WQRSleft_option []]                                                                  ;
         ; [:!WQRSleft_control []]                                                                 ;
         ; [:!WQRSleft_shift []]                  NOT AVAILABLE                                    ;
         ; [:!WQRScaps_lock []]                                                                    ;
         ; [:!WQRStab []]                         NOT AVAILABLE                                    ;
         ; [:!WQRSnon_us_backslash []]                                                             ;
         ; [:!WQRSescape []]                                                                       ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
