;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Alacritty control - alphabet"
 :rules [;
         ; [: :!Ta [:term]]            REDUNDANT (editor)                                          ;
         ; [: :!Tb [:term]]            REDUNDANT (editor)                                          ;
         ; [: :!Tc [:term]]            DEFAULT                                                     ;
         ; [: :!Td [:term]]            DEFAULT                                                     ;
         ; [: :!Te [:term]]            REDUNDANT (editor)                                          ;
         ; [: :!Tf [:term]]            REDUNDANT (editor)                                          ;
         ; [: :!Tg [:term]]            COLLISION (remapped)                                        ;
         ; [: :!Th [:term]]            COLLISION (remapped)                                        ;
         ; [: :!Ti [:term]]            DEFAULT                                                     ;
         ; [: :!Tj [:term]]            COLLISION (remapped)                                        ;
         ; [: :!Tk [:term]]            COLLISION (delete)                                          ;
         ; [: :!Tl [:term]]            COLLISION (delete)                                          ;
         ; [: :!Tm [:term]]            DEFAULT                                                     ;
         ; [: :!Tn [:term]]            COLLISION (remapped)                                        ;
         ; [: :!To [:term]]            REDUNDANT (arrow)                                           ;
         ; [: :!Tp [:term]]            REDUNDANT (arrow)                                           ;
         ; [: :!Tq [:term]]            DEFAULT                                                     ;
         ; [: :!Tr [:term]]            COLLISION (remapped)                                        ;
         ; [: :!Ts [:term]]            COLLISION (remapped)                                        ;
         ; [: :!Tt [:term]]            COLLISION (remapped)                                        ;
         ; [: :!Tu [:term]]            COLLISION (delete)                                          ;
         ; [: :!Tv [:term]]            REDUNDANT (editor)                                          ;
         ; [: :!Tw [:term]]            COLLISION (delete)                                          ;
         ; [: :!Tx [:term]]            REDUNDANT (editor)                                          ;
         ; [: :!Ty [:term]]            COLLISION (remapped)                                        ;
         ; [: :!Tz [:term]]            DEFAULT                                                     ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Alacritty - Arrow"
 :rules [;
         ; [:!Oleft_arrow : [:term]]             ;                                                 ;
         ; [:!Oright_arrow : [:term]]            ;                                                 ;
         [:!Oup_arrow :!Sf1 [:term]]             ;                                                 ;
         [:!Odown_arrow :!Sf2 [:term]]           ;                                                 ;

         ; [:!Cleft_arrow : [:term]]             ;                                                 ;
         ; [:!Cright_arrow : [:term]]            ;                                                 ;
         [:!Cup_arrow :!To [:term]]              ;                                                 ;
         [:!Cdown_arrow :!Tp [:term]]            ;                                                 ;

         [:!CSleft_arrow :!Oleft_arrow [:term]]  ;                                                 ;
         [:!CSright_arrow :!Oright_arrow [:term]];                                                 ;
         [:!CSup_arrow :!Sf4 [:term]]            ;                                                 ;
         [:!CSdown_arrow :!Sf5 [:term]]          ;                                                 ;

         ; [:!OCleft_arrow : [:term]]            ;                                                 ;
         ; [:!OCright_arrow : [:term]]           ;                                                 ;
         [:!OCup_arrow :!Sf11 [:term]]           ;                                                 ;
         [:!OCdown_arrow :!Sf12 [:term]]         ;                                                 ;

         ; [:!TCleft_arrow : [:term]]            ;                                                 ;
         ; [:!TCright_arrow : [:term]]           ;                                                 ;
         [:!TCleft_arrow :!OTf8 [:term]]         ; broot viewer & helix tab                        ;
         [:!TCright_arrow :!OTf9 [:term]]        ; broot viewer & helix tab                        ;

         [:!Creturn_or_enter :!OTf6 [:term]]     ;                                                 ;

         [:left_option :left_option [:term] {:alone [:!Sf10]}]                                     ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Alacritty - Control remappings"
 :rules [;
         [:!EQRtab :!Th [:term]]                 ; del-tab                                         ;
         [:!EQRcaps_lock :!Tg [:term]]           ; del-caps                                        ;
         [:!EQRleft_shift :!Oc [:term]]          ; del-shift                                       ;
         [:!EQRleft_control :!Tr [:term]]        ; del-ctrl                                        ;
         [:!EQRleft_option :!Ts [:term]]         ; del-alt                                         ;
         [:!EQRleft_command :!Tt [:term]]        ; del-cmd                                         ;
         [:!EQRspacebar :!Ty [:term]]            ; del-space                                       ;
         [:!EQRright_command :!Tj [:term]]       ; del-cmd                                         ;
         [:!EQRright_option :!Tn [:term]]        ; del-alt                                         ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Alacritty - Interactive delete"
 :rules [;
         [:!Sright_option :!Od [:term]]          ; shift-alt                                       ;
         [:!Sright_command :!Tk [:term]]         ; shift-cmd                                       ;
         [:!Rleft_control :!Tw [:term]]          ; shift-ctrl                                      ;
         [:!Rleft_command :!Tu [:term]]          ; shift-cmd                                       ;
         [:!Rleft_option :!Tl [:term]]           ; shift-alt                                       ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
