;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Alacritty control - alphabet"
 :rules [;
         ; [: :!Ta [:term]]            REDUNDANT (editor)                                          ;
         ; [: :!Tb [:term]]            REDUNDANT (editor)                                          ;
         ; [: :!Tc [:term]]            DEFAULT                                                     ;
         ; [: :!Td [:term]]            DEFAULT                                                     ;
         ; [: :!Te [:term]]            REDUNDANT (editor)                                          ;
         ; [: :!Tf [:term]]            REDUNDANT (editor)                                          ;
         ; [: :!Tg [:term]]            COLLISION (remapped)                                        ;
         ; [: :!Th [:term]]            COLLISION (remapped)                                        ;
         ; [: :!Ti [:term]]            DEFAULT                                                     ;
         ; [: :!Tj [:term]]            COLLISION (remapped)                                        ;
         ; [: :!Tk [:term]]            COLLISION (delete)                                          ;
         ; [: :!Tl [:term]]            COLLISION (delete)                                          ;
         ; [: :!Tm [:term]]            DEFAULT                                                     ;
         ; [: :!Tn [:term]]            COLLISION (remapped)                                        ;
         ; [: :!To [:term]]            REDUNDANT (arrow)                                           ;
         ; [: :!Tp [:term]]            REDUNDANT (arrow)                                           ;
         ; [: :!Tq [:term]]            DEFAULT                                                     ;
         ; [: :!Tr [:term]]            COLLISION (remapped)                                        ;
         ; [: :!Ts [:term]]            COLLISION (remapped)                                        ;
         ; [: :!Tt [:term]]            COLLISION (remapped)                                        ;
         ; [: :!Tu [:term]]            COLLISION (delete)                                          ;
         ; [: :!Tv [:term]]            REDUNDANT (editor)                                          ;
         ; [: :!Tw [:term]]            COLLISION (delete)                                          ;
         ; [: :!Tx [:term]]            REDUNDANT (editor)                                          ;
         ; [: :!Ty [:term]]            COLLISION (remapped)                                        ;
         ; [: :!Tz [:term]]            DEFAULT                                                     ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Alacritty - Arrow"
 :rules [;
         [:left_option :left_option [:term] {:alone [:f2]}]                                        ;

         ; [:!Oleft_arrow : [:term]]             ;                                                 ;
         ; [:!Oright_arrow : [:term]]            ;                                                 ;
         [:!Oup_arrow :f4 [:term]]               ; lazygit move                                    ;
         [:!Odown_arrow :f5 [:term]]             ; lazygit move                                    ;

         ; [:!Tleft_arrow : [:term]]             ;                                                 ;
         ; [:!Tright_arrow : [:term]]            ;                                                 ;
         ; [:!Tup_arrow : [:term]]               ;                                                 ;
         ; [:!Tdown_arrow : [:term]]             ;                                                 ;

         ; [:!Cleft_arrow : [:term]]             ;                                                 ;
         ; [:!Cright_arrow : [:term]]            ;                                                 ;
         [:!Cup_arrow :f6 [:term]]               ; lazygit, broot & helix move                     ;
         [:!Cdown_arrow :f7 [:term]]             ; lazygit, broot & helix move                     ;

         ; [:!OCleft_arrow : [:term]]            ;                                                 ;
         ; [:!OCright_arrow : [:term]]           ;                                                 ;
         [:!OCup_arrow :!Sf7 [:term]]            ;                                                 ;
         [:!OCdown_arrow :!Sf8 [:term]]          ;                                                 ;

         [:!TCleft_arrow :f8 [:term]]            ; lazygit - broot viewer & helix tab              ;
         [:!TCright_arrow :f9 [:term]]           ; lazygit - broot viewer & helix tab              ;
         [:!TCup_arrow :f10 [:term]]             ; lazygit - broot viewer & helix counter          ;
         [:!TCdown_arrow :f11 [:term]]           ; lazygit - broot viewer & helix counter          ;

         ; [:!Sleft_arrow : [:term]]             ;                                                 ;
         ; [:!Sright_arrow : [:term]]            ;                                                 ;
         ; [:!Sup_arrow : [:term]]               ;                                                 ;
         ; [:!Sdown_arrow : [:term]]             ;                                                 ;

         ; [:!OSleft_arrow : [:term]]            ;                                                 ;
         ; [:!OSright_arrow : [:term]]           ;                                                 ;
         ; [:!OSup_arrow : [:term]]              ;                                                 ;
         ; [:!OSdown_arrow : [:term]]            ;                                                 ;

         ; [:!TSleft_arrow : [:term]]            ;                                                 ;
         ; [:!TSright_arrow : [:term]]           ;                                                 ;
         ; [:!TSup_arrow : [:term]]              ;                                                 ;
         ; [:!TSdown_arrow : [:term]]            ;                                                 ;

         [:!CSleft_arrow :!Oleft_arrow [:term]]  ;                                                 ;
         [:!CSright_arrow :!Oright_arrow [:term]];                                                 ;
         [:!CSup_arrow :!Sf9 [:term]]            ;                                                 ;
         [:!CSdown_arrow :!Sf10 [:term]]         ;                                                 ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
