;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Zed
{:des "Zed - alt - alphabet"
 :rules [;
         [:!Oa :!CSl [:zed]]                                                                       ;
         ; [:!Ob : [:zed]]                                                                         ;
         ; [:!Oc : [:zed]]                                                                         ;
         [:!Od :!Cd [:zed]]                                                                        ;
         ; [:!Oe : [:zed]]                                                                         ;
         [:!Of :!Cf [:zed]]                                                                        ;
         ; [:!Og : [:zed]]                                                                         ;
         [:!Oh :!CSg [:zed]]                                                                       ;
         ; [:!Oi : [:zed]]                                                                         ;
         [:!Oj :!TCn [:zed]]                                                                       ;
         [:!Ok :!TCp [:zed]]                                                                       ;
         [:!Ol :!Cg [:zed]]                                                                        ;
         ; [:!Om : [:zed]]                                                                         ;
         ; [:!On : [:zed]]                                                                         ;
         ; [:!Oo : [:zed]]                                                                         ;
         ; [:!Op : [:zed]]                                                                         ;
         ; [:!Oq : [:zed]]                                                                         ;
         ; [:!Or : [:zed]]                                                                         ;
         ; [:!Os : [:zed]]                                                                         ;
         ; [:!Ot : [:zed]]                                                                         ;
         ; [:!Ou : [:zed]]                                                                         ;
         ; [:!Ov : [:zed]]                                                                         ;
         ; [:!Ow : [:zed]]                                                                         ;
         ; [:!Ox : [:zed]]                                                                         ;
         ; [:!Oy : [:zed]]                                                                         ;
         ; [:!Oz : [:zed]]                                                                         ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Zed
{:des "Zed - alt - alphabet"
 :rules [;
         ; [:!SOa : [:zed]]                                                                        ;
         ; [:!SOb : [:zed]]                                                                        ;
         [:!OSc :!Cslash [:zed]]                                                                   ;
         [:!OSd :!CSd [:zed]]                                                                      ;
         ; [:!SOe : [:zed]]                                                                        ;
         ; [:!SOf : [:zed]]                                                                        ;
         ; [:!SOg : [:zed]]                                                                        ;
         ; [:!SOh : [:zed]]                                                                        ;
         [:!OSi :!Cclose_bracket [:zed]]                                                           ;
         [:!OSj :!TCdown_arrow [:zed]]                                                             ;
         [:!OSk :!TCup_arrow [:zed]]                                                               ;
         ; [:!SOl : [:zed]]                                                                        ;
         ; [:!SOm : [:zed]]                                                                        ;
         ; [:!SOn : [:zed]]                                                                        ;
         [:!OSo :!Copen_bracket [:zed]]                                                            ;
         ; [:!SOp : [:zed]]                                                                        ;
         ; [:!SOq  : [:zed]]                                                                       ;
         ; [:!SOr : [:zed]]                                                                        ;
         ; [:!SOs : [:zed]]                                                                        ;
         ; [:!SOt : [:zed]]                                                                        ;
         ; [:!SOu : [:zed]]                                                                        ;
         ; [:!SOv : [:zed]]                                                                        ;
         ; [:!SOw : [:zed]]                                                                        ;
         [:!OSx :!TSk [:zed]]                                                                      ;
         ; [:!SOy : [:zed]]                                                                        ;
         ; [:!SOz : [:zed]]                                                                        ;
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Zed
{:des "Zed - Sessions"
 :rules [;
         [:escape :!EWright_shift :zed {:alone [:!Cb]}]    ; file explorer
         ; [:delete_or_backspace :!WQright_shift
          ; :zed {:alone [:!Cj]}]                          ; terminal

         ; [:!OTright_shift :!Cbackslash [:zed]]           ; split vertical
         ; [:!OTright_option :!CSbackslash [:zed]]         ; split horizontal
         ; [:!OCright_shift :!Cbackslash [:zed]]           ; split vertical
         ; [:!OCright_option :!CSbackslash [:zed]]         ; split horizontal
         ; [:!OTright_command :!TCSbackslash [:zed]]       ;

         [:!Oup_arrow :!Tup_arrow [:zed]]                  ; prev paragraph
         [:!Odown_arrow :!Tdown_arrow [:zed]]              ; next paragraph
         [:!OSup_arrow :!TSup_arrow [:zed]]                ; select prev paragraph
         [:!OSdown_arrow :!TSdown_arrow [:zed]]            ; select next paragraph

         [:!TCright_command :!OCy [:zed]]                  ; close docks
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Zed
{:des "Zed - Control remappings"
 :rules [;
         ; [:!EQRtab :!Th [:zed]]                          ; del-tab
         ; [:!EQRcaps_lock :!Tg [:zed]]                    ; del-caps
         ; [:!EQRleft_shift :!Oc [:zed]]                   ; del-shift
         [:!EQRleft_control :!Cp [:zed]]                   ; del-ctrl
         ; [:!EQRleft_option :!Ts [:zed]]                  ; del-alt
         [:!EQRleft_command :!CSp [:zed]]                  ; del-cmd
         ; [:!EQRspacebar :!Ty [:zed]]                     ; del-space
         ; [:!EQRright_command :!Tj [:zed]]                ; del-cmd
         ; [:!EQRright_option :!Tn [:zed]]                 ; del-alt
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Zed
{:des "Zed - Interactive delete"
 :rules [;
         ; [:!Sright_option :!Odelete_forward [:zed]]        ; delete word forward
         [:!Sright_command :!Cdelete_forward [:zed]]       ; delete line forward
         ; [:!Rleft_control :!Odelete_or_backspace [:zed]]   ; delete word backward
         ; [:!Rleft_command :!Cdelete_or_backspace [:zed]]   ; delete line backward
         ; [:!Rleft_option : [:zed]]                       ; shift-alt
         ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
