////////////////////////////////////////////////////////////////////////////////////////////////////

themes {
   dracula {
        fg 248 248 242
        bg 40 42 54
        black 0 0 0
        red 255 85 85
        green 80 250 123
        yellow 241 250 140
        blue 98 114 164
        magenta 255 121 198
        cyan 139 233 253
        white 255 255 255
        orange 255 184 108
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////

themes {
    molokai-dark {
        fg 248 248 240
        bg 27 29 30
        black 0 0 0
        red 255 0 0
        green 0 140 0
        yellow 255 255 0
        blue 102 217 239
        magenta 174 129 255
        cyan 0 255 255
        white 255 255 255
        orange 253 151 31
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////

themes {
    nord {
        fg 216 222 233 // #D8DEE9
        bg 46 52 64 // #2E3440
        black 59 66 82 // #3B4252
        red 191 97 106 // #BF616A
        green 163 190 140 // #A3BE8C
        yellow 235 203 139 // #EBCB8B
        blue 129 161 193 // #81A1C1
        magenta 180 142 173 // #B48EAD
        cyan 136 192 208 // #88C0D0
        white 229 233 240 // #E5E9F0
        orange 208 135 112 // #D08770
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////

themes {
    tokyo-night-light {
        fg 52 59 88
        bg 213 214 219
        black 15 15 20
        red 186 75 96
        green 72 94 48
        yellow 143 94 21
        blue 52 84 138
        magenta 90 74 120
        cyan 15 75 110
        white 130 137 172
        orange 150 80 39
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
