;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CTL-CMD
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - numbers"
 :rules
 [;
  ; [:!TC#keypad_1 []]                                                                             ;
  ; [:!TC#keypad_2 []]                                                                             ;
  ; [:!TC#keypad_3 []]                                                                             ;
  ; [:!TC#keypad_4 []]                                                                             ;
  ; [:!TC#keypad_5 []]                                                                             ;
  ; [:!TC#keypad_6 []]                                                                             ;
  ; [:!TC#keypad_7 []]                                                                             ;
  ; [:!TC#keypad_8 []]                                                                             ;
  ; [:!TC#keypad_9 []]                                                                             ;
  ; [:!TC#keypad_0 []]                                                                             ;
  ; [:!TC#keypad_slash []]                                                                         ;
  ; [:!TC#keypad_asterisk []]                                                                      ;

  ; [:!TC#1 []]                                                                                    ;
  ; [:!TC#2 []]                                                                                    ;
  ; [:!TC#3 []]                                                                                    ;
  ; [:!TC#4 []]                                                                                    ;
  ; [:!TC#5 []]                                                                                    ;
  ; [:!TC#6 []]                                                                                    ;
  ; [:!TC#7 []]                                                                                    ;
  ; [:!TC#8 []]                                                                                    ;
  ; [:!TC#9 []]                                                                                    ;
  ; [:!TC#0 []]                                                                                    ;
  [:!TC#Phyphen :!Sf13 [:term]]                                                                    ;
  [:!TC#Pequal_sign :!Sf14 [:term]]                                                                ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Alacritty - Control - Command Mode"
 :rules
 [;
  [:!TC#Popen_bracket :!Th [:term]]                                                               ;
  [:!TC#Pclose_bracket :!Oc [:term]]                                                              ;
  [:!TC#Psemicolon :!Tr [:term]]                                                                 ;
  [:!TC#Pquote :!Ts [:term]]                                                                     ;
  [:!TC#Pbackslash :!Tt [:term]]                                                                 ;
  [:!TC#Pcomma :!Tg [:term]]                                                                     ;
  [:!TC#Pperiod :!Tj [:term]]                                                                    ;
  [:!TC#Pslash :!Tn [:term]]                                                                     ;

  ; [:!TC#Popen_bracket :!Sf8 [:term]]                                                               ;
  ; [:!TC#Pclose_bracket :!Sf9 [:term]]                                                              ;
  ; [:!TC#Psemicolon :!Sf10 [:term]]                                                                 ;
  ; [:!TC#Pquote :!Sf11 [:term]]                                                                     ;
  ; [:!TC#Pbackslash :!Sf12 [:term]]                                                                 ;
  ; [:!TC#Pcomma :!Sf18 [:term]]                                                                     ;
  ; [:!TC#Pperiod :!Sf19 [:term]]                                                                    ;
  ; [:!TC#Pslash :!Sf20 [:term]]                                                                     ;

  ; [:!TC#Pdelete_or_backspace :!Oc [:term]]                                                        ;
  [:!TC#Preturn_or_enter :!Tv [:term]]                                                            ;
  ; [:!TC#Pright_shift :!Th [:term]]                                                                ;
  ; [:!TC#Pright_option :!Tt [:term]]                                                               ;
  ; [:!TC#Pright_command :!Ts [:term]]                                                              ;
  ; [:!TC#Pspacebar :!Tr [:term]]                                                                   ;

  [:!TC#Pdelete_or_backspace :!Sf1 [:term]]                                                        ;
  ; [:!TC#Preturn_or_enter :!Sf2 [:term]]                                                            ;
  [:!TC#Pright_shift :!Sf4 [:term]]                                                                ;
  [:!TC#Pright_option :!Sf5 [:term]]                                                               ;
  [:!TC#Pright_command :!Sf6 [:term]]                                                              ;
  [:!TC#Pspacebar :!Sf7 [:term]]                                                                   ;

  ; [:!TCleft_command [:term]]                                                      NOT AVAILABLE  ;
  ; [:!TC#Pleft_option [:term]]                                                                    ;
  ; [:!TCleft_control [:term]]                                                      NOT AVAILABLE  ;
  ; [:!TC#Pleft_shift [:term]]                                                                     ;
  ; [:!TC#Pcaps_lock [:term]]                                                                      ;
  ; [:!TC#Ptab [:term]]                                                                            ;
  ; [:!TC#Pnon_us_backslash [:term]]                                                               ;
  ; [:!TC#Pescape [:term]]                                                                         ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
