;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CTL-CMD
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Alacritty control - command - alphabet"
 :rules
 [;
  ; [:!TC#Pa [:term]]                                                                              ;
  ; [:!TC#Pb [:term]]                                                                              ;
  ; [:!TC#Pc [:term]]                                                                              ;
  ; [:!TC#Pd [:term]]                                                                              ;
  ; [:!TC#Pe [:term]]                                                                              ;
  ; [:!TC#Pf [:term]]                                                                              ;
  ; [:!TC#Pg [:term]]                                                                              ;
  ; [:!TC#Ph [:term]]                                                                              ;
  ; [:!TC#Pi [:term]]                                                                              ;
  ; [:!TC#Pj [:term]]                                                                              ;
  ; [:!TC#Pk [:term]]                                                                              ;
  ; [:!TC#Pl [:term]]                                                                              ;
  ; [:!TC#Pm [:term]]                                                                              ;
  ; [:!TC#Pn [:term]]                                                                              ;
  ; [:!TC#Po [:term]]                                                                              ;
  ; [:!TC#Pp [:term]]                                                                              ;
  ; [:!TC#Pq [:term]]                                                                              ;
  ; [:!TC#Pr [:term]]                                                                              ;
  ; [:!TC#Ps [:term]]                                                                              ;
  ; [:!TC#Pt [:term]]                                                                              ;
  ; [:!TC#Pu [:term]]                                                                              ;
  ; [:!TC#Pv [:term]]                                                                              ;
  ; [:!TC#Pw [:term]]                                                                              ;
  ; [:!TC#Px [:term]]                                                                              ;
  ; [:!TC#Py [:term]]                                                                              ;
  ; [:!TC#Pz [:term]]                                                                              ;
  ; [:!TC#Pright_control [:term]]                                                   UNMAPPED       ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Alacritty - Control - Command Mode"
 :rules
 [;
  [:!TC#Phyphen :!Sf13 [:term]]                                                                    ;
  [:!TC#Pequal_sign :!Sf14 [:term]]                                                                ;
  [:!TC#Popen_bracket :!Sf8 [:term]]                                                               ;
  [:!TC#Pclose_bracket :!Sf9 [:term]]                                                              ;
  [:!TC#Psemicolon :!Sf10 [:term]]                                                                 ;
  [:!TC#Pquote :!Sf11 [:term]]                                                                     ;
  [:!TC#Pbackslash :!Sf12 [:term]]                                                                 ;
  [:!TC#Pcomma :!Sf18 [:term]]                                                                     ;
  [:!TC#Pperiod :!Sf19 [:term]]                                                                    ;
  [:!TC#Pslash :!Sf20 [:term]]                                                                     ;

  [:!TC#Pdelete_or_backspace :!Sf1 [:term]]                                                        ;
  [:!TC#Preturn_or_enter :!Sf2 [:term]]                                                            ;
  [:!TC#Pright_shift :!Sf4 [:term]]                                                                ;
  [:!TC#Pright_option :!Sf5 [:term]]                                                               ;
  [:!TC#Pright_command :!Sf6 [:term]]                                                              ;
  [:!TC#Pspacebar :!Sf7 [:term]]                                                                   ;

  ; [:!TCleft_command [:term]]                                                      NOT AVAILABLE  ;
  ; [:!TC#Pleft_option : [:term]]                                                   UNMAPPED       ;
  ; [:!TCleft_control [:term]]                                                      NOT AVAILABLE  ;
  ; [:!TC#Pleft_shift : [:term]]                                                    UNMAPPED       ;
  ; [:!TC#Pcaps_lock : [:term]]                                                     UNMAPPED       ;
  ; [:!TC#Ptab : [:term]]                                                           UNMAPPED       ;
  ; [:!TC#Pnon_us_backslash : [:term]]                                              UNMAPPED       ;
  ; [:!TC#Pescape : [:term]]                                                        UNMAPPED       ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
