"*":
  "atom-beautify":
    general:
      _analyticsUserId: "5b124fa4-6247-46e5-8f3e-bde5e948f60d"
  "atom-clock":
    showClockIcon: true
  "atom-ide-ui":
    "atom-ide-code-format": {}
    hyperclick:
      darwinTriggerKeys: "ctrlKey"
  "atom-vlc":
    compactMode: true
    password: "vlcrules"
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-paths":
    ignoredNames: false
    maxFileCount: 500
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
    enableAutoConfirmSingleSuggestion: false
    maxVisibleSuggestions: 5
    minimumWordLength: 2
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "bookmarks"
      "language-gfm"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.in"
    ]
    packagesWithKeymapsDisabled: [
      "autocomplete"
      "rbox"
      "autocomplete-plus"
      "todo"
      "language-markdown"
      "github"
      "git-plus"
      "git-diff"
      "go-plus"
      "autocomplete-haskell"
      "ide-haskell"
      "modular-snippets"
    ]
    packagesWithSnippetsDisabled: [
      "ide-rust"
      "atom-language-r"
      "rbox"
      "language-shellscript"
      "language-rust"
      "language-awk"
      "language-coffee-script"
      "language-go"
      "language-julia"
      "language-haskell"
      "language-scala"
      "snippets"
      "javascript-snippets"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  "custom-invisibles":
    tabChar: "»–––"
  editor:
    autoIndentOnPaste: false
    fontFamily: "Monaco"
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    softWrap: true
    tabType: "hard"
  "exception-reporting":
    userId: "7bb576b7-4a68-4896-8ff0-eb7720324c95"
  "file-icons": {}
  "fuzzy-finder":
    preserveLastSearch: true
  "git-diff":
    showIconsInEditorGutter: true
  "git-log":
    fontScale: 1
  "git-plus":
    general:
      splitPane: "Right"
  github:
    showDiffIconGutter: true
  "go-plus":
    panel: {}
  "highlight-selected": {}
  "ide-rust":
    rlsDefaultConfig: {}
  "julia-client":
    firstBoot: false
    juliaOptions:
      bootMode: "Basic"
  "linter-ui-default":
    panelHeight: 300
  "markdown-pdf":
    ghStyle: false
  "markdown-preview":
    grammars: [
      "source.gfm.rmd"
      "source.gfm"
      "source.litcoffee"
      "text.html.basic"
      "text.md"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "markdown-preview-plus":
    extensions: [
      "markdown"
      "md"
      "mdown"
      "mkd"
      "mkdown"
      "ron"
      "txt"
      "Rmd"
    ]
    grammars: [
      "source.gfm.rmd"
      "source.gfm"
      "source.litcoffee"
      "text.html.basic"
      "text.md"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "markdown-writer":
    fileExtension: ".md"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "lens-mode": true
      "lens-modeDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  "one-dark-ui": {}
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#00a0ff"
        magenta: "#ff40ff"
        red: "#ff0000"
        yellow: "#ff9300"
      zBright:
        brightBlack: "#929292"
        brightBlue: "#00a0ff"
        brightMagenta: "#ff40ff"
        brightYellow: "#ff9300"
    iconColors:
      blue: "#00a0ff"
      magenta: "#ff40ff"
      orange: "#ff9300"
      yellow: "#00fdff"
    style:
      defaultPanelHeight: "60%"
      theme: "one-dark"
    toggles:
      autoClose: true
  "relative-numbers":
    softWrapsCount: false
  "show-invisibles-plus":
    placeholders: {}
  "spell-check":
    locales: [
      "en-US"
    ]
  swackets:
    colorParens: true
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
  "tree-view-git-branch":
    location: "top"
    separator: true
  "tree-view-git-status":
    gitFlow: {}
    showBranchLabel: false
  "vim-mode-plus":
    keymapPToPutWithAutoIndent: true
    keymapSToSelect: true
    keymapYToYankToLastCharacterOfLine: true
    startInInsertMode: true
  welcome:
    showOnStartup: false
".coffee.source":
  editor:
    tabLength: 2
    tabType: "soft"
".console.julia.source":
  editor:
    tabLength: 2
".css.source":
  editor:
    tabLength: 2
    tabType: "soft"
".go.source":
  editor:
    tabLength: 2
    tabType: "hard"
".json.source":
  editor:
    tabLength: 2
    tabType: "soft"
".julia.source":
  editor:
    tabLength: 2
    tabType: "hard"
".md.text":
  editor:
    preferredLineLength: 100
    softWrapAtPreferredLineLength: true
".python.regexp.source":
  editor:
    preferredLineLength: 100
    tabLength: 2
".python.source":
  editor:
    tabLength: 2
    tabType: "hard"
".r.source":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
    showIndentGuide: true
    tabLength: 2
    tabType: "hard"
".rust.source":
  editor:
    autoIndentOnPaste: true
    preferredLineLength: 100
    showInvisibles: true
    tabLength: 2
    tabType: "hard"
".shell.source":
  editor:
    tabLength: 2
    tabType: "soft"
