;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CMD
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; command
{:des "Command Mode - symbols"
 :rules
 [;
  [:!C#Phyphen :f13 [:term]]                                                                       ;
  [:!C#Pequal_sign :f14 [:term]]                                                                   ;
  [:!C#Popen_bracket :f8 [:term]]                                                                  ;
  [:!C#Pclose_bracket :f9 [:term]]                                                                 ;
  [:!C#Psemicolon :f10 [:term]]                                                                    ;
  [:!C#Pquote :f11 [:term]]                                                                        ;
  [:!C#Pbackslash :f12 [:term]]                                                                    ;
  [:!C#Pcomma :f18 [:term]]                                                                        ;
  [:!C#Pperiod :f19 [:term]]                                                                       ;
  [:!C#Pslash :f20 [:term]]                                                                        ;

  [:!C#Pdelete_or_backspace :f1 [:term]]                                                           ;
  [:!C#Preturn_or_enter :f2 [:term]]                                                               ;
  [:!C#Pright_shift :f4 [:term]]                                                                   ;
  [:!C#Pright_option :f5 [:term]]                                                                  ;
  [:!C#Pright_command :f6 [:term]]                                                                 ;
  [:!C#Pspacebar :f7 [:term]]                                                                      ;

  ; [:!C#Pleft_command []]                                                          NOT AVAILABLE  ;
  ; [:!C#Pleft_option []]                                                           UNMAPPED       ;
  ; [:!C#Pleft_control []]                                                          UNMAPPED       ;
  ; [:!C#Pleft_shift []]                                                            UNMAPPED       ;
  ; [:!C#Pcaps_lock []]                                                             UNMAPPED       ;
  ; [:!C#Ptab []]                                                                   UNMAPPED       ;
  ; [:!C#Pnon_us_backslash []]                                                      UNMAPPED       ;
  ; [:!C#Pescape []]                                                                UNMAPPED       ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; command - shift
{:des "Command Mode - symbols"
 :rules
 [;
  ; [:!CS#Phyphen []]                                                                              ;
  ; [:!CS#Pequal_sign []]                                                                          ;
  ; [:!CS#Popen_bracket []]                                                                        ;
  ; [:!CS#Pclose_bracket []]                                                                       ;
  ; [:!CS#Psemicolon []]                                                                           ;
  ; [:!CS#Pquote []]                                                                               ;
  ; [:!CS#Pbackslash []]                                                                           ;
  ; [:!CS#Pcomma []]                                                                               ;
  ; [:!CS#Pperiod []]                                                                              ;
  ; [:!CS#Pslash []]                                                                               ;

  ; [:!CS#Pdelete_or_backspace []]                                                                 ;
  ; [:!CS#Preturn_or_enter []]                                                                     ;
  ; [:!CS#Pright_shift []]                                                                         ;
  ; [:!CS#Pright_option []]                                                                        ;
  ; [:!CS#Pright_command []]                                                                       ;
  ; [:!CS#Pspacebar []]                                                                            ;

  ; [:!CS#Pleft_command []]                                                         NOT AVAILABLE  ;
  ; [:!CS#Pleft_option []]                                                          UNMAPPED       ;
  ; [:!CS#Pleft_control []]                                                         UNMAPPED       ;
  ; [:!CS#Pleft_shift []]                                                           NOT AVAILABLE  ;
  ; [:!CS#Pcaps_lock []]                                                            UNMAPPED       ;
  ; [:!CS#Ptab []]                                                                  UNMAPPED       ;
  ; [:!CS#Pnon_us_backslash []]                                                     UNMAPPED       ;
  ; [:!CS#Pescape []]                                                               UNMAPPED       ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
