;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CMD
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - numbers"
 :rules
 [;
  ; [:!C#keypad_1 []]                                                                              ;
  ; [:!C#keypad_2 []]                                                                              ;
  ; [:!C#keypad_3 []]                                                                              ;
  ; [:!C#keypad_4 []]                                                                              ;
  ; [:!C#keypad_5 []]                                                                              ;
  ; [:!C#keypad_6 []]                                                                              ;
  ; [:!C#keypad_7 []]                                                                              ;
  ; [:!C#keypad_8 []]                                                                              ;
  ; [:!C#keypad_9 []]                                                                              ;
  ; [:!C#keypad_0 []]                                                                              ;
  ; [:!C#keypad_slash []]                                                                          ;
  ; [:!C#keypad_asterisk []]                                                                       ;

  ; [:!C#1 []]                                                                                     ;
  ; [:!C#2 []]                                                                                     ;
  ; [:!C#3 []]                                                                                     ;
  ; [:!C#4 []]                                                                                     ;
  ; [:!C#5 []]                                                                                     ;
  ; [:!C#6 []]                                                                                     ;
  ; [:!C#7 []]                                                                                     ;
  ; [:!C#8 []]                                                                                     ;
  ; [:!C#9 []]                                                                                     ;
  ; [:!C#0 []]                                                                                     ;
  [:!C#Phyphen [:spacebar :!Sslash :spacebar]]                                 ; ' ? '             ;
  [:!C#Pequal_sign [:spacebar :!Ssemicolon :spacebar]]                         ; ' : '             ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - keypad"
 :rules
 [;
  ; [:!SC#keypad_1 []]                                                                             ;
  ; [:!SC#keypad_2 []]                                                                             ;
  ; [:!SC#keypad_3 []]                                                                             ;
  ; [:!SC#keypad_4 []]                                                                             ;
  ; [:!SC#keypad_5 []]                                                                             ;
  ; [:!SC#keypad_6 []]                                                                             ;
  ; [:!SC#keypad_7 []]                                                                             ;
  ; [:!SC#keypad_8 []]                                                                             ;
  ; [:!SC#keypad_9 []]                                                                             ;
  ; [:!SC#keypad_0 []]                                                                             ;
  ; [:!SC#keypad_slash []]                                                                         ;
  ; [:!SC#keypad_asterisk []]                                                                      ;

  ; [:!SC#1 []]                                                                                    ;
  ; [:!SC#2 []]                                                                                    ;
  ; [:!SC#3 []]                                                                                    ;
  ; [:!SC#4 []]                                                                                    ;
  ; [:!SC#5 []]                                                                                    ;
  ; [:!SC#6 []]                                                                                    ;
  ; [:!SC#7 []]                                                                                    ;
  ; [:!SC#8 []]                                                                                    ;
  ; [:!SC#9 []]                                                                                    ;
  ; [:!SC#0 []]                                                                                    ;
  ; [:!CS#Phyphen []]                                                                              ;
  ; [:!CS#Pequal_sign []]                                                                          ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; command
{:des "Command Mode - symbols"
 :rules
 [;
  [:!C#Popen_bracket [:spacebar :!S5 :!Scomma :!Sequal_sign :!S5 :spacebar]]   ; ' %<+% '          ;
  [:!C#Pclose_bracket [:spacebar :!S5 :!Sequal_sign :!Speriod :!S5 :spacebar]] ; ' %+>% '          ;
  [:!C#Psemicolon [:spacebar :!S5 :!S4 :!S5 :spacebar]]                        ; ' %$% '           ;
  [:!C#Pquote [:spacebar :!S5 :!St :!Speriod :!S5 :spacebar]]                  ; ' %T>% '          ;
  [:!C#Pbackslash [:spacebar :!S5 :!Scomma :!Speriod :!S5 :spacebar]]          ; ' %<>% '          ;
  [:!C#Pcomma [:spacebar :!S5 :!Scomma :!S5 :spacebar]]                        ; ' %<% '           ;
  [:!C#Pperiod [:spacebar :!S5 :!Speriod :!S5 :spacebar]]                      ; ' %>% '           ;
  [:!C#Pslash [:spacebar :!S5 :!S1 :!Speriod :!S5 :spacebar]]                  ; ' %!>% '          ;

  [:!C#Pdelete_or_backspace [:spacebar :!Ssemicolon :equal_sign :spacebar]]    ; ' := '            ;
  ; [:!C#Preturn_or_enter []]                                                                      ;
  [:!C#Pright_shift [:spacebar :equal_sign :!Speriod :spacebar]]               ; ' => '            ;
  [:!C#Pright_option [:spacebar :hyphen :!Speriod :spacebar]]                  ; ' -> '            ;
  [:!C#Pright_command [:spacebar :!Scomma :hyphen :spacebar]]                  ; ' <- '            ;
  ; [:!C#Pspacebar []                                                                              ;

  ; [:!C#Pleft_command []]                                                          NOT AVAILABLE  ;
  ; [:!C#Pleft_option []]                                                                          ;
  ; [:!C#Pleft_control []]                                                                         ;
  ; [:!C#Pleft_shift []]                                                                           ;
  ; [:!C#Pcaps_lock []]                                                                            ;
  ; [:!C#Ptab []]                                                                                  ;
  ; [:!C#Pnon_us_backslash []]                                                                     ;
  ; [:!C#Pescape []]                                                                               ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; command - shift
{:des "Command Mode - symbols"
 :rules
 [;
  ; [:!CS#Popen_bracket []]                                                                        ;
  ; [:!CS#Pclose_bracket []]                                                                       ;
  ; [:!CS#Psemicolon []]                                                                           ;
  ; [:!CS#Pquote []]                                                                               ;
  ; [:!CS#Pbackslash []]                                                                           ;
  ; [:!CS#Pcomma []]                                                                               ;
  ; [:!CS#Pperiod []]                                                                              ;
  ; [:!CS#Pslash []]                                                                               ;

  ; [:!CS#Pdelete_or_backspace []]                                                                 ;
  ; [:!CS#Preturn_or_enter []]                                                                     ;
  ; [:!CS#Pright_shift []]                                                                         ;
  ; [:!CS#Pright_option []]                                                                        ;
  ; [:!CS#Pright_command []]                                                                       ;
  ; [:!CS#Pspacebar []]                                                                            ;

  ; [:!CS#Pleft_command []]                                                         NOT AVAILABLE  ;
  ; [:!CS#Pleft_option []]                                                                         ;
  ; [:!CS#Pleft_control []]                                                                        ;
  ; [:!CS#Pleft_shift []]                                                           NOT AVAILABLE  ;
  ; [:!CS#Pcaps_lock []]                                                                           ;
  ; [:!CS#Ptab []]                                                                                 ;
  ; [:!CS#Pnon_us_backslash []]                                                                    ;
  ; [:!CS#Pescape []]                                                                              ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
