;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CMD
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - numbers"
 :rules
 [;
  ; [:!C#Pkeypad_1 []]                                                                             ;
  ; [:!C#Pkeypad_2 []]                                                                             ;
  ; [:!C#Pkeypad_3 []]                                                                             ;
  ; [:!C#Pkeypad_4 []]                                                                             ;
  ; [:!C#Pkeypad_5 []]                                                                             ;
  ; [:!C#Pkeypad_6 []]                                                                             ;
  ; [:!C#Pkeypad_7 []]                                                                             ;
  ; [:!C#Pkeypad_8 []]                                                                             ;
  ; [:!C#Pkeypad_9 []]                                                                             ;
  ; [:!C#Pkeypad_0 []]                                                                             ;
  ; [:!C#Pkeypad_slash []]                                                                         ;
  ; [:!C#Pkeypad_asterisk []]                                                                      ;

  ; [:!C#P1 []]                                                                                    ;
  ; [:!C#P2 []]                                                                                    ;
  ; [:!C#P3 []]                                                                                    ;
  ; [:!C#P4 []]                                                                                    ;
  ; [:!C#P5 []]                                                                                    ;
  ; [:!C#P6 []]                                                                                    ;
  ; [:!C#P7 []]                                                                                    ;
  ; [:!C#P8 []]                                                                                    ;
  [:!C#P9 [:period :!S9]]                                                      ; '.('              ;
  ; [:!C#P0 []]                                                                                    ;
  ; [:!C#Phyphen []]                                                                               ;
  ; [:!C#Pequal_sign []]                                                                           ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; control
{:des "Control Mode - keypad"
 :rules
 [;
  ; [:!SC#Pkeypad_1 []]                                                                            ;
  ; [:!SC#Pkeypad_2 []]                                                                            ;
  ; [:!SC#Pkeypad_3 []]                                                                            ;
  ; [:!SC#Pkeypad_4 []]                                                                            ;
  ; [:!SC#Pkeypad_5 []]                                                                            ;
  ; [:!SC#Pkeypad_6 []]                                                                            ;
  ; [:!SC#Pkeypad_7 []]                                                                            ;
  ; [:!SC#Pkeypad_8 []]                                                                            ;
  ; [:!SC#Pkeypad_9 []]                                                                            ;
  ; [:!SC#Pkeypad_0 []]                                                                            ;
  ; [:!SC#Pkeypad_slash []]                                                                        ;
  ; [:!SC#Pkeypad_asterisk []]                                                                     ;

  ; [:!SC#P1 []]                                                                                   ;
  ; [:!SC#P2 []]                                                                                   ;
  ; [:!SC#P3 []]                                                                                   ;
  ; [:!SC#P4 []]                                                                                   ;
  ; [:!SC#P5 []]                                                                                   ;
  ; [:!SC#P6 []]                                                                                   ;
  ; [:!SC#P7 []]                                                                                   ;
  ; [:!SC#P8 []]                                                                                   ;
  [:!SC#P9 [:!Ssemicolon :!S9]]                                                ; ':('              ;
  ; [:!SC#P0 []]                                                                                   ;
  ; [:!CS#Phyphen []]                                                                              ;
  ; [:!CS#Pequal_sign []]                                                                          ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; command
{:des "Command Mode - symbols"
 :rules
 [;
  [:!C#Popen_bracket [:spacebar :!S5 :!Scomma :!Sequal_sign :!S5 :spacebar]]   ; ' %<+% '          ;
  [:!C#Pclose_bracket [:spacebar :!S5 :!Sequal_sign :!Speriod :!S5 :spacebar]] ; ' %+>% '          ;
  [:!C#Psemicolon [:spacebar :!S5 :!S4 :!S5 :spacebar]]                        ; ' %$% '           ;
  [:!C#Pquote [:spacebar :!S5 :!St :!Speriod :!S5 :spacebar]]                  ; ' %T>% '          ;
  [:!C#Pbackslash [:spacebar :!S5 :!Scomma :!Speriod :!S5 :spacebar]]          ; ' %<>% '          ;
  [:!C#Pcomma [:spacebar :!S5 :!Scomma :!S5 :spacebar]]                        ; ' %<% '           ;
  [:!C#Pperiod [:spacebar :!S5 :!Speriod :!S5 :spacebar]]                      ; ' %>% '           ;
  [:!C#Pslash [:spacebar :!S5 :!S1 :!Speriod :!S5 :spacebar]]                  ; ' %!>% '          ;

  ; [:!C#Pdelete_or_backspace []]                                                                  ;
  ; [:!C#Preturn_or_enter []]                                                       COLLISION      ;
  [:!C#Pright_shift [:spacebar :!Ssemicolon :equal_sign :spacebar]]            ; ' := '            ;
  [:!C#Pright_option [:spacebar :hyphen :!Speriod :spacebar]]                  ; ' -> '            ;
  [:!C#Pright_command [:spacebar :!Scomma :hyphen :spacebar]]                  ; ' <- '            ;
  ; [:!C#Pspacebar []                                                                              ;

  ; [:!C#Pleft_command []]                                                          NOT AVAILABLE  ;
  ; [:!C#Pleft_option []]                                                                          ;
  ; [:!C#Pleft_control []]                                                                         ;
  ; [:!C#Pleft_shift []]                                                                           ;
  ; [:!C#Pcaps_lock []]                                                                            ;
  ; [:!C#Ptab []]                                                                                  ;
  ; [:!C#Pnon_us_backslash []]                                                                     ;
  ; [:!C#Pescape []]                                                                               ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; command - shift
{:des "Command Mode - symbols"
 :rules
 [;
  ; [:!CS#Popen_bracket []]                                                                        ;
  ; [:!CS#Pclose_bracket []]                                                                       ;
  ; [:!CS#Psemicolon []]                                                                           ;
  ; [:!CS#Pquote []]                                                                               ;
  ; [:!CS#Pbackslash []]                                                                           ;
  ; [:!CS#Pcomma []]                                                                               ;
  ; [:!CS#Pperiod []]                                                                              ;
  ; [:!CS#Pslash []]                                                                               ;

  ; [:!CS#Pdelete_or_backspace []]                                                                 ;
  ; [:!CS#Preturn_or_enter []]                                                                     ;
  ; [:!CS#Pright_shift []]                                                                         ;
  [:!CS#Pright_option [:spacebar :hyphen :!Speriod :!Speriod :spacebar]]       ; ' ->> '           ;
  [:!CS#Pright_command [:spacebar :!Scomma :!Scomma :hyphen :spacebar]]        ; ' <<- '           ;
  ; [:!CS#Pspacebar []]                                                                            ;

  ; [:!CS#Pleft_command []]                                                         NOT AVAILABLE  ;
  ; [:!CS#Pleft_option []]                                                                         ;
  ; [:!CS#Pleft_control []]                                                                        ;
  ; [:!CS#Pleft_shift []]                                                           NOT AVAILABLE  ;
  ; [:!CS#Pcaps_lock []]                                                                           ;
  ; [:!CS#Ptab []]                                                                                 ;
  ; [:!CS#Pnon_us_backslash []]                                                                    ;
  ; [:!CS#Pescape []]                                                                              ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
