;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; ESC => EWR
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; esc
{:des "Esc Mode - alphabet"
 :rules
 [;
  ; [:!EWR#Pa []]                                                                                  ;
  ; [:!EWR#Pb []]                                                                                  ;
  ; [:!EWR#Pc []]                                                                                  ;
  ; [:!EWR#Pd []]                                                                                  ;
  ; [:!EWR#Pe []]                                                                                  ;
  ; [:!EWR#Pf []]                                                                                  ;
  ; [:!EWR#Pg []]                                                                                  ;
  ; [:!EWR#Ph []]                                                                                  ;
  ; [:!EWR#Pi []]                                                                                  ;
  ; [:!EWR#Pj []]                                                                                  ;
  ; [:!EWR#Pk []]                                                                                  ;
  ; [:!EWR#Pl []]                                                                                  ;
  ; [:!EWR#Pm []]                                                                                  ;
  ; [:!EWR#Pn []]                                                                                  ;
  ; [:!EWR#Po []]                                                                                  ;
  ; [:!EWR#Pp []]                                                                                  ;
  ; [:!EWR#Pq []]                                                                                  ;
  ; [:!EWR#Pr []]                                                                                  ;
  ; [:!EWR#Ps []]                                                                                  ;
  ; [:!EWR#Pt []]                                                                                  ;
  ; [:!EWR#Pu []]                                                                                  ;
  ; [:!EWR#Pv []]                                                                                  ;
  ; [:!EWR#Pw []]                                                                                  ;
  ; [:!EWR#Px []]                                                                                  ;
  ; [:!EWR#Py []]                                                                                  ;
  ; [:!EWR#Pz []]                                                                                  ;
  ; [:!EWR#Pright_control []]                                                                      ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; esc
{:des "Esc Mode - symbols"
 :rules
 [;
  ; [:!EWR#Phyphen []]                                                                             ;
  ; [:!EWR#Pequal_sign []]                                                                         ;
  ; [:!EWR#Popen_bracket []]                                                                       ;
  ; [:!EWR#Pclose_bracket []]                                                                      ;
  [:!EWR#Psemicolon [:!Ssemicolon :!Ssemicolon :!Scomma]]                      ; '::<'             ;
  ; [:!EWR#Pquote []]                                                          ;                   ;
  ; [:!EWR#Pbackslash []]                                                      ;                   ;
  [:!EWR#Pcomma [:!Scomma :!Ssemicolon]]                                       ; '<:'              ;
  [:!EWR#Pperiod [:!Speriod :!Ssemicolon]]                                     ; '>:'              ;
  [:!EWR#Pslash [:!S3 :!S1 :slash]]                                            ; '#!/'             ;

  ; [:!EWR#Pdelete_or_backspace []]                                                                ;
  ; [:!EWR#Preturn_or_enter []]                                                                    ;
  ; [:!EWR#Pright_shift []]                                                                        ;
  ; [:!EWR#Pright_option []]                                                                       ;
  ; [:!EWR#Pright_command []]                                                                      ;
  ; [:!EWR#Pspacebar []]                                                                           ;

  ; [:!EWR#Pleft_command []]                                                                       ;
  ; [:!EWR#Pleft_option []]                                                                        ;
  ; [:!EWR#Pleft_control []]                                                                       ;
  ; [:!EWR#Pleft_shift []]                                                                         ;
  ; [:!EWR#Pcaps_lock []]                                                                          ;
  ; [:!EWR#Ptab []]                                                                                ;
  ; [:!EWR#Pnon_us_backslash []]                                                                   ;
  ; [:!EWR#Pescape []]                                                              NOT AVAILABLE  ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; esc - shift
{:des "Esc Mode - symbols"
 :rules
 [;
  ; [:!EWRS#Phyphen []]                                                                            ;
  ; [:!EWRS#Pequal_sign []]                                                                        ;
  ; [:!EWRS#Popen_bracket []]                                                                      ;
  ; [:!EWRS#Pclose_bracket []]                                                                     ;
  ; [:!EWRS#Psemicolon []]                                                                         ;
  ; [:!EWRS#Pquote []]                                                                             ;
  ; [:!EWRS#Pbackslash []]                                                                         ;
  ; [:!EWRS#Pcomma []]                                                                             ;
  ; [:!EWRS#Pperiod []]                                                                            ;
  ; [:!EWRS#Pslash []]                                                                             ;

  ; [:!EWRS#Pdelete_or_backspace []]                                                               ;
  ; [:!EWRS#Preturn_or_enter []]                                                                   ;
  ; [:!EWRS#Pright_shift []]                                                                       ;
  ; [:!EWRS#Pright_option []]                                                                      ;
  ; [:!EWRS#Pright_command []]                                                                     ;
  ; [:!EWRS#Pspacebar []]                                                                          ;

  ; [:!EWRS#Pleft_command []]                                                                      ;
  ; [:!EWRS#Pleft_option []]                                                                       ;
  ; [:!EWRS#Pleft_control []]                                                                      ;
  ; [:!EWRS#Pleft_shift []]                                                         NOT AVAILABLE  ;
  ; [:!EWRS#Pcaps_lock []]                                                                         ;
  ; [:!EWRS#Ptab []]                                                                               ;
  ; [:!EWRS#Pnon_us_backslash []]                                                                  ;
  ; [:!EWRS#Pescape []]                                                             NOT AVAILABLE  ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
