;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; ESC => EWR
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; esc
{:des "Esc Mode - alphabet"
 :rules
 [;
  [:!EWR#Pa [:comma :comma :a]]                                                ; 'α'               ;
  [:!EWR#Pb [:comma :comma :b]]                                                ; 'β'               ;
  ; [:!EWR#Pc [:comma :comma :c]]                                              ;                   ;
  [:!EWR#Pd [:comma :comma :d]]                                                ; 'δ'               ;
  [:!EWR#Pe [:comma :comma :e]]                                                ; 'ε'               ;
  [:!EWR#Pf [:comma :comma :f]]                                                ; 'φ'               ;
  [:!EWR#Pg [:comma :comma :g]]                                                ; 'γ'               ;
  [:!EWR#Ph [:comma :comma :h]]                                                ; 'η'               ;
  [:!EWR#Pi [:comma :comma :i]]                                                ; 'ι'               ;
  [:!EWR#Pj [:comma :comma :j]]                                                ; 'ξ'               ;
  [:!EWR#Pk [:comma :comma :k]]                                                ; 'κ'               ;
  [:!EWR#Pl [:comma :comma :l]]                                                ; 'λ'               ;
  [:!EWR#Pm [:comma :comma :m]]                                                ; 'μ'               ;
  [:!EWR#Pn [:comma :comma :n]]                                                ; 'ν'               ;
  [:!EWR#Po [:comma :comma :o]]                                                ; 'ο'               ;
  [:!EWR#Pp [:comma :comma :p]]                                                ; 'π'               ;
  ; [:!EWR#Pq [:comma :comma :q]]                                              ;                   ;
  [:!EWR#Pr [:comma :comma :r]]                                                ; 'ρ'               ;
  [:!EWR#Ps [:comma :comma :s]]                                                ; 'σ'               ;
  [:!EWR#Pt [:comma :comma :t]]                                                ; 'τ'               ;
  [:!EWR#Pu [:comma :comma :u]]                                                ; 'θ'               ;
  [:!EWR#Pv [:comma :comma :v]]                                                ; 'ω'               ;
  ; [:!EWR#Pw [:comma :comma :w]]                                              ;                   ;
  [:!EWR#Px [:comma :comma :x]]                                                ; 'χ'               ;
  [:!EWR#Py [:comma :comma :y]]                                                ; 'υ'               ;
  [:!EWR#Pz [:comma :comma :z]]                                                ; 'ζ'               ;
  ; [:!EWR#Pright_control [:comma :comma]]                                     ; ''                ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; esc
{:des "Esc Mode - symbols"
 :rules
 [;
  ; [:!EWR#Phyphen []]                                                                             ;
  ; [:!EWR#Pequal_sign []]                                                                         ;
  ; [:!EWR#Popen_bracket []]                                                                       ;
  ; [:!EWR#Pclose_bracket []]                                                                      ;
  [:!EWR#Psemicolon [:!Ssemicolon :!Ssemicolon :!Scomma]]                      ; '::<'             ;
  ; [:!EWR#Pquote []]                                                          ;                   ;
  ; [:!EWR#Pbackslash []]                                                      ;                   ;
  [:!EWR#Pcomma [:!Scomma :!Ssemicolon]]                                       ; '<:'              ;
  [:!EWR#Pperiod [:!Speriod :!Ssemicolon]]                                     ; '>:'              ;
  [:!EWR#Pslash [:!S3 :!S1 :slash]]                                            ; '#!/'             ;

  ; [:!EWR#Pdelete_or_backspace []]                                                                ;
  ; [:!EWR#Preturn_or_enter []]                                                                    ;
  ; [:!EWR#Pright_shift []]                                                                        ;
  ; [:!EWR#Pright_option []]                                                                       ;
  ; [:!EWR#Pright_command []]                                                                      ;
  ; [:!EWR#Pspacebar []]                                                                           ;

  ; [:!EWR#Pleft_command []]                                                                       ;
  ; [:!EWR#Pleft_option []]                                                                        ;
  ; [:!EWR#Pleft_control []]                                                                       ;
  ; [:!EWR#Pleft_shift []]                                                                         ;
  ; [:!EWR#Pcaps_lock []]                                                                          ;
  ; [:!EWR#Ptab []]                                                                                ;
  ; [:!EWR#Pnon_us_backslash []]                                                                   ;
  ; [:!EWR#Pescape []]                                                              NOT AVAILABLE  ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; esc - shift
{:des "Esc Mode - symbols"
 :rules
 [;
  ; [:!EWRS#Phyphen []]                                                                            ;
  ; [:!EWRS#Pequal_sign []]                                                                        ;
  ; [:!EWRS#Popen_bracket []]                                                                      ;
  ; [:!EWRS#Pclose_bracket []]                                                                     ;
  ; [:!EWRS#Psemicolon []]                                                                         ;
  ; [:!EWRS#Pquote []]                                                                             ;
  ; [:!EWRS#Pbackslash []]                                                                         ;
  ; [:!EWRS#Pcomma []]                                                                             ;
  ; [:!EWRS#Pperiod []]                                                                            ;
  ; [:!EWRS#Pslash []]                                                                             ;

  ; [:!EWRS#Pdelete_or_backspace []]                                                               ;
  ; [:!EWRS#Preturn_or_enter []]                                                                   ;
  ; [:!EWRS#Pright_shift []]                                                                       ;
  ; [:!EWRS#Pright_option []]                                                                      ;
  ; [:!EWRS#Pright_command []]                                                                     ;
  ; [:!EWRS#Pspacebar []]                                                                          ;

  ; [:!EWRS#Pleft_command []]                                                                      ;
  ; [:!EWRS#Pleft_option []]                                                                       ;
  ; [:!EWRS#Pleft_control []]                                                                      ;
  ; [:!EWRS#Pleft_shift []]                                                         NOT AVAILABLE  ;
  ; [:!EWRS#Pcaps_lock []]                                                                         ;
  ; [:!EWRS#Ptab []]                                                                               ;
  ; [:!EWRS#Pnon_us_backslash []]                                                                  ;
  ; [:!EWRS#Pescape []]                                                             NOT AVAILABLE  ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
