;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; shift
{:des "Shift Mode - alphabet"
 :rules
 [;
  ; [:!EQR#Pa []]                                                                                  ;
  ; [:!EQR#Pb []]                                                                                  ;
  [:!EQR#Pc [:!S2 :c :h :a :i :n :spacebar]]                                   ; '@chain '         ;
  [:!EQR#Pd [:!S2 :d :e :b :u :g :spacebar]]                                   ; '@debug '         ;
  [:!EQR#Pe [:!S2 :e :d :i :t :spacebar]]                                      ; '@edit '          ;
  ; [:!EQR#Pf []]                                                                                  ;
  ; [:!EQR#Pg []]                                                                                  ;
  ; [:!EQR#Ph []]                                                                                  ;
  [:!EQR#Pi [:!S2 :i :n :f :o :spacebar]]                                      ; '@info '          ;
  ; [:!EQR#Pj []]                                                                                  ;
  [:!EQR#Pk [:!S2 :w :i :t :h :!Shyphen :k :w :spacebar]]                      ; '@with_kw '       ;
  [:!EQR#Pl [:!S2 :l :e :s :s :spacebar]]                                      ; '@less '          ;
  ; [:!EQR#Pm []]                                                                                  ;
  ; [:!EQR#Pn []]                                                                                  ;
  ; [:!EQR#Po []]                                                                                  ;
  [:!EQR#Pp [:!S2 :p :i :p :e :spacebar]]                                      ; '@pipe '          ;
  [:!EQR#Pq [:!S2 :e :n :t :e :r :spacebar]]                                   ; '@enter '         ;
  ; [:!EQR#Pr []]                                                                                  ;
  [:!EQR#Ps [:!S2 :s :h :o :w :spacebar]]                                      ; '@show '          ;
  [:!EQR#Pt [:!S2 :t :i :m :e :spacebar]]                                      ; '@time '          ;
  ; [:!EQR#Pu []]                                                                                  ;
  [:!EQR#Pv [:!S2 :e :v :a :l :spacebar]]                                      ; '@eval '          ;
  [:!EQR#Pw [:!S2 :w :a :r :n :spacebar]]                                      ; '@warn '          ;
  ; [:!EQR#Px []]                                                                                  ;
  ; [:!EQR#Py []]                                                                                  ;
  [:!EQR#Pz [:!S2 :w :h :i :c :h :spacebar]]                                   ; '@which '         ;
  [:!EQR#Pright_control [:!S2 :period :spacebar]]                              ; '@. '             ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; ; espanso
; {:des "Espanso mode - alphabet"
;  :rules
;  [;
;   ; [:!EQR#Pa [:!Ssemicolon :!Ssemicolon]]                                                         ;
;   [:!EQR#Pb [:!Ssemicolon :b :r :!Ssemicolon]]                                                     ; `Best regards,`
;   [:!EQR#Pc [:!Ssemicolon :c :h :!Ssemicolon]]                                                     ; `Cheers,`
;   [:!EQR#Pd [:!Ssemicolon :d :r :!Ssemicolon]]                                                     ; `Daniel Rivas`
;   ; [:!EQR#Pe [:!Ssemicolon :!Ssemicolon]]                                                         ;
;   ; [:!EQR#Pf [:!Ssemicolon :!Ssemicolon]]                                                         ;
;   [:!EQR#Pg [:!Ssemicolon :g :i :t :h :u :b :!Ssemicolon]]                                         ; `https://github.com/DanielRivasMD`
;   ; [:!EQR#Ph [:!Ssemicolon :!Ssemicolon]]                                                         ;
;   ; [:!EQR#Pi [:!Ssemicolon :!Ssemicolon]]                                                         ;
;   ; [:!EQR#Pj [:!Ssemicolon :!Ssemicolon]]                                                         ;
;   ; [:!EQR#Pk [:!Ssemicolon :!Ssemicolon]]                                                         ;
;   [:!EQR#Pl [:!Ssemicolon :l :i :n :k :!Ssemicolon]]                                               ; `https://www.linkedin.com/in/daniel-rivas-b6306917b/`
;   [:!EQR#Pm [:!Ssemicolon :m :a :i :l :!Ssemicolon]]                                               ; `danielrivasmd@gmail.com`
;   [:!EQR#Pn [:!Ssemicolon :n :a :m :e :!Ssemicolon]]                                               ; `Salvador Daniel Rivas Carrillo`
;   ; [:!EQR#Po [:!Ssemicolon :!Ssemicolon]]                                                         ;
;   ; [:!EQR#Pp [:!Ssemicolon :!Ssemicolon]]                                                         ;
;   ; [:!EQR#Pq [:!Ssemicolon :!Ssemicolon]]                                                         ;
;   ; [:!EQR#Pr [:!Ssemicolon :!Ssemicolon]]                                                         ;
;   [:!EQR#Ps [:!Ssemicolon :s :c :h :o :o :l :a :r :!Ssemicolon]]                                   ; `https://scholar.google.com/citations?user=zhiXeAsAAAAJ&hl=en`
;   ; [:!EQR#Pt [:!Ssemicolon :!Ssemicolon]]                                                         ;
;   ; [:!EQR#Pu [:!Ssemicolon :!Ssemicolon]]                                                         ;
;   ; [:!EQR#Pv [:!Ssemicolon :!Ssemicolon]]                                                         ;
;   ; [:!EQR#Pw [:!Ssemicolon :!Ssemicolon]]                                                         ;
;   ; [:!EQR#Px [:!Ssemicolon :!Ssemicolon]]                                                         ;
;   ; [:!EQR#Py [:!Ssemicolon :!Ssemicolon]]                                                         ;
;   ; [:!EQR#Pz [:!Ssemicolon :!Ssemicolon]]                                                         ;
;   ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
