;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; espanso
{:des "Espanso mode - alphabet"
 :rules
 [;
  ; [:!EQR#Pa [:!Ssemicolon :!Ssemicolon]]                                                         ;
  [:!EQR#Pb [:!Ssemicolon :b :r :!Ssemicolon]]                                                     ; `Best regards,`
  [:!EQR#Pc [:!Ssemicolon :c :h :!Ssemicolon]]                                                     ; `Cheers,`
  [:!EQR#Pd [:!Ssemicolon :d :r :!Ssemicolon]]                                                     ; `Daniel Rivas`
  ; [:!EQR#Pe [:!Ssemicolon :!Ssemicolon]]                                                         ;
  ; [:!EQR#Pf [:!Ssemicolon :!Ssemicolon]]                                                         ;
  [:!EQR#Pg [:!Ssemicolon :g :i :t :h :u :b :!Ssemicolon]]                                         ; `https://github.com/DanielRivasMD`
  ; [:!EQR#Ph [:!Ssemicolon :!Ssemicolon]]                                                         ;
  ; [:!EQR#Pi [:!Ssemicolon :!Ssemicolon]]                                                         ;
  ; [:!EQR#Pj [:!Ssemicolon :!Ssemicolon]]                                                         ;
  ; [:!EQR#Pk [:!Ssemicolon :!Ssemicolon]]                                                         ;
  [:!EQR#Pl [:!Ssemicolon :l :i :n :k :!Ssemicolon]]                                               ; `https://www.linkedin.com/in/daniel-rivas-b6306917b/`
  [:!EQR#Pm [:!Ssemicolon :m :a :i :l :!Ssemicolon]]                                               ; `danielrivasmd@gmail.com`
  [:!EQR#Pn [:!Ssemicolon :n :a :m :e :!Ssemicolon]]                                               ; `Salvador Daniel Rivas Carrillo`
  ; [:!EQR#Po [:!Ssemicolon :!Ssemicolon]]                                                         ;
  ; [:!EQR#Pp [:!Ssemicolon :!Ssemicolon]]                                                         ;
  ; [:!EQR#Pq [:!Ssemicolon :!Ssemicolon]]                                                         ;
  ; [:!EQR#Pr [:!Ssemicolon :!Ssemicolon]]                                                         ;
  [:!EQR#Ps [:!Ssemicolon :s :c :h :o :o :l :a :r :!Ssemicolon]]                                   ; `https://scholar.google.com/citations?user=zhiXeAsAAAAJ&hl=en`
  ; [:!EQR#Pt [:!Ssemicolon :!Ssemicolon]]                                                         ;
  ; [:!EQR#Pu [:!Ssemicolon :!Ssemicolon]]                                                         ;
  ; [:!EQR#Pv [:!Ssemicolon :!Ssemicolon]]                                                         ;
  ; [:!EQR#Pw [:!Ssemicolon :!Ssemicolon]]                                                         ;
  ; [:!EQR#Px [:!Ssemicolon :!Ssemicolon]]                                                         ;
  ; [:!EQR#Py [:!Ssemicolon :!Ssemicolon]]                                                         ;
  ; [:!EQR#Pz [:!Ssemicolon :!Ssemicolon]]                                                         ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
