;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Fn
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Fn
{:des "Fn Mode - alphabet"
 :rules
 [;
  [:!F#Pa [:semicolon :semicolon :a]]                                          ; 'α'               ;
  [:!F#Pb [:semicolon :semicolon :b]]                                          ; 'β'               ;
  ; [:!F#Pc [:semicolon :semicolon :c]]                                        ;                   ;
  [:!F#Pd [:semicolon :semicolon :d]]                                          ; 'δ'               ;
  [:!F#Pe [:semicolon :semicolon :e]]                                          ; 'ε'               ;
  [:!F#Pf [:semicolon :semicolon :f]]                                          ; 'φ'               ;
  [:!F#Pg [:semicolon :semicolon :g]]                                          ; 'γ'               ;
  [:!F#Ph [:semicolon :semicolon :h]]                                          ; 'η'               ;
  [:!F#Pi [:semicolon :semicolon :i]]                                          ; 'ι'               ;
  [:!F#Pj [:semicolon :semicolon :j]]                                          ; 'ξ'               ;
  [:!F#Pk [:semicolon :semicolon :k]]                                          ; 'κ'               ;
  [:!F#Pl [:semicolon :semicolon :l]]                                          ; 'λ'               ;
  [:!F#Pm [:semicolon :semicolon :m]]                                          ; 'μ'               ;
  [:!F#Pn [:semicolon :semicolon :n]]                                          ; 'ν'               ;
  [:!F#Po [:semicolon :semicolon :o]]                                          ; 'ο'               ;
  [:!F#Pp [:semicolon :semicolon :p]]                                          ; 'π'               ;
  ; [:!F#Pq [:semicolon :semicolon :q]]                                        ;                   ;
  [:!F#Pr [:semicolon :semicolon :r]]                                          ; 'ρ'               ;
  [:!F#Ps [:semicolon :semicolon :s]]                                          ; 'σ'               ;
  [:!F#Pt [:semicolon :semicolon :t]]                                          ; 'τ'               ;
  [:!F#Pu [:semicolon :semicolon :u]]                                          ; 'θ'               ;
  [:!F#Pv [:semicolon :semicolon :v]]                                          ; 'ω'               ;
  ; [:!F#Pw [:semicolon :semicolon :w]]                                        ;                   ;
  [:!F#Px [:semicolon :semicolon :x]]                                          ; 'χ'               ;
  [:!F#Py [:semicolon :semicolon :y]]                                          ; 'υ'               ;
  [:!F#Pz [:semicolon :semicolon :z]]                                          ; 'ζ'               ;
  ; [:!F#Pright_control [:semicolon :semicolon]]                               ; ''                ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Fn
{:des "Fn Mode - symbols"
 :rules
 [;
  [:!F#Phyphen [:hyphen :hyphen]]                                              ; '--'              ;
  [:!F#Pequal_sign [:!Sequal_sign :!Sequal_sign]]                              ; '++'              ;
  [:!F#Popen_bracket [:open_bracket :open_bracket]]                            ; '[['              ;
  [:!F#Pclose_bracket [:!Sopen_bracket :!Sopen_bracket]]                       ; '{{'              ;
  [:!F#Psemicolon [:!Ssemicolon :!Ssemicolon]]                                 ; '::'              ;
  [:!F#Pquote [:!S9 :!S9]]                                                     ; '(('              ;
  [:!F#Pbackslash [:!Sbackslash :!Sbackslash]]                                 ; '||'              ;
  [:!F#Pcomma [:!Scomma :!Scomma]]                                             ; '<<'              ;
  [:!F#Pperiod [:!Speriod :!Speriod]]                                          ; '>>'              ;
  [:!F#Pslash [:!S5 :!S5]]                                                     ; '%%'              ;

  ; [:!F#Pdelete_or_backspace []]                                                                  ;
  [:!F#Preturn_or_enter [:equal_sign :equal_sign]]                             ; '=='              ;
  [:!F#Pright_shift [:!S1 :!S1]]                                               ; '!!'              ;
  [:!F#Pright_option [:!S8 :!S8]]                                              ; '**'              ;
  [:!F#Pright_command [:slash :slash]]                                         ; '//'              ;
  ; [:!F#Pspacebar []]                                                                             ;

  ; [:!F#Pleft_command []]                                                                         ;
  ; [:!F#Pleft_option []]                                                                          ;
  ; [:!F#Pleft_control []]                                                                         ;
  ; [:!F#Pleft_shift []]                                                                           ;
  ; [:!F#Pcaps_lock []]                                                                            ;
  ; [:!F#Ptab []]                                                                                  ;
  ; [:!F#Pnon_us_backslash []]                                                      NOT AVAILABLE  ;
  ; [:!F#Pescape []]                                                                               ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Fn - shift
{:des "Fn Mode - symbols"
 :rules
 [;
  ; [:!FS#Phyphen []]                                                                              ;
  ; [:!FS#Pequal_sign []]                                                                          ;
  ; [:!FS#Popen_bracket []]                                                                        ;
  ; [:!FS#Pclose_bracket []]                                                                       ;
  ; [:!FS#Psemicolon []]                                                                           ;
  ; [:!FS#Pquote []]                                                                               ;
  ; [:!FS#Pbackslash []]                                                                           ;
  ; [:!FS#Pcomma []]                                                                               ;
  ; [:!FS#Pperiod []]                                                                              ;
  ; [:!FS#Pslash []]                                                                               ;

  ; [:!FS#Pdelete_or_backspace []]                                                                 ;
  ; [:!FS#Preturn_or_enter []]                                                                     ;
  ; [:!FS#Pright_shift []]                                                                         ;
  ; [:!FS#Pright_option []]                                                                        ;
  ; [:!FS#Pright_command []]                                                                       ;
  ; [:!FS#Pspacebar []]                                                                            ;

  ; [:!FS#Pleft_command []]                                                                        ;
  ; [:!FS#Pleft_option []]                                                                         ;
  ; [:!FS#Pleft_control []]                                                                        ;
  ; [:!FS#Pleft_shift []]                                                           NOT AVAILABLE  ;
  ; [:!FS#Pcaps_lock []]                                                                           ;
  ; [:!FS#Ptab []]                                                                                 ;
  ; [:!FS#Pnon_us_backslash []]                                                     NOT AVAILABLE  ;
  ; [:!FS#Pescape []]                                                                              ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
