;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Fn
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Fn
{:des "Fn Mode - alphabet"
 :rules
 [;
  ; [:!F#Pa []]                                                                                    ;
  ; [:!F#Pb []]                                                                                    ;
  ; [:!F#Pc []]                                                                                    ;
  ; [:!F#Pd []]                                                                                    ;
  ; [:!F#Pe []]                                                                                    ;
  ; [:!F#Pf []]                                                                                    ;
  ; [:!F#Pg []]                                                                                    ;
  ; [:!F#Ph []]                                                                                    ;
  ; [:!F#Pi []]                                                                                    ;
  ; [:!F#Pj []]                                                                                    ;
  ; [:!F#Pk []]                                                                                    ;
  ; [:!F#Pl []]                                                                                    ;
  ; [:!F#Pm []]                                                                                    ;
  ; [:!F#Pn []]                                                                                    ;
  ; [:!F#Po []]                                                                                    ;
  ; [:!F#Pp []]                                                                                    ;
  ; [:!F#Pq []]                                                                                    ;
  ; [:!F#Pr []]                                                                                    ;
  ; [:!F#Ps []]                                                                                    ;
  ; [:!F#Pt []]                                                                                    ;
  ; [:!F#Pu []]                                                                                    ;
  ; [:!F#Pv []]                                                                                    ;
  ; [:!F#Pw []]                                                                                    ;
  ; [:!F#Px []]                                                                                    ;
  ; [:!F#Py []]                                                                                    ;
  ; [:!F#Pz []]                                                                                    ;
  ; [:!F#Pright_control []]                                                                        ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Fn
{:des "Fn Mode - symbols"
 :rules
 [;
  [:!F#Phyphen [:hyphen :hyphen]]                                              ; '--'              ;
  [:!F#Pequal_sign [:!Sequal_sign :!Sequal_sign]]                              ; '++'              ;
  [:!F#Popen_bracket [:open_bracket :open_bracket]]                            ; '[['              ;
  [:!F#Pclose_bracket [:!Sopen_bracket :!Sopen_bracket]]                       ; '{{'              ;
  [:!F#Psemicolon [:!Ssemicolon :!Ssemicolon]]                                 ; '::'              ;
  [:!F#Pquote [:!S9 :!S9]]                                                     ; '(('              ;
  [:!F#Pbackslash [:!Sbackslash :!Sbackslash]]                                 ; '||'              ;
  [:!F#Pcomma [:!Scomma :!Scomma]]                                             ; '<<'              ;
  [:!F#Pperiod [:!Speriod :!Speriod]]                                          ; '>>'              ;
  [:!F#Pslash [:!S5 :!S5]]                                                     ; '%%'              ;

  ; [:!F#Pdelete_or_backspace []]                                                                  ;
  [:!F#Preturn_or_enter [:equal_sign :equal_sign]]                             ; '=='              ;
  [:!F#Pright_shift [:!S1 :!S1]]                                               ; '!!'              ;
  [:!F#Pright_option [:!S8 :!S8]]                                              ; '**'              ;
  [:!F#Pright_command [:slash :slash]]                                         ; '//'              ;
  ; [:!F#Pspacebar []]                                                                             ;

  ; [:!F#Pleft_command []]                                                                         ;
  ; [:!F#Pleft_option []]                                                                          ;
  ; [:!F#Pleft_control []]                                                                         ;
  ; [:!F#Pleft_shift []]                                                                           ;
  ; [:!F#Pcaps_lock []]                                                                            ;
  ; [:!F#Ptab []]                                                                                  ;
  ; [:!F#Pnon_us_backslash []]                                                      NOT AVAILABLE  ;
  ; [:!F#Pescape []]                                                                               ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
