;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Fn
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Fn
{:des "Fn Mode - alphabet"
 :rules
 [;
  ; [:!F#Pa []]                                                                                    ;
  ; [:!F#Pb []]                                                                                    ;
  ; [:!F#Pc []]                                                                                    ;
  ; [:!F#Pd []]                                                                                    ;
  ; [:!F#Pe []]                                                                                    ;
  ; [:!F#Pf []]                                                                                    ;
  ; [:!F#Pg []]                                                                                    ;
  ; [:!F#Ph []]                                                                                    ;
  ; [:!F#Pi []]                                                                                    ;
  ; [:!F#Pj []]                                                                                    ;
  ; [:!F#Pk []]                                                                                    ;
  ; [:!F#Pl []]                                                                                    ;
  ; [:!F#Pm []]                                                                                    ;
  ; [:!F#Pn []]                                                                                    ;
  ; [:!F#Po []]                                                                                    ;
  ; [:!F#Pp []]                                                                                    ;
  ; [:!F#Pq []]                                                                                    ;
  ; [:!F#Pr []]                                                                                    ;
  ; [:!F#Ps []]                                                                                    ;
  ; [:!F#Pt []]                                                                                    ;
  ; [:!F#Pu []]                                                                                    ;
  ; [:!F#Pv []]                                                                                    ;
  ; [:!F#Pw []]                                                                                    ;
  ; [:!F#Px []]                                                                                    ;
  ; [:!F#Py []]                                                                                    ;
  ; [:!F#Pz []]                                                                                    ;
  ; [:!F#Pright_control []]                                                                        ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Fn
{:des "Fn Mode - symbols"
 :rules
 [;
  [:!F#Phyphen :!Of11 [:term]]                                                                     ;
  [:!F#Pequal_sign :!Of12 [:term]]                                                                 ;
  [:!F#Popen_bracket :!Of13 [:term]]                                                               ;
  [:!F#Pclose_bracket :!Of14 [:term]]                                                              ;
  [:!F#Psemicolon :!Of18 [:term]]                                                                  ;
  [:!F#Pquote :!Of19 [:term]]                                                                      ;
  [:!F#Pbackslash :!Of20 [:term]]                                                                  ;
  [:!F#Pcomma :!OTf18 [:term]]                                                                     ;
  [:!F#Pperiod :!OTf19 [:term]]                                                                    ;
  [:!F#Pslash :!OTf20 [:term]]                                                                     ;

  [:!F#Pdelete_or_backspace :!Tf11 [:term]]                                                        ;
  [:!F#Preturn_or_enter :!Tf12 [:term]]                                                            ;
  [:!F#Pright_shift :!Tf13 [:term]]                                                                ;
  [:!F#Pright_option :!Tf18 [:term]]                                                               ;
  [:!F#Pright_command :!Tf19 [:term]]                                                              ;
  [:!F#Pspacebar :!Tf20 [:term]]                                                                   ;

  ; [:!F#Pleft_command []]                                                                         ;
  ; [:!F#Pleft_option []]                                                                          ;
  ; [:!F#Pleft_control []]                                                                         ;
  ; [:!F#Pleft_shift []]                                                                           ;
  ; [:!F#Pcaps_lock []]                                                                            ;
  ; [:!F#Ptab []]                                                                                  ;
  ; [:!F#Pnon_us_backslash []]                                                      NOT AVAILABLE  ;
  ; [:!F#Pescape []]                                                                               ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
